@font-face {
  src: url("../fonts/TTFirsNeue-Medium.ttf"),
      url("../fonts/TTFirsNeue-Medium.woff2");
  font-family: "TT Firs Neue";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/TTFirsNeue-Regular.ttf"),
      url("../fonts/TTFirsNeue-Regular.woff2");
  font-family: "TT Firs Neue";
  font-weight: 400;
}
