@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  @include common-text;
  background: #fafcff;
  color: $dark-blue-color;
}

button {
  @include common-text;
}

.color-accent-icon-several-elements {
  .white {
    fill: $white-color;
  }
}

.chemistry {
  background-color: $green-color;
}

.chemistry-page {
  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiMwOUMyNzQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
    }
  }

  .color-accent-bg {
    background-color: $green-color;
  }

  .color-accent-text {
    color: $green-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $green-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $green-color;
    }
    svg path[stroke] {
      stroke: $green-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $green-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  &.single-marathon {
    .course-head-back {
      .chemistry-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $green-color;
      }
    }
  }

  .course-head-back {
    .chemistry-bg,
    .chemistry-figures {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      right: 84px;
      bottom: -427px;

      @media (max-width: $large-desktop-width) {
        right: -184px;
      }

      @media (max-width: $large-tablet-width) {
        height: 1300px;
      }

      @media (max-width: $mobile-width) {
        height: 934px;
        right: -220px;
      }
    }

    .course-head-figures-one {
      z-index: 1;
      position: relative;
      width: 154px;
      top: 531px;
      left: 27px;

      @media (max-width: $large-desktop-width) {
        left: -50px;
        top: 467px;
      }

      @media (max-width: $mobile-width) {
        top: 206px;
        width: 101px;
        left: 14px;
        z-index: 2;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 701px;
      top: -19px;
      z-index: 1;
      width: 237px;

      @media (max-width: $large-desktop-width) {
        left: 570px;
      }

      @media (max-width: $mobile-width) {
        top: -26px;
        width: 100px;
        left: 257px;
      }
    }
  }
}

.russian {
  background-color: $red-color;
}

.russian-materials-page {
  &.single-marathon {
    .course-head-back {
      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $red-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiNmMTQ1NDUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
    }
  }

  .color-accent-bg {
    background-color: $red-color;
  }

  .color-accent-text {
    color: $red-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $red-color;
    }
  }

  .color-accent-icon-fill {
    svg path {
      fill: $red-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $red-color;
    }
  }

  .course-head-back {
    .russian-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-image-img {
      right: 27px;

      @media (max-width: $large-desktop-width) {
        right: -127px;
      }

      @media (max-width: $large-tablet-width) {
        right: 0;
      }
    }

    .course-head-bg {
      right: -129px;

      @media (max-width: $large-tablet-width) {
        height: 850px;
      }

      @media (max-width: $mobile-width) {
        height: 489px;
      }
    }
  }
}

.russian-page {
  &.single-marathon {
    .course-head-back {
      .russian-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $red-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiNmMTQ1NDUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
    }
  }

  .color-accent-bg {
    background-color: $red-color;
  }

  .color-accent-text {
    color: $red-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $red-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $red-color;
    }

    svg path[stroke] {
      stroke: $red-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $red-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .russian-bg,
    .russian-figures {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      right: -129px;

      @media (max-width: $large-tablet-width) {
        height: 850px;
      }

      @media (max-width: $mobile-width) {
        height: 489px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 254px;
      top: 528px;
      left: -82px;

      @media (max-width: $large-desktop-width) {
        left: 90px;
      }

      @media (max-width: $mobile-width) {
        top: 234px;
        width: 142px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 566px;
      top: 364px;
      z-index: 2;
      width: 364px;

      @media (max-width: $large-desktop-width) {
        left: 423px;
        top: 399px;
      }

      @media (max-width: $mobile-width) {
        top: 160px;
        width: 148px;
        left: 228px;
      }
    }
  }
}

.mathematics {
  background-color: $bright-blue-color;
}

.mathematics-page {
  &.single-marathon {
    .course-head-back {
      .mathematics-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $bright-blue-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiMyNTU0ZTciIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
    }
  }

  .color-accent-bg {
    background-color: $bright-blue-color;
  }

  .color-accent-text {
    color: $bright-blue-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $bright-blue-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $bright-blue-color;
    }
    svg path[stroke] {
      stroke: $bright-blue-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $bright-blue-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .mathematics-bg,
    .mathematics-figures {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      @media (max-width: $large-tablet-width) {
        height: 700px;
      }

      @media (max-width: $mobile-width) {
        height: 435px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      top: 531px;
      left: 24px;
      width: 261px;

      @media (max-width: $large-desktop-width) {
        left: 0px;
      }

      @media (max-width: $mobile-width) {
        top: 243px;
        width: 120px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 665px;
      top: 286px;
      z-index: 1;
      width: 229px;

      @media (max-width: $large-desktop-width) {
        left: 542px;
      }

      @media (max-width: $mobile-width) {
        top: 125px;
        width: 120px;
        left: 244px;
      }
    }
  }
}

.physics {
  background-color: $slate-blue;
}

.physics-page {
  &.single-marathon {
    .course-head-back {
      .physics-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $slate-blue;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiM2YzVkZjIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+");
    }
  }

  .color-accent-bg {
    background-color: $slate-blue;
  }

  .color-accent-text {
    color: $slate-blue;
  }

  .color-accent-icon {
    svg path {
      stroke: $slate-blue;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $slate-blue;
    }
    svg path[stroke] {
      stroke: $slate-blue;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $slate-blue;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .physics-figures,
    .physics-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      img {
        position: relative;
        right: -544px;
        top: 525px;
      }

      @media (max-width: $large-tablet-width) {
        height: 1080px;

        img {
          right: -12%;
          top: auto;
        }
      }

      @media (max-width: $mobile-width) {
        height: 528px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 256px;
      top: 559px;
      left: 46px;

      @media (max-width: $large-desktop-width) {
        left: 0px;
      }

      @media (max-width: $mobile-width) {
        top: 243px;
        width: 120px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 738px;
      top: 230px;
      z-index: 1;
      width: 185px;

      @media (max-width: $large-desktop-width) {
        left: 647px;
        top: 180px;
      }

      @media (max-width: $mobile-width) {
        top: 89px;
        width: 74px;
        left: 298px;
      }
    }
  }
}

.biology {
  background-color: $turquoise-color;
}

.biology-page {
  &.single-marathon {
    .course-head-back {
      .biology-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $turquoise-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath d='M1 4.33333L3.46154 7L9 1' stroke='%2300c19f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/%3E%3C/svg%3E");
    }
  }

  .color-accent-bg {
    background-color: $turquoise-color;
  }

  .color-accent-text {
    color: $turquoise-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $turquoise-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $turquoise-color;
    }
    svg path[stroke] {
      stroke: $turquoise-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $turquoise-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .biology-figures,
    .biology-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      top: -79px;
      right: 5px;
      bottom: auto;

      @media (max-width: $large-tablet-width) {
        top: auto;
        bottom: 0;
        height: 850px;
      }

      @media (max-width: $mobile-width) {
        height: 489px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 127px;
      top: 387px;
      left: 10px;

      @media (max-width: $large-desktop-width) {
        left: 0px;
      }

      @media (max-width: $mobile-width) {
        top: 154px;
        width: 62px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 582px;
      top: 349px;
      z-index: 2;
      width: 261px;

      @media (max-width: $large-desktop-width) {
        left: 485px;
        top: 329px;
      }

      @media (max-width: $mobile-width) {
        top: 161px;
        width: 118px;
        left: 248px;
      }
    }
  }
}

.literature {
  background-color: $orange-color;
}

.literature-page {
  &.single-marathon {
    .course-head-back {
      .literature-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $orange-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiNmZjk0NDYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPjwvc3ZnPgo=");
    }
  }

  .color-accent-bg {
    background-color: $orange-color;
  }

  .color-accent-text {
    color: $orange-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $orange-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $orange-color;
    }
    svg path[stroke] {
      stroke: $orange-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $orange-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .literature-figures,
    .literature-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      right: 40px;
      bottom: -168px;

      @media (max-width: $large-desktop-width) {
        width: 800px;
      }

      @media (max-width: $large-tablet-width) {
        bottom: -54px;
      }

      @media (max-width: $large-tablet-width) {
        height: 850px;
      }

      @media (max-width: $mobile-width) {
        height: 514px;
        bottom: -68px;
        right: -336px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 200px;
      top: 340px;
      left: -50px;

      @media (max-width: $large-desktop-width) {
        left: -30px;
        top: 320px;
        width: 130px;
      }

      @media (max-width: $mobile-width) {
        top: 164px;
        width: 60px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 581px;
      top: 280px;
      z-index: 2;
      width: 348px;

      @media (max-width: $large-desktop-width) {
        left: 423px;
        top: 379px;
      }

      @media (max-width: $mobile-width) {
        top: 180px;
        width: 148px;
        left: 208px;
      }
    }
  }
}

.history {
  background-color: $blue-color;
}

.history-page {
  &.single-marathon {
    .course-head-back {
      .history-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $blue-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiMwMGFkZTMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPjwvc3ZnPgo=");
    }
  }

  .color-accent-bg {
    background-color: $blue-color;
  }

  .color-accent-text {
    color: $blue-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $blue-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $blue-color;
    }
    svg path[stroke] {
      stroke: $blue-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $blue-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .history-figures,
    .history-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      bottom: -115px;
      right: -75px;

      @media (max-width: $mobile-width) {
        height: 500px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 397px;
      top: 566px;
      left: 3px;

      @media (max-width: $large-desktop-width) {
        left: 0px;
        width: 301px;
        top: 566px;
      }

      @media (max-width: $mobile-width) {
        top: 264px;
        width: 160px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 747px;
      top: 189px;
      z-index: 2;
      width: 150px;

      @media (max-width: $large-desktop-width) {
        left: 637px;
        top: 214px;
      }

      @media (max-width: $mobile-width) {
        top: 71px;
        width: 88px;
        left: 284px;
      }
    }
  }
}

.informatics {
  background-color: $violet-color;
}

.informatics-page {
  &.single-marathon {
    .course-head-back {
      .informatics-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $violet-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiNhMDY5ZmEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPjwvc3ZnPgo=");
    }
  }

  .color-accent-bg {
    background-color: $violet-color;
  }

  .color-accent-text {
    color: $violet-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $violet-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $violet-color;
    }
    svg path[stroke] {
      stroke: $violet-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $violet-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .informatics-figures,
    .informatics-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      bottom: -373px;
      right: -133px;

      @media (max-width: $large-desktop-width) {
        right: -315px;
        height: 1300px;
      }

      @media (max-width: $mobile-width) {
        height: 592px;
        right: -144px;
        bottom: -136px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 292px;
      top: 566px;
      left: 4px;

      @media (max-width: $large-desktop-width) {
        left: 0px;
        width: 301px;
        top: 566px;
      }

      @media (max-width: $mobile-width) {
        top: 264px;
        width: 160px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 701px;
      top: 304px;
      z-index: 2;
      width: 186px;

      @media (max-width: $large-desktop-width) {
        left: 570px;
        top: 214px;
      }

      @media (max-width: $mobile-width) {
        top: 121px;
        width: 88px;
        left: 284px;
      }
    }
  }
}

.english {
  background-color: $heliotrope-color;
}

.english-page {
  &.single-marathon {
    .course-head-back {
      .english-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $heliotrope-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4zMzMzM0wzLjQ2MTU0IDdMOSAxIiBzdHJva2U9IiNjNzgyZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAvPjwvc3ZnPgo=");
    }
  }

  .color-accent-bg {
    background-color: $heliotrope-color;
  }

  .color-accent-text {
    color: $heliotrope-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $heliotrope-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $heliotrope-color;
    }
    svg path[stroke] {
      stroke: $heliotrope-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $heliotrope-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .english-figures,
    .english-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      right: -266px;
      bottom: -61px;

      @media (max-width: $large-tablet-width) {
        height: 850px;
      }

      @media (max-width: $mobile-width) {
        height: 593px;
        right: -204px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 278px;
      top: 531px;
      left: 7px;

      @media (max-width: $large-desktop-width) {
        left: 0px;
        width: 301px;
        top: 566px;
      }

      @media (max-width: $mobile-width) {
        top: 264px;
        width: 160px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 741px;
      top: 430px;
      z-index: 2;
      width: 209px;

      @media (max-width: $large-desktop-width) {
        left: 570px;
        top: 344px;
      }

      @media (max-width: $mobile-width) {
        top: 121px;
        width: 88px;
        left: 284px;
      }
    }
  }
}

.social-science {
  background-color: $coral-color;
}

.social-science-page {
  &.single-marathon {
    .course-head-back {
      .social-science-figures {
        display: none;
      }

      .brief-info,
      .course-head-arrows {
        display: flex;
      }
    }

    .brief-info {
      &__photo {
        background-color: $coral-color;
      }
    }
  }

  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath d='M1 4.33333L3.46154 7L9 1' stroke='%23fe7364' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/%3E%3C/svg%3E");
    }
  }

  .color-accent-bg {
    background-color: $coral-color;
  }

  .color-accent-text {
    color: $coral-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $coral-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $coral-color;
    }
    svg path[stroke] {
      stroke: $coral-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $coral-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .social-science-figures,
    .social-science-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      right: -170px;
      bottom: -367px;

      @media (max-width: $large-desktop-width) {
        right: -270px;
      }

      @media (max-width: $large-tablet-width) {
        height: 1450px;
      }

      @media (max-width: $mobile-width) {
        height: 728px;
        right: -166px;
        bottom: -173px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 429px;
      top: 379px;
      left: -78px;

      @media (max-width: $large-desktop-width) {
        width: 349px;
        left: -60px;
      }

      @media (max-width: $mobile-width) {
        top: 126px;
        width: 160px;
        left: -33px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 582px;
      top: 93px;
      z-index: 2;
      width: 276px;

      @media (max-width: $large-desktop-width) {
        width: 233px;
        top: 221px;
      }

      @media (max-width: $mobile-width) {
        top: 103px;
        width: 120px;
        left: 246px;
      }
    }
  }
}

.geography {
  background-color: $aqua-color;
}

.geography-page {
  .course-tariff-item-info-item {
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath d='M1 4.33333L3.46154 7L9 1' stroke='%230076e3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/%3E%3C/svg%3E");
    }
  }

  .color-accent-bg {
    background-color: $aqua-color;
  }

  .color-accent-text {
    color: $aqua-color;
  }

  .color-accent-icon {
    svg path {
      stroke: $aqua-color;
    }
  }

  .color-accent-icon-fill {
    svg path[fill] {
      fill: $aqua-color;
    }
    svg path[stroke] {
      stroke: $aqua-color;
    }
  }

  .color-accent-icon-several-elements {
    .accent {
      fill: $aqua-color;
    }
    svg path[fill]:not(.accent):not(.circuit) {
      fill: $white-color;
    }
    svg path[stroke]:not(.accent):not(.circuit) {
      stroke: $white-color;
    }
  }

  .course-head-back {
    .geography-figures,
    .geography-bg {
      display: block;
    }

    .brief-info,
    .course-head-arrows {
      display: none;
    }

    .course-head-bg {
      right: -293px;
      bottom: -232px;

      @media (max-width: $large-desktop-width) {
        right: -270px;
      }

      @media (max-width: $large-tablet-width) {
        height: 1136px;
        right: -335px;
      }

      @media (max-width: $mobile-width) {
        height: 619px;
        right: -247px;
        bottom: -139px;
      }
    }

    .course-head-figures-one {
      z-index: 2;
      position: relative;
      width: 297px;
      top: 567px;
      left: 4px;

      @media (max-width: $mobile-width) {
        top: 234px;
        width: 142px;
        left: 6px;
      }
    }

    .course-head-figures-two {
      position: relative;
      left: 82px;
      top: 40px;
      z-index: 2;
      width: 157px;

      @media (max-width: $large-desktop-width) {
        top: -108px;
        left: 62px;
      }

      @media (max-width: $mobile-width) {
        top: -26px;
        width: 69px;
        left: 30px;
      }
    }
  }

  &.single-marathon {
    .course-head-back {
      .geography-figures {
        display: none;
      }
    }

    .course-head-arrows {
      display: flex;
    }

    .brief-info {
      display: flex;
      &__photo {
        background-color: $aqua-color;
      }
    }
  }
}

.multiple-marathon {
  .course-head {
    .container {
      .course-head-back {
        .course-head-info {
          .course-head-info-action {
            .course-head-info-action-extra {
              .course-head-info-action-extra-price {
                color: $dark-blue-color;

                .old-price {
                  color: $dark-blue-color;
                }
              }

              @media (max-width: 430px) {
                .discount-text {
                  color: $dark-blue-color;
                }
              }
            }

            .button {
              background: $dark-blue-color;
              color: $white-color;

              .button-icon {
                svg {
                  rect {
                    fill: $white-color;
                  }

                  path {
                    stroke: $dark-blue-color;
                  }
                }
              }
            }
          }

          .course-head-info-text {
            .course-head-info-tab {
              background: #0b1f3324;
            }

            .course-head-info-description {
              .course-head-info-description-title {
                color: $dark-blue-color;
              }

              .course-head-info-description-text {
                color: $pale-blue-color;
              }
            }
          }
        }
      }
    }
  }

  .course {
    .course-head-figures {
      display: none;
    }

    .course-head-back .brief-info {
      display: flex;
    }

    .course-head-back .course-head-arrows {
      display: flex;

      @media (max-width: $large-tablet-width) {
        display: none;
      }
    }

    &.chemistry-page {
      background-color: transparent;

      .chemistry-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-green-color;

        .course-head-bg {
          width: auto;
          height: 100%;
          bottom: 0;
          right: 0;
        }
      }

      .brief-info__photo {
        background-color: $green-color;
      }

      .chemistry-bg-marathon {
        display: block;
      }
    }

    &.russian-page {
      background-color: transparent;

      .russian-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-red-color;

        .course-head-bg {
          width: auto;
          height: 100%;
          right: 0;
        }
      }

      .brief-info__photo {
        background-color: $red-color;
      }

      .russian-bg-marathon {
        display: block;
      }
    }

    &.mathematics-page {
      background-color: transparent;

      .mathematics-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-blue-color;

        .course-head-bg {
          width: auto;
          height: 100%;
        }
      }

      .brief-info__photo {
        background-color: $bright-blue-color;
      }

      .mathematics-bg-marathon {
        display: block;
      }
    }

    &.physics-page {
      background-color: transparent;

      .physics-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-slate-blue;

        .course-head-bg {
          width: auto;
          height: 100%;

          img {
            position: relative;
            right: 0;
            top: 0;
          }
        }
      }

      .brief-info__photo {
        background-color: $slate-blue;
      }

      .physics-bg-marathon {
        display: block;
      }
    }

    &.biology-page {
      background-color: transparent;

      .biology-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-turquoise-color;

        .course-head-bg {
          bottom: 0;
          top: 0;
          right: 0;
          height: 100%;
        }
      }

      .brief-info__photo {
        background-color: $turquoise-color;
      }

      .biology-bg-marathon {
        display: block;
      }
    }

    &.literature-page {
      background-color: transparent;

      .literature-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-orange-color;

        .course-head-bg {
          bottom: 0;
          right: 0;
          height: 100%;
          width: auto;
        }
      }

      .brief-info__photo {
        background-color: $orange-color;
      }

      .literature-bg-marathon {
        display: block;
      }
    }

    &.history-page {
      background-color: transparent;

      .history-bg {
        display: none;
      }

      .course-head-back {
        background-color: #00ade314;

        .course-head-bg {
          bottom: 0;
          height: 100%;
          right: 0;
        }
      }

      .brief-info__photo {
        background-color: $blue-color;
      }

      .history-bg-marathon {
        display: block;
      }
    }

    &.informatics-page {
      background-color: transparent;

      .informatics-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-violet-color;

        .course-head-bg {
          bottom: 0;
          height: 100%;
          right: 0;
        }
      }

      .brief-info__photo {
        background-color: $violet-color;
      }

      .informatics-bg-marathon {
        display: block;
      }
    }

    &.english-page {
      background-color: transparent;

      .english-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-heliotrope-color;

        .course-head-bg {
          bottom: 0;
          right: 0;
          height: 100%;
        }
      }

      .brief-info__photo {
        background-color: $heliotrope-color;
      }

      .english-bg-marathon {
        display: block;
      }
    }

    &.social-science-page {
      background-color: transparent;

      .social-science-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-coral-color;

        .course-head-bg {
          bottom: 0;
          right: 0;

          @media (max-width: $mobile-width) {
            height: auto;
          }
        }
      }

      .brief-info__photo {
        background-color: $coral-color;
      }

      .social-science-bg-marathon {
        display: block;
      }
    }

    &.geography-page {
      background-color: transparent;

      .geography-bg {
        display: none;
      }

      .course-head-back {
        background-color: $light-aqua-color;

        .course-head-bg {
          bottom: 0;
          right: 0;
          height: 100%;
        }
      }

      .brief-info__photo {
        background-color: $aqua-color;
      }

      .geography-bg-marathon {
        display: block;
      }
    }
  }
}

//

.pink {
  background-color: #fcbbc3;
}

.purple {
  background-color: #853fea;
}

.pale-violet,
.it {
  background-color: #a069fa14;
}

.pale-turquoise,
.finance {
  background-color: $pale-turquoise-color;
}

.pale-red,
.sales {
  background-color: #f2575714;
}

.pale-orange,
.personnel {
  background-color: #ff944614;
}

.blue {
  background-color: $blue-color;
}
.blue-icon {
  svg path {
    fill: $blue-color;
  }
}

.light-blue,
.support {
  background-color: $light-blue-color;
}

.pale-blue,
.marketing {
  background-color: #00ade314;
}

.bubble-image-red {
  background-color: #f2575714;
  color: #f25757;
}

.bubble-image-blue {
  background-color: $light-blue-color;
  color: $bright-blue-color;
}

.container {
  margin: 0 auto;
  max-width: 1620px;
}

.main-container {
  margin: 0 auto;
  max-width: 1652px;
  padding: 0 16px;
}

.wide-container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 32px;
}

.main-title {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 88px;
  line-height: 92px;
  color: $dark-blue-color;
  font-weight: 500;
  letter-spacing: -0.04em;
}

.main-subtitle {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 64px;
  line-height: 70px;
  color: $dark-blue-color;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin: 0 0 64px;
}

.main-descriptions {
  @include common-text;
  font-size: 18px;
  line-height: 22px;
  color: $pale-blue-color;
}

.button {
  border-radius: 10px;
  border: 0;
  cursor: pointer;

  &.button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.button-blue {
    background: $bright-blue-color;
    color: #fff;
  }

  &.button-transparent {
    background-color: transparent;
    border: 1px solid $light-grey-color;
    color: $dark-blue-color;
  }

  &.button-play {
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-button {
  @include common-text;
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 60px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  padding: 0 26px;
  border: none;
  background-color: $bright-blue-color;
  color: #fff;
  justify-content: center;
  width: max-content;
  text-decoration: none;

  &:disabled {
    visibility: hidden;
  }
}

.main-button-small {
  @extend .main-button;
  min-height: 56px;
  font-size: 16px;
  line-height: 20px;
  padding: 0 22px;
}

.main-button-large {
  @extend .main-button;
  min-height: 68px;
  font-size: 16px;
  line-height: 20px;
  padding: 0 30px;
}

.dark-button {
  @extend .main-button;
  background-color: $dark-blue-color;
}

.light-button {
  @extend .main-button;
  background-color: $white-color;
  color: $dark-blue-color;
}

.grey-button {
  @extend .main-button-small;
  background-color: $grey-color;
  color: $dark-blue-color;
}

.pale-blue-button {
  @extend .main-button;
  background-color: $light-blue-color;
  color: $bright-blue-color;
  gap: 12px;
  min-height: 50px;
}

.light-blue-button {
  @extend .main-button;
  background-color: $light-blue-color;
  color: $bright-blue-color;
}

.transparent-button {
  @extend .main-button;
  background-color: transparent;
  color: $bright-blue-color;
  min-height: 56px;
}

.button-with-frame {
  @extend .main-button;
  background-color: transparent;
  color: $dark-blue-color;
  border: 1px solid $dark-blue-color;
  gap: 10px;
}

.custom-checkbox-wrap {
  @include common-text;
  font-size: 16px;
  line-height: 125%;
  color: $dark-blue-color;

  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox + label {
    display: flex;
    align-items: flex-start;
    user-select: none;
    cursor: pointer;
    color: black;

    &.invalid {
      color: $red-color;
      &::before {
        border: 1px solid $red-color;
      }
    }
  }

  .custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    border: 1px solid $light-grey-color;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .custom-checkbox:checked + label::before {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 9L8 12L13 7" stroke="%230B1F33" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  .custom-checkbox:checked + label {
    color: $dark-blue-color;
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: $pale-blue-color;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  // .custom-checkbox:not(:disabled):active + label::before {
  //   background-color: $pale-blue-color;
  //   border-color: $pale-blue-color;
  // }
  /* стили для чекбокса, находящегося в фокусе */
  // .custom-checkbox:focus + label::before {
  //   box-shadow: 0 0 0 0.2rem rgba(37, 84, 231, 0.25);
  // }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked) + label::before {
    border-color: $pale-blue-color;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
  }
  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked + label::before {
    border: 1px solid $dark-blue-color;
  }
}

.custom-radio {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    left: -9999px;
    &:checked + .custom-radio__label {
      background-color: #f7f8f9;
      justify-content: space-between;

      &:before {
        background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 9L8 12L13 7" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: $bright-blue-color;
        border: 1px solid transparent;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        order: 1;
      }
    }
  }

  .custom-radio__label {
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: 0.25s ease;
    padding: 10px;
    font-size: 18px;
    line-height: 22px;
    justify-content: space-between;

    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: $white-color;
      border: 1px solid #cad0d6;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-right: 0.375em;
      transition: 0.25s ease;
      order: 1;
    }
  }
}

.custom-input {
  border: 1px solid #cad0d6;
  border-radius: 12px;
  padding: 0 24px;
  width: 100%;
  min-height: 72px;
  outline: none;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  color: $dark-blue-color;
  @include common-text;
  background-color: #f7f8f9;

  &:focus {
    border-color: $dark-blue-color;
  }
  &::placeholder {
    color: $pale-blue-color;
  }

  &.white {
    min-height: 56px;
    border: 1px solid #cad0d6;
    background-color: $white-color;
    font-size: 15px;
    line-height: 20px;
    padding: 0 18px;
    border-radius: 10px;
  }

  &.white-input {
    border: 1px solid #cad0d6;
    background-color: $white-color;

    &:focus {
      border: 1px solid $bright-blue-color;
    }
  }

  &.invalid {
    border: 1px solid $red-color;
    color: $red-color;

    &::placeholder {
      color: $red-color;
    }
  }
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 20px;
  }

  &.invalid {
    svg path {
      fill: $red-color;

      &.line {
        stroke: $red-color;
      }
    }
  }

  &__icon {
    align-items: center;
    justify-content: center;
    display: none;

    &.show {
      display: flex;
    }

    @media (max-width: $mobile-width) {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

input.custom-input.white-input {
  width: 100%;
  padding-right: 40px;
}

.warning-text {
  color: $red-color;
  font-size: 16px;
  line-height: 20px;
  display: none;

  &.visible {
    display: block;
  }

  @media (max-width: $tablet-width) {
    font-size: 13px;
    line-height: 17px;
  }
}

.custom-select {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  min-width: 290px;

  &.limited {
    width: fit-content;
  }

  &.second {
    min-width: auto;

    .custom-select__title {
      border: none;
      border-radius: 0;
      background-color: transparent;
      min-height: auto;
      width: max-content;
      padding: 0;
      color: $white-color;
      font-size: 16px;
      line-height: 20px;
      gap: 9px;
    }

    .custom-select__menu-wrap {
      top: 32px;
      min-width: 291px;
      right: -17px;
    }
  }

  &.visible {
    svg {
      transform: rotate(180deg);
    }

    .custom-select__menu-wrap {
      display: flex;
    }

    .custom-select__title {
      border: 1px solid $dark-blue-color;
    }
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: #f7f8f9;
    min-height: 72px;
    border-radius: 12px;
    border: 1px solid #cad0d6;

    &_wrap {
      display: flex;
      align-items: center;
      gap: 12px;

      @media (max-width: $medium-mobile-width) {
        width: 100%;
        justify-content: space-between;
      }
    }

    &_icon {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      justify-content: center;
    }

    &.invalid {
      border: 1px solid $red-color;
      color: $red-color;

      svg path {
        stroke: $red-color;
      }
    }

    &.active {
      color: $dark-blue-color;
    }

    &.white {
      min-height: 62px;
      border: 1px solid $light-grey-color;
      border-radius: 10px;
      background-color: $white-color;
    }
  }

  &__menu-wrap {
    display: none;
    box-shadow: 0px 4px 10px 0px #2554e70d;
    font-size: 18px;
    font-weight: 400;
    padding: 18px 8px 18px 26px;
    border-radius: 10px;
    border: none;
    background-color: $white-color;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 84px;
  }

  &__menu {
    overflow: auto;
    max-height: 258px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: $light-grey-color;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $dark-blue-color !important;
      border-radius: 10px !important;
    }

    &_item {
      color: $pale-blue-color;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      margin: 0 0 18px;
      transition: 0.25s;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }

      &:hover {
        color: $dark-blue-color;
      }
    }
  }
}
