@import "mixins";
@import "variables";

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: $some-white-color;

  .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 32px;
    box-sizing: border-box;

    .header-logo {
      margin-right: 32px;
    }

    .header-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .header-left {
        display: flex;
        align-items: center;

        .header-menu {
          display: flex;
          align-items: center;
          gap: 10px;

          .button {
            background-color: #edf2fe;

            &.button-menu {
              width: 130px;
              height: 60px;
              padding: 16px 22px;
              box-sizing: border-box;
              display: flex;
              align-items: center;

              span {
                margin-left: 16px;
                @include common-text;
                font-size: 16px;
                color: $bright-blue-color;
              }
            }

            &.button-eye {
              width: 60px;
              height: 60px;
              padding: 14px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .header-search {
            position: relative;

            input {
              border: 1px solid $light-gray-color;
              border-radius: 10px;
              padding: 16px 58px 16px 22px;
              width: 375px;
              height: 60px;
              outline: none;
              box-sizing: border-box;
              font-size: 16px;
              color: #6d737a;
              font-family: "TT Firs Neue", sans-serif;

              &::placeholder {
                font-size: 16px;
                color: #9aa3ad;
              }
            }

            label {
              position: absolute;
              width: 24px;
              height: 24px;
              right: 22px;
              top: 20px;
              z-index: 2;
            }
          }
        }
      }

      .header-right {
        display: flex;
        align-items: center;

        .header-contacts {
          display: flex;
          align-items: center;
          margin-right: 44px;

          .header-contacts-phone {
            margin-right: 20px;

            a {
              font-size: 18px;
              color: $dark-blue-color;
              text-decoration: none;
            }
          }

          .header-contacts-items {
            display: flex;
            align-items: center;

            a {
              text-decoration: none;
              border-radius: 50%;
              padding: 10px;
              width: 44px;
              height: 44px;
              background: rgba(57, 126, 255, 0.08);
              display: flex;
              justify-content: center;
              align-items: center;
              box-sizing: border-box;

              &:first-child {
                margin-right: 6px;
                background: rgba(19, 191, 59, 0.08);
              }
            }
          }
        }

        .header-actions {
          display: flex;
          align-items: center;

          .header-actions-cart {
            position: relative;
            margin-right: 24px;
            margin-top: 5px;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              border-radius: 20px;
              width: 18px;
              height: 18px;
              background: $bright-blue-color;
              box-sizing: border-box;
              font-family: "TT Firs Neue", sans-serif;
              font-weight: 500;
              letter-spacing: -0.01em;
              font-size: 13px;
              color: #fff;
              top: -5px;
              right: -5px;
            }
          }

          .header-actions-user {
            display: flex;
            align-items: center;
            cursor: pointer;

            .header-actions-user-avatar-blue-border {
              width: 44px;
              height: 44px;
              border: 1px solid $bright-blue-color;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 4px;

              .header-actions-user-avatar {
                border-radius: 50%;
                border: 2px solid #f8fafe;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: auto 46px;
                background-position: center;
              }
            }

            .header-actions-user-arrow {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

.footer {
  border-radius: 40px 40px 0 0;
  padding: 100px 0;
  background: $dark-blue-color;

  .container {
    max-width: 1620px;

    .footer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1524px;

      .footer-contacts-item {
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 10px;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.05);
      }

      .footer-info {
        width: 380px;

        .footer-logo {
          margin-bottom: 81px;
        }

        .footer-menu {
          margin-bottom: 32px;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              margin-bottom: 12px;

              &:last-child {
                margin-bottom: 0;
              }

              a {
                text-decoration: none;
                font-size: 18px;
                color: $pale-blue-color;
              }
            }
          }
        }

        .footer-contacts {
          display: flex;
          align-items: center;
          gap: 8px;

          .footer-contacts-item {
            width: 48px;
            height: 48px;
          }
        }
      }

      .footer-navigation {
        width: 728px;
        display: grid;
        grid-template-columns: repeat(2, 324px);
        grid-template-rows: auto auto 76px;
        grid-column-gap: 80px;

        .footer-navigation-name {
          font-size: 16px;
          color: $pale-blue-color;
          margin-bottom: 12px;

          span {
            opacity: 0.4;
          }
        }

        .footer-navigation-contact {
          margin-bottom: 64px;

          &:first-child {
            grid-area: 1 / 1 / 2 / 2;
          }

          &:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
          }

          .footer-navigation-contact-link {
            width: 324px;

            a {
              text-decoration: none;
              font-family: "TT Firs Neue", sans-serif;
              font-weight: 500;
              letter-spacing: -0.01em;
              font-size: 40px;
              color: #fff;
            }

            &.phone {
              a {
                margin-top: 2px;
              }
            }
          }
        }

        .footer-navigation-subject {
          svg {
            display: none;
          }

          &.studies {
            grid-area: 2 / 1 / 4 / 2;
          }

          &.courses {
            grid-area: 2 / 2 / 3 / 3;
          }

          .footer-navigation-subject-items {
            ul {
              margin: 0;
              padding: 0;
              list-style: none;

              li {
                margin-bottom: 12px;

                &:last-child {
                  margin-bottom: 0;
                }

                a {
                  text-decoration: none;
                  font-size: 18px;
                  color: #fff;
                }
              }
            }
          }
        }

        .footer-navigation-subject-extra {
          grid-area: 3 / 2 / 4 / 3;

          .footer-navigation-subject-extra-select {
            display: flex;
            margin-bottom: 12px;

            .footer-navigation-name {
              margin-bottom: 0;
            }

            .footer-navigation-subject-items {
              display: flex;
              align-items: center;

              span {
                font-size: 16px;
                margin-right: 4px;
                margin-left: 4px;
                color: #fff;
              }
            }
          }

          .footer-navigation-subject-extra-items {
            display: flex;
            align-items: center;
            gap: 8px;

            .footer-navigation-subject-extra-item {
            }
          }
        }
      }
    }

    .footer-bottom {
      margin-top: 64px;
      border-top: 1px solid #314157;
      padding-top: 44px;

      .footer-bottom-content {
        display: flex;

        .footer-copyright {
          margin-right: 612px;
          font-size: 16px;
          color: #fff;
        }

        .footer-links {
          width: 260px;
          margin-right: 144px;
          display: flex;
          flex-direction: column;

          .footer-link {
            font-size: 16px;
            line-height: 125%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $pale-blue-color;

            &:first-child {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}

