$dark-blue-color: #0b1f33;
$bright-blue-color: #2554e7;
$turquoise-color: #00c19f;
$light-turquoise-color: #00c19f14;
$pale-turquoise-color: #00c19f14;
$red-color: #f14545;
$light-red-color: #f1454514;
$blue-color: #00ade3;
$aqua-color: #0076e3;
$light-aqua-color: #0076e314;
$slate-blue: #6c5df2;
$light-slate-blue: #6c5df214;
$violet-color: #a069fa;
$light-violet-color: #a069fa14;
$heliotrope-color: #c782ff;
$light-heliotrope-color: #c782ff14;
$orange-color: #ff9446;
$light-orange-color: #ff944614;
$coral-color: #fe7364;
$light-coral-color: #fe736414;
$green-color: #09c274;
$light-green-color: #09c27414;
$grey-color: #f3f4f5;
$pale-blue-color: #6d7985;
$bright-grey-color: #6d7985;
$light-grey-color: #e7e9eb;
$light-blue-color: #edf2fe;
$some-white-color: #fafcff;

$white-color: #ffffff;

$small-mobile-width: 375px;
$medium-mobile-width: 500px;
$mobile-width: 767px;
$tablet-width: 1024px;
$large-tablet-width: 1279px;
$desktop-width: 1560px;
$large-desktop-width: 1830px;
