$dark-blue-color: #0b1f33;
$bright-blue-color: #2554e7;
$turquoise-color: #00c19f;
$pale-turquoise-color: #00c19f14;
$red-color: #f14545;
$blue-color: #00ade3;
$violet-color: #a069fa;
$grey-color: #f3f4f5;
$pale-blue-color: #6d7985;
$bright-grey-color: #6d7985;
$light-grey-color: #e7e9eb;
$light-blue-color: #edf2fe;
$some-white-color: #fafcff;

$white-color: #ffffff;

$small-mobile-width: 375px;
$mobile-width: 767px;
$tablet-width: 1024px;
$large-tablet-width: 1224px;
$desktop-width: 1560px;
$large-desktop-width: 1830px;
