header.header
    .container
        //- Link(:href="route('home')").header-logo
        a.header-logo(href='')
            //- img(:src="imgLogoHeader", alt="Logo")
            img(src="../../src/img/logo.svg", alt="Logo")
        .header-items
            .header-left
                .header-menu
                    button.button.button-with-icon.button-menu
                        +menuSVG
                        span Меню
                    button.button.button-eye
                        +eyeSVG
                    .header-search
                        input(type="text", placeholder="Введите запрос")
                        label
                            +searchSVG
            .header-right
                .header-contacts
                    .header-contacts-phone
                        a(href="tel:+74993253723") +7 499 325 37-23
                    .header-contacts-items
                        a.header-contacts-item(href="#")
                            +whatsAppSVG
                        a.header-contacts-item(href="#")
                            +telegramSVG
                .header-actions
                    //- CartPreview
                    //- Avatar
                    a.header-actions-cart(href="")
                        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M2.98299 3.05129C2.45906 2.87663 1.89274 3.15979 1.71809 3.68374C1.54345 4.20769 1.82661 4.77401 2.35054 4.94865L2.70375 5.06639C3.60563 5.36701 4.2019 5.56737 4.64117 5.77171C5.05712 5.96521 5.23695 6.12094 5.35218 6.28081C5.46741 6.44067 5.55828 6.66053 5.6103 7.11633C5.66526 7.59766 5.66677 8.22669 5.66677 9.17735V12.7398C5.66674 14.5633 5.66673 16.033 5.82214 17.1889C5.98349 18.389 6.32869 19.3996 7.13123 20.2021C7.93379 21.0048 8.94429 21.35 10.1444 21.5113C11.3004 21.6666 12.7701 21.6666 14.5936 21.6666H25.3334C25.8857 21.6666 26.3334 21.2189 26.3334 20.6666C26.3334 20.1144 25.8857 19.6666 25.3334 19.6666H14.6668C12.7529 19.6666 11.4181 19.6645 10.4109 19.529C9.43257 19.3976 8.91447 19.1569 8.54545 18.788C8.41653 18.659 8.30327 18.5118 8.20487 18.3333H21.4114C22.0092 18.3333 22.535 18.3333 22.9716 18.2862C23.4441 18.2352 23.902 18.1218 24.3328 17.8378C24.7636 17.5537 25.0481 17.1776 25.2812 16.7633C25.4964 16.3806 25.7036 15.8973 25.939 15.3478L26.5614 13.8954C27.0741 12.6995 27.5029 11.6989 27.7176 10.8851C27.9416 10.0361 27.9998 9.1497 27.4716 8.34849C26.9433 7.54729 26.1056 7.25171 25.2369 7.12313C24.4044 6.99987 23.3157 6.99991 22.0145 6.99997H7.60912C7.60545 6.96265 7.60156 6.92581 7.59739 6.88946C7.5236 6.24303 7.3628 5.64989 6.97466 5.11138C6.58653 4.57289 6.07468 4.23277 5.48477 3.95833C4.92978 3.70015 4.22402 3.46493 3.38885 3.18657L2.98299 3.05129ZM7.66677 8.99997C7.66678 9.04029 7.66678 9.08091 7.66677 9.12182V12.6666C7.66677 14.2293 7.66819 15.4058 7.74241 16.3333H21.3625C22.0237 16.3333 22.4405 16.332 22.7569 16.2978C23.0492 16.2662 23.1616 16.2144 23.2318 16.1681C23.302 16.1218 23.3938 16.0389 23.5381 15.7828C23.6941 15.5053 23.8596 15.1228 24.12 14.515L24.6914 13.1817C25.2441 11.8921 25.6114 11.0284 25.7837 10.375C25.9513 9.73999 25.8664 9.54729 25.8018 9.44947C25.7374 9.35166 25.5937 9.19773 24.9441 9.10157C24.2756 9.00259 23.337 8.99997 21.934 8.99997H7.66677Z" fill="#0B1F33")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M7.00049 26C7.00049 27.6568 8.34363 29 10.0005 29C11.6573 29 13.0005 27.6568 13.0005 26C13.0005 24.3431 11.6573 23 10.0005 23C8.34363 23 7.00049 24.3431 7.00049 26ZM10.0005 27C9.44821 27 9.00049 26.5523 9.00049 26C9.00049 25.4477 9.44821 25 10.0005 25C10.5528 25 11.0005 25.4477 11.0005 26C11.0005 26.5523 10.5528 27 10.0005 27Z" fill="#0B1F33")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M22.0005 29.0001C20.3437 29.0001 19.0005 27.6569 19.0005 26.0001C19.0005 24.3432 20.3437 23.0001 22.0005 23.0001C23.6573 23.0001 25.0005 24.3432 25.0005 26.0001C25.0005 27.6569 23.6573 29.0001 22.0005 29.0001ZM21.0005 26.0001C21.0005 26.5524 21.4482 27.0001 22.0005 27.0001C22.5528 27.0001 23.0005 26.5524 23.0005 26.0001C23.0005 25.4479 22.5528 25.0001 22.0005 25.0001C21.4482 25.0001 21.0005 25.4479 21.0005 26.0001Z" fill="#0B1F33")
                        span 3
                    .header-actions-user
                        .header-actions-user-avatar-blue-border
                            .header-actions-user-avatar(style="background-image: url('../../src/img/header-user.png')")
                        .header-actions-user-arrow
                            +arrowDownSVG

                