mixin menuSVG
 svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
    rect(x="5", y="5", width="5", height="5", rx="1", fill="#2554E7")
    rect(x="5", y="14", width="5", height="5", rx="1", fill="#2554E7")
    rect(x="14", y="5", width="5", height="5", rx="1", fill="#2554E7")
    rect(x="14", y="14", width="5", height="5", rx="1", fill="#2554E7")

mixin eyeSVG
  svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15 12C15 13.6569 13.6569 15 12 15C10.3432 15 9 13.6569 9 12C9 10.3431 10.3432 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="#2554E7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round")
    path(d="M12.0032 5C7.5255 5 3.73522 7.94288 2.46094 12C3.7352 16.0571 7.5255 19 12.0032 19C16.4808 19 20.2711 16.0571 21.5454 12C20.2711 7.94291 16.4808 5 12.0032 5Z" stroke="#2554E7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round")

mixin whatsAppSVG
  svg(width="24", height="24", viewBox="0 0 24 24", fill="none")
    path(fill-rule="evenodd", clip-rule="evenodd", d="M11.5979 1.00688C9.99008 1.16335 8.77768 1.5103 7.46272 2.19012C5.45528 3.228 3.8343 4.87954 2.83206 6.90819C2.44701 7.68759 2.26554 8.16532 2.06429 8.92968C1.81058 9.89304 1.73671 10.4787 1.73442 11.5445C1.73329 12.0752 1.75519 12.6511 1.78505 12.8752C2.01207 14.5789 2.54715 16.0472 3.44205 17.4218L3.74032 17.88L3.07774 19.8332C2.7133 20.9075 2.4209 21.7922 2.42794 21.7992C2.43502 21.8063 3.34648 21.5227 4.45345 21.1691C5.56046 20.8155 6.48096 20.5262 6.49908 20.5262C6.51719 20.5262 6.68808 20.6231 6.87884 20.7414C7.06959 20.8599 7.46925 21.0731 7.76698 21.2154C10.4592 22.5021 13.5368 22.6122 16.2934 21.5206C19.4168 20.2836 21.8159 17.5777 22.6722 14.3257C22.9345 13.3297 23.001 12.7837 23.001 11.6277C23.001 10.4717 22.9345 9.92573 22.6722 8.92968C21.6676 5.11469 18.6056 2.14925 14.7417 1.24942C14.0925 1.09823 13.417 1.02164 12.5973 1.00629C12.1392 0.997686 11.6895 0.997935 11.5979 1.00688ZM9.05829 5.94108C9.12725 5.9768 9.22386 6.07805 9.27303 6.16604C9.39716 6.38825 10.4095 8.82298 10.439 8.97026C10.4767 9.15867 10.2922 9.47897 9.87828 9.94369C9.44634 10.4286 9.35352 10.5843 9.39196 10.7591C9.46179 11.0764 10.4248 12.3518 11.0181 12.9126C11.9388 13.7829 13.3305 14.6094 13.9506 14.654C14.2694 14.677 14.3857 14.5869 14.8734 13.9386C15.0946 13.6446 15.3306 13.3491 15.3977 13.282C15.5584 13.1216 15.7968 13.0876 16.0642 13.187C16.4072 13.3145 18.5039 14.3341 18.6511 14.445L18.7921 14.5512L18.7688 14.9918C18.7091 16.1229 18.3118 16.7102 17.261 17.2209C16.262 17.7064 15.48 17.6931 13.949 17.1647C11.8951 16.4558 10.8049 15.7786 9.32758 14.2942C8.58838 13.5514 8.06309 12.9234 7.46226 12.0643C6.47222 10.6486 6.09254 9.5554 6.20555 8.44588C6.29616 7.55628 6.60747 6.89958 7.23619 6.27178C7.54034 5.96802 7.93833 5.84299 8.53733 5.86295C8.79146 5.87139 8.97776 5.89933 9.05829 5.94108Z" fill="#13BF3B")

mixin whatsAppWhiteSVG
  svg(width="24", height="25", viewBox="0 0 24 25", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(fill-rule="evenodd", clip-rule="evenodd", d="M11.594 1.50688C9.98617 1.66335 8.77377 2.0103 7.45881 2.69012C5.45137 3.728 3.83039 5.37954 2.82815 7.40819C2.4431 8.18759 2.26163 8.66532 2.06039 9.42968C1.80667 10.393 1.7328 10.9787 1.73051 12.0445C1.72939 12.5752 1.75129 13.1511 1.78114 13.3752C2.00817 15.0789 2.54325 16.5472 3.43814 17.9218L3.73641 18.38L3.07383 20.3332C2.70939 21.4075 2.41699 22.2922 2.42403 22.2992C2.43111 22.3063 3.34258 22.0227 4.44954 21.6691C5.55655 21.3155 6.47706 21.0262 6.49517 21.0262C6.51328 21.0262 6.68418 21.1231 6.87493 21.2414C7.06568 21.3599 7.46535 21.5731 7.76308 21.7154C10.4553 23.0021 13.5329 23.1122 16.2895 22.0206C19.4129 20.7836 21.812 18.0777 22.6683 14.8257C22.9306 13.8297 22.9971 13.2837 22.9971 12.1277C22.9971 10.9717 22.9306 10.4257 22.6683 9.42968C21.6637 5.61469 18.6017 2.64925 14.7378 1.74942C14.0886 1.59823 13.4131 1.52164 12.5934 1.50629C12.1353 1.49769 11.6856 1.49794 11.594 1.50688ZM9.05439 6.44108C9.12334 6.4768 9.21995 6.57805 9.26913 6.66604C9.39326 6.88825 10.4056 9.32298 10.4351 9.47026C10.4728 9.65867 10.2883 9.97897 9.87437 10.4437C9.44243 10.9286 9.34962 11.0843 9.38805 11.2591C9.45788 11.5764 10.4209 12.8518 11.0142 13.4126C11.9349 14.2829 13.3266 15.1094 13.9467 15.154C14.2655 15.177 14.3818 15.0869 14.8695 14.4386C15.0907 14.1446 15.3267 13.8491 15.3938 13.782C15.5545 13.6216 15.7929 13.5876 16.0603 13.687C16.4032 13.8145 18.5 14.8341 18.6472 14.945L18.7882 15.0512L18.7649 15.4918C18.7052 16.6229 18.3079 17.2102 17.2571 17.7209C16.258 18.2064 15.4761 18.1931 13.9451 17.6647C11.8912 16.9558 10.801 16.2786 9.32368 14.7942C8.58448 14.0514 8.05918 13.4234 7.45835 12.5643C6.46831 11.1486 6.08863 10.0554 6.20165 8.94588C6.29226 8.05628 6.60356 7.39958 7.23229 6.77178C7.53643 6.46802 7.93443 6.34299 8.53342 6.36295C8.78756 6.37139 8.97385 6.39933 9.05439 6.44108Z", fill="white")

mixin telegramSVG
  svg(width="22", height="19", viewBox="0 0 22 19", fill="none")
    path(d="M1.81663 8.40303C1.81663 8.40303 10.9766 4.50607 14.1534 3.13386C15.3713 2.58502 19.5012 0.828581 19.5012 0.828581C19.5012 0.828581 21.4073 0.0602059 21.2484 1.92634C21.1955 2.69479 20.7719 5.38422 20.3483 8.29326C19.7129 12.4098 19.0246 16.9105 19.0246 16.9105C19.0246 16.9105 18.9187 18.173 18.0186 18.3925C17.1185 18.6121 15.6359 17.6241 15.3713 17.4045C15.1594 17.2399 11.4002 14.7699 10.0235 13.5624C9.65287 13.2331 9.22931 12.5745 10.0764 11.8061C11.9826 9.99477 14.2593 7.74442 15.6359 6.31736C16.2713 5.65868 16.9067 4.12185 14.2593 5.98798C10.5001 8.67748 6.79372 11.2023 6.79372 11.2023C6.79372 11.2023 5.94653 11.7511 4.35812 11.2571C2.76963 10.7632 0.916461 10.1045 0.916461 10.1045C0.916461 10.1045 -0.35421 9.28125 1.81663 8.40303Z" fill="#397EFF")

mixin tgSVG
  svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="32" height="32" rx="16" fill="#397EFF" fill-opacity="0.08")
    path(d="M8.98093 15.6426C8.98093 15.6426 16.0574 12.7157 18.5116 11.6851C19.4524 11.2729 22.6429 9.95364 22.6429 9.95364C22.6429 9.95364 24.1155 9.37653 23.9927 10.7781C23.9518 11.3553 23.6246 13.3753 23.2974 15.5602C22.8065 18.6521 22.2747 22.0324 22.2747 22.0324C22.2747 22.0324 22.1929 22.9806 21.4976 23.1455C20.8022 23.3104 19.6569 22.5684 19.4524 22.4035C19.2887 22.2798 16.3846 20.4247 15.3211 19.5177C15.0347 19.2704 14.7075 18.7757 15.3619 18.1986C16.8345 16.8382 18.5934 15.148 19.6569 14.0761C20.1477 13.5814 20.6386 12.4271 18.5934 13.8287C15.6892 15.8488 12.8259 17.7451 12.8259 17.7451C12.8259 17.7451 12.1714 18.1573 10.9443 17.7863C9.71716 17.4153 8.28552 16.9206 8.28552 16.9206C8.28552 16.9206 7.30388 16.3022 8.98093 15.6426Z" fill="#397EFF")

mixin telegramWhiteSVG
  svg(width="24", height="25", viewBox="0 0 24 25", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(d="M1.81809 11.903C1.81809 11.903 10.9781 8.00607 14.1549 6.63386C15.3727 6.08502 19.5026 4.32858 19.5026 4.32858C19.5026 4.32858 21.4088 3.56021 21.2499 5.42634C21.1969 6.19479 20.7734 8.88422 20.3498 11.7933C19.7144 15.9098 19.0261 20.4105 19.0261 20.4105C19.0261 20.4105 18.9202 21.673 18.0201 21.8925C17.12 22.1121 15.6374 21.1241 15.3727 20.9045C15.1609 20.7399 11.4016 18.2699 10.025 17.0624C9.65434 16.7331 9.23078 16.0745 10.0779 15.3061C11.984 13.4948 14.2608 11.2444 15.6374 9.81736C16.2728 9.15868 16.9081 7.62185 14.2608 9.48798C10.5015 12.1775 6.79518 14.7023 6.79518 14.7023C6.79518 14.7023 5.94799 15.2511 4.35958 14.7571C2.7711 14.2632 0.917926 13.6045 0.917926 13.6045C0.917926 13.6045 -0.352745 12.7812 1.81809 11.903Z", fill="white")

mixin basketSVG
  svg(width="32", height="32", viewBox="0 0 32 32", fill="none")
    path(fill-rule="evenodd", clip-rule="evenodd", d="M2.98055 3.05159C2.45662 2.87694 1.8903 3.1601 1.71565 3.68404C1.54101 4.20799 1.82417 4.77431 2.3481 4.94895L2.70131 5.0667C3.60319 5.36731 4.19946 5.56767 4.63873 5.77202C5.05467 5.96551 5.23451 6.12124 5.34974 6.28111C5.46497 6.44098 5.55583 6.66083 5.60786 7.11663C5.66282 7.59796 5.66433 8.22699 5.66433 9.17766V12.7401C5.6643 14.5636 5.66429 16.0333 5.8197 17.1892C5.98105 18.3893 6.32625 19.3999 7.12879 20.2024C7.93135 21.0051 8.94185 21.3503 10.142 21.5116C11.2979 21.667 12.7677 21.667 14.5911 21.667H25.331C25.8833 21.667 26.331 21.2192 26.331 20.667C26.331 20.1147 25.8833 19.667 25.331 19.667H14.6643C12.7504 19.667 11.4156 19.6648 10.4085 19.5294C9.43013 19.3979 8.91203 19.1572 8.54301 18.7883C8.41409 18.6594 8.30083 18.5122 8.20243 18.3336H21.409C22.0067 18.3336 22.5326 18.3336 22.9691 18.2866C23.4417 18.2355 23.8995 18.1222 24.3303 17.8382C24.7611 17.554 25.0457 17.1779 25.2787 16.7636C25.4939 16.381 25.7011 15.8976 25.9366 15.3482L26.559 13.8958C27.0717 12.6998 27.5005 11.6992 27.7151 10.8854C27.9391 10.0364 27.9974 9.15 27.4691 8.34879C26.9409 7.54759 26.1031 7.25202 25.2345 7.12343C24.4019 7.00018 23.3133 7.00022 22.0121 7.00027H7.60667C7.60301 6.96295 7.59911 6.92611 7.59495 6.88976C7.52115 6.24334 7.36035 5.65019 6.97222 5.11168C6.58409 4.57319 6.07223 4.23307 5.48233 3.95863C4.92734 3.70046 4.22158 3.46523 3.38641 3.18687L2.98055 3.05159ZM7.66433 9.00027C7.66434 9.04059 7.66434 9.08122 7.66433 9.12212V12.6669C7.66433 14.2296 7.66575 15.4062 7.73997 16.3336H21.3601C22.0213 16.3336 22.4381 16.3323 22.7545 16.2982C23.0467 16.2666 23.1591 16.2147 23.2294 16.1684C23.2995 16.1222 23.3914 16.0392 23.5357 15.7831C23.6917 15.5056 23.8571 15.1231 24.1175 14.5154L24.689 13.182C25.2417 11.8924 25.609 11.0287 25.7813 10.3753C25.9489 9.7403 25.8639 9.54759 25.7994 9.44978C25.735 9.35196 25.5913 9.19803 24.9417 9.10187C24.2731 9.0029 23.3346 9.00027 21.9315 9.00027H7.66433Z", fill="#0B1F33")
    path(fill-rule="evenodd", clip-rule="evenodd", d="M7 26C7 27.6568 8.34315 29 10 29C11.6569 29 13 27.6568 13 26C13 24.3431 11.6569 23 10 23C8.34315 23 7 24.3431 7 26ZM10 27C9.44772 27 9 26.5523 9 26C9 25.4477 9.44772 25 10 25C10.5523 25 11 25.4477 11 26C11 26.5523 10.5523 27 10 27Z", fill="#0B1F33")
    path(fill-rule="evenodd", clip-rule="evenodd", d="M22 29C20.3432 29 19 27.6568 19 26C19 24.3431 20.3432 23 22 23C23.6568 23 25 24.3431 25 26C25 27.6568 23.6568 29 22 29ZM21 26C21 26.5523 21.4477 27 22 27C22.5523 27 23 26.5523 23 26C23 25.4477 22.5523 25 22 25C21.4477 25 21 25.4477 21 26Z", fill="#0B1F33")

mixin arrowDownSVG
  svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(d="M16 10L12 14L8 10", stroke="#0B1F33", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")

mixin arrowDownWhiteSVG
  svg(width="18", height="18", viewBox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(d="M5 7L9 11L13 7", stroke="white", stroke-width="1.5", stroke-linecap="round")

mixin arrowBtnWhiteSVG
  svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="24" height="24" rx="12" fill="white")
    path(d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

mixin searchSVG
  svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M14.6725 14.6412L19 19M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin vkSVG
  svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="32" height="32" rx="16" fill="#0077FF" fill-opacity="0.08")
    path(d="M16.8573 22.0217C10.3613 22.0217 6.65467 17.5044 6.5 9.98438H9.75333C9.86 15.5044 12.26 17.8404 14.1613 18.323V9.98438H17.228V14.7444C19.1027 14.539 21.076 12.371 21.74 9.98438H24.8093C24.2973 12.923 22.1587 15.0937 20.6387 15.9844C22.1587 16.707 24.5933 18.5977 25.5187 22.0217H22.148C21.4227 19.7337 19.6147 17.9604 17.2307 17.7204V22.0217H16.8573Z" fill="#0077FF")

mixin vkWhiteSVG
  svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(d="M12.8534 18.0188C6.35743 18.0188 2.65076 13.5014 2.49609 5.98145H5.74943C5.85609 11.5014 8.25609 13.8374 10.1574 14.3201V5.98145H13.2241V10.7414C15.0988 10.5361 17.0721 8.36811 17.7361 5.98145H20.8054C20.2934 8.92011 18.1548 11.0908 16.6348 11.9814C18.1548 12.7041 20.5894 14.5948 21.5148 18.0188H18.1441C17.4188 15.7308 15.6108 13.9574 13.2268 13.7174V18.0188H12.8534Z", fill="white")

mixin youTubeSVG
  svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="32" height="32" rx="16" fill="#FF0000" fill-opacity="0.08")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M14.1896 18.2167V13.4065C15.9826 14.2101 17.3712 14.9863 19.0136 15.8231C17.659 16.5386 15.9826 17.3414 14.1896 18.2167ZM24.1819 11.0142C23.8726 10.6262 23.3455 10.3241 22.7843 10.2241C21.1347 9.92574 10.8439 9.92489 9.19524 10.2241C8.7452 10.3044 8.34445 10.4986 8.0002 10.8004C6.54967 12.0826 7.0042 18.9586 7.35383 20.0724C7.50086 20.5545 7.69092 20.9022 7.93028 21.1304C8.23868 21.4322 8.66092 21.64 9.14592 21.7331C10.5041 22.0007 17.5012 22.1503 22.7556 21.7733C23.2397 21.693 23.6682 21.4785 24.0062 21.1639C25.3473 19.8869 25.2559 12.6247 24.1819 11.0142Z" fill="#FF0000")

mixin youTubeWhiteSVG
  svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
    path(fill-rule="evenodd", clip-rule="evenodd", d="M10.0469 14.3783V9.22457C11.9679 10.0855 13.4558 10.9171 15.2155 11.8138C13.7641 12.5803 11.9679 13.4404 10.0469 14.3783ZM20.7529 6.6614C20.4216 6.2456 19.8568 5.92193 19.2555 5.81478C17.4881 5.49514 6.4622 5.49423 4.69579 5.81478C4.2136 5.90086 3.78424 6.10895 3.41539 6.43225C1.86126 7.80604 2.34825 15.1732 2.72286 16.3666C2.88038 16.8831 3.08402 17.2557 3.34048 17.5002C3.67091 17.8235 4.12331 18.0461 4.64295 18.1459C6.09815 18.4326 13.5951 18.5929 19.2247 18.189C19.7434 18.1029 20.2025 17.8731 20.5647 17.5361C22.0016 16.1678 21.9036 8.38687 20.7529 6.6614Z", fill="white")

mixin playWhiteSVG(width = '24', height = '24')
  svg(width=width height=height viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="24" height="24" rx="12" fill="white")
    path(d="M9.04688 14.3788V9.62096C9.04688 8.86036 9.86234 8.37819 10.5288 8.74474L14.8541 11.1237C15.5449 11.5036 15.5449 12.4962 14.8541 12.8761L10.5288 15.255C9.86234 15.6216 9.04688 15.1394 9.04688 14.3788Z" fill="#0B1F33")

mixin arrowSliderSVG(width = '24', height = '24')
  svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M1 7H13M13 7L7 1M13 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
