doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Лектариум
        link(rel="stylesheet", href="/src/scss/main.css")
    body
        include icons
        include header.pug
        block content
        include footer.pug
    