extends layout

block content
    - var title = "Команда Лектариума"
    //- - var description = "“Нашей команде уже 5 лет. Мы прошли путь с маленькой школы, до резидента Сколково! За этот период мы научились понятно объяснять любые школьные темы, раскрываем потенциал ребенка и увлекаем учёбой!”"
    - var textBtn = "Видео о школе"
    include widgets/hero
    include widgets/our-team
