.tags {
  display: flex;
  align-items: center;
  gap: 6px;

  &__item {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $dark-blue-color;
    padding: 7px 11px 5px;
    background-color: $white-color;
    border-radius: 5px;
    border: 1px solid $light-gray-color;

    &--gray {
      background-color: $light-gray-color;
      color: $dark-blue-color;
      border: 1px solid transparent;
    }

    &--blue {
      background-color: $bright-blue-color;
      color: $white-color;
      border: 1px solid transparent;
    }
  }
}
