@media (max-width: $tablet-width) {
  .main-subtitle {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 24px;
    letter-spacing: -0.01em;
  }

  .main-descriptions {
    font-size: 16px;
    line-height: 20px;
  }

  .main-button {
    min-height: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  .main-button-small {
    min-height: 56px;
    font-size: 16px;
    line-height: 20px;
  }

  .custom-input {
    min-height: 60px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 19px;
  }

  .custom-select__title {
    min-height: 60px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 19px;
  }

  .custom-select__menu-wrap {
    font-size: 15px;
    line-height: 20px;
    padding: 18px 10px 18px 18px;
    top: 68px;
  }
}

@media (max-width: $mobile-width) {
  .wide-container {
    padding: 0;
  }

  .main-container {
    padding: 0 16px;
  }

  .main-button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}
