.articles-columns {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 415px;
  gap: 32px;
  margin: 80px 0 180px;
  grid-template-areas: "main right";

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right"
      "main";
    margin: 40px 0 70px;
    gap: 40px;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    margin: 0 0 24px;

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__item {
    display: grid;
    gap: 80px;

    @media (max-width: $mobile-width) {
      gap: 70px;
    }

    &_sticky {
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 20px;
      gap: 20px;

      @media (max-width: $mobile-width) {
        position: relative;
        top: 0;
      }
    }

    &_wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &_wrap-blocks {
      display: flex;
      flex-direction: column;
      gap: 80px;

      @media (max-width: $mobile-width) {
        gap: 70px;
      }
    }

    &.main {
      grid-area: main;
    }

    &.right {
      display: flex;
      flex-direction: column;
      grid-area: right;

      @media (max-width: $mobile-width) {
        gap: 0px;
      }
    }
  }
}

.articles {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;

    @media (max-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: 1fr;
    }

    &_item {
      display: grid;
      width: 100%;
      position: relative;

      &:nth-child(4),
      &:nth-child(10) {
        grid-column: span 2;

        @media (max-width: $desktop-width) {
          grid-column: span 1;
        }
      }
    }
  }
}
