.cards-and-banner {
  display: flex;
  flex-direction: column;
  margin: 180px 0;
  gap: 20px;

  .main-container {
    width: 100%;
  }

  @media (max-width: $large-tablet-width) {
    margin: 110px 0;
  }

  @media (max-width: $tablet-width) {
    margin: 70px 0;
    gap: 70px;
  }

  &__title {
    max-width: 948px;

    @media (max-width: $mobile-width) {
      max-width: 317px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $mobile-width) {
      gap: 8px;
    }

    &_item {
      display: grid;
      padding: 36px;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
      border-radius: 24px;
      justify-content: space-between;
      position: relative;
      overflow: hidden;

      &.main {
        background-color: #f4f8ff;
      }

      &:nth-child(1) {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr;

        @media (max-width: $desktop-width) {
          gap: 50px;
          grid-row: span 2;
        }
      }

      @media (max-width: $mobile-width) {
        padding: 16px;
        border-radius: 20px;

        &:nth-child(n) {
          gap: 24px;
        }

        &:nth-child(1) {
          padding: 24px;
        }
      }

      &-main-wrap {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        gap: 80px;

        @media (max-width: $mobile-width) {
          display: flex;
          flex-direction: column;
          gap: 0;
        }
      }

      &-bottom {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      &-bg {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        position: relative;
        z-index: 4;
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 36px;
        height: 100%;
        width: 100%;

        @media (max-width: $tablet-width) {
          gap: 24px;
        }

        @media (max-width: $mobile-width) {
          gap: 0px;
          justify-content: flex-start;
        }
      }

      &-img {
        position: relative;
        width: 258px;
        height: 258px;
        display: flex;
        flex-shrink: 0;

        img {
          width: 100%;
          object-fit: contain;
        }

        @media (max-width: $mobile-width) {
          width: 259px;
          height: 281px;
        }
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;

        @media (max-width: $mobile-width) {
          width: 32px;
          height: 32px;
          margin: 0 0 16px;
        }
      }

      &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin: 0 0 16px;
        letter-spacing: -0.02em;

        &.main {
          font-size: 36px;
          line-height: 42px;
        }

        @media (max-width: $tablet-width) {
          font-size: 16px;
          line-height: 20px;
          margin: 0 0 12px;
          letter-spacing: -0.01em;

          &.main {
            font-size: 24px;
            line-height: 28px;
          }
        }

        @media (max-width: $mobile-width) {
          &.main {
            margin: 0 0 10px;
          }
        }
      }

      &-descriptions {
        width: 100%;
        max-width: 318px;

        @media (max-width: $mobile-width) {
          max-width: 100%;

          &.main-descriptions {
            font-size: 13px;
            line-height: 17px;
          }

          &.main {
            font-size: 15px;
            line-height: 20px;
          }
        }
      }

      &-link {
        font-size: 18px;
        line-height: 21px;
        text-decoration: none;
        width: fit-content;
        border-bottom: 1px solid;
        color: $dark-blue-color;

        @media (max-width: $mobile-width) {
          display: none;
        }
      }

      &-btn {
        &.main-button {
          width: 100%;

          @media (max-width: $mobile-width) {
            min-height: 54px;
            gap: 10px;
          }
        }
      }
    }
  }
}
