.hero {
  display: flex;
  background-color: $light-blue-color;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  min-height: 779px;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: $large-desktop-width) {
    min-height: 580px;
  }

  @media (max-width: $desktop-width) {
    min-height: 375px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
  }

  &__content {
    width: 100%;
    height: 100%;
    max-width: 482px;
    padding: 64px 0 74px 64px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 779px;
    gap: 40px;

    @media (max-width: $large-desktop-width) {
      min-height: 492px;
      padding: 44px 0 54px 44px;
    }

    @media (max-width: $desktop-width) {
      min-height: 240px;
      padding: 24px 0 34px 24px;
      max-width: 380px;
    }

    @media (max-width: $tablet-width) {
      min-height: auto;
      max-width: 100%;
      padding: 24px 16px 15px;
      gap: 32px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet-width) {
      width: 100%;
    }

    @media (max-width: $small-mobile-width) {
      max-width: 323px;
    }
  }

  &__title {
    margin: 0 0 44px;

    @media (max-width: $large-desktop-width) {
      font-size: 66px;
      line-height: 72px;
      margin: 0 0 24px;
    }

    @media (max-width: $desktop-width) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: $tablet-width) {
      font-size: 40px;
      line-height: 44px;
      margin: 0 0 16px;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 24px;
    color: $dark-blue-color;
    letter-spacing: -0.01em;

    @media (max-width: $desktop-width) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      gap: 16px;
    }
  }

  &__btn {
    min-height: 68px;
    padding: 0 30px;

    @media (max-width: $tablet-width) {
      &.dark-button {
        width: fit-content;
        min-height: 60px;
        padding: 16px 24px;
        gap: 10px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      max-height: 779px;
    }

    @media (max-width: $large-desktop-width) {
      img {
        max-height: 580px;
      }
    }

    @media (max-width: $desktop-width) {
      img {
        max-height: 380px;
      }
    }

    @media (max-width: $tablet-width) {
      justify-content: center;
      width: 100%;
      img {
        max-height: 380px;
      }
    }

    @media (max-width: $small-mobile-width) {
      height: 100%;
      justify-content: flex-end;
      img {
        max-height: 100%;
      }
    }
  }

  &__background {
    display: flex;
    width: 100%;
    align-items: flex-end;
    position: absolute;
    justify-content: flex-end;

    img {
      object-fit: contain;
      position: relative;
      height: auto;
      max-height: 779px;
      display: flex;
    }

    @media (max-width: $large-desktop-width) {
      img {
        max-height: 620px;
      }
    }

    @media (max-width: $desktop-width) {
      img {
        max-height: 410px;
      }
    }

    @media (max-width: $tablet-width) {
      height: 100%;
      justify-content: center;

      img {
        max-height: 530px;
      }
    }

    @media (max-width: $small-mobile-width) {
      img {
        height: 530px;
        max-height: none;
      }
    }
  }

  &__description-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: $dark-blue-color;
    font-size: 20px;
    line-height: 24px;

    &_wrap {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &_author {
      font-weight: 500;
    }

    &_text {
      font-weight: 400;
      opacity: 0.6;
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: $desktop-width) {
      font-size: 16px;
      line-height: 20px;

      &_text {
        font-size: 15px;
      }

      &_wrap {
        gap: 4px;
      }
    }

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      gap: 16px;

      &_text {
        font-size: 15px;
      }

      &_wrap {
        gap: 4px;
      }
    }
  }
}
