.hero-video {
  display: grid;
  width: 100%;
  justify-content: space-between;
  margin: 24px 0 120px;
  grid-template-columns: 1fr;

  @media (max-width: $tablet-width) {
    margin: 0 0 70px;
  }

  &__container {
    @media (max-width: $tablet-width) {
      &.main-container {
        padding: 0;
      }
    }
  }

  &__video-block {
    display: flex;
    width: 100%;

    &_preview {
      position: relative;
      width: 100%;
      height: 658px;
      display: flex;
      align-items: center;
      border-radius: 40px;
      overflow: hidden;

      @media (max-width: $tablet-width) {
        height: 410px;
      }

      @media (max-width: $mobile-width) {
        height: 210px;
        border-radius: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 36%;
        background: linear-gradient(180deg, rgba(11, 31, 51, 0) 0%, rgba(10, 29, 48, 0) 0.01%, rgba(11, 31, 51, 0.5) 100%);
        z-index: 1;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &-header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }

      &-mark {
        background-color: $white-color;
        font-size: 15px;
        line-height: 20px;
        border-radius: 6px;
        padding: 8px 10px;
        display: flex;
        align-items: center;

        @media (max-width: $mobile-width) {
          font-size: 13px;
          line-height: 17px;
        }
      }

      &-time {
        background-color: #0b1f332b;
        color: $white-color;
        font-size: 15px;
        line-height: 20px;
        border-radius: 6px;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        gap: 6px;

        @media (max-width: $mobile-width) {
          font-size: 13px;
          line-height: 17px;
        }
      }

      &-play {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;

        @media (max-width: $mobile-width) {
          svg {
            width: 64px;
            height: 64px;
          }
        }
      }

      &-content {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 36px;
        width: 100%;

        @media (max-width: $mobile-width) {
          padding: 16px;
        }
      }

      &-title {
        width: 100%;
        color: $white-color;
        font-size: 28px;
        line-height: 32px;
        font-weight: 500;

        @media (max-width: $tablet-width) {
          display: none;
        }
      }

      &-img {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;

        img {
          height: 100%;
          object-fit: contain;
          position: absolute;
          bottom: 0;
        }
      }

      &-bg {
        height: 100%;
        position: absolute;
        right: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &__time-block {
    background-color: $white-color;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 0;
    box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
    gap: 16px;
    position: relative;

    @media (max-width: $tablet-width) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      z-index: 1;
    }

    &_title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.02em;
      padding: 0 16px;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      overflow: auto;
      position: relative;
      padding: 0 12px 0 0;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        background: $light-grey-color;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: $dark-blue-color !important;
        border-radius: 10px !important;
      }

      &:last-child {
        margin: 0 0 12px;
      }

      &-item {
        display: flex;
        padding: 12px 16px;
        align-items: flex-start;
        gap: 16px;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          background-color: #f7f8f9;
        }

        &.active {
          background-color: #f7f8f9;
        }
      }

      &-item-time {
        color: $bright-blue-color;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        min-width: 65px;
      }

      &-item-text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

  &__header {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 415px;
    grid-template-rows: 658px;
    gap: 32px;

    @media (max-width: $tablet-width) {
      grid-template-columns: 1fr;
      grid-template-rows: 410px;
    }

    @media (max-width: $mobile-width) {
      grid-template-rows: 210px;
    }
  }

  &__footer {
    width: 100%;
    display: grid;
    gap: 32px;
    justify-content: space-between;
    grid-template-columns: 1fr 415px;
    margin: 17px 0 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &__footer-mobile {
    width: 100%;
    display: grid;
    gap: 32px;
    justify-content: space-between;
    grid-template-columns: 1fr 415px;
    margin: 20px 0 0;

    &_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 16px 0 0;

      @media (max-width: $tablet-width) {
        padding: 0 16px;
      }
    }

    &_title {
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      margin: 0 0 16px;
    }

    &_date {
      font-size: 13px;
      line-height: 22px;
      font-weight: 500;
      color: #9aa3ad;
      margin: 0 0 8px;
    }

    &_actions {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 24px 0 0;

      .main-button-medium,
      .pale-blue-button {
        min-height: 50px;
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    &_wrap {
      display: flex;
      align-items: center;
    }

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width: $tablet-width) {
        width: 100%;
        justify-content: space-between;
      }
    }

    &_link {
      color: #9aa3ad;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #9aa3ad;
      cursor: pointer;
      font-size: 18px;
      line-height: 22px;

      @media (max-width: $mobile-width) {
        font-size: 15px;
        line-height: 20px;
      }
    }

    &_items {
      display: flex;
      align-items: center;
      gap: 24px;

      @media (max-width: $mobile-width) {
        gap: 16px;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: $mobile-width) {
          gap: 4px;
          font-size: 15px;

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    &_views {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
      line-height: 22px;
    }

    &_date {
      font-size: 18px;
      line-height: 22px;
      color: #6d7985;
    }

    &_author {
      display: flex;
      align-items: center;
      gap: 18px;

      @media (max-width: $tablet-width) {
        margin: 0 0 16px;
      }

      @media (max-width: $mobile-width) {
        gap: 12px;
      }

      &-photo {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;

        @media (max-width: $mobile-width) {
          width: 32px;
          height: 32px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-name {
        font-size: 18px;
        line-height: 22px;

        @media (max-width: $mobile-width) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }

  &__share {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $white-color;
    border-radius: 40px;
    overflow: hidden;
    padding: 12px 12px 12px 24px;
    box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
    justify-content: space-between;

    &_title {
      font-weight: 500;
    }

    &_list {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  &__time-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100%;
    max-height: 330px;
    overflow: auto;
    padding: 0 0 36px;

    &_item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px 0;
      width: 100%;
      background-color: transparent;
      border: none;
      text-align: start;

      &-time {
        font-size: 16px;
        line-height: 20px;
        color: $bright-blue-color;
        min-width: 65px;
      }

      &-title {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
