.hero-teacher {
  display: flex;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  min-height: 779px;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: $large-desktop-width) {
    min-height: 580px;
  }

  @media (max-width: $desktop-width) {
    min-height: 375px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
  }

  &__mark {
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
    font-weight: 400;
    padding: 10px 12px;
    background-color: #ffffff33;
    width: fit-content;
    border-radius: 8px;
    margin: 0 0 44px;

    @media (max-width: $tablet-width) {
      margin: 0 0 24px;
      font-size: 15px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    max-width: 657px;
    padding: 64px 0 64px 64px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 779px;
    gap: 40px;

    @media (max-width: $large-desktop-width) {
      min-height: 492px;
      padding: 44px 0 44px 44px;
    }

    @media (max-width: $desktop-width) {
      min-height: 240px;
      padding: 24px 0 24px 24px;
      max-width: 380px;
    }

    @media (max-width: $tablet-width) {
      min-height: auto;
      max-width: 100%;
      padding: 24px 16px 16px;
      gap: 32px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 24px;
    color: $white-color;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.02em;

    @media (max-width: $large-desktop-width) {
      font-size: 66px;
      line-height: 72px;
      margin: 0 0 24px;
    }

    @media (max-width: $desktop-width) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: $tablet-width) {
      font-size: 40px;
      line-height: 44px;
      margin: 0 0 16px;
    }
  }

  &__btn {
    min-height: 78px;
    font-size: 20px;
    line-height: 24px;
    padding: 0 30px;

    @media (max-width: $tablet-width) {
      &.light-button {
        width: fit-content;
        min-height: 52px;
        padding: 0 20px;
        gap: 10px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;


    img {
      display: block;
      width: 100%;
      max-height: 779px;
      padding: 0 182px 0 0;

      @media (max-width: $large-desktop-width) {
        max-height: 580px;
        padding: 0 145px 0 0;
      }

      @media (max-width: $large-tablet-width) {
        padding: 0;
      }

      @media (max-width: $mobile-width) {
        max-height: 100%;
        object-fit: cover;
        min-height: 429px;
      }
    }
  }

  &__background {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    position: absolute;
    justify-content: flex-end;

    img {
      object-fit: contain;
      position: relative;
      height: auto;
      max-height: 779px;
      display: flex;

      @media (max-width: $large-desktop-width) {
        max-height: 620px;
      }

      @media (max-width: $tablet-width) {
        max-height: 523px;
      }
    }
  }

  &__list-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: $white-color;
    margin: 0 0 18px;
    letter-spacing: -0.02em;

    @media (max-width: $large-desktop-width) {
      font-size: 22px;
      line-height: 26px;
    }

    @media (max-width: $tablet-width) {
      margin: 0 0 12px;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.01em;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: $tablet-width) {
      gap: 6px;
    }

    &_item {
      align-items: center;
      display: flex;
      gap: 12px;
      width: fit-content;
      font-size: 20px;
      line-height: 24px;
      color: $white-color;
      background-color: #0b1f333d;
      padding: 18px;
      border-radius: 16px;

      @media (max-width: $large-desktop-width) {
        font-size: 18px;
        line-height: 22px;
        padding: 16px;
      }

      @media (max-width: $tablet-width) {
        font-size: 16px;
        line-height: 20px;
        gap: 10px;
        padding: 12px;
        border-radius: 10px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__quote {
    backdrop-filter: blur(44px);
    background: rgba(11, 31, 51, 0.3);
    display: flex;
    max-width: 545px;
    padding: 24px;
    border-radius: 10px 24px 24px 24px;
    gap: 24px;
    position: absolute;
    right: 64px;
    bottom: 64px;
    z-index: 1;

    @media (max-width: $large-desktop-width) {
      right: 44px;
      bottom: 44px;
      padding: 18px;
      gap: 18px;
      max-width: 445px;
    }

    @media (max-width: $desktop-width) {
      right: 24px;
      bottom: 24px;
      max-width: 384px;
    }

    @media (max-width: $tablet-width) {
      padding: 18px;
      border-radius: 12px;
      right: 16px;
      left: 16px;
      bottom: 16px;
      max-width: 100%;
    }

    &_text {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: $white-color;
      font-weight: 500;

      @media (max-width: $large-desktop-width) {
        font-size: 18px;
        line-height: 22px;
      }

      @media (max-width: $desktop-width) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &_icon {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
    }
  }
}
