.hero-form {
  display: flex;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0 0 32px;
  width: 100%;

  @media (max-width: $tablet-width) {
    border-radius: 25px;
  }

  @media (max-width: $mobile-width) {
    border-radius: 0;
    background-color: transparent;
    margin: 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 64px;
    min-height: 813px;

    @media (max-width: $mobile-width) {
      padding: 0px;
      min-height: auto;
      width: 100%;
    }
  }

  &__background {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    position: absolute;
    justify-content: flex-end;

    @media (max-width: $mobile-width) {
      display: none;
    }

    img {
      object-fit: cover;
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
    }
  }
}
