.sale-banner {
  &.main-container {
    @media (max-width: $mobile-width) {
      padding: 0;
    }
  }
  &__container {
    display: flex;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    min-height: 652px;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: $large-desktop-width) {
      min-height: 580px;
    }

    @media (max-width: $large-tablet-width) {
      min-height: 375px;
    }

    @media (max-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
      border-radius: 25px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    max-width: 931px;
    padding: 108px 0 108px 108px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: inherit;
    gap: 40px;

    @media (max-width: $large-desktop-width) {
      padding: 44px 0 44px 44px;
    }

    @media (max-width: $large-tablet-width) {
      max-width: 648px;
    }

    @media (max-width: $desktop-width) {
      padding: 24px 0 24px 24px;
    }

    @media (max-width: $tablet-width) {
      min-height: auto;
      max-width: 100%;
      padding: 24px 16px 0;
      gap: 36px;
    }
  }

  &__mark {
    display: flex;
    width: 100%;
    margin: 0 0 44px;
    color: $white-color;
    background-color: #ffffff33;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    @media (max-width: $large-desktop-width) {
      margin: 0 0 24px;
    }

    @media (max-width: $tablet-width) {
      font-size: 15px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet-width) {
      width: 100%;
    }

    @media (max-width: $small-mobile-width) {
      max-width: 323px;
    }
  }

  &__title {
    color: $white-color;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.02em;

    .border-wrap {
      outline: 3px solid;
      border-radius: 16px;
      outline-offset: -5px;
      margin: 0 17px 0 -17px;

      @media (max-width: $tablet-width) {
        outline: 2px solid;
        border-radius: 8px;
        outline-offset: -4px;
        margin: 0 9px 0 -9px;
      }
    }

    @media (max-width: $desktop-width) {
      &.main-title {
        font-size: 66px;
        line-height: 72px;
      }
    }

    @media (max-width: $large-tablet-width) {
      &.main-title {
        font-size: 40px;
        line-height: 44px;
      }
    }

    @media (max-width: $tablet-width) {
      &.main-title {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.01em;
      }
    }
  }

  &__description {
    font-size: 20px;
    line-height: 24px;
    color: $white-color;
    letter-spacing: -0.01em;
    font-weight: 400;
    width: 100%;
    max-width: 400px;

    @media (max-width: $desktop-width) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      gap: 16px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      gap: 16px;
      width: 100%;
      align-items: flex-start;
    }

    @media (max-width: $mobile-width) {
      align-items: center;
    }
  }

  &__link {
    min-height: 78px;
    padding: 0 30px;
    gap: 16px;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: $desktop-width) {
      min-height: 68px;
    }

    @media (max-width: $tablet-width) {
      &.light-button {
        min-height: 54px;
        gap: 10px;
      }
    }

    @media (max-width: $mobile-width) {
      &.light-button {
        width: 100%;
        min-height: 60px;
      }
    }
  }

  &__link-text {
    text-decoration: none;
    color: #cad0d6;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      max-height: 631px;
      object-fit: contain;
    }

    @media (max-width: $large-desktop-width) {
      max-width: 619px;
      img {
        max-height: 547px;
      }
    }

    @media (max-width: $large-tablet-width) {
      img {
        max-height: 350px;
      }
    }

    @media (max-width: $tablet-width) {
      justify-content: center;
      margin: 0 auto;
      width: 100%;
    }

    @media (max-width: $mobile-width) {
      min-height: 399px;

      img {
        max-height: 100%;
        object-fit: contain;
        height: 362px;
        width: auto;
        bottom: 0;
        right: -29px;
        position: absolute;
      }
    }
  }

  &__background {
    display: flex;
    align-items: flex-end;
    position: absolute;
    justify-content: flex-end;
    height: 100%;

    img {
      object-fit: contain;
      position: relative;
      height: inherit;
      display: flex;
    }

    @media (max-width: $tablet-width) {
      height: 100%;
      justify-content: center;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
    }

    @media (max-width: $small-mobile-width) {
      img {
        height: 100%;
        max-height: none;
      }
    }
  }
}
