.subscription-block {
  display: flex;
  position: relative;
  margin: 180px 0 125px;
  flex-direction: column;

  @media (max-width: $large-tablet-width) {
    margin: 110px 0 90px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    margin: 70px 0;
      overflow: hidden;
  }

  &__wrapper {
    background-color: $white-color;
    box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 40px;
    display: flex;
    min-height: 546px;

    @media (max-width: $large-tablet-width) {
      min-height: 470px;
    }

    @media (max-width: $desktop-width) {
      min-height: 375px;
      width: 100%;
    }

    @media (max-width: $tablet-width) {
      flex-direction: column;
      border-radius: 18px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    max-width: 639px;
    padding: 64px 0 64px 64px;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $large-desktop-width) {
      padding: 44px 0 44px 44px;
      max-width: 720px;
    }

    @media (max-width: $desktop-width) {
      padding: 24px 0 24px 24px;
      max-width: 420px;
    }

    @media (max-width: $large-tablet-width) {
      max-width: 375px;
    }

    @media (max-width: $tablet-width) {
      min-height: auto;
      max-width: 100%;
      padding: 24px 24px 40px;
    }

    &_title {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.02em;
      margin: 0 0 18px;
      font-weight: 500;

      @media (max-width: $tablet-width) {
        margin: 0 0 8px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.01em;
      }
    }

    &_descriptions {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      max-width: 561px;

      @media (max-width: $tablet-width) {
        font-size: 15px;
        line-height: 20px;
      }

      @media (max-width: $mobile-width) {
        &.main-descriptions {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }

  &__title {
    margin: 0 0 64px;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.02em;
    font-weight: 500;

    @media (max-width: $large-desktop-width) {
      font-size: 66px;
      line-height: 72px;
      margin: 0 0 24px;
    }

    @media (max-width: $desktop-width) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: $tablet-width) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;
    position: relative;
    min-height: 546px;
    width: 100%;

    @media (max-width: $desktop-width) {
      min-height: 600px;
    }

    @media (max-width: $large-tablet-width) {
      min-height: 540px;
    }

    @media (max-width: $tablet-width) {
      min-height: 343px;
    }

    @media (max-width: $mobile-width) {
      min-height: 279px;
    }

    @media (max-width: $small-mobile-width) {
      min-height: 343px;
    }

    img {
      height: 100%;
      position: absolute;
      object-fit: contain;
      min-height: 766px;
      bottom: 0;
      right: -6px;

      @media (max-width: $desktop-width) {
        min-height: 702px;
      }

      @media (max-width: $large-tablet-width) {
        padding: 0;
        min-height: 530px;
        right: -21px;
      }

      @media (max-width: $mobile-width) {
        max-height: 100%;
        object-fit: cover;
        min-height: 429px;
      }

      @media (max-width: $small-mobile-width) {
        right: 0px;
        min-height: auto;
      }
    }
  }

  &__actions {
    margin: 36px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: $tablet-width) {
      margin: 36px 0 18px;
    }

    @media (max-width: $mobile-width) {
      margin: 32px 0 18px;
    }
  }
}
