.teachers-webinar {
  display: flex;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  min-height: 602px;
  align-items: flex-end;
  justify-content: space-between;
  margin: 180px 0;

  @media (max-width: $large-tablet-width) {
    margin: 110px 0;
    min-height: 480px;
  }

  @media (max-width: $desktop-width) {
    min-height: 375px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
    margin: 70px 0;
  }

  &__mark {
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
    font-weight: 400;
    padding: 10px 12px;
    backdrop-filter: blur(44px);
    background: #0b1f3333;
    width: fit-content;
    border-radius: 8px;
    margin: 0 0 44px;

    @media (max-width: $tablet-width) {
      margin: 0 0 24px;
      font-size: 15px;
    }
  }

  &__descriptions {
    font-size: 20px;
    line-height: 24px;
    color: $white-color;
    width: 100%;
    max-width: 475px;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      max-width: 100%;
    }

    @media (max-width: $mobile-width) {
      max-width: 244px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    max-width: 829px;
    padding: 64px 64px 64px 0;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 602px;
    gap: 40px;

    @media (max-width: $large-desktop-width) {
      padding: 44px 44px 44px 0;
      max-width: 720px;
    }

    @media (max-width: $desktop-width) {
      padding: 24px 24px 24px 0;
      min-height: 560px;
      max-width: 420px;
    }

    @media (max-width: $large-tablet-width) {
      max-width: 375px;
    }

    @media (max-width: $tablet-width) {
      min-height: auto;
      max-width: 100%;
      padding: 24px 16px 16px;
      gap: 24px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 28px;
    color: $white-color;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.02em;

    @media (max-width: $large-desktop-width) {
      font-size: 66px;
      line-height: 72px;
      margin: 0 0 24px;
    }

    @media (max-width: $desktop-width) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: $tablet-width) {
      font-size: 32px;
      line-height: 36px;
      margin: 0 0 16px;
    }
  }

  &__btn {
    min-height: 60px;
    font-size: 18px;
    line-height: 22px;
    padding: 0 26px;
    gap: 16px;

    @media (max-width: $tablet-width) {
      &.light-button {
        width: fit-content;
        min-height: 56px;
        gap: 10px;
        font-size: 16px;
        line-height: 20px;
        padding: 0 22px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;
    padding: 0 0 0 6.5%;

    @media (max-width: $large-tablet-width) {
      padding: 0;
    }

    @media (max-width: $tablet-width) {
      order: 1;
      min-height: 522px;
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
      max-height: 602px;

      @media (max-width: $large-desktop-width) {
        max-height: 540px;
      }

      @media (max-width: $large-tablet-width) {
        padding: 0;
      }

      @media (max-width: $mobile-width) {
        max-height: 100%;
        object-fit: cover;
        min-height: 429px;
      }
    }
  }

  &__background {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    position: absolute;
    justify-content: flex-start;
    left: 64px;

    @media (max-width: $tablet-width) {
      left: 0px;
      align-items: center;
      top: 84px;
      justify-content: center;
    }

    img {
      object-fit: contain;
      position: relative;
      height: auto;
      display: flex;
      @media (max-width: $desktop-width) {
        max-width: 730px;
      }

      @media (max-width: $tablet-width) {
        max-width: 100%;
        height: 100%;
        min-width: 500px;
      }
    }
  }

  &__card {
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    max-width: 445px;
    padding: 24px;
    border-radius: 24px;
    gap: 12px;
    position: absolute;
    left: 64px;
    bottom: 64px;
    z-index: 3;

    @media (max-width: $large-desktop-width) {
      left: 44px;
      bottom: 44px;
      padding: 18px;
      gap: 18px;
    }

    @media (max-width: $desktop-width) {
      left: 24px;
      bottom: 24px;
    }

    @media (max-width: $tablet-width) {
      right: 16px;
      left: 16px;
      bottom: 16px;
      gap: 0px;
    }

    @media (max-width: $mobile-width) {
      max-width: 100%;
    }

    &_header-text {
      font-size: 16px;
      line-height: 20px;
      color: #9aa3ad;
      font-weight: 400;

      @media (max-width: $desktop-width) {
        font-size: 15px;
        line-height: 20px;
      }

      @media (max-width: $tablet-width) {
        margin: 0 0 4px;
      }
    }

    &_title {
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.02em;
      font-weight: 500;

      @media (max-width: $desktop-width) {
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -0.01em;
      }

      @media (max-width: $tablet-width) {
        margin: 0 0 12px;
      }
    }

    &_text {
      font-size: 18px;
      line-height: 22px;
      color: #9aa3ad;
      font-weight: 400;

      @media (max-width: $desktop-width) {
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: $mobile-width) {
        width: 100%;
        max-width: 224px;
      }
    }
  }
}
