.textbook-content {
  background-color: $white-color;
  border-radius: 40px;
  box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
  display: flex;
  flex-direction: column;
  padding: 64px;
  position: relative;

  @media (max-width: $tablet-width) {
    padding: 16px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    font-weight: 500;

    @media (max-width: $tablet-width) {
      letter-spacing: -0.01em;
      font-size: 28px;
      line-height: 32px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-weight: 500;

    @media (max-width: $tablet-width) {
      letter-spacing: -0.01em;
      font-size: 20px;
      line-height: 24px;
    }
  }

  p {
    font-size: 18px;
    line-height: 22px;
    color: #3b4b5c;
    width: 100%;
    padding: 0 94px 0 0;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      padding: 0;
    }
  }

  button {
    background-color: #f3f4f5;
    color: $dark-blue-color;
    font-size: 18px;
    line-height: 22px;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    min-height: 60px;
    padding: 0 26px;
    width: fit-content;
    cursor: pointer;
    position: relative;
    justify-content: center;

    @media (max-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
      gap: 10px;
      width: 100%;
    }

    &::after {
      content: url("../img/white-arrow.svg");
      width: 24px;
      height: 24px;
      background-color: $bright-blue-color;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    list-style: disc;
  }

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 40px;

    @media (max-width: $tablet-width) {
      border-radius: 12px;
    }
  }

  blockquote {
    background-color: #f7f8f9;
    border-radius: 24px;
    padding: 44px 290px 44px 132px;
    display: flex;
    align-items: flex-start;
    gap: 32px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    font-weight: 500;
    position: relative;
    margin: 0 0 64px;
    display: flex;
    flex-direction: column;

    .teacher {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: $tablet-width) {
        gap: 12px;
      }

      span {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;

        @media (max-width: $tablet-width) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      img {
        width: 54px;
        height: 54px;
        object-fit: cover;
        border-radius: 100%;
        overflow: hidden;

        @media (max-width: $tablet-width) {
          width: 36px;
          height: 36px;
        }
      }
    }

    @media (max-width: $tablet-width) {
      font-size: 24px;
      line-height: 28px;
      padding: 92px 24px 24px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 44px;
      left: 44px;
      width: 44px;
      height: 44px;
      background-image: url('data:image/svg+xml,%3Csvg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="44" height="44" rx="8" fill="%232554E7"/%3E%3Cpath d="M14.4943 20.2289C13.5902 20.232 12.7021 20.4677 11.9154 20.9134C13.0229 18.0467 14.8598 15.5188 17.2443 13.58C17.3807 13.4677 17.4937 13.3296 17.5767 13.1735C17.6598 13.0175 17.7113 12.8467 17.7283 12.6708C17.7453 12.4949 17.7276 12.3173 17.676 12.1483C17.6244 11.9792 17.54 11.822 17.4276 11.6856C17.3153 11.5492 17.1772 11.4362 17.0212 11.3531C16.8651 11.2701 16.6943 11.2186 16.5184 11.2016C16.3425 11.1845 16.1649 11.2023 15.9959 11.2539C15.8268 11.3055 15.6696 11.3899 15.5332 11.5023C10.6443 15.4745 8.46875 20.9745 8.46875 24.3845C8.47717 25.5902 8.83648 26.7674 9.5028 27.7723C10.1691 28.7772 11.1136 29.5663 12.221 30.0434C12.9376 30.3905 13.7225 30.5742 14.5187 30.5811C15.2196 30.6152 15.9202 30.5066 16.5778 30.2618C17.2355 30.0171 17.8366 29.6413 18.3447 29.1573C18.8528 28.6733 19.2573 28.0912 19.5337 27.4462C19.8101 26.8012 19.9526 26.1068 19.9526 25.405C19.9526 24.7033 19.8101 24.0089 19.5337 23.3639C19.2573 22.7189 18.8528 22.1368 18.3447 21.6528C17.8366 21.1688 17.2355 20.793 16.5778 20.5482C15.9202 20.3035 15.2196 20.1949 14.5187 20.2289H14.4943Z" fill="white"/%3E%3Cpath d="M28.1115 20.2246C27.2072 20.2266 26.3188 20.4623 25.5326 20.909C26.6397 18.0453 28.4717 15.5183 30.8493 13.5757C30.9981 13.4684 31.1234 13.3319 31.2174 13.1744C31.3115 13.0169 31.3723 12.8418 31.3962 12.6599C31.42 12.478 31.4064 12.2932 31.3561 12.1168C31.3059 11.9403 31.2201 11.7761 31.1039 11.634C30.9878 11.492 30.8439 11.3753 30.6809 11.291C30.518 11.2067 30.3396 11.1566 30.1566 11.1439C29.9736 11.1311 29.7899 11.156 29.6169 11.2168C29.4438 11.2777 29.2851 11.3734 29.1504 11.4979C24.2615 15.4702 22.0859 20.9702 22.0859 24.3802C22.0917 25.5722 22.4406 26.7374 23.0908 27.7365C23.741 28.7357 24.665 29.5265 25.7526 30.0146C26.4874 30.3719 27.2944 30.5559 28.1115 30.5524C28.8124 30.5864 29.5129 30.4778 30.1706 30.2331C30.8282 29.9883 31.4293 29.6126 31.9374 29.1286C32.4455 28.6446 32.85 28.0624 33.1264 27.4174C33.4028 26.7724 33.5453 26.078 33.5453 25.3763C33.5453 24.6745 33.4028 23.9801 33.1264 23.3351C32.85 22.6901 32.4455 22.108 31.9374 21.624C31.4293 21.14 30.8282 20.7642 30.1706 20.5195C29.5129 20.2747 28.8124 20.1661 28.1115 20.2002V20.2246Z" fill="white"/%3E%3C/svg%3E');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media (max-width: $tablet-width) {
        top: 24px;
        left: 24px;
      }
    }
  }

  .mark,
  mark {
    background-color: #f4f8ff;
    border-radius: 18px;
    padding: 32px;
    border-left: 4px solid $bright-blue-color;

    @media (max-width: $tablet-width) {
      padding: 24px 24px 24px 27px;
    }

    p {
      color: $bright-blue-color;
      font-size: 20px;
      line-height: 24px;

      @media (max-width: $tablet-width) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
