.main-container
    section.accordion-block
        h2.main-subtitle.accordion-block__title Как наши ученики достигают таких результатов?
        .accordion-block__list
            .accordion-block__list_item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M40.1921 10.3052C40.0546 9.97041 39.821 9.68382 39.5208 9.48154C39.2207 9.27926 38.8674 9.17036 38.5054 9.16855H34.8388V5.50188C34.8369 5.13994 34.728 4.78662 34.5258 4.48647C34.3235 4.18632 34.0369 3.95275 33.7021 3.81522C33.3682 3.67482 33.0002 3.63646 32.6446 3.70498C32.2889 3.7735 31.9616 3.94583 31.7038 4.20022L26.2038 9.70022C26.0338 9.87152 25.8994 10.0747 25.8082 10.2981C25.7169 10.5214 25.6707 10.7606 25.6721 11.0019V15.7502L21.6204 19.7835C21.4486 19.954 21.3122 20.1567 21.2191 20.3802C21.126 20.6036 21.0781 20.8432 21.0781 21.0852C21.0781 21.3272 21.126 21.5669 21.2191 21.7903C21.3122 22.0137 21.4486 22.2164 21.6204 22.3869C21.7909 22.5587 21.9936 22.6951 22.217 22.7882C22.4404 22.8813 22.6801 22.9292 22.9221 22.9292C23.1641 22.9292 23.4037 22.8813 23.6271 22.7882C23.8506 22.6951 24.0533 22.5587 24.2238 22.3869L28.2571 18.3352H33.0054C33.2467 18.3366 33.4859 18.2904 33.7093 18.1991C33.9326 18.1079 34.1358 17.9735 34.3071 17.8035L39.8071 12.3035C40.0615 12.0457 40.2338 11.7184 40.3023 11.3627C40.3708 11.0071 40.3325 10.6391 40.1921 10.3052Z" fill="#2554E7"/>
                                    <path opacity="0.2" d="M22.0052 40.3307C17.1429 40.3307 12.4798 38.3992 9.04158 34.961C5.60342 31.5229 3.67188 26.8597 3.67188 21.9974C3.67188 17.1351 5.60342 12.4719 9.04158 9.03377C12.4798 5.5956 17.1429 3.66406 22.0052 3.66406H22.7752C23.016 3.68573 23.2501 3.75461 23.4642 3.86676C23.6784 3.97891 23.8683 4.13214 24.0232 4.31771C24.1782 4.50327 24.295 4.71753 24.3671 4.94825C24.4392 5.17897 24.4652 5.42164 24.4435 5.6624C24.4219 5.90315 24.353 6.13728 24.2408 6.35142C24.1287 6.56556 23.9755 6.75551 23.7899 6.91043C23.6043 7.06535 23.3901 7.1822 23.1594 7.25432C22.9286 7.32643 22.686 7.3524 22.4452 7.33073H22.0052C19.1044 7.33073 16.2688 8.19091 13.8568 9.80251C11.4449 11.4141 9.56506 13.7047 8.45498 16.3847C7.34489 19.0647 7.05444 22.0137 7.62036 24.8587C8.18627 27.7038 9.58314 30.3171 11.6343 32.3683C13.6855 34.4195 16.2988 35.8163 19.1439 36.3822C21.9889 36.9482 24.9379 36.6577 27.6179 35.5476C30.2979 34.4375 32.5885 32.5577 34.2001 30.1458C35.8117 27.7338 36.6719 24.8982 36.6719 21.9974C36.681 21.8509 36.681 21.7039 36.6719 21.5574C36.6492 21.3165 36.6745 21.0734 36.7462 20.8423C36.8179 20.6111 36.9347 20.3965 37.0898 20.2107C37.2449 20.025 37.4352 19.8717 37.6498 19.7599C37.8645 19.648 38.0991 19.5798 38.3402 19.5591C38.5812 19.5364 38.8242 19.5617 39.0553 19.6334C39.2865 19.7051 39.5011 19.8219 39.6869 19.977C39.8727 20.1321 40.0259 20.3224 40.1377 20.537C40.2496 20.7516 40.3178 20.9863 40.3385 21.2274C40.3385 21.4841 40.3385 21.7407 40.3385 21.9974C40.3385 26.8597 38.407 31.5229 34.9688 34.961C31.5307 38.3992 26.8675 40.3307 22.0052 40.3307ZM32.7852 24.1974C32.8825 23.7112 32.7826 23.2062 32.5075 22.7936C32.2325 22.3811 31.8048 22.0946 31.3185 21.9974C30.8323 21.9001 30.3274 22 29.9148 22.2751C29.5022 22.5501 29.2158 22.9778 29.1185 23.4641C28.8552 24.7664 28.243 25.9727 27.3474 26.9541C26.4517 27.9355 25.3063 28.6551 24.0334 29.0361C22.7605 29.4171 21.4081 29.4451 20.1205 29.1171C18.833 28.7892 17.6587 28.1175 16.7232 27.174C15.7877 26.2306 15.1261 25.0506 14.8091 23.7603C14.4921 22.47 14.5316 21.1178 14.9234 19.8483C15.3152 18.5787 16.0446 17.4394 17.0336 16.5521C18.0226 15.6649 19.234 15.063 20.5385 14.8107C21.0248 14.7135 21.4525 14.4271 21.7275 14.0145C22.0026 13.6019 22.1025 13.097 22.0052 12.6107C21.908 12.1245 21.6215 11.6968 21.209 11.4218C20.7964 11.1467 20.2914 11.0468 19.8052 11.1441C17.8584 11.542 16.0557 12.4598 14.5887 13.8C13.1217 15.1403 12.0451 16.8529 11.4733 18.7559C10.9015 20.6589 10.8559 22.6812 11.3412 24.6081C11.8266 26.5349 12.8248 28.2944 14.2299 29.6994C15.6349 31.1045 17.3943 32.1027 19.3212 32.5881C21.2481 33.0734 23.2704 33.0278 25.1734 32.456C27.0764 31.8842 28.789 30.8076 30.1292 29.3405C31.4695 27.8735 32.3873 26.0709 32.7852 24.1241V24.1974Z" fill="#2554E7"/>
                                </svg>
                            | Опеределяем уровень знаний и цели обучения
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions.main-descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.main-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .accordion-block__list_item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.2" d="M5.50521 14.6641H31.1719V10.9974C31.1719 10.5112 31.365 10.0449 31.7088 9.70103C32.0527 9.35722 32.519 9.16406 33.0052 9.16406H36.6719C37.6443 9.16406 38.577 9.55037 39.2646 10.238C39.9522 10.9256 40.3385 11.8583 40.3385 12.8307V36.6641C40.3385 37.6365 39.9522 38.5692 39.2646 39.2568C38.577 39.9444 37.6443 40.3307 36.6719 40.3307H5.50521C5.01898 40.3307 4.55266 40.1376 4.20885 39.7938C3.86503 39.4499 3.67188 38.9836 3.67188 38.4974V16.4974C3.67188 16.0112 3.86503 15.5448 4.20885 15.201C4.55266 14.8572 5.01898 14.6641 5.50521 14.6641Z" fill="#2554E7"/>
                                    <path d="M32.9976 9.16428H36.6643C37.6367 9.16428 38.5694 9.55059 39.257 10.2382C39.9446 10.9259 40.3309 11.8585 40.3309 12.8309V36.6643C40.3309 35.6918 39.9446 34.7592 39.257 34.0716C38.5694 33.3839 37.6367 32.9976 36.6643 32.9976H32.9976C32.5114 32.9976 32.0451 32.8045 31.7013 32.4606C31.3574 32.1168 31.1643 31.6505 31.1643 31.1643V10.9976C31.1643 10.5114 31.3574 10.0451 31.7013 9.70125C32.0451 9.35743 32.5114 9.16428 32.9976 9.16428ZM4.19595 9.32928L16.3143 21.4659C16.6656 21.801 17.1305 21.9909 17.6159 21.9976H20.1643C20.6505 21.9976 21.1168 21.8045 21.4606 21.4606C21.8045 21.1168 21.9976 20.6505 21.9976 20.1643V17.6159C21.9909 17.1305 21.801 16.6656 21.4659 16.3143L9.32928 4.19595C8.98658 3.86003 8.52583 3.67188 8.04595 3.67188C7.56607 3.67188 7.10532 3.86003 6.76261 4.19595L4.19595 6.76261C3.86003 7.10532 3.67188 7.56607 3.67188 8.04595C3.67188 8.52583 3.86003 8.98658 4.19595 9.32928Z" fill="#2554E7"/>
                                </svg>
                            | Формируем персональный план подготовки
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions.main-descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.main-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .accordion-block__list_item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M38.7069 11.622C38.204 11.2873 37.6262 11.0821 37.0249 11.0245C36.4237 10.9669 35.8174 11.0588 35.2602 11.292L26.8085 14.812C26.4737 14.9495 26.1871 15.1831 25.9849 15.4832C25.7826 15.7834 25.6737 16.1367 25.6719 16.4986V27.4986C25.6737 27.8606 25.7826 28.2139 25.9849 28.514C26.1871 28.8142 26.4737 29.0478 26.8085 29.1853L35.2602 32.7053C35.7052 32.9005 36.186 33.0004 36.6719 32.9986C37.3979 33.0034 38.1081 32.7859 38.7069 32.3753C39.2079 32.041 39.6188 31.5885 39.9034 31.0577C40.188 30.5269 40.3374 29.9342 40.3385 29.332V14.6653C40.3374 14.063 40.188 13.4703 39.9034 12.9395C39.6188 12.4087 39.2079 11.9562 38.7069 11.622Z" fill="#2554E7"/>
                                    <path opacity="0.2" d="M25.6719 9.16406H7.33854C5.3135 9.16406 3.67188 10.8057 3.67188 12.8307V31.1641C3.67188 33.1891 5.3135 34.8307 7.33854 34.8307H25.6719C27.6969 34.8307 29.3385 33.1891 29.3385 31.1641V12.8307C29.3385 10.8057 27.6969 9.16406 25.6719 9.16406Z" fill="#2554E7"/>
                                    <path d="M16.5 20.1667H12.8333C12.3471 20.1667 11.8808 19.9735 11.537 19.6297C11.1932 19.2859 11 18.8196 11 18.3333C11 17.8471 11.1932 17.3808 11.537 17.037C11.8808 16.6932 12.3471 16.5 12.8333 16.5H16.5C16.9862 16.5 17.4525 16.6932 17.7964 17.037C18.1402 17.3808 18.3333 17.8471 18.3333 18.3333C18.3333 18.8196 18.1402 19.2859 17.7964 19.6297C17.4525 19.9735 16.9862 20.1667 16.5 20.1667Z" fill="#2554E7"/>
                                </svg>
                            | Объясним весь материал в интерактивных лекциях
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions.main-descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.main-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .accordion-block__list_item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.9948 3.66406H32.9948C33.9672 3.66406 34.8999 4.05037 35.5875 4.738C36.2751 5.42564 36.6615 6.35827 36.6615 7.33073V20.1641C36.6615 20.6503 36.4683 21.1166 36.1245 21.4604C35.7807 21.8042 35.3144 21.9974 34.8281 21.9974H9.16146C8.67523 21.9974 8.20891 21.8042 7.8651 21.4604C7.52128 21.1166 7.32812 20.6503 7.32812 20.1641V7.33073C7.32812 6.35827 7.71443 5.42564 8.40207 4.738C9.0897 4.05037 10.0223 3.66406 10.9948 3.66406Z" fill="#2554E7"/>
                                    <path opacity="0.2" d="M7.33854 14.6641H24.9202C25.8911 14.6682 26.8207 15.0572 27.5052 15.7457L30.0902 18.3307H36.6719C37.6443 18.3307 38.577 18.717 39.2646 19.4047C39.9522 20.0923 40.3385 21.0249 40.3385 21.9974V36.6641C40.3385 37.6365 39.9522 38.5692 39.2646 39.2568C38.577 39.9444 37.6443 40.3307 36.6719 40.3307H7.33854C6.36608 40.3307 5.43345 39.9444 4.74582 39.2568C4.05818 38.5692 3.67188 37.6365 3.67188 36.6641V18.3307C3.67187 17.3583 4.05818 16.4256 4.74582 15.738C5.43345 15.0504 6.36608 14.6641 7.33854 14.6641Z" fill="#2554E7"/>
                                    <path d="M11.0052 31.1641H18.3385C18.8248 31.1641 19.2911 31.3572 19.6349 31.701C19.9787 32.0448 20.1719 32.5112 20.1719 32.9974C20.1719 33.4836 19.9787 33.9499 19.6349 34.2938C19.2911 34.6376 18.8248 34.8307 18.3385 34.8307H11.0052C10.519 34.8307 10.0527 34.6376 9.70885 34.2938C9.36503 33.9499 9.17188 33.4836 9.17188 32.9974C9.17188 32.5112 9.36503 32.0448 9.70885 31.701C10.0527 31.3572 10.519 31.1641 11.0052 31.1641Z" fill="#2554E7"/>
                                </svg>
                            | Выдадим полный пакет материалов
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions.main-descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.main-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .accordion-block__list_item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.2" d="M14.6667 3.66409H31.1667C31.4079 3.6627 31.6471 3.70894 31.8705 3.80018C32.0939 3.89141 32.297 4.02584 32.4683 4.19576L39.8017 11.5291C39.9716 11.7004 40.106 11.9036 40.1972 12.1269C40.2885 12.3503 40.3347 12.5895 40.3333 12.8308V36.6641C40.3333 37.6366 39.947 38.5692 39.2594 39.2568C38.5718 39.9445 37.6391 40.3308 36.6667 40.3308H17.3433L11 36.6641V7.33076C11 6.3583 11.3863 5.42567 12.0739 4.73803C12.7616 4.0504 13.6942 3.66409 14.6667 3.66409Z" fill="#2554E7"/>
                                    <path d="M3.66788 30.0313C3.77098 29.6936 3.96943 29.3928 4.23937 29.1651C4.50931 28.9375 4.83925 28.7926 5.18954 28.748L9.31454 28.198L11.1479 24.8063C11.305 24.5153 11.5379 24.2721 11.8219 24.1027C12.1059 23.9332 12.4305 23.8438 12.7612 23.8438C13.0919 23.8438 13.4165 23.9332 13.7005 24.1027C13.9846 24.2721 14.2175 24.5153 14.3745 24.8063L16.2079 28.198L20.3329 28.748C20.6826 28.7917 21.0123 28.9353 21.2825 29.1615C21.5527 29.3878 21.752 29.6871 21.8565 30.0237C21.9609 30.3603 21.9662 30.7199 21.8715 31.0594C21.7769 31.3989 21.5864 31.7039 21.3229 31.938L18.4262 34.5413L19.1045 38.208C19.1576 38.5384 19.1191 38.8771 18.9933 39.1873C18.8676 39.4975 18.6593 39.7673 18.391 39.9676C18.1228 40.1678 17.8049 40.2908 17.4718 40.3231C17.1386 40.3555 16.803 40.2961 16.5012 40.1513L12.8345 38.318L9.16788 40.1513C8.92338 40.2741 8.65315 40.337 8.37954 40.3346C8.10832 40.3391 7.83949 40.2833 7.59245 40.1712C7.3454 40.0592 7.12629 39.8938 6.95091 39.6868C6.77554 39.4799 6.64827 39.2366 6.57829 38.9745C6.5083 38.7125 6.49735 38.4381 6.54621 38.1713L7.20621 34.5046L4.27288 31.938C3.99821 31.7129 3.79483 31.4129 3.68742 31.0744C3.58002 30.7359 3.57323 30.3736 3.66788 30.0313Z" fill="#2554E7"/>
                                </svg>
                            | Прорешаем все темы
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions.main-descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.main-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .accordion-block__list_item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.2" d="M36.6719 5.5H7.33854C6.36608 5.5 5.43345 5.88631 4.74582 6.57394C4.05818 7.26157 3.67188 8.19421 3.67188 9.16667V36.6667C3.67188 37.6391 4.05818 38.5718 4.74582 39.2594C5.43345 39.947 6.36608 40.3333 7.33854 40.3333H27.5052C27.7465 40.3347 27.9857 40.2885 28.209 40.1972C28.4324 40.106 28.6356 39.9716 28.8069 39.8017L39.8069 28.8017C39.9768 28.6304 40.1112 28.4272 40.2025 28.2038C40.2937 27.9805 40.3399 27.7413 40.3385 27.5V9.16667C40.3385 8.19421 39.9522 7.26157 39.2646 6.57394C38.577 5.88631 37.6443 5.5 36.6719 5.5Z" fill="#2554E7"/>
                                    <path d="M39.8069 28.8017L28.8069 39.8017C28.5456 40.0581 28.2136 40.2305 27.8535 40.2967L26.0202 31.24C25.9702 30.9949 25.9709 30.7421 26.0223 30.4973C26.0736 30.2525 26.1745 30.0208 26.3188 29.8164C26.4631 29.612 26.6476 29.4394 26.8611 29.309C27.0746 29.1786 27.3125 29.0933 27.5602 29.0583L40.2652 27.225C40.3166 27.5053 40.302 27.7938 40.2224 28.0675C40.1429 28.3412 40.0006 28.5926 39.8069 28.8017ZM36.6719 5.5H7.33854C6.36608 5.5 5.43345 5.88631 4.74582 6.57394C4.05818 7.26157 3.67188 8.19421 3.67188 9.16667V14.6667H40.3385V9.16667C40.3385 8.19421 39.9522 7.26157 39.2646 6.57394C38.577 5.88631 37.6443 5.5 36.6719 5.5Z" fill="#2554E7"/>
                                    <path opacity="0.2" d="M31.1667 10.9974C30.6804 10.9974 30.2141 10.8042 29.8703 10.4604C29.5265 10.1166 29.3333 9.65029 29.3333 9.16406V5.4974C29.3333 5.01117 29.5265 4.54485 29.8703 4.20103C30.2141 3.85722 30.6804 3.66406 31.1667 3.66406C31.6529 3.66406 32.1192 3.85722 32.463 4.20103C32.8068 4.54485 33 5.01117 33 5.4974V9.16406C33 9.65029 32.8068 10.1166 32.463 10.4604C32.1192 10.8042 31.6529 10.9974 31.1667 10.9974ZM23.8333 9.16406V5.4974C23.8333 5.01117 23.6402 4.54485 23.2964 4.20103C22.9525 3.85722 22.4862 3.66406 22 3.66406C21.5138 3.66406 21.0475 3.85722 20.7036 4.20103C20.3598 4.54485 20.1667 5.01117 20.1667 5.4974V9.16406C20.1667 9.65029 20.3598 10.1166 20.7036 10.4604C21.0475 10.8042 21.5138 10.9974 22 10.9974C22.4862 10.9974 22.9525 10.8042 23.2964 10.4604C23.6402 10.1166 23.8333 9.65029 23.8333 9.16406ZM14.6667 9.16406V5.4974C14.6667 5.01117 14.4735 4.54485 14.1297 4.20103C13.7859 3.85722 13.3196 3.66406 12.8333 3.66406C12.3471 3.66406 11.8808 3.85722 11.537 4.20103C11.1932 4.54485 11 5.01117 11 5.4974V9.16406C11 9.65029 11.1932 10.1166 11.537 10.4604C11.8808 10.8042 12.3471 10.9974 12.8333 10.9974C13.3196 10.9974 13.7859 10.8042 14.1297 10.4604C14.4735 10.1166 14.6667 9.65029 14.6667 9.16406Z" fill="#2554E7"/>
                                </svg>
                            | Будем проводить пробные экзамены каждый месяц
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions.main-descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.main-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .accordion-block__list_item.blue-item
                details.main-accordion
                    summary.main-accordion__summary
                        span.main-accordion__title
                            .main-accordion__title-icon
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path opacity="0.5" d="M16.3197 3.66412H13.0014C12.6956 3.66476 12.3948 3.74187 12.1265 3.88844C11.8581 4.03501 11.6306 4.24638 11.4648 4.5033C11.299 4.76023 11.2001 5.05455 11.1771 5.35946C11.1541 5.66438 11.2077 5.97022 11.3331 6.24912L17.9697 21.1358C19.2197 20.501 20.6011 20.1682 22.0031 20.1641C23.0689 20.1693 24.1249 20.3681 25.1197 20.7508L18.0064 4.74579C17.8605 4.42127 17.6234 4.14621 17.3239 3.95415C17.0244 3.76208 16.6755 3.66131 16.3197 3.66412Z" fill="white"/>
                                    <path d="M27.6828 3.66412H31.0011C31.3069 3.66476 31.6077 3.74187 31.8761 3.88844C32.1444 4.03501 32.3719 4.24638 32.5377 4.5033C32.7035 4.76023 32.8024 5.05455 32.8255 5.35946C32.8485 5.66438 32.7949 5.97022 32.6695 6.24912L26.0328 21.1358C24.7828 20.501 23.4014 20.1682 21.9995 20.1641C20.9336 20.1693 19.8776 20.3681 18.8828 20.7508L25.9961 4.74579C26.142 4.42127 26.3791 4.14621 26.6786 3.95415C26.9781 3.76208 27.327 3.66131 27.6828 3.66412Z" fill="white"/>
                                    <path d="M22 40.3359C28.0751 40.3359 33 35.4111 33 29.3359C33 23.2608 28.0751 18.3359 22 18.3359C15.9249 18.3359 11 23.2608 11 29.3359C11 35.4111 15.9249 40.3359 22 40.3359Z" fill="white"/>
                                    <path d="M20.776 33.9302C20.5188 33.9272 20.2651 33.8702 20.0313 33.7629C19.7976 33.6555 19.5891 33.5001 19.4193 33.3068L16.9627 30.5568C16.6393 30.1922 16.4741 29.714 16.5033 29.2275C16.5325 28.741 16.7538 28.286 17.1185 27.9627C17.4832 27.6393 17.9614 27.4741 18.4479 27.5033C18.9344 27.5325 19.3893 27.7538 19.7127 28.1185L20.776 29.3285L24.296 25.3685C24.4561 25.1879 24.6502 25.0407 24.8672 24.9351C25.0842 24.8296 25.3199 24.7678 25.5608 24.7533C25.8017 24.7388 26.0431 24.772 26.2712 24.8508C26.4993 24.9296 26.7096 25.0526 26.8902 25.2127C27.0707 25.3728 27.218 25.5669 27.3235 25.7839C27.4291 26.0009 27.4909 26.2366 27.5053 26.4775C27.5198 26.7184 27.4867 26.9597 27.4079 27.1878C27.3291 27.4159 27.2061 27.6263 27.046 27.8068L22.151 33.3068C21.9792 33.5024 21.7677 33.6591 21.5306 33.7666C21.2936 33.8741 21.0363 33.9298 20.776 33.9302Z" fill="#2554E7"/>
                                </svg>
                            | Гарантируем результат или вернем деньги!
                        .main-accordion__icon
                            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L8 8L14 2" stroke="#0B1F33" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .accordion-block__content
                        .accordion-block__content_img
                            img(src="../img/accordion-preview.png", alt="img-preview")
                        .accordion-block__content_text-block
                            p.accordion-block__content_descriptions Готовим план подготовки и карту для поступления в ВУЗ или колледж. В рамках нашей платформы, будет сформированы персональные рекомендации для решения поставленных целей.
                            a(href="").accordion-block__btn.light-button Подробнее
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                    <path d="M10 8L14 12L10 16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
        