.main-container
    section.articles-columns
        .articles-columns
            .articles-columns__item
                h2.articles-columns__title Самое актуальное
                include articles
            .articles-columns__item Фильтры
               
