
section.articles-columns.main-container.large
    .articles-columns__item.main.small
        include textbook-content
        include download-materials
        include leave-a-comment
        include author-block
    .toolbar.visible
        .toolbar__content
            .hidden-on-mobile.toolbar__wrap
                button.grey-button
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 4.79688H22.7992" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.19922 12H16.7992" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.19922 19.1953H10.7992" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    | Оглавление
                button.grey-button
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.2762 19.8617L12.7341 20.7775C11.9605 22.0845 10.0435 22.0845 9.26985 20.7775L8.72774 19.8617C8.5103 19.4943 8.37317 19.2642 8.2518 19.0976C8.13967 18.9438 8.07508 18.8935 8.02767 18.866C7.98273 18.8398 7.90594 18.8077 7.70783 18.7857C7.49582 18.7623 7.2177 18.7567 6.77861 18.7491C5.52333 18.7275 4.60649 18.6535 3.80152 18.3201C2.39261 17.7365 1.27323 16.6171 0.689643 15.2082C0.455183 14.6422 0.351453 14.0301 0.301263 13.2946C0.251947 12.5718 0.25195 11.6771 0.251953 10.5359V10.5078V9.50781V9.46852C0.251947 7.86511 0.251942 6.60812 0.347423 5.60392C0.444743 4.58037 0.646523 3.74226 1.09927 3.00344C1.57339 2.22975 2.22389 1.57925 2.99758 1.10513C3.7364 0.652383 4.57451 0.450603 5.59806 0.353283C6.60227 0.257801 7.85925 0.257806 9.46267 0.257812H9.50195H12.502H12.5412C14.1447 0.257806 15.4016 0.257801 16.4059 0.353283C17.4294 0.450603 18.2675 0.652383 19.0064 1.10513C19.7801 1.57925 20.4306 2.22975 20.9047 3.00344C21.3574 3.74226 21.5592 4.58037 21.6565 5.60392C21.752 6.60803 21.752 7.86488 21.752 9.46808V9.50781V10.5078V10.5353C21.752 11.6768 21.752 12.5717 21.7027 13.2946C21.6525 14.0301 21.5488 14.6422 21.3143 15.2082C20.7307 16.6171 19.6113 17.7365 18.2024 18.3201C17.3975 18.6535 16.4806 18.7275 15.2253 18.7491C14.7862 18.7567 14.5081 18.7623 14.2961 18.7857C14.098 18.8077 14.0212 18.8398 13.9762 18.866C13.9288 18.8935 13.8642 18.9438 13.7521 19.0976C13.6307 19.2642 13.4936 19.4943 13.2762 19.8617Z" fill="#2554E7"/>
                    </svg>
                    | Комментировать
            .info-and-social-block__social.wrapper
                span.info-and-social-block__subtitle Поделиться
                ul.info-and-social-block__social_list
                    li.info-and-social-block__social_list-item
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#FF7700" fill-opacity="0.08"/>
                                <path d="M25.3934 20.2339C24.9497 20.6826 24.4215 21.0388 23.8392 21.2819C23.2569 21.525 22.6322 21.6502 22.0013 21.6502C21.3703 21.6502 20.7456 21.525 20.1633 21.2819C19.581 21.0388 19.0528 20.6826 18.6092 20.2339C17.9404 19.5587 17.4855 18.7013 17.3014 17.7689C17.1173 16.8366 17.2122 15.8706 17.5742 14.9919C17.9362 14.1132 18.5492 13.3607 19.3366 12.8285C20.124 12.2964 21.0508 12.0082 22.0012 12C22.9533 12.0065 23.8823 12.2941 24.6715 12.8267C25.4608 13.3593 26.0751 14.1131 26.4375 14.9936C26.7998 15.8741 26.894 16.8421 26.7082 17.7759C26.5224 18.7097 26.0649 19.5679 25.3932 20.2427L25.3934 20.2339ZM21.9924 14.6312C21.4138 14.6339 20.8599 14.8657 20.4517 15.2757C20.0436 15.6858 19.8144 16.2409 19.8144 16.8194C19.8144 17.398 20.0436 17.953 20.4517 18.3631C20.8599 18.7732 21.4138 19.0049 21.9924 19.0077C22.571 19.0049 23.1249 18.7732 23.533 18.3631C23.9412 17.953 24.1703 17.398 24.1703 16.8194C24.1703 16.2409 23.9412 15.6858 23.533 15.2757C23.1249 14.8657 22.571 14.6339 21.9924 14.6312ZM27.0402 21.666L28.4453 23.5992C28.5169 23.6977 28.499 23.8319 28.4095 23.9035C27.2457 24.8525 25.8804 25.5229 24.4178 25.8635L27.1297 31.1259C27.1483 31.16 27.1578 31.1984 27.1571 31.2373C27.1564 31.2762 27.1456 31.3142 27.1257 31.3476C27.1058 31.3811 27.0776 31.4087 27.0437 31.4279C27.0099 31.4471 26.9716 31.4571 26.9328 31.457H24.024C23.9345 31.457 23.854 31.4033 23.8182 31.3228L22.0013 26.9821L20.1755 31.3228C20.1581 31.3628 20.1293 31.3968 20.0927 31.4207C20.0561 31.4446 20.0134 31.4572 19.9697 31.457H17.061C16.8909 31.457 16.7925 31.278 16.8641 31.1259L19.5848 25.8635C18.1528 25.5234 16.7745 24.879 15.5931 23.9035C15.5482 23.8681 15.5185 23.8169 15.5102 23.7603C15.5019 23.7037 15.5155 23.646 15.5484 23.5992L16.9625 21.675C16.981 21.6499 17.0043 21.6288 17.0311 21.6129C17.058 21.597 17.0877 21.5867 17.1186 21.5825C17.1495 21.5783 17.1809 21.5804 17.2109 21.5886C17.241 21.5968 17.2691 21.611 17.2936 21.6302C18.5873 22.8 20.2577 23.4669 22.0013 23.5097C23.7465 23.5097 25.3754 22.7758 26.7089 21.6302C26.7984 21.5407 26.9595 21.5586 27.0401 21.666L27.0402 21.666Z" fill="#FF7700"/>
                            </svg>
                    li.info-and-social-block__social_list-item
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#0077FF" fill-opacity="0.08"/>
                                <path d="M22.8495 28.0295C16.3535 28.0295 12.6469 23.5122 12.4922 15.9922H15.7455C15.8522 21.5122 18.2522 23.8482 20.1535 24.3309V15.9922H23.2202V20.7522C25.0949 20.5469 27.0682 18.3789 27.7322 15.9922H30.8015C30.2895 18.9309 28.1509 21.1015 26.6309 21.9922C28.1509 22.7149 30.5855 24.6055 31.5109 28.0295H28.1402C27.4149 25.7415 25.6069 23.9682 23.2229 23.7282V28.0295H22.8495Z" fill="#0077FF"/>
                            </svg>
                    li.info-and-social-block__social_list-item
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#179EDF" fill-opacity="0.08"/>
                                <path d="M29.7096 13.6467C29.7096 13.6467 31.6523 12.8892 31.4904 14.7288C31.4364 15.4863 30.9508 18.1376 30.573 21.0053L29.2779 29.5001C29.2779 29.5001 29.17 30.7446 28.1987 30.961C27.2273 31.1774 25.7704 30.2035 25.5005 29.9871C25.2847 29.8248 21.4534 27.3899 20.1043 26.1996C19.7265 25.8749 19.2948 25.2256 20.1582 24.4681L25.8243 19.0574C26.4719 18.4081 27.1194 16.8931 24.4213 18.7328L16.8665 23.873C16.8665 23.873 16.0031 24.414 14.3843 23.9271L10.8767 22.8449C10.8767 22.8449 9.58161 22.0333 11.7941 21.2217C17.1903 18.6786 23.8277 16.0815 29.7096 13.6467Z" fill="#179EDF"/>
                            </svg>
            .visible-on-mobile.toolbar__wrap
                button.pale-blue-button
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 4.79688H22.7992" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.19922 12H16.7992" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.19922 19.1953H10.7992" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    | Оглавление
                button.main-button-medium
                    <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.25 0.25C11.4551 0.25 10 1.70507 10 3.5C10 3.69591 10.0173 3.88776 10.0506 4.07412L5.31991 7.38558C5.29587 7.4024 5.27312 7.42038 5.25168 7.43939C4.69993 7.00747 4.00503 6.75 3.25 6.75C1.45507 6.75 0 8.2051 0 10C0 11.7949 1.45507 13.25 3.25 13.25C4.00503 13.25 4.69993 12.9925 5.25168 12.5606C5.27312 12.5796 5.29587 12.5976 5.31991 12.6144L10.0506 15.9259C10.0173 16.1122 10 16.3041 10 16.5C10 18.2949 11.4551 19.75 13.25 19.75C15.0449 19.75 16.5 18.2949 16.5 16.5C16.5 14.7051 15.0449 13.25 13.25 13.25C12.1972 13.25 11.2613 13.7506 10.6674 14.5267L6.18806 11.3911C6.38809 10.9694 6.5 10.4978 6.5 10C6.5 9.5022 6.38809 9.0306 6.18806 8.6089L10.6674 5.4733C11.2613 6.24942 12.1972 6.75 13.25 6.75C15.0449 6.75 16.5 5.29493 16.5 3.5C16.5 1.70507 15.0449 0.25 13.25 0.25ZM11.5 3.5C11.5 2.5335 12.2835 1.75 13.25 1.75C14.2165 1.75 15 2.5335 15 3.5C15 4.4665 14.2165 5.25 13.25 5.25C12.2835 5.25 11.5 4.4665 11.5 3.5ZM3.25 8.25C2.2835 8.25 1.5 9.0335 1.5 10C1.5 10.9665 2.2835 11.75 3.25 11.75C4.2165 11.75 5 10.9665 5 10C5 9.0335 4.2165 8.25 3.25 8.25ZM13.25 14.75C12.2835 14.75 11.5 15.5335 11.5 16.5C11.5 17.4665 12.2835 18.25 13.25 18.25C14.2165 18.25 15 17.4665 15 16.5C15 15.5335 14.2165 14.75 13.25 14.75Z" fill="white"/>
                    </svg>
                    | Поделиться
    .visible-on-mobile
        .modal-overlay
            .modal
                button.modal__close-btn
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2873_18660)">
                        <path d="M1 1L11 11" stroke="#9AA3AD" stroke-linecap="round"/>
                        <path d="M11 1L1 11" stroke="#9AA3AD" stroke-linecap="round"/>
                        </g>
                        <defs>
                        <clipPath>
                        <rect width="12" height="12" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                .modal__content
                    h3.modal__title О чем эта статья:
                    ul.info-and-social-block__list.wrapper
                        li.info-and-social-block__list_item
                            a(href='')
                                span Тип обучения на платформе
                                .info-and-social-block__list_icon
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 8L14 12L10 16" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                        li.info-and-social-block__list_item
                            a(href='')
                                span Новые критерия отбора
                                .info-and-social-block__list_icon
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 8L14 12L10 16" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                        li.info-and-social-block__list_item
                            a(href='')
                                span Цены на платное образование
                                .info-and-social-block__list_icon
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 8L14 12L10 16" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
    .visible-on-mobile
        .modal-overlay
            .modal
                button.modal__close-btn
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2873_18660)">
                        <path d="M1 1L11 11" stroke="#9AA3AD" stroke-linecap="round"/>
                        <path d="M11 1L1 11" stroke="#9AA3AD" stroke-linecap="round"/>
                        </g>
                        <defs>
                        <clipPath>
                        <rect width="12" height="12" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                .modal__content
                    h3.modal__title Поделиться
                    ul.social-list
                        li
                            a(href='').social-list__item
                                .social-list__icon
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="32" height="32" rx="16" fill="#0077FF" fill-opacity="0.08"/>
                                        <path d="M16.6371 20.5202C11.7651 20.5202 8.98514 17.1322 8.86914 11.4922H11.3091C11.3891 15.6322 13.1891 17.3842 14.6151 17.7462V11.4922H16.9151V15.0622C18.3211 14.9082 19.8011 13.2822 20.2991 11.4922H22.6011C22.2171 13.6962 20.6131 15.3242 19.4731 15.9922C20.6131 16.5342 22.4391 17.9522 23.1331 20.5202H20.6051C20.0611 18.8042 18.7051 17.4742 16.9171 17.2942V20.5202H16.6371Z" fill="#0077FF"/>
                                    </svg>
                                span ВКонтакте
                        li
                            a(href='').social-list__item
                                .social-list__icon
                                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="44" height="44" rx="22" fill="#FF7700" fill-opacity="0.08"/>
                                        <path d="M25.3934 20.2339C24.9497 20.6826 24.4215 21.0388 23.8392 21.2819C23.2569 21.525 22.6322 21.6502 22.0013 21.6502C21.3703 21.6502 20.7456 21.525 20.1633 21.2819C19.581 21.0388 19.0528 20.6826 18.6092 20.2339C17.9404 19.5587 17.4855 18.7013 17.3014 17.7689C17.1173 16.8366 17.2122 15.8706 17.5742 14.9919C17.9362 14.1132 18.5492 13.3607 19.3366 12.8285C20.124 12.2964 21.0508 12.0082 22.0012 12C22.9533 12.0065 23.8823 12.2941 24.6715 12.8267C25.4608 13.3593 26.0751 14.1131 26.4375 14.9936C26.7998 15.8741 26.894 16.8421 26.7082 17.7759C26.5224 18.7097 26.0649 19.5679 25.3932 20.2427L25.3934 20.2339ZM21.9924 14.6312C21.4138 14.6339 20.8599 14.8657 20.4517 15.2757C20.0436 15.6858 19.8144 16.2409 19.8144 16.8194C19.8144 17.398 20.0436 17.953 20.4517 18.3631C20.8599 18.7732 21.4138 19.0049 21.9924 19.0077C22.571 19.0049 23.1249 18.7732 23.533 18.3631C23.9412 17.953 24.1703 17.398 24.1703 16.8194C24.1703 16.2409 23.9412 15.6858 23.533 15.2757C23.1249 14.8657 22.571 14.6339 21.9924 14.6312ZM27.0402 21.666L28.4453 23.5992C28.5169 23.6977 28.499 23.8319 28.4095 23.9035C27.2457 24.8525 25.8804 25.5229 24.4178 25.8635L27.1297 31.1259C27.1483 31.16 27.1578 31.1984 27.1571 31.2373C27.1564 31.2762 27.1456 31.3142 27.1257 31.3476C27.1058 31.3811 27.0776 31.4087 27.0437 31.4279C27.0099 31.4471 26.9716 31.4571 26.9328 31.457H24.024C23.9345 31.457 23.854 31.4033 23.8182 31.3228L22.0013 26.9821L20.1755 31.3228C20.1581 31.3628 20.1293 31.3968 20.0927 31.4207C20.0561 31.4446 20.0134 31.4572 19.9697 31.457H17.061C16.8909 31.457 16.7925 31.278 16.8641 31.1259L19.5848 25.8635C18.1528 25.5234 16.7745 24.879 15.5931 23.9035C15.5482 23.8681 15.5185 23.8169 15.5102 23.7603C15.5019 23.7037 15.5155 23.646 15.5484 23.5992L16.9625 21.675C16.981 21.6499 17.0043 21.6288 17.0311 21.6129C17.058 21.597 17.0877 21.5867 17.1186 21.5825C17.1495 21.5783 17.1809 21.5804 17.2109 21.5886C17.241 21.5968 17.2691 21.611 17.2936 21.6302C18.5873 22.8 20.2577 23.4669 22.0013 23.5097C23.7465 23.5097 25.3754 22.7758 26.7089 21.6302C26.7984 21.5407 26.9595 21.5586 27.0401 21.666L27.0402 21.666Z" fill="#FF7700"/>
                                    </svg>
                                span Одноклассники
                        li
                            a(href='').social-list__item
                                .social-list__icon
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="32" height="32" rx="16" fill="#179EDF" fill-opacity="0.08"/>
                                        <path d="M21.7803 9.73306C21.7803 9.73306 23.2373 9.16493 23.1158 10.5447C23.0754 11.1128 22.7111 13.1012 22.4278 15.252L21.4565 21.6231C21.4565 21.6231 21.3756 22.5565 20.6471 22.7188C19.9186 22.8811 18.8258 22.1507 18.6235 21.9884C18.4616 21.8666 15.5881 20.0405 14.5763 19.1477C14.293 18.9042 13.9692 18.4173 14.6167 17.8491L18.8663 13.7911C19.352 13.3042 19.8376 12.1679 17.814 13.5476L12.148 17.4028C12.148 17.4028 11.5004 17.8086 10.2863 17.4434L7.65558 16.6317C7.65558 16.6317 6.68425 16.023 8.3436 15.4143C12.3908 13.507 17.3689 11.5592 21.7803 9.73306Z" fill="#179EDF"/>
                                    </svg>
                                span Telegram
                .modal__bottom
                    button.pale-blue-button
                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 1H14C16.7614 1 19 3.23858 19 6C19 8.7614 16.7614 11 14 11H12M8 1H6C3.23858 1 1 3.23858 1 6C1 8.7614 3.23858 11 6 11H8M6 6H14" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Скопировать ссылку  
                                 
    .visible-on-desktop.block.main-container.rating-block-wrap
        include rating-block
    .visible-on-desktop
        .textbook-container
            include comments
            include textbook-detailed-articles-slider
    .articles-columns__item.right.textbook-wrap
        .articles-columns__item_sticky
            include info-and-social-block
            .hidden-on-desktop.block
                include comments-block
            .hidden-on-desktop.block
                include rating-block
         
