section.articles
        ul.articles__list
            li.articles__list_item
                .article
                    .article__header.pale-red
                        .article__header_bg
                            img(src="../img/article-bg2.png", alt="background")
                        .article__header_img
                            img(src="../img/article2.png", alt="img")
                        .article__header_content
                            .article__header_tag Лайфхаки
                            .article__header_time
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 4.25V8L9.875 6.875M14.75 8C14.75 11.728 11.728 14.75 8 14.75C4.27208 14.75 1.25 11.728 1.25 8C1.25 4.27208 4.27208 1.25 8 1.25C11.728 1.25 14.75 4.27208 14.75 8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | 3 минуты  
                    .article__body
                        div
                            span.article__date 21 марта 2024
                            h3.article__title Методика подготовки к&nbsp;ЕГЭ за&nbsp;2&nbsp;недели
                        .article__stats
                            .article__stats_social
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.125 10C8.125 8.9645 8.9645 8.125 10 8.125C11.0355 8.125 11.875 8.9645 11.875 10C11.875 11.0355 11.0355 11.875 10 11.875C8.9645 11.875 8.125 11.0355 8.125 10Z" fill="#CAD0D6"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66797 9.99479C1.66797 11.361 2.0221 11.821 2.73038 12.7412C4.1446 14.5785 6.51639 16.6615 10.0013 16.6615C13.4862 16.6615 15.858 14.5785 17.2722 12.7412C17.9805 11.821 18.3346 11.361 18.3346 9.99479C18.3346 8.62862 17.9805 8.16857 17.2722 7.2484C15.858 5.41109 13.4862 3.32812 10.0013 3.32812C6.51639 3.32812 4.1446 5.41109 2.73038 7.2484C2.0221 8.16857 1.66797 8.62862 1.66797 9.99479ZM10.0013 6.86979C8.27541 6.86979 6.8763 8.2689 6.8763 9.99479C6.8763 11.7207 8.27541 13.1198 10.0013 13.1198C11.7272 13.1198 13.1263 11.7207 13.1263 9.99479C13.1263 8.2689 11.7272 6.86979 10.0013 6.86979Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 1333
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8965 17.3835L11.4447 18.1466C10.8001 19.2358 9.20255 19.2358 8.55789 18.1466L8.10613 17.3835C7.92493 17.0773 7.81065 16.8855 7.70951 16.7467C7.61607 16.6185 7.56224 16.5766 7.52274 16.5537C7.48529 16.5319 7.42129 16.5051 7.2562 16.4868C7.07953 16.4673 6.84776 16.4626 6.48185 16.4563C5.43579 16.4383 4.67175 16.3766 4.00094 16.0988C2.82685 15.6125 1.89404 14.6796 1.40771 13.5055C1.21233 13.0339 1.12589 12.5238 1.08406 11.9109C1.04296 11.3086 1.04297 10.5629 1.04297 9.61195V9.58854V8.75521V8.72247C1.04296 7.38629 1.04296 6.3388 1.12253 5.50197C1.20363 4.64901 1.37178 3.95058 1.74907 3.3349C2.14417 2.69016 2.68625 2.14808 3.33099 1.75298C3.94668 1.37568 4.6451 1.20753 5.49806 1.12643C6.3349 1.04687 7.38238 1.04687 8.71856 1.04688H8.7513H11.2513H11.284C12.6202 1.04687 13.6677 1.04687 14.5046 1.12643C15.3575 1.20753 16.0559 1.37568 16.6716 1.75298C17.3164 2.14808 17.8585 2.69016 18.2536 3.3349C18.6308 3.95058 18.799 4.64901 18.8801 5.50197C18.9596 6.33873 18.9596 7.38611 18.9596 8.72212V8.75521V9.58854V9.61143C18.9596 10.5627 18.9596 11.3084 18.9186 11.9109C18.8767 12.5238 18.7903 13.0339 18.5949 13.5055C18.1086 14.6796 17.1757 15.6125 16.0016 16.0988C15.3309 16.3766 14.5668 16.4383 13.5207 16.4563C13.1548 16.4626 12.9231 16.4673 12.7464 16.4868C12.5813 16.5051 12.5173 16.5319 12.4798 16.5537C12.4403 16.5766 12.3865 16.6185 12.2931 16.7467C12.1919 16.8855 12.0776 17.0773 11.8965 17.3835Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 8
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 3.381C9.88794 3.26554 9.76553 3.14595 9.63177 3.02613C8.91078 2.38023 7.78618 1.66406 6.33203 1.66406C4.74872 1.66406 3.35806 2.20309 2.36093 3.21383C1.3638 4.22457 0.832031 5.63421 0.832031 7.23913C0.832031 8.85794 1.59624 10.5511 3.02285 12.2282C4.45427 13.9109 6.60787 15.6456 9.53815 17.3716C9.82289 17.5393 10.1745 17.5393 10.4592 17.3716C13.3828 15.6496 15.5375 13.9544 16.9709 12.2897C18.406 10.6232 19.1654 8.92917 19.1654 7.23913C19.1654 5.63421 18.6336 4.22457 17.6365 3.21383C16.6393 2.20309 15.2487 1.66406 13.6654 1.66406C12.2112 1.66406 11.0866 2.38023 10.3656 3.02613C10.2319 3.14595 10.1095 3.26554 9.9987 3.381Z" fill="#F14545"/>
                                    </svg>
                                    | 5
            li.articles__list_item
                .article
                    .article__header.pale-red
                        .article__header_bg
                            img(src="../img/article-bg2.png", alt="background")
                        .article__header_img
                            img(src="../img/article2.png", alt="img")
                        .article__header_content
                            .article__header_tag Лайфхаки
                            .article__header_time
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 4.25V8L9.875 6.875M14.75 8C14.75 11.728 11.728 14.75 8 14.75C4.27208 14.75 1.25 11.728 1.25 8C1.25 4.27208 4.27208 1.25 8 1.25C11.728 1.25 14.75 4.27208 14.75 8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | 3 минуты  
                    .article__body
                        div
                            span.article__date 21 марта 2024
                            h3.article__title Методика подготовки к&nbsp;ЕГЭ за&nbsp;2&nbsp;недели
                        .article__stats
                            .article__stats_social
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.125 10C8.125 8.9645 8.9645 8.125 10 8.125C11.0355 8.125 11.875 8.9645 11.875 10C11.875 11.0355 11.0355 11.875 10 11.875C8.9645 11.875 8.125 11.0355 8.125 10Z" fill="#CAD0D6"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66797 9.99479C1.66797 11.361 2.0221 11.821 2.73038 12.7412C4.1446 14.5785 6.51639 16.6615 10.0013 16.6615C13.4862 16.6615 15.858 14.5785 17.2722 12.7412C17.9805 11.821 18.3346 11.361 18.3346 9.99479C18.3346 8.62862 17.9805 8.16857 17.2722 7.2484C15.858 5.41109 13.4862 3.32812 10.0013 3.32812C6.51639 3.32812 4.1446 5.41109 2.73038 7.2484C2.0221 8.16857 1.66797 8.62862 1.66797 9.99479ZM10.0013 6.86979C8.27541 6.86979 6.8763 8.2689 6.8763 9.99479C6.8763 11.7207 8.27541 13.1198 10.0013 13.1198C11.7272 13.1198 13.1263 11.7207 13.1263 9.99479C13.1263 8.2689 11.7272 6.86979 10.0013 6.86979Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 1333
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8965 17.3835L11.4447 18.1466C10.8001 19.2358 9.20255 19.2358 8.55789 18.1466L8.10613 17.3835C7.92493 17.0773 7.81065 16.8855 7.70951 16.7467C7.61607 16.6185 7.56224 16.5766 7.52274 16.5537C7.48529 16.5319 7.42129 16.5051 7.2562 16.4868C7.07953 16.4673 6.84776 16.4626 6.48185 16.4563C5.43579 16.4383 4.67175 16.3766 4.00094 16.0988C2.82685 15.6125 1.89404 14.6796 1.40771 13.5055C1.21233 13.0339 1.12589 12.5238 1.08406 11.9109C1.04296 11.3086 1.04297 10.5629 1.04297 9.61195V9.58854V8.75521V8.72247C1.04296 7.38629 1.04296 6.3388 1.12253 5.50197C1.20363 4.64901 1.37178 3.95058 1.74907 3.3349C2.14417 2.69016 2.68625 2.14808 3.33099 1.75298C3.94668 1.37568 4.6451 1.20753 5.49806 1.12643C6.3349 1.04687 7.38238 1.04687 8.71856 1.04688H8.7513H11.2513H11.284C12.6202 1.04687 13.6677 1.04687 14.5046 1.12643C15.3575 1.20753 16.0559 1.37568 16.6716 1.75298C17.3164 2.14808 17.8585 2.69016 18.2536 3.3349C18.6308 3.95058 18.799 4.64901 18.8801 5.50197C18.9596 6.33873 18.9596 7.38611 18.9596 8.72212V8.75521V9.58854V9.61143C18.9596 10.5627 18.9596 11.3084 18.9186 11.9109C18.8767 12.5238 18.7903 13.0339 18.5949 13.5055C18.1086 14.6796 17.1757 15.6125 16.0016 16.0988C15.3309 16.3766 14.5668 16.4383 13.5207 16.4563C13.1548 16.4626 12.9231 16.4673 12.7464 16.4868C12.5813 16.5051 12.5173 16.5319 12.4798 16.5537C12.4403 16.5766 12.3865 16.6185 12.2931 16.7467C12.1919 16.8855 12.0776 17.0773 11.8965 17.3835Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 8
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 3.381C9.88794 3.26554 9.76553 3.14595 9.63177 3.02613C8.91078 2.38023 7.78618 1.66406 6.33203 1.66406C4.74872 1.66406 3.35806 2.20309 2.36093 3.21383C1.3638 4.22457 0.832031 5.63421 0.832031 7.23913C0.832031 8.85794 1.59624 10.5511 3.02285 12.2282C4.45427 13.9109 6.60787 15.6456 9.53815 17.3716C9.82289 17.5393 10.1745 17.5393 10.4592 17.3716C13.3828 15.6496 15.5375 13.9544 16.9709 12.2897C18.406 10.6232 19.1654 8.92917 19.1654 7.23913C19.1654 5.63421 18.6336 4.22457 17.6365 3.21383C16.6393 2.20309 15.2487 1.66406 13.6654 1.66406C12.2112 1.66406 11.0866 2.38023 10.3656 3.02613C10.2319 3.14595 10.1095 3.26554 9.9987 3.381Z" fill="#F14545"/>
                                    </svg>
                                    | 5
            li.articles__list_item
                .article
                    .article__header.pale-red
                        .article__header_bg
                            img(src="../img/article-bg2.png", alt="background")
                        .article__header_img
                            img(src="../img/article2.png", alt="img")
                        .article__header_content
                            .article__header_tag Лайфхаки
                            .article__header_time
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 4.25V8L9.875 6.875M14.75 8C14.75 11.728 11.728 14.75 8 14.75C4.27208 14.75 1.25 11.728 1.25 8C1.25 4.27208 4.27208 1.25 8 1.25C11.728 1.25 14.75 4.27208 14.75 8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | 3 минуты  
                    .article__body
                        div
                            span.article__date 21 марта 2024
                            h3.article__title Методика подготовки к&nbsp;ЕГЭ за&nbsp;2&nbsp;недели
                        .article__stats
                            .article__stats_social
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.125 10C8.125 8.9645 8.9645 8.125 10 8.125C11.0355 8.125 11.875 8.9645 11.875 10C11.875 11.0355 11.0355 11.875 10 11.875C8.9645 11.875 8.125 11.0355 8.125 10Z" fill="#CAD0D6"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66797 9.99479C1.66797 11.361 2.0221 11.821 2.73038 12.7412C4.1446 14.5785 6.51639 16.6615 10.0013 16.6615C13.4862 16.6615 15.858 14.5785 17.2722 12.7412C17.9805 11.821 18.3346 11.361 18.3346 9.99479C18.3346 8.62862 17.9805 8.16857 17.2722 7.2484C15.858 5.41109 13.4862 3.32812 10.0013 3.32812C6.51639 3.32812 4.1446 5.41109 2.73038 7.2484C2.0221 8.16857 1.66797 8.62862 1.66797 9.99479ZM10.0013 6.86979C8.27541 6.86979 6.8763 8.2689 6.8763 9.99479C6.8763 11.7207 8.27541 13.1198 10.0013 13.1198C11.7272 13.1198 13.1263 11.7207 13.1263 9.99479C13.1263 8.2689 11.7272 6.86979 10.0013 6.86979Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 1333
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8965 17.3835L11.4447 18.1466C10.8001 19.2358 9.20255 19.2358 8.55789 18.1466L8.10613 17.3835C7.92493 17.0773 7.81065 16.8855 7.70951 16.7467C7.61607 16.6185 7.56224 16.5766 7.52274 16.5537C7.48529 16.5319 7.42129 16.5051 7.2562 16.4868C7.07953 16.4673 6.84776 16.4626 6.48185 16.4563C5.43579 16.4383 4.67175 16.3766 4.00094 16.0988C2.82685 15.6125 1.89404 14.6796 1.40771 13.5055C1.21233 13.0339 1.12589 12.5238 1.08406 11.9109C1.04296 11.3086 1.04297 10.5629 1.04297 9.61195V9.58854V8.75521V8.72247C1.04296 7.38629 1.04296 6.3388 1.12253 5.50197C1.20363 4.64901 1.37178 3.95058 1.74907 3.3349C2.14417 2.69016 2.68625 2.14808 3.33099 1.75298C3.94668 1.37568 4.6451 1.20753 5.49806 1.12643C6.3349 1.04687 7.38238 1.04687 8.71856 1.04688H8.7513H11.2513H11.284C12.6202 1.04687 13.6677 1.04687 14.5046 1.12643C15.3575 1.20753 16.0559 1.37568 16.6716 1.75298C17.3164 2.14808 17.8585 2.69016 18.2536 3.3349C18.6308 3.95058 18.799 4.64901 18.8801 5.50197C18.9596 6.33873 18.9596 7.38611 18.9596 8.72212V8.75521V9.58854V9.61143C18.9596 10.5627 18.9596 11.3084 18.9186 11.9109C18.8767 12.5238 18.7903 13.0339 18.5949 13.5055C18.1086 14.6796 17.1757 15.6125 16.0016 16.0988C15.3309 16.3766 14.5668 16.4383 13.5207 16.4563C13.1548 16.4626 12.9231 16.4673 12.7464 16.4868C12.5813 16.5051 12.5173 16.5319 12.4798 16.5537C12.4403 16.5766 12.3865 16.6185 12.2931 16.7467C12.1919 16.8855 12.0776 17.0773 11.8965 17.3835Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 8
                                .article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 3.381C9.88794 3.26554 9.76553 3.14595 9.63177 3.02613C8.91078 2.38023 7.78618 1.66406 6.33203 1.66406C4.74872 1.66406 3.35806 2.20309 2.36093 3.21383C1.3638 4.22457 0.832031 5.63421 0.832031 7.23913C0.832031 8.85794 1.59624 10.5511 3.02285 12.2282C4.45427 13.9109 6.60787 15.6456 9.53815 17.3716C9.82289 17.5393 10.1745 17.5393 10.4592 17.3716C13.3828 15.6496 15.5375 13.9544 16.9709 12.2897C18.406 10.6232 19.1654 8.92917 19.1654 7.23913C19.1654 5.63421 18.6336 4.22457 17.6365 3.21383C16.6393 2.20309 15.2487 1.66406 13.6654 1.66406C12.2112 1.66406 11.0866 2.38023 10.3656 3.02613C10.2319 3.14595 10.1095 3.26554 9.9987 3.381Z" fill="#F14545"/>
                                    </svg>
                                    | 5
                    
                
