.wide-container
    section.assistant-chat
        .assistant-chat__header
            .assistant-chat__header_lektarik
                .assistant-chat__header_image
                    img(src="../img/lektarik.svg", alt="lektarik")
                .assistant-chat__header_wrap
                    span.assistant-chat__header_name Лектарик
                    span.assistant-chat__header_info Виртуальный помощник
            button.assistant-chat__header_button
                span.assistant-chat__header_button-text Закрыть чат
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 5.99609L18 17.9961" stroke="#919AA3" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M18 5.99609L6 17.9961" stroke="#919AA3" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
        .assistant-chat__chat
            .assistant-chat__chat_bg
                img(src="../img/chat-bg.png", alt="bg")
            ul.assistant-chat__chat_bubbles
                li.assistant-chat__chat_bubbles-item Привет!
                li.assistant-chat__chat_bubbles-item
                    p Я — Лектарик, проводник по онлайн‑школе. Могу помочь найти все что нужно на сайте и помочь с организацией обучения!
                    <br/>
                    p Предлагаю познакомимся, а потом Вы сможете задать мне любой интересующий вопрос.
                    <br/>
                    p Обещаю в конце подарить полезный подарок!
                li.assistant-chat__chat_bubbles-item Дайте угадаю - Вы ученик, верно?
                li.assistant-chat__chat_bubbles-item.answer Нет
                li.assistant-chat__chat_bubbles-item Ой, значит, я что-то напутал. Давайте знакомиться!
                li.assistant-chat__chat_bubbles-item Вы ученик, родитель или учитель?
                li.assistant-chat__chat_bubbles-item.answer Родитель
                li.assistant-chat__chat_bubbles-item В какой класс переходите в сентябре?
                li.assistant-chat__chat_bubbles-item.buttons
                    ul.assistant-chat__buttons-block
                        li.assistant-chat__buttons-block_row
                            .assistant-chat__buttons-block_item
                                button 1 класс
                            .assistant-chat__buttons-block_item
                                button 2 класс
                            .assistant-chat__buttons-block_item
                                button 3 класс
                            .assistant-chat__buttons-block_item
                                button 4 класс
                            .assistant-chat__buttons-block_item
                                button 5 класс
                        li.assistant-chat__buttons-block_row
                            .assistant-chat__buttons-block_item
                                button 6 класс
                            .assistant-chat__buttons-block_item
                                button 7 класс
                            .assistant-chat__buttons-block_item
                                button 8 класс
                            .assistant-chat__buttons-block_item
                                button 9 класс
                        li.assistant-chat__buttons-block_row
                            .assistant-chat__buttons-block_item
                                button 10 класс
                            .assistant-chat__buttons-block_item
                                button 11 класс
                            .assistant-chat__buttons-block_item
                                button Закончил школу
                li.assistant-chat__chat_bubbles-item.answer 11 класс
                li.assistant-chat__chat_bubbles-item Какой цели хочет достичь ваш ребёнок?
                li.assistant-chat__chat_bubbles-item.answer Подготовиться к ЕГЭ
                li.assistant-chat__chat_bubbles-item
                    p Чтобы начать учиться и получать от меня бесплатные советы, надо зарегистрироваться.
                    <br/>
                    p Выберите удобный способ регистрации и введите свои данные.
            .assistant-chat__contacts-block
                .assistant-chat__contacts-block_wrap
                    .assistant-chat__contacts-block_buttons
                        button.assistant-chat__contacts-block_item
                            .assistant-chat__contacts-block_icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.0376 5.31617L10.6866 6.4791C11.2723 7.52858 11.0372 8.90532 10.1147 9.8278C10.1147 9.8278 8.99588 10.9468 11.0245 12.9755C13.0525 15.0035 14.1722 13.8853 14.1722 13.8853C15.0947 12.9628 16.4714 12.7277 17.5209 13.3134L18.6838 13.9624C20.2686 14.8468 20.4557 17.0692 19.0628 18.4622C18.2258 19.2992 17.2004 19.9505 16.0669 19.9934C14.1588 20.0658 10.9183 19.5829 7.6677 16.3323C4.41713 13.0817 3.93421 9.84122 4.00655 7.93309C4.04952 6.7996 4.7008 5.77423 5.53781 4.93723C6.93076 3.54428 9.15317 3.73144 10.0376 5.31617Z" fill="#2554E7"/>
                                </svg>
                            .assistant-chat__contacts-block_title По номеру телефона
                        button.assistant-chat__contacts-block_item
                            .assistant-chat__contacts-block_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.75 7.5C23.75 6.5055 23.3547 5.5515 22.652 4.848C21.9485 4.14525 20.9945 3.75 20 3.75C16.0085 3.75 8.9915 3.75 5 3.75C4.0055 3.75 3.0515 4.14525 2.348 4.848C1.64525 5.5515 1.25 6.5055 1.25 7.5C1.25 10.1145 1.25 13.8855 1.25 16.5C1.25 17.4945 1.64525 18.4485 2.348 19.152C3.0515 19.8547 4.0055 20.25 5 20.25C8.9915 20.25 16.0085 20.25 20 20.25C20.9945 20.25 21.9485 19.8547 22.652 19.152C23.3547 18.4485 23.75 17.4945 23.75 16.5C23.75 13.8855 23.75 10.1145 23.75 7.5ZM3.833 7.33425C3.833 7.33425 7.69175 10.512 10.112 12.5048C11.4987 13.647 13.5013 13.6448 14.8857 12.4995C17.3135 10.4918 21.1955 7.28025 21.1955 7.28025C21.5142 7.01625 21.5592 6.543 21.2952 6.22425C21.032 5.9055 20.5588 5.8605 20.2393 6.1245C20.2393 6.1245 16.3573 9.33525 13.9303 11.3438C13.0992 12.0308 11.8977 12.0322 11.0653 11.3467L4.78625 6.17625C4.46675 5.913 3.99425 5.95875 3.731 6.27825C3.46775 6.59775 3.5135 7.071 3.833 7.33425Z" fill="#2554E7"/>
                                </svg>
                            .assistant-chat__contacts-block_title По email
                        button.assistant-chat__contacts-block_item
                            .assistant-chat__contacts-block_icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9993 11.7959C14.7182 11.7959 16.9224 9.60303 16.9224 6.89796C16.9224 4.19289 14.7182 2 11.9993 2C9.28031 2 7.07617 4.19289 7.07617 6.89796C7.07617 9.60303 9.28031 11.7959 11.9993 11.7959Z" fill="#2554E7"/>
                                    <path d="M14.5641 13.8359H9.4359C6.46154 13.8359 4 16.2849 4 19.244C4 19.9583 4.30769 20.5706 4.92308 20.8767C5.84615 21.3869 7.89744 21.9991 12 21.9991C16.1026 21.9991 18.1538 21.3869 19.0769 20.8767C19.5897 20.5706 20 19.9583 20 19.244C20 16.1828 17.5385 13.8359 14.5641 13.8359Z" fill="#2554E7"/>
                                </svg>
                            .assistant-chat__contacts-block_title Через соц.сети
                    .assistant-chat__contacts-block_input
                        button.assistant-chat__contacts-block_item
                            .assistant-chat__contacts-block_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" transform="matrix(-1 0 0 1 24.5 0)" fill="#2554E7"/>
                                    <path d="M14.5 8L10.5 12L14.5 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .assistant-chat__contacts-block_title Назад к способам
                        .assistant-chat__contacts-block_input
                            .custom-input-with-btn.with-icon
                                input.custom-input(type="text" id="phone" name="phone" placeholder="Введите свой телефон")
                                .custom-input-with-btn__button_icon-left
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.0376 5.31617L10.6866 6.4791C11.2723 7.52858 11.0372 8.90532 10.1147 9.8278C10.1147 9.8278 8.99588 10.9468 11.0245 12.9755C13.0525 15.0035 14.1722 13.8853 14.1722 13.8853C15.0947 12.9628 16.4714 12.7277 17.5209 13.3134L18.6838 13.9624C20.2686 14.8468 20.4557 17.0692 19.0628 18.4622C18.2258 19.2992 17.2004 19.9505 16.0669 19.9934C14.1588 20.0658 10.9183 19.5829 7.6677 16.3323C4.41713 13.0817 3.93421 9.84122 4.00655 7.93309C4.04952 6.7996 4.7008 5.77423 5.53781 4.93723C6.93076 3.54428 9.15317 3.73144 10.0376 5.31617Z" fill="#CAD0D6"/>
                                    </svg>
                                button.custom-input-with-btn__button
                                    .custom-input-with-btn__button_icon.visible
                                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="44" height="44" rx="12" fill="#F7F8F9"/>
                                            <path d="M20 18L24 22L20 26" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                        .assistant-chat__contacts-block_input
                            .custom-input-with-btn.with-icon
                                input.custom-input(type="text" id="email" name="email" placeholder="Введите свой email")
                                .custom-input-with-btn__button_icon-left
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.25 7.5C23.25 6.5055 22.8547 5.5515 22.152 4.848C21.4485 4.14525 20.4945 3.75 19.5 3.75C15.5085 3.75 8.4915 3.75 4.5 3.75C3.5055 3.75 2.5515 4.14525 1.848 4.848C1.14525 5.5515 0.75 6.5055 0.75 7.5C0.75 10.1145 0.75 13.8855 0.75 16.5C0.75 17.4945 1.14525 18.4485 1.848 19.152C2.5515 19.8547 3.5055 20.25 4.5 20.25C8.4915 20.25 15.5085 20.25 19.5 20.25C20.4945 20.25 21.4485 19.8547 22.152 19.152C22.8547 18.4485 23.25 17.4945 23.25 16.5C23.25 13.8855 23.25 10.1145 23.25 7.5ZM3.333 7.33425C3.333 7.33425 7.19175 10.512 9.612 12.5048C10.9987 13.647 13.0013 13.6448 14.3857 12.4995C16.8135 10.4918 20.6955 7.28025 20.6955 7.28025C21.0142 7.01625 21.0592 6.543 20.7952 6.22425C20.532 5.9055 20.0588 5.8605 19.7393 6.1245C19.7393 6.1245 15.8573 9.33525 13.4303 11.3438C12.5992 12.0308 11.3977 12.0322 10.5653 11.3467L4.28625 6.17625C3.96675 5.913 3.49425 5.95875 3.231 6.27825C2.96775 6.59775 3.0135 7.071 3.333 7.33425Z" fill="#CAD0D6"/>
                                    </svg>
                                button.custom-input-with-btn__button
                                    .custom-input-with-btn__button_icon.visible
                                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="44" height="44" rx="12" fill="#F7F8F9"/>
                                            <path d="M20 18L24 22L20 26" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                        .assistant-chat__contacts-block_social.visible
                            ul.assistant-chat__contacts-block_social-list
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.2801 27.0282C9.53614 27.0282 3.97614 20.2522 3.74414 8.97217H8.62414C8.78414 17.2522 12.3841 20.7562 15.2361 21.4802V8.97217H19.8361V16.1122C22.6481 15.8042 25.6081 12.5522 26.6041 8.97217H31.2081C30.4401 13.3802 27.2321 16.6362 24.9521 17.9722C27.2321 19.0562 30.8841 21.8922 32.2721 27.0282H27.2161C26.1281 23.5962 23.4161 20.9362 19.8401 20.5762V27.0282H19.2801Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0703 21.5675V13.837C17.9519 15.1283 20.1837 16.3758 22.8232 17.7208C20.6462 18.8706 17.9519 20.1608 15.0703 21.5675ZM31.1294 9.99222C30.6323 9.36852 29.7852 8.88302 28.8832 8.72229C26.2322 8.24283 9.6933 8.24147 7.04368 8.72229C6.32041 8.85142 5.67635 9.16355 5.12309 9.6485C2.79189 11.7092 3.52237 22.7599 4.08428 24.55C4.32057 25.3248 4.62603 25.8836 5.01073 26.2504C5.50636 26.7353 6.18496 27.0693 6.96443 27.219C9.14723 27.649 20.3926 27.8894 28.8371 27.2836C29.6151 27.1544 30.3038 26.8098 30.847 26.3042C33.0024 24.2518 32.8555 12.5804 31.1294 9.99222Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.12005 13.3035C2.12005 13.3035 12.8067 8.75705 16.513 7.15613C17.9338 6.51582 22.752 4.46664 22.752 4.46664C22.752 4.46664 24.9758 3.5702 24.7905 5.74735C24.7287 6.64388 24.2345 9.78155 23.7404 13.1754C22.9991 17.9781 22.196 23.2289 22.196 23.2289C22.196 23.2289 22.0725 24.7018 21.0224 24.9579C19.9723 25.214 18.2426 24.0615 17.9338 23.8052C17.6866 23.6132 13.3008 20.7316 11.6948 19.3228C11.2623 18.9386 10.7682 18.1702 11.7565 17.2737C13.9803 15.1605 16.6365 12.5351 18.2426 10.8702C18.9839 10.1017 19.7251 8.30878 16.6365 10.4859C12.2507 13.6237 7.92665 16.5693 7.92665 16.5693C7.92665 16.5693 6.93827 17.2096 5.08512 16.6333C3.23189 16.0571 1.06986 15.2886 1.06986 15.2886C1.06986 15.2886 -0.412594 14.3281 2.12005 13.3035Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item.active
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.2801 27.0282C9.53614 27.0282 3.97614 20.2522 3.74414 8.97217H8.62414C8.78414 17.2522 12.3841 20.7562 15.2361 21.4802V8.97217H19.8361V16.1122C22.6481 15.8042 25.6081 12.5522 26.6041 8.97217H31.2081C30.4401 13.3802 27.2321 16.6362 24.9521 17.9722C27.2321 19.0562 30.8841 21.8922 32.2721 27.0282H27.2161C26.1281 23.5962 23.4161 20.9362 19.8401 20.5762V27.0282H19.2801Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0703 21.5675V13.837C17.9519 15.1283 20.1837 16.3758 22.8232 17.7208C20.6462 18.8706 17.9519 20.1608 15.0703 21.5675ZM31.1294 9.99222C30.6323 9.36852 29.7852 8.88302 28.8832 8.72229C26.2322 8.24283 9.6933 8.24147 7.04368 8.72229C6.32041 8.85142 5.67635 9.16355 5.12309 9.6485C2.79189 11.7092 3.52237 22.7599 4.08428 24.55C4.32057 25.3248 4.62603 25.8836 5.01073 26.2504C5.50636 26.7353 6.18496 27.0693 6.96443 27.219C9.14723 27.649 20.3926 27.8894 28.8371 27.2836C29.6151 27.1544 30.3038 26.8098 30.847 26.3042C33.0024 24.2518 32.8555 12.5804 31.1294 9.99222Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.12005 13.3035C2.12005 13.3035 12.8067 8.75705 16.513 7.15613C17.9338 6.51582 22.752 4.46664 22.752 4.46664C22.752 4.46664 24.9758 3.5702 24.7905 5.74735C24.7287 6.64388 24.2345 9.78155 23.7404 13.1754C22.9991 17.9781 22.196 23.2289 22.196 23.2289C22.196 23.2289 22.0725 24.7018 21.0224 24.9579C19.9723 25.214 18.2426 24.0615 17.9338 23.8052C17.6866 23.6132 13.3008 20.7316 11.6948 19.3228C11.2623 18.9386 10.7682 18.1702 11.7565 17.2737C13.9803 15.1605 16.6365 12.5351 18.2426 10.8702C18.9839 10.1017 19.7251 8.30878 16.6365 10.4859C12.2507 13.6237 7.92665 16.5693 7.92665 16.5693C7.92665 16.5693 6.93827 17.2096 5.08512 16.6333C3.23189 16.0571 1.06986 15.2886 1.06986 15.2886C1.06986 15.2886 -0.412594 14.3281 2.12005 13.3035Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M19.2801 27.0282C9.53614 27.0282 3.97614 20.2522 3.74414 8.97217H8.62414C8.78414 17.2522 12.3841 20.7562 15.2361 21.4802V8.97217H19.8361V16.1122C22.6481 15.8042 25.6081 12.5522 26.6041 8.97217H31.2081C30.4401 13.3802 27.2321 16.6362 24.9521 17.9722C27.2321 19.0562 30.8841 21.8922 32.2721 27.0282H27.2161C26.1281 23.5962 23.4161 20.9362 19.8401 20.5762V27.0282H19.2801Z" fill="#9AA3AD"/>
                                        </svg>
                                li
                                    button.assistant-chat__contacts-block_social-list-item
                                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0703 21.5675V13.837C17.9519 15.1283 20.1837 16.3758 22.8232 17.7208C20.6462 18.8706 17.9519 20.1608 15.0703 21.5675ZM31.1294 9.99222C30.6323 9.36852 29.7852 8.88302 28.8832 8.72229C26.2322 8.24283 9.6933 8.24147 7.04368 8.72229C6.32041 8.85142 5.67635 9.16355 5.12309 9.6485C2.79189 11.7092 3.52237 22.7599 4.08428 24.55C4.32057 25.3248 4.62603 25.8836 5.01073 26.2504C5.50636 26.7353 6.18496 27.0693 6.96443 27.219C9.14723 27.649 20.3926 27.8894 28.8371 27.2836C29.6151 27.1544 30.3038 26.8098 30.847 26.3042C33.0024 24.2518 32.8555 12.5804 31.1294 9.99222Z" fill="#9AA3AD"/>
                                        </svg>
                            button.assistant-chat__contacts-block_btn.active
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="12" fill="#F7F8F9"/>
                                    <path d="M20 18L24 22L20 26" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
            .assistant-chat__input-block.visible
                .input-with-paper-clip
                    input.custom-input(type="text" placeholder="Введите сообщение")
                    button.input-with-paper-clip__button_icon-left
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5876_44724)">
                            <path d="M2.23666 21.1286C3.72549 22.6174 5.68048 23.3618 7.63613 23.3615C9.59142 23.3614 11.5472 22.6171 13.0358 21.1286L22.4051 11.7593C24.5317 9.63258 24.5315 6.17232 22.4049 4.04569C21.3748 3.01547 20.0051 2.44814 18.5482 2.44814C17.0913 2.44814 15.7216 3.01547 14.6914 4.04569L6.09334 12.6436C4.81738 13.9196 4.81738 15.9957 6.09334 17.2718C7.36945 18.5478 9.44568 18.5477 10.7216 17.2717L16.3833 11.61C16.8092 11.184 16.8092 10.4934 16.3833 10.0673C15.9573 9.64131 15.2666 9.64131 14.8406 10.0673L9.17892 15.729C8.75363 16.1544 8.0615 16.1543 7.63606 15.7291C7.21076 15.3037 7.21076 14.6116 7.63606 14.1863L16.2341 5.58841C16.8523 4.97032 17.6741 4.62989 18.5482 4.62989C19.4224 4.62989 20.2441 4.97032 20.8622 5.58841C22.1382 6.86445 22.1383 8.9406 20.8624 10.2166L11.493 19.5858C9.36626 21.7124 5.90593 21.7124 3.77938 19.5858C2.74915 18.5557 2.18175 17.186 2.18175 15.7291C2.18175 14.2722 2.74915 12.9024 3.77938 11.8721L13.1485 2.50283C13.5745 2.07681 13.5745 1.38607 13.1485 0.960115C12.7226 0.534165 12.0319 0.534092 11.6058 0.960115L2.23666 10.3294C0.794376 11.7717 0 13.6893 0 15.7291C0 17.7688 0.794376 19.6864 2.23666 21.1286Z" fill="#6D7985"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_5876_44724">
                            <rect width="24" height="24" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    button.input-with-paper-clip__button
                        .input-with-paper-clip__button_icon
                            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="56" height="56" rx="12" fill="#F7F8F9"/>
                                <path d="M25 22L31 28L25 34" stroke="#9AA3AD" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                  
