.wide-container
    section.assistant-chat
        .assistant-chat__header
            .assistant-chat__header_lektarik
                .assistant-chat__header_image
                    img(src="../img/lektarik.svg", alt="lektarik")
                .assistant-chat__header_wrap
                    span.assistant-chat__header_name Лектарик
                    span.assistant-chat__header_info Виртуальный помощник
            button.assistant-chat__header_button
                span.assistant-chat__header_button-text Закрыть чат
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 5.99609L18 17.9961" stroke="#919AA3" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M18 5.99609L6 17.9961" stroke="#919AA3" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
                     