.wide-container
    section.assistant-chat
        .assistant-chat__header
            .assistant-chat__header_lektarik
                .assistant-chat__header_image
                    img(src="../img/lektarik.svg", alt="lektarik")
                .assistant-chat__header_wrap
                    span.assistant-chat__header_name Лектарик
                    span.assistant-chat__header_info Виртуальный помощник
            button.assistant-chat__header_button
                span.assistant-chat__header_button-text Закрыть чат
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 5.99609L18 17.9961" stroke="#919AA3" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M18 5.99609L6 17.9961" stroke="#919AA3" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
        .assistant-chat__chat
            .assistant-chat__chat_bg
                img(src="../img/chat-bg.png", alt="bg")
            ul.assistant-chat__chat_bubbles
                li.assistant-chat__chat_bubbles-item Привет!
                li.assistant-chat__chat_bubbles-item
                    p Я — Лектарик, проводник по онлайн‑школе. Могу помочь найти все что нужно на сайте и помочь с организацией обучения!
                    <br/>
                    p Предлагаю познакомимся, а потом Вы сможете задать мне любой интересующий вопрос.
                    <br/>
                    p Обещаю в конце подарить полезный подарок!
                li.assistant-chat__chat_bubbles-item Дайте угадаю - Вы ученик, верно?
                li.assistant-chat__chat_bubbles-item.answer Нет
                li.assistant-chat__chat_bubbles-item Ой, значит, я что-то напутал. Давайте знакомиться!
                li.assistant-chat__chat_bubbles-item Вы ученик, родитель или учитель?
                li.assistant-chat__chat_bubbles-item.answer Родитель
                li.assistant-chat__chat_bubbles-item В какой класс переходите в сентябре?
                li.assistant-chat__chat_bubbles-item.answer 11 класс
                li.assistant-chat__chat_bubbles-item Какой цели хочет достичь ваш ребёнок?
                li.assistant-chat__chat_bubbles-item.answer Подготовиться к ЕГЭ
                li.assistant-chat__chat_bubbles-item Чтобы начать учиться и получать от меня бесплатные советы, надо зарегистрироваться. Выберите удобный способ регистрации и введите свои данные.
                     