article.author-block
    .author-block__photo-wrap
        .author-block__photo.color-accent-photo-bg
            img(src="../img/teacher1-v3.png", alt="img")
            .author-block__photo_text Автор статьи
        .author-block__wrap
            h2.author-block__title Вероника Сорокина
            p.author-block__info Завуч образовательного проекта “Лектариум”
    .author-block__list-wrap
        .author-block__list-title Последние статьи
        ul.author-block__list
            li.author-block__list_item
                a(href='')
                    span Количество бюджетных мест в вузах будет сокращено до 60%
                    .author-block__list_icon
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 8L14 12L10 16" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            li.author-block__list_item
                a(href='')
                    span Как сдать русский язык на 80 баллов
                    .author-block__list_icon
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 8L14 12L10 16" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            li.author-block__list_item
                a(href='')
                    span Подготовка к ВУЗу от А до Я
                    .author-block__list_icon
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 8L14 12L10 16" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>



