.breadcrumbs.wide-container
    ul.breadcrumbs__list
        li.breadcrumbs__list_item Главная
        li.breadcrumbs__list_item Витрина курсов
        li.breadcrumbs__list_item.active О преподавателе