
section.cards-and-banner
    .main-container
        h2.main-subtitle.cards-and-banner__title Наша платформа может быть полезна для родителей, чтобы...
        .cards-and-banner__content
            ul.cards-and-banner__list
                li.cards-and-banner__list_item.main
                    .cards-and-banner__list_item-bg
                        img(src="../img/cards-and-banner-bg.png", alt="background")
                    .cards-and-banner__list_item-main-wrap
                        .cards-and-banner__list_item-wrap
                            h3.cards-and-banner__list_item-title.main Пройти диагностику знаний
                            .cards-and-banner__list_item-bottom
                                p.main-descriptions.cards-and-banner__list_item-descriptions.main Проверим знания вашего ребенка по&nbsp;любому предмету
                                .hidden-on-mobile
                                    a(href="").cards-and-banner__list_item-link Подробнее
                        .cards-and-banner__list_item-img
                            img(src="../img/evaluation.svg", alt="img")   
                        a(href="").visible-on-mobile.cards-and-banner__list_item-btn.main-button Подробнее
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10.5 8L14.5 12L10.5 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.4961 4.5C35.9961 4.5 38.2461 6.7725 38.2461 11.3175V27.18C38.2461 31.6575 35.0736 33.39 31.1811 31.05L28.2111 29.25C27.5361 28.845 26.4561 28.845 25.7811 29.25L22.8111 31.05C18.9186 33.39 15.7461 31.6575 15.7461 27.18V11.3175C15.7461 6.7725 17.9961 4.5 22.4961 4.5H31.4961Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M15.3489 11.2238C7.67641 12.5063 4.50391 17.2312 4.50391 26.7713V33.5888C4.50391 44.9513 9.00391 49.4963 20.2539 49.4963H33.7539C45.0039 49.4963 49.5039 44.9513 49.5039 33.5888V26.7713C49.5039 17.0737 46.2189 12.3262 38.2539 11.1562" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Пройти бесплатный пробный экзамен
                                p.main-descriptions.cards-and-banner__list_item-descriptions Проведем бесплатный пробный экзамен, чтобы понять готовность ребенка к ОГЭ/ЕГЭ
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M15.4824 40.8372V36.1797" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <path opacity="0.4" d="M27 40.8384V31.5234" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <path opacity="0.4" d="M38.5176 40.8387V26.8438" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <g opacity="0.4">
                                <path d="M38.5225 13.1641L37.4875 14.3791C31.75 21.0841 24.055 25.8315 15.4824 27.969" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <path d="M31.9355 13.1641H38.528V19.7341" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <path d="M20.2539 49.5H33.7539C45.0039 49.5 49.5039 45 49.5039 33.75V20.25C49.5039 9 45.0039 4.5 33.7539 4.5H20.2539C9.00391 4.5 4.50391 9 4.50391 20.25V33.75C4.50391 45 9.00391 49.5 20.2539 49.5Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title
                                    |План подготовки
                                    <br>
                                    |ребенка
                                p.main-descriptions.cards-and-banner__list_item-descriptions Поняв уровень его готовности, мы&nbsp;определим план обучения в&nbsp;разбивке по дням
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M42.7539 20.25C42.7539 23.5125 41.7864 26.505 40.1214 29.0025C37.6914 32.6025 33.8439 35.145 29.3664 35.7975C28.6014 35.9325 27.8139 36 27.0039 36C26.1939 36 25.4064 35.9325 24.6414 35.7975C20.1639 35.145 16.3164 32.6025 13.8864 29.0025C12.2214 26.505 11.2539 23.5125 11.2539 20.25C11.2539 11.5425 18.2964 4.5 27.0039 4.5C35.7114 4.5 42.7539 11.5425 42.7539 20.25Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M47.81 41.5559L44.0975 42.4334C43.265 42.6359 42.6125 43.2659 42.4325 44.0984L41.645 47.4059C41.2175 49.2059 38.9225 49.7459 37.73 48.3284L26.9975 35.9984L16.265 48.3509C15.0725 49.7684 12.7775 49.2284 12.35 47.4284L11.5625 44.1209C11.36 43.2884 10.7075 42.6359 9.89749 42.4559L6.18499 41.5784C4.47499 41.1734 3.86749 39.0359 5.10499 37.7984L13.88 29.0234C16.31 32.6234 20.1575 35.1659 24.635 35.8184C25.4 35.9534 26.1875 36.0209 26.9975 36.0209C27.8075 36.0209 28.595 35.9534 29.36 35.8184C33.8375 35.1659 37.685 32.6234 40.115 29.0234L48.89 37.7984C50.1275 39.0134 49.52 41.1509 47.81 41.5559Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M28.3055 13.455L29.633 16.11C29.813 16.47 30.2855 16.83 30.713 16.8975L33.1205 17.3025C34.6505 17.55 35.0105 18.675 33.908 19.7775L32.0405 21.645C31.7255 21.96 31.5455 22.5675 31.658 23.0175L32.198 25.335C32.6255 27.1575 31.658 27.8775 30.038 26.91L27.788 25.5825C27.383 25.335 26.708 25.335 26.303 25.5825L24.053 26.91C22.4329 27.855 21.4654 27.1575 21.8929 25.335L22.4329 23.0175C22.523 22.59 22.3654 21.96 22.0504 21.645L20.1829 19.7775C19.0804 18.675 19.4404 17.5725 20.9704 17.3025L23.378 16.8975C23.783 16.83 24.2555 16.47 24.4355 16.11L25.763 13.455C26.4155 12.015 27.5855 12.015 28.3055 13.455Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Профориентация для&nbsp;ребенка
                                p.main-descriptions.cards-and-banner__list_item-descriptions Проводим тестирования +&nbsp;подробную консультацию с&nbsp;анализом результатов
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.14648 17.5025V39.395C5.14648 43.67 8.18398 45.425 11.874 43.31L17.1615 40.295C18.309 39.6425 20.2215 39.575 21.414 40.1825L33.2266 46.1C34.4191 46.685 36.3316 46.6401 37.4791 45.9876L47.2216 40.4075C48.4591 39.6875 49.4941 37.9325 49.4941 36.4925V14.6C49.4941 10.325 46.4566 8.57 42.7666 10.685L37.4791 13.7C36.3316 14.3525 34.4191 14.42 33.2266 13.8125L21.414 7.9175C20.2215 7.3325 18.309 7.3775 17.1615 8.03L7.41898 13.61C6.15898 14.33 5.14648 16.085 5.14648 17.5025Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M19.2588 9V38.25" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M35.3955 14.8984V45.0034" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Составление карты ВУЗов
                                p.main-descriptions.cards-and-banner__list_item-descriptions На основе ваших предпочтений и профориентации подберем 15 вариантов для поступления
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M49.5039 26.7525V28.755C49.5039 36.765 47.5014 38.745 39.5139 38.745H14.4939C6.50641 38.745 4.50391 36.7425 4.50391 28.755V14.49C4.50391 6.5025 6.50641 4.5 14.4939 4.5H18.0039" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M27 38.7422V49.4972" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M4.50391 29.25H49.5039" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.875 49.5H37.125" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M40.184 21.0834H29.474C26.369 21.0834 25.334 19.0134 25.334 16.9434V9.02344C25.334 6.54844 27.359 4.52344 29.834 4.52344H40.184C42.479 4.52344 44.324 6.36844 44.324 8.66344V16.9434C44.324 19.2384 42.479 21.0834 40.184 21.0834Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M47.0409 17.8215L44.3184 15.909V9.69903L47.0409 7.78653C48.3909 6.86403 49.4934 7.42653 49.4934 9.06903V16.5615C49.4934 18.204 48.3909 18.7665 47.0409 17.8215Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Получить бесплатный вводный урок
                                p.main-descriptions.cards-and-banner__list_item-descriptions Чтобы понять формат обучения можно записаться на бесплатный пробный урок!
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.50391 49.5H49.5039" stroke="#2554E7" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.9375 9V49.5H32.0625V9C32.0625 6.525 31.05 4.5 28.0125 4.5H25.9875C22.95 4.5 21.9375 6.525 21.9375 9Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M6.75 22.5V49.5H15.75V22.5C15.75 20.025 14.85 18 12.15 18H10.35C7.65 18 6.75 20.025 6.75 22.5Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M38.2539 33.75V49.5H47.2539V33.75C47.2539 31.275 46.3539 29.25 43.6539 29.25H41.8539C39.1539 29.25 38.2539 31.275 38.2539 33.75Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Получить бесплатный вводный курс
                                p.main-descriptions.cards-and-banner__list_item-descriptions Мы подготовили бесплатные базовые курсы по каждому предмету
                            a(href="").cards-and-banner__list_item-link Подробнее
    .cards-and-banner__banner
        include ../widgets/sale-banner

            
