
section.cards-and-banner
    .main-container
        h2.main-subtitle.cards-and-banner__title Наша платформа может быть полезна для родителей, чтобы...
        .cards-and-banner__content
            ul.cards-and-banner__list
                li.cards-and-banner__list_item.main
                    .cards-and-banner__list_item-bg
                        img(src="../img/cards-and-banner-bg.png", alt="background")
                    .cards-and-banner__list_item-main-wrap
                        .cards-and-banner__list_item-wrap
                            h3.cards-and-banner__list_item-title.main Пройти диагностику знаний
                            .cards-and-banner__list_item-bottom
                                p.main-descriptions.cards-and-banner__list_item-descriptions.main Проверим знания вашего ребенка по&nbsp;любому предмету
                                .hidden-on-mobile
                                    a(href="").cards-and-banner__list_item-link Подробнее
                        .cards-and-banner__list_item-img.color-accent-icon-several-elements
                            <svg width="258" height="258" viewBox="0 0 258 258" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="circuit" d="M34.846 90.6808C34.1371 88.5703 35.2734 86.2847 37.384 85.5759L124.283 56.3902C126.393 55.6813 128.679 56.8176 129.388 58.9282L167.464 172.299C168.173 174.409 167.037 176.695 164.926 177.404L78.0274 206.589C75.9168 207.298 73.6313 206.162 72.9224 204.051L34.846 90.6808Z" fill="#0B1F33"/>
                                <path class="circuit" d="M24.8694 85.6965C24.1606 83.5859 25.2969 81.3004 27.4074 80.5915L114.306 51.4058C116.417 50.697 118.702 51.8333 119.411 53.9438L157.488 167.314C158.196 169.425 157.06 171.71 154.95 172.419L68.0508 201.605C65.9403 202.314 63.6547 201.178 62.9459 199.067L24.8694 85.6965Z" fill="white"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M26.1273 76.769L113.026 47.5833C117.247 46.1656 121.818 48.4382 123.236 52.6593L161.312 166.03C162.73 170.251 160.458 174.822 156.236 176.24L69.3377 205.425C65.1166 206.843 60.5455 204.57 59.1278 200.349L21.0513 86.9789C19.6336 82.7578 21.9062 78.1867 26.1273 76.769ZM27.4108 80.5905C25.3003 81.2993 24.164 83.5849 24.8728 85.6954L62.9493 199.066C63.6581 201.176 65.9437 202.313 68.0542 201.604L154.953 172.418C157.064 171.709 158.2 169.424 157.491 167.313L119.415 53.9428C118.706 51.8322 116.42 50.6959 114.31 51.4048L27.4108 80.5905Z" fill="#0B1F33"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M50.8945 102.16C50.5401 101.104 51.1082 99.9616 52.1635 99.6072L103.925 82.2226C104.98 81.8682 106.123 82.4364 106.478 83.4916C106.832 84.5469 106.264 85.6897 105.209 86.0441L53.447 103.429C52.3917 103.783 51.2489 103.215 50.8945 102.16Z" fill="#0B1F33"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M55.0219 114.45C54.6675 113.395 55.2357 112.252 56.2909 111.898L108.053 94.5132C109.108 94.1588 110.251 94.7269 110.605 95.7822C110.959 96.8375 110.391 97.9803 109.336 98.3347L57.5744 115.719C56.5191 116.074 55.3763 115.506 55.0219 114.45Z" fill="#0B1F33"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M59.1508 126.741C58.7964 125.686 59.3645 124.543 60.4198 124.189L112.181 106.804C113.237 106.45 114.379 107.018 114.734 108.073C115.088 109.128 114.52 110.271 113.465 110.626L61.7033 128.01C60.648 128.365 59.5052 127.796 59.1508 126.741Z" fill="#0B1F33"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M63.2782 139.031C62.9238 137.976 63.492 136.833 64.5472 136.479L116.309 119.094C117.364 118.74 118.507 119.308 118.861 120.363C119.216 121.419 118.648 122.561 117.592 122.916L65.8307 140.3C64.7755 140.655 63.6327 140.087 63.2782 139.031Z" fill="#0B1F33"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M67.4057 151.322C67.0512 150.266 67.6194 149.123 68.6747 148.769L120.436 131.384C121.492 131.03 122.634 131.598 122.989 132.653C123.343 133.709 122.775 134.852 121.72 135.206L69.9581 152.591C68.9029 152.945 67.7601 152.377 67.4057 151.322Z" fill="#0B1F33"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M96.2517 155.293C96.6068 156.349 96.0394 157.492 94.9843 157.847L74.0868 164.881C73.0318 165.236 71.8886 164.668 71.5335 163.613C71.1784 162.558 71.7458 161.415 72.8008 161.06L93.6984 154.026C94.7534 153.671 95.8966 154.238 96.2517 155.293Z" fill="#0B1F33"/>
                                <path class="circuit" d="M137.141 58.881C137.728 56.7333 139.944 55.4677 142.092 56.0543L230.522 80.2051C232.67 80.7917 233.936 83.0083 233.349 85.156L201.841 200.525C201.255 202.673 199.038 203.938 196.89 203.352L108.46 179.201C106.312 178.614 105.047 176.397 105.633 174.25L137.141 58.881Z" fill="white"/>
                                <path class="circuit" fill-rule="evenodd" clip-rule="evenodd" d="M143.153 52.1632L231.583 76.3141C235.879 77.4872 238.41 81.9204 237.237 86.2159L205.729 201.585C204.556 205.88 200.122 208.411 195.827 207.238L107.397 183.087C103.101 181.914 100.57 177.481 101.743 173.185L133.251 57.8167C134.424 53.5212 138.857 50.9901 143.153 52.1632ZM142.091 56.052C139.943 55.4655 137.726 56.731 137.14 58.8788L105.632 174.248C105.045 176.395 106.311 178.612 108.459 179.198L196.889 203.349C199.037 203.936 201.253 202.67 201.84 200.523L233.348 85.1538C233.934 83.0061 232.669 80.7895 230.521 80.2029L142.091 56.052Z" fill="#0B1F33"/>
                                <path class="accent" fill-rule="evenodd" clip-rule="evenodd" d="M180.275 159.516C181.054 159.736 181.625 160.401 181.726 161.204L184.216 180.999C184.355 182.104 183.572 183.112 182.467 183.251C181.363 183.39 180.355 182.607 180.216 181.502L178.32 166.425L168.705 178.394C168.008 179.262 166.739 179.4 165.871 178.703C165.004 178.006 164.865 176.737 165.562 175.87L178.155 160.193C178.662 159.562 179.497 159.295 180.275 159.516Z" fill="#2554E7"/>
                                <path class="accent" fill-rule="evenodd" clip-rule="evenodd" d="M170.797 170.132C171.09 169.058 172.199 168.425 173.273 168.719L181.684 171.016C182.758 171.309 183.39 172.417 183.097 173.491C182.804 174.565 181.695 175.198 180.622 174.904L172.21 172.607C171.137 172.314 170.504 171.206 170.797 170.132Z" fill="#2554E7"/>
                                <path class="accent" fill-rule="evenodd" clip-rule="evenodd" d="M192.366 170.351C193.44 170.645 194.073 171.753 193.78 172.827L192.195 178.628C191.902 179.701 190.794 180.334 189.72 180.041C188.646 179.748 188.013 178.639 188.307 177.566L189.891 171.765C190.184 170.691 191.292 170.058 192.366 170.351Z" fill="#2554E7"/>
                                <path class="accent" fill-rule="evenodd" clip-rule="evenodd" d="M195.883 176.515C195.59 177.589 194.481 178.221 193.408 177.928L187.607 176.344C186.533 176.051 185.9 174.942 186.193 173.868C186.487 172.795 187.595 172.162 188.669 172.455L194.47 174.039C195.544 174.333 196.176 175.441 195.883 176.515Z" fill="#2554E7"/>
                                <path class="circuit" d="M195.883 123.06C197.641 122.056 198.252 119.819 197.248 118.062C196.245 116.304 194.007 115.693 192.25 116.697L170.715 128.992C168.781 130.096 166.319 129.424 165.215 127.49L158.322 115.418C157.319 113.661 155.081 113.05 153.324 114.053C151.567 115.056 150.956 117.294 151.959 119.051L160.848 134.62C160.85 134.622 160.849 134.625 160.847 134.627C160.844 134.628 160.843 134.631 160.845 134.634L164.473 140.988C164.474 140.991 164.477 140.991 164.48 140.99L164.48 140.99C164.482 140.989 164.485 140.989 164.486 140.992C164.488 140.994 164.491 140.995 164.493 140.994L170.848 137.365C170.85 137.364 170.851 137.361 170.85 137.359C170.848 137.356 170.849 137.353 170.851 137.352L195.883 123.06Z" fill="white"/>
                                <path class="accent" fill-rule="evenodd" clip-rule="evenodd" d="M168.717 125.492L190.252 113.196C193.943 111.089 198.643 112.373 200.75 116.063C202.857 119.754 201.573 124.454 197.883 126.561L173.089 140.718C173.01 140.77 172.93 140.82 172.847 140.867L166.493 144.495C165.532 145.043 164.441 145.154 163.451 144.89C162.44 144.624 161.532 143.967 160.973 142.988L157.345 136.633C157.297 136.55 157.252 136.465 157.211 136.38L148.459 121.051C146.352 117.36 147.636 112.66 151.326 110.553C155.017 108.446 159.717 109.729 161.824 113.42L168.717 125.492ZM197.249 118.062C198.252 119.819 197.641 122.057 195.884 123.06L170.852 137.353C170.85 137.354 170.849 137.357 170.85 137.359C170.851 137.36 170.851 137.361 170.851 137.362C170.851 137.364 170.85 137.365 170.849 137.366L164.494 140.994C164.491 140.996 164.489 140.995 164.487 140.992C164.486 140.99 164.483 140.989 164.48 140.991L164.48 140.991C164.478 140.992 164.475 140.991 164.474 140.989L160.845 134.634C160.844 134.632 160.845 134.629 160.847 134.627C160.85 134.626 160.851 134.623 160.849 134.621L151.96 119.052C150.957 117.295 151.568 115.057 153.325 114.054C155.082 113.05 157.32 113.662 158.323 115.419L165.216 127.491C166.32 129.425 168.782 130.097 170.716 128.993L192.251 116.697C194.008 115.694 196.246 116.305 197.249 118.062Z" fill="none"/>
                            </svg> 
                        a(href="").visible-on-mobile.cards-and-banner__list_item-btn.main-button Подробнее
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" width="24" height="24" rx="12" fill="white"/>
                                    <path d="M10.5 8L14.5 12L10.5 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon.color-accent-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M31.4961 4.5C35.9961 4.5 38.2461 6.7725 38.2461 11.3175V27.18C38.2461 31.6575 35.0736 33.39 31.1811 31.05L28.2111 29.25C27.5361 28.845 26.4561 28.845 25.7811 29.25L22.8111 31.05C18.9186 33.39 15.7461 31.6575 15.7461 27.18V11.3175C15.7461 6.7725 17.9961 4.5 22.4961 4.5H31.4961Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M15.3489 11.2238C7.67641 12.5063 4.50391 17.2312 4.50391 26.7713V33.5888C4.50391 44.9513 9.00391 49.4963 20.2539 49.4963H33.7539C45.0039 49.4963 49.5039 44.9513 49.5039 33.5888V26.7713C49.5039 17.0737 46.2189 12.3262 38.2539 11.1562" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Пройти бесплатный пробный экзамен
                                p.main-descriptions.cards-and-banner__list_item-descriptions Проведем бесплатный пробный экзамен, чтобы понять готовность ребенка к ОГЭ/ЕГЭ
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon.color-accent-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M15.4824 40.8372V36.1797" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <path opacity="0.4" d="M27 40.8384V31.5234" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <path opacity="0.4" d="M38.5176 40.8387V26.8438" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <g opacity="0.4">
                                <path d="M38.5225 13.1641L37.4875 14.3791C31.75 21.0841 24.055 25.8315 15.4824 27.969" stroke="#2554E7" stroke-width="3" stroke-linecap="round"/>
                                <path d="M31.9355 13.1641H38.528V19.7341" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <path d="M20.2539 49.5H33.7539C45.0039 49.5 49.5039 45 49.5039 33.75V20.25C49.5039 9 45.0039 4.5 33.7539 4.5H20.2539C9.00391 4.5 4.50391 9 4.50391 20.25V33.75C4.50391 45 9.00391 49.5 20.2539 49.5Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title План подготовки ребенка
                                p.main-descriptions.cards-and-banner__list_item-descriptions Поняв уровень его готовности, мы&nbsp;определим план обучения в&nbsp;разбивке по дням
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon.color-accent-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M42.7539 20.25C42.7539 23.5125 41.7864 26.505 40.1214 29.0025C37.6914 32.6025 33.8439 35.145 29.3664 35.7975C28.6014 35.9325 27.8139 36 27.0039 36C26.1939 36 25.4064 35.9325 24.6414 35.7975C20.1639 35.145 16.3164 32.6025 13.8864 29.0025C12.2214 26.505 11.2539 23.5125 11.2539 20.25C11.2539 11.5425 18.2964 4.5 27.0039 4.5C35.7114 4.5 42.7539 11.5425 42.7539 20.25Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M47.81 41.5559L44.0975 42.4334C43.265 42.6359 42.6125 43.2659 42.4325 44.0984L41.645 47.4059C41.2175 49.2059 38.9225 49.7459 37.73 48.3284L26.9975 35.9984L16.265 48.3509C15.0725 49.7684 12.7775 49.2284 12.35 47.4284L11.5625 44.1209C11.36 43.2884 10.7075 42.6359 9.89749 42.4559L6.18499 41.5784C4.47499 41.1734 3.86749 39.0359 5.10499 37.7984L13.88 29.0234C16.31 32.6234 20.1575 35.1659 24.635 35.8184C25.4 35.9534 26.1875 36.0209 26.9975 36.0209C27.8075 36.0209 28.595 35.9534 29.36 35.8184C33.8375 35.1659 37.685 32.6234 40.115 29.0234L48.89 37.7984C50.1275 39.0134 49.52 41.1509 47.81 41.5559Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M28.3055 13.455L29.633 16.11C29.813 16.47 30.2855 16.83 30.713 16.8975L33.1205 17.3025C34.6505 17.55 35.0105 18.675 33.908 19.7775L32.0405 21.645C31.7255 21.96 31.5455 22.5675 31.658 23.0175L32.198 25.335C32.6255 27.1575 31.658 27.8775 30.038 26.91L27.788 25.5825C27.383 25.335 26.708 25.335 26.303 25.5825L24.053 26.91C22.4329 27.855 21.4654 27.1575 21.8929 25.335L22.4329 23.0175C22.523 22.59 22.3654 21.96 22.0504 21.645L20.1829 19.7775C19.0804 18.675 19.4404 17.5725 20.9704 17.3025L23.378 16.8975C23.783 16.83 24.2555 16.47 24.4355 16.11L25.763 13.455C26.4155 12.015 27.5855 12.015 28.3055 13.455Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Профориентация для&nbsp;ребенка
                                p.main-descriptions.cards-and-banner__list_item-descriptions Проводим тестирования +&nbsp;подробную консультацию с&nbsp;анализом результатов
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon.color-accent-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.14648 17.5025V39.395C5.14648 43.67 8.18398 45.425 11.874 43.31L17.1615 40.295C18.309 39.6425 20.2215 39.575 21.414 40.1825L33.2266 46.1C34.4191 46.685 36.3316 46.6401 37.4791 45.9876L47.2216 40.4075C48.4591 39.6875 49.4941 37.9325 49.4941 36.4925V14.6C49.4941 10.325 46.4566 8.57 42.7666 10.685L37.4791 13.7C36.3316 14.3525 34.4191 14.42 33.2266 13.8125L21.414 7.9175C20.2215 7.3325 18.309 7.3775 17.1615 8.03L7.41898 13.61C6.15898 14.33 5.14648 16.085 5.14648 17.5025Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M19.2588 9V38.25" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M35.3955 14.8984V45.0034" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Составление карты ВУЗов
                                p.main-descriptions.cards-and-banner__list_item-descriptions На основе ваших предпочтений и профориентации подберем 15 вариантов для поступления
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon.color-accent-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M49.5039 26.7525V28.755C49.5039 36.765 47.5014 38.745 39.5139 38.745H14.4939C6.50641 38.745 4.50391 36.7425 4.50391 28.755V14.49C4.50391 6.5025 6.50641 4.5 14.4939 4.5H18.0039" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M27 38.7422V49.4972" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M4.50391 29.25H49.5039" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16.875 49.5H37.125" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M40.184 21.0834H29.474C26.369 21.0834 25.334 19.0134 25.334 16.9434V9.02344C25.334 6.54844 27.359 4.52344 29.834 4.52344H40.184C42.479 4.52344 44.324 6.36844 44.324 8.66344V16.9434C44.324 19.2384 42.479 21.0834 40.184 21.0834Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M47.0409 17.8215L44.3184 15.909V9.69903L47.0409 7.78653C48.3909 6.86403 49.4934 7.42653 49.4934 9.06903V16.5615C49.4934 18.204 48.3909 18.7665 47.0409 17.8215Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Получить бесплатный вводный урок
                                p.main-descriptions.cards-and-banner__list_item-descriptions Чтобы понять формат обучения можно записаться на бесплатный пробный урок!
                            a(href="").cards-and-banner__list_item-link Подробнее
                li.cards-and-banner__list_item
                    .cards-and-banner__list_item-wrap
                        span.cards-and-banner__list_item-icon.color-accent-icon
                            <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.50391 49.5H49.5039" stroke="#2554E7" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.9375 9V49.5H32.0625V9C32.0625 6.525 31.05 4.5 28.0125 4.5H25.9875C22.95 4.5 21.9375 6.525 21.9375 9Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M6.75 22.5V49.5H15.75V22.5C15.75 20.025 14.85 18 12.15 18H10.35C7.65 18 6.75 20.025 6.75 22.5Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path opacity="0.4" d="M38.2539 33.75V49.5H47.2539V33.75C47.2539 31.275 46.3539 29.25 43.6539 29.25H41.8539C39.1539 29.25 38.2539 31.275 38.2539 33.75Z" stroke="#2554E7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .cards-and-banner__list_item-content
                            div
                                h3.cards-and-banner__list_item-title Получить бесплатный вводный курс
                                p.main-descriptions.cards-and-banner__list_item-descriptions Мы подготовили бесплатные базовые курсы по каждому предмету
                            a(href="").cards-and-banner__list_item-link Подробнее
    .cards-and-banner__banner
        include ../widgets/sale-banner

            
