section.comments
    .comments__wrap
        h2.comments__title.main-subtitle Сейчас комментируют
        .comments__arrows
            button.comments__arrows_arrow.left.disabled
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            button.comments__arrows_arrow
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
    ul.comments__list
        li.comment
            .comment__content
                .comment__header
                    .comment__wrap
                        .comment__img.bubble-image-blue М
                        .comment__name Михаил
                    .comment__time 30 минут назад
                p.comment__descriptions.main-descriptions Огромное спасибо создателям портала, за данную подборку! Передал своей дочке и она сказала, что их к такому не готовили.
            .comment__footer
                a(href="") Что делать, если ребёнок не хочет учиться?
        li.comment
            .comment__content
                .comment__header
                    .comment__wrap
                        .comment__img.bubble-image-red А
                        .comment__name Александр
                    .comment__time 41 минут назад
                p.comment__descriptions.main-descriptions Хочу пропихнуть сына на бюджет, но с такими экзаменами не знаю что делать.
            .comment__footer
                a(href="") Методика подготовки к ЕГЭ за 2 недели
        li.comment
            .comment__content
                .comment__header
                    .comment__wrap
                        .comment__img
                            img(src="../img/reviews3.png", alt="people")
                        .comment__name Сабина
                    .comment__time 1 час назад
                p.comment__descriptions.main-descriptions А как по мне, все эти манипуляции с баллами, заставляют тебя постоянно зависеть от различных ситуаций на экзамене
            .comment__footer
                a(href="") Самый легкий способ поступить на бюджет в любой ВУЗ страны
    .visible-on-tablet
        ul.carousel__pagination
            li.carousel__pagination-item
                button.carousel__pagination-button
            li.carousel__pagination-item
                button.carousel__pagination-button
            li.carousel__pagination-item
                button.carousel__pagination-button.carousel__pagination-button--active
            

                    

