aside.comments-block
    h3.comments-block__title Сейчас комментируют
    ul.comments-block__list
        li.comment
            .comment__content
                .comment__header
                    .comment__wrap
                        .comment__img.bubble-image-blue М
                        .comment__name Михаил
                    .comment__time 30 минут назад
                p.comment__descriptions.main-descriptions Огромное спасибо создателям портала, за данную подборку! Передал своей дочке и она сказала, что их к такому не готовили.
            .comment__footer
                a(href="") Что делать, если ребёнок не хочет учиться?
        li.comment
            .comment__content
                .comment__header
                    .comment__wrap
                        .comment__img.bubble-image-red А
                        .comment__name Александр
                    .comment__time 41 минут назад
                p.comment__descriptions.main-descriptions Хочу пропихнуть сына на бюджет, но с такими экзаменами не знаю что делать.
            .comment__footer
                a(href="") Методика подготовки к ЕГЭ за 2 недели
        li.comment
            .comment__content
                .comment__header
                    .comment__wrap
                        .comment__img
                            img(src="../img/reviews3.png", alt="people")
                        .comment__name Сабина
                    .comment__time 1 час назад
                p.comment__descriptions.main-descriptions А как по мне, все эти манипуляции с баллами, заставляют тебя постоянно зависеть от различных ситуаций на экзамене
            .comment__footer
                a(href="") Самый легкий способ поступить на бюджет в любой ВУЗ страны
    


