.wide-container
    section.diagnostic-block
        .diagnostic-block__background 
            img(src=desktopBgSrc || "../img/background-quote.png", alt="background")
        .diagnostic-block__content
            .diagnostic-block__text-block
                h2.main-title.diagnostic-block__title Ученики признаются, что&nbsp;не&nbsp;получили бы высокие баллы на&nbsp;ОГЭ и&nbsp;ЕГЭ, без&nbsp;нашей диагностики!
                .diagnostic-block__wrapper
                    .diagnostic-block__icon
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5876_95448)">
                            <rect width="64" height="64" rx="16" fill="#0B1F33"/>
                            <path d="M21.0848 29.422C19.7697 29.4265 18.4779 29.7693 17.3336 30.4176C18.9446 26.2478 21.6164 22.571 25.0848 19.7509C25.2832 19.5875 25.4475 19.3866 25.5683 19.1597C25.6891 18.9327 25.764 18.6842 25.7888 18.4284C25.8135 18.1725 25.7877 17.9142 25.7126 17.6684C25.6376 17.4225 25.5148 17.1938 25.3514 16.9954C25.188 16.7969 24.9871 16.6326 24.7602 16.5118C24.5332 16.391 24.2847 16.3161 24.0289 16.2913C23.773 16.2666 23.5147 16.2924 23.2689 16.3675C23.023 16.4425 22.7943 16.5653 22.5959 16.7287C15.4848 22.5065 12.3203 30.5065 12.3203 35.4665C12.3326 37.2202 12.8552 38.9325 13.8244 40.3942C14.7936 41.8558 16.1674 43.0037 17.7781 43.6976C18.8205 44.2026 19.9621 44.4697 21.1203 44.4798C22.1398 44.5294 23.1587 44.3713 24.1153 44.0153C25.0719 43.6593 25.9462 43.1128 26.6853 42.4088C27.4243 41.7048 28.0127 40.858 28.4147 39.9198C28.8168 38.9817 29.024 37.9716 29.024 36.9509C29.024 35.9302 28.8168 34.9202 28.4147 33.982C28.0127 33.0438 27.4243 32.197 26.6853 31.493C25.9462 30.789 25.0719 30.2425 24.1153 29.8865C23.1587 29.5305 22.1398 29.3725 21.1203 29.422H21.0848Z" fill="#FAFCFF"/>
                            <path d="M40.8894 29.422C39.5741 29.4249 38.2819 29.7678 37.1383 30.4176C38.7486 26.2522 41.4134 22.5766 44.8717 19.7509C45.0881 19.5949 45.2704 19.3962 45.4072 19.1672C45.544 18.9381 45.6324 18.6834 45.6671 18.4189C45.7018 18.1543 45.682 17.8854 45.6089 17.6288C45.5358 17.3722 45.411 17.1333 45.2421 16.9267C45.0732 16.7201 44.8638 16.5503 44.6268 16.4277C44.3898 16.3051 44.1303 16.2323 43.8641 16.2137C43.5979 16.1952 43.3308 16.2313 43.0791 16.3199C42.8274 16.4084 42.5965 16.5476 42.4006 16.7287C35.2894 22.5065 32.125 30.5065 32.125 35.4665C32.1334 37.2004 32.6408 38.8952 33.5866 40.3485C34.5323 41.8018 35.8764 42.9521 37.4583 43.662C38.5271 44.1818 39.701 44.4494 40.8894 44.4443C41.9089 44.4938 42.9279 44.3358 43.8845 43.9798C44.841 43.6238 45.7154 43.0772 46.4544 42.3732C47.1935 41.6692 47.7818 40.8225 48.1839 39.8843C48.5859 38.9461 48.7932 37.9361 48.7932 36.9154C48.7932 35.8947 48.5859 34.8846 48.1839 33.9464C47.7818 33.0083 47.1935 32.1615 46.4544 31.4575C45.7154 30.7535 44.841 30.2069 43.8845 29.8509C42.9279 29.4949 41.9089 29.3369 40.8894 29.3865V29.422Z" fill="#FAFCFF"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_5876_95448">
                            <rect width="64" height="64" rx="16" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    div
                        .diagnostic-block__name Вероника Сорокина
                        .diagnostic-block__text Завуч образовательного проекта "Лектариум"
            .diagnostic-block__mark
                p.diagnostic-block__mark_text Рост среднего балла на экзаменах после нашей диагностики
                .diagnostic-block__mark_numbers 30-100%
        .diagnostic-block__image
            img(src=desktopImageSrc || "../img/women1-clean.png", alt="People")
