
section.four-cards-block
    .main-container
        .four-cards-block__wrap
            h2.four-cards-block__title.main-subtitle
                | Что мы предлагаем
            .four-cards-block__arrows.visible
                button.four-cards-block__arrows_arrow.left.carousel__prev
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                button.four-cards-block__arrows_arrow.carousel__next
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        .carousel
            .carousel__viewport
                ol.four-cards-block__list.carousel__track
                    li.four-cards-block__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev.four-cards-block__list_item
                        .four-cards-block__list_item-bg
                            img(src="../img/green-bg.png", alt="background")
                        .four-cards-block__list_item-content
                            .four-cards-block__list_item-img
                                img(src="../img/laptop.svg", alt="laptop")
                            .four-cards-block__list_item-info
                                h3.four-cards-block__list_item-title Удаленная работа
                                p.four-cards-block__list_item-descriptions.main-descriptions Возможность работать из&nbsp;любой точки&nbsp;мира
                    li.four-cards-block__list_item.carousel__slide.carousel__slide--visible.carousel__slide--active.four-cards-block__list_item
                        .four-cards-block__list_item-bg
                            img(src="../img/orange-bg.png", alt="background")
                        .four-cards-block__list_item-content
                            .four-cards-block__list_item-img.book-position
                                img(src="../img/notebook.svg", alt="notebook")
                            .four-cards-block__list_item-info
                                h3.four-cards-block__list_item-title Удобный гибкий график
                                p.four-cards-block__list_item-descriptions.main-descriptions Самостоятельное планирование&nbsp;рабочего дня
                    li.four-cards-block__list_item.carousel__slide.carousel__slide--visible.carousel__slide--next.four-cards-block__list_item
                        .four-cards-block__list_item-bg
                            img(src="../img/blue-bg.png", alt="background")
                        .four-cards-block__list_item-content
                            .four-cards-block__list_item-img.rocket-position
                                img(src="../img/rocket-blue.svg", alt="rocket")
                            .four-cards-block__list_item-info
                                h3.four-cards-block__list_item-title Возможность карьерного&nbsp;роста
                                p.four-cards-block__list_item-descriptions.main-descriptions Самореализация и&nbsp;рост&nbsp;внутри&nbsp;компании
                    li.four-cards-block__list_item.carousel__slide.four-cards-block__list_item
                        .four-cards-block__list_item-bg
                            img(src="../img/violet-bg.png", alt="background")
                        .four-cards-block__list_item-content
                            .four-cards-block__list_item-img
                                img(src="../img/mosaic.svg", alt="mosaic")
                            .four-cards-block__list_item-info
                                h3.four-cards-block__list_item-title Большая и дружная команда
                                p.four-cards-block__list_item-descriptions.main-descriptions Молодая и&nbsp;дружная команда радостно примет тебя в&nbsp;наши ряды. В&nbsp;нашей школе 150+&nbsp;сотрудников
        .visible-on-large-desktop
            ol.carousel__pagination
                li.carousel__pagination-item
                    button.carousel__pagination-button
                li.carousel__pagination-item
                    button.carousel__pagination-button
                li.carousel__pagination-item
                    button.carousel__pagination-button.carousel__pagination-button--active








            
