section.free-consultation.main-container
    .free-consultation__container
        .free-consultation__content
            .free-consultation__text-block
                .free-consultation__mark Бесплатно
                h2.main-title.free-consultation__title
                    | Получите
                    span.border-wrap
                        | &nbsp;бесплатную&nbsp;
                    <br>
                    | консультацию по&nbsp;выбору ВУЗа
            .free-consultation__actions
                a(href='').grey-button.free-consultation__link Подробнее
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#2554E7"/>
                        <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        .free-consultation__image
            picture
                source(srcset="../img/mgu3.png", type="image/png", media="(max-width: 400px)")
                img(src="../img/mgu4.png", alt="mgu")
            