.wide-container
    section.hero-articles
        .hero-articles__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-articles__wrap
            .hero-articles__content
                .hero-articles__text-block
                    h1.main-title.hero-articles__title
                        | Журнал
                        <br>
                        | Лектариум
                    p.hero-articles__descriptions.main-descriptions Подборка ответов на&nbsp;любые учебные вопросы в&nbsp;виде статей
                .hero-articles__bottom
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="36" height="36" rx="8" fill="#2554E7"/>
                        <path d="M11.8597 16.5474C11.12 16.5499 10.3933 16.7427 9.74969 17.1074C10.6558 14.7619 12.1587 12.6937 14.1097 11.1074C14.2213 11.0155 14.3137 10.9024 14.3817 10.7748C14.4496 10.6472 14.4918 10.5074 14.5057 10.3635C14.5196 10.2195 14.5051 10.0743 14.4629 9.93595C14.4207 9.79765 14.3516 9.66901 14.2597 9.55739C14.1678 9.44576 14.0548 9.35334 13.9271 9.28539C13.7995 9.21744 13.6597 9.1753 13.5158 9.16137C13.3718 9.14744 13.2266 9.162 13.0883 9.20421C12.9499 9.24642 12.8213 9.31546 12.7097 9.40739C8.70969 12.6574 6.92969 17.1574 6.92969 19.9474C6.93658 20.9339 7.23056 21.897 7.77573 22.7192C8.3209 23.5414 9.09367 24.1871 9.99969 24.5774C10.586 24.8614 11.2282 25.0117 11.8797 25.0174C12.4531 25.0453 13.0263 24.9564 13.5644 24.7561C14.1025 24.5559 14.5943 24.2484 15.01 23.8524C15.4257 23.4564 15.7567 22.9801 15.9828 22.4524C16.2089 21.9247 16.3255 21.3565 16.3255 20.7824C16.3255 20.2082 16.2089 19.6401 15.9828 19.1124C15.7567 18.5846 15.4257 18.1083 15.01 17.7123C14.5943 17.3163 14.1025 17.0089 13.5644 16.8086C13.0263 16.6084 12.4531 16.5195 11.8797 16.5474H11.8597Z" fill="white"/>
                        <path d="M23.0003 16.5495C22.2605 16.5511 21.5336 16.744 20.8903 17.1095C21.7961 14.7665 23.2951 12.699 25.2403 11.1095C25.3621 11.0218 25.4646 10.91 25.5415 10.7812C25.6185 10.6523 25.6682 10.5091 25.6878 10.3602C25.7073 10.2114 25.6961 10.0602 25.655 9.91584C25.6139 9.7715 25.5437 9.63709 25.4487 9.5209C25.3537 9.40471 25.2359 9.30918 25.1026 9.24021C24.9693 9.17124 24.8233 9.13028 24.6736 9.11985C24.5238 9.10942 24.3736 9.12973 24.232 9.17955C24.0904 9.22937 23.9605 9.30764 23.8503 9.40953C19.8503 12.6595 18.0703 17.1595 18.0703 19.9495C18.0751 20.9249 18.3605 21.8782 18.8924 22.6957C19.4244 23.5131 20.1805 24.1602 21.0703 24.5595C21.6715 24.8519 22.3318 25.0024 23.0003 24.9995C23.5738 25.0274 24.1469 24.9385 24.685 24.7383C25.2231 24.538 25.7149 24.2306 26.1306 23.8346C26.5463 23.4386 26.8773 22.9623 27.1034 22.4346C27.3296 21.9068 27.4462 21.3387 27.4462 20.7645C27.4462 20.1904 27.3296 19.6222 27.1034 19.0945C26.8773 18.5668 26.5463 18.0905 26.1306 17.6945C25.7149 17.2985 25.2231 16.991 24.685 16.7908C24.1469 16.5905 23.5738 16.5017 23.0003 16.5295V16.5495Z" fill="white"/>
                    </svg>
                    span 28 статей
            .hero-articles__list
                .hero-articles__list_item.wide-article
                    .wide-article__content
                        div
                            span.wide-article__date 21 марта 2024
                            h3.wide-article__title Методика подготовки к&nbsp;ЕГЭ за&nbsp;2&nbsp;недели
                        .wide-article__stats
                            .wide-article__stats_social
                                .wide-article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.125 10C8.125 8.9645 8.9645 8.125 10 8.125C11.0355 8.125 11.875 8.9645 11.875 10C11.875 11.0355 11.0355 11.875 10 11.875C8.9645 11.875 8.125 11.0355 8.125 10Z" fill="#CAD0D6"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66797 9.99479C1.66797 11.361 2.0221 11.821 2.73038 12.7412C4.1446 14.5785 6.51639 16.6615 10.0013 16.6615C13.4862 16.6615 15.858 14.5785 17.2722 12.7412C17.9805 11.821 18.3346 11.361 18.3346 9.99479C18.3346 8.62862 17.9805 8.16857 17.2722 7.2484C15.858 5.41109 13.4862 3.32812 10.0013 3.32812C6.51639 3.32812 4.1446 5.41109 2.73038 7.2484C2.0221 8.16857 1.66797 8.62862 1.66797 9.99479ZM10.0013 6.86979C8.27541 6.86979 6.8763 8.2689 6.8763 9.99479C6.8763 11.7207 8.27541 13.1198 10.0013 13.1198C11.7272 13.1198 13.1263 11.7207 13.1263 9.99479C13.1263 8.2689 11.7272 6.86979 10.0013 6.86979Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 1333
                                .wide-article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8965 17.3835L11.4447 18.1466C10.8001 19.2358 9.20255 19.2358 8.55789 18.1466L8.10613 17.3835C7.92493 17.0773 7.81065 16.8855 7.70951 16.7467C7.61607 16.6185 7.56224 16.5766 7.52274 16.5537C7.48529 16.5319 7.42129 16.5051 7.2562 16.4868C7.07953 16.4673 6.84776 16.4626 6.48185 16.4563C5.43579 16.4383 4.67175 16.3766 4.00094 16.0988C2.82685 15.6125 1.89404 14.6796 1.40771 13.5055C1.21233 13.0339 1.12589 12.5238 1.08406 11.9109C1.04296 11.3086 1.04297 10.5629 1.04297 9.61195V9.58854V8.75521V8.72247C1.04296 7.38629 1.04296 6.3388 1.12253 5.50197C1.20363 4.64901 1.37178 3.95058 1.74907 3.3349C2.14417 2.69016 2.68625 2.14808 3.33099 1.75298C3.94668 1.37568 4.6451 1.20753 5.49806 1.12643C6.3349 1.04687 7.38238 1.04687 8.71856 1.04688H8.7513H11.2513H11.284C12.6202 1.04687 13.6677 1.04687 14.5046 1.12643C15.3575 1.20753 16.0559 1.37568 16.6716 1.75298C17.3164 2.14808 17.8585 2.69016 18.2536 3.3349C18.6308 3.95058 18.799 4.64901 18.8801 5.50197C18.9596 6.33873 18.9596 7.38611 18.9596 8.72212V8.75521V9.58854V9.61143C18.9596 10.5627 18.9596 11.3084 18.9186 11.9109C18.8767 12.5238 18.7903 13.0339 18.5949 13.5055C18.1086 14.6796 17.1757 15.6125 16.0016 16.0988C15.3309 16.3766 14.5668 16.4383 13.5207 16.4563C13.1548 16.4626 12.9231 16.4673 12.7464 16.4868C12.5813 16.5051 12.5173 16.5319 12.4798 16.5537C12.4403 16.5766 12.3865 16.6185 12.2931 16.7467C12.1919 16.8855 12.0776 17.0773 11.8965 17.3835Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 8
                                .wide-article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 3.381C9.88794 3.26554 9.76553 3.14595 9.63177 3.02613C8.91078 2.38023 7.78618 1.66406 6.33203 1.66406C4.74872 1.66406 3.35806 2.20309 2.36093 3.21383C1.3638 4.22457 0.832031 5.63421 0.832031 7.23913C0.832031 8.85794 1.59624 10.5511 3.02285 12.2282C4.45427 13.9109 6.60787 15.6456 9.53815 17.3716C9.82289 17.5393 10.1745 17.5393 10.4592 17.3716C13.3828 15.6496 15.5375 13.9544 16.9709 12.2897C18.406 10.6232 19.1654 8.92917 19.1654 7.23913C19.1654 5.63421 18.6336 4.22457 17.6365 3.21383C16.6393 2.20309 15.2487 1.66406 13.6654 1.66406C12.2112 1.66406 11.0866 2.38023 10.3656 3.02613C10.2319 3.14595 10.1095 3.26554 9.9987 3.381Z" fill="#F14545"/>
                                    </svg>
                                    | 5
                            .wide-article__stats_item
                                | 3 минуты
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 4.83333V9L11.0833 7.75M16.5 9C16.5 13.1422 13.1422 16.5 9 16.5C4.85787 16.5 1.5 13.1422 1.5 9C1.5 4.85787 4.85787 1.5 9 1.5C13.1422 1.5 16.5 4.85787 16.5 9Z" stroke="#CAD0D6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    .wide-article__image.pale-turquoise
                        .wide-article__image-img
                            img(src="../img/article1.png", alt="img")
                        .wide-article__image-bg
                            img(src="../img/article-bg1.png", alt="background")
                        span.wide-article__image-text Лайфхаки
                .hero-articles__list_item.wide-article
                    .wide-article__content
                        div
                            span.wide-article__date 21 марта 2024
                            h3.wide-article__title Методика подготовки к&nbsp;ЕГЭ за&nbsp;2&nbsp;недели
                        .wide-article__stats
                            .wide-article__stats_social
                                .wide-article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.125 10C8.125 8.9645 8.9645 8.125 10 8.125C11.0355 8.125 11.875 8.9645 11.875 10C11.875 11.0355 11.0355 11.875 10 11.875C8.9645 11.875 8.125 11.0355 8.125 10Z" fill="#CAD0D6"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.66797 9.99479C1.66797 11.361 2.0221 11.821 2.73038 12.7412C4.1446 14.5785 6.51639 16.6615 10.0013 16.6615C13.4862 16.6615 15.858 14.5785 17.2722 12.7412C17.9805 11.821 18.3346 11.361 18.3346 9.99479C18.3346 8.62862 17.9805 8.16857 17.2722 7.2484C15.858 5.41109 13.4862 3.32812 10.0013 3.32812C6.51639 3.32812 4.1446 5.41109 2.73038 7.2484C2.0221 8.16857 1.66797 8.62862 1.66797 9.99479ZM10.0013 6.86979C8.27541 6.86979 6.8763 8.2689 6.8763 9.99479C6.8763 11.7207 8.27541 13.1198 10.0013 13.1198C11.7272 13.1198 13.1263 11.7207 13.1263 9.99479C13.1263 8.2689 11.7272 6.86979 10.0013 6.86979Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 1333
                                .wide-article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8965 17.3835L11.4447 18.1466C10.8001 19.2358 9.20255 19.2358 8.55789 18.1466L8.10613 17.3835C7.92493 17.0773 7.81065 16.8855 7.70951 16.7467C7.61607 16.6185 7.56224 16.5766 7.52274 16.5537C7.48529 16.5319 7.42129 16.5051 7.2562 16.4868C7.07953 16.4673 6.84776 16.4626 6.48185 16.4563C5.43579 16.4383 4.67175 16.3766 4.00094 16.0988C2.82685 15.6125 1.89404 14.6796 1.40771 13.5055C1.21233 13.0339 1.12589 12.5238 1.08406 11.9109C1.04296 11.3086 1.04297 10.5629 1.04297 9.61195V9.58854V8.75521V8.72247C1.04296 7.38629 1.04296 6.3388 1.12253 5.50197C1.20363 4.64901 1.37178 3.95058 1.74907 3.3349C2.14417 2.69016 2.68625 2.14808 3.33099 1.75298C3.94668 1.37568 4.6451 1.20753 5.49806 1.12643C6.3349 1.04687 7.38238 1.04687 8.71856 1.04688H8.7513H11.2513H11.284C12.6202 1.04687 13.6677 1.04687 14.5046 1.12643C15.3575 1.20753 16.0559 1.37568 16.6716 1.75298C17.3164 2.14808 17.8585 2.69016 18.2536 3.3349C18.6308 3.95058 18.799 4.64901 18.8801 5.50197C18.9596 6.33873 18.9596 7.38611 18.9596 8.72212V8.75521V9.58854V9.61143C18.9596 10.5627 18.9596 11.3084 18.9186 11.9109C18.8767 12.5238 18.7903 13.0339 18.5949 13.5055C18.1086 14.6796 17.1757 15.6125 16.0016 16.0988C15.3309 16.3766 14.5668 16.4383 13.5207 16.4563C13.1548 16.4626 12.9231 16.4673 12.7464 16.4868C12.5813 16.5051 12.5173 16.5319 12.4798 16.5537C12.4403 16.5766 12.3865 16.6185 12.2931 16.7467C12.1919 16.8855 12.0776 17.0773 11.8965 17.3835Z" fill="#CAD0D6"/>
                                    </svg>
                                    | 8
                                .wide-article__stats_item
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 3.381C9.88794 3.26554 9.76553 3.14595 9.63177 3.02613C8.91078 2.38023 7.78618 1.66406 6.33203 1.66406C4.74872 1.66406 3.35806 2.20309 2.36093 3.21383C1.3638 4.22457 0.832031 5.63421 0.832031 7.23913C0.832031 8.85794 1.59624 10.5511 3.02285 12.2282C4.45427 13.9109 6.60787 15.6456 9.53815 17.3716C9.82289 17.5393 10.1745 17.5393 10.4592 17.3716C13.3828 15.6496 15.5375 13.9544 16.9709 12.2897C18.406 10.6232 19.1654 8.92917 19.1654 7.23913C19.1654 5.63421 18.6336 4.22457 17.6365 3.21383C16.6393 2.20309 15.2487 1.66406 13.6654 1.66406C12.2112 1.66406 11.0866 2.38023 10.3656 3.02613C10.2319 3.14595 10.1095 3.26554 9.9987 3.381Z" fill="#F14545"/>
                                    </svg>
                                    | 5
                            .wide-article__stats_item
                                | 3 минуты
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 4.83333V9L11.0833 7.75M16.5 9C16.5 13.1422 13.1422 16.5 9 16.5C4.85787 16.5 1.5 13.1422 1.5 9C1.5 4.85787 4.85787 1.5 9 1.5C13.1422 1.5 16.5 4.85787 16.5 9Z" stroke="#CAD0D6" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    .wide-article__image.pale-red
                        .wide-article__image-img
                            img(src="../img/article2.png", alt="img")
                        .wide-article__image-bg
                            img(src="../img/article-bg2.png", alt="background")
                        span.wide-article__image-text Лайфхаки    
                
        


