.wide-container
    section.hero-mini.light-blue.career
        .hero-mini__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-mini__wrap
            .hero-mini__content
                .hero-mini__text-block
                    h1.main-title.hero-mini__title
                        | Карьера
                        <br>
                        | в&nbsp;Лектариум
                    p.hero-mini__descriptions.main-descriptions Строим лучшую онлайн-школу. Стань частью команды!
                .hero-mini__bottom
                    a(href="").hero-mini__btn.main-button Смотреть вакансии
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .hero-mini__image
                picture
                    source(srcset="../img/people-career-mobile.svg", media="(max-width: 1024px)")
                    img(src="../img/people-career.svg", alt="img")
              
            