.wide-container
    section.hero-teacher.red
        .hero-teacher__background 
            img(src=desktopBgSrc || "../img/kremlin-tablet.png", alt="background")
        .hero-teacher__content
            .hero-teacher__text-block
                .hero-teacher__mark Преподаватель по русскому языку
                h1.main-title.hero-teacher__title Мария Армянинова
                span.hero-teacher__list-title Основные направления:  
                ul.hero-teacher__list
                    li.hero-teacher__list_item
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M8 12.2989L10.4615 14.6693L16 9.33594" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Улучшение оценок в школе
                    li.hero-teacher__list_item
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M8 12.2989L10.4615 14.6693L16 9.33594" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Подготовка к ОГЭ
                    li.hero-teacher__list_item
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M8 12.2989L10.4615 14.6693L16 9.33594" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Подготовка к ЕГЭ
            .hidden-on-tablet
                button.light-button.hero-teacher__btn
                    | Смотреть курсы
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#0B1F33"/>
                        <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .visible-on-tablet
                button.light-button.hero-teacher__btn
                    | Записаться
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#0B1F33"/>
                        <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        .hero-teacher__image
            img(src=desktopImageSrc || "../img/teacher1.png", alt="Teacher")
        .hero-teacher__quote
            p.hero-teacher__quote_text Делаю изучение скучных правил интересным. Используя свои методики по запоминанию сложных понятий, благодаря чему&nbsp;учеба становится понятной
            .hero-teacher__quote_icon
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="44" height="44" rx="8" fill="white"/>
                    <path d="M14.4943 20.2289C13.5902 20.232 12.7021 20.4677 11.9154 20.9134C13.0229 18.0467 14.8598 15.5188 17.2443 13.58C17.3807 13.4677 17.4937 13.3296 17.5767 13.1735C17.6598 13.0175 17.7113 12.8467 17.7283 12.6708C17.7453 12.4949 17.7276 12.3173 17.676 12.1483C17.6244 11.9792 17.54 11.822 17.4276 11.6856C17.3153 11.5492 17.1772 11.4362 17.0212 11.3531C16.8651 11.2701 16.6943 11.2186 16.5184 11.2016C16.3425 11.1845 16.1649 11.2023 15.9959 11.2539C15.8268 11.3055 15.6696 11.3899 15.5332 11.5023C10.6443 15.4745 8.46875 20.9745 8.46875 24.3845C8.47717 25.5902 8.83648 26.7674 9.5028 27.7723C10.1691 28.7772 11.1136 29.5663 12.221 30.0434C12.9376 30.3905 13.7225 30.5742 14.5187 30.5811C15.2196 30.6152 15.9202 30.5066 16.5778 30.2618C17.2355 30.0171 17.8366 29.6413 18.3447 29.1573C18.8528 28.6733 19.2573 28.0912 19.5337 27.4462C19.8101 26.8012 19.9526 26.1068 19.9526 25.405C19.9526 24.7033 19.8101 24.0089 19.5337 23.3639C19.2573 22.7189 18.8528 22.1368 18.3447 21.6528C17.8366 21.1688 17.2355 20.793 16.5778 20.5482C15.9202 20.3035 15.2196 20.1949 14.5187 20.2289H14.4943Z" fill="#F14545"/>
                    <path d="M28.1115 20.2324C27.2072 20.2344 26.3188 20.4701 25.5326 20.9169C26.6397 18.0531 28.4717 15.5262 30.8493 13.5835C30.9981 13.4763 31.1234 13.3397 31.2174 13.1822C31.3115 13.0247 31.3723 12.8496 31.3962 12.6677C31.42 12.4858 31.4064 12.301 31.3561 12.1246C31.3059 11.9481 31.2201 11.7839 31.1039 11.6419C30.9878 11.4998 30.8439 11.3831 30.6809 11.2988C30.518 11.2145 30.3396 11.1644 30.1566 11.1517C29.9736 11.1389 29.7899 11.1638 29.6169 11.2247C29.4438 11.2856 29.2851 11.3812 29.1504 11.5057C24.2615 15.478 22.0859 20.978 22.0859 24.388C22.0917 25.58 22.4406 26.7452 23.0908 27.7444C23.741 28.7435 24.665 29.5343 25.7526 30.0224C26.4874 30.3797 27.2944 30.5637 28.1115 30.5602C28.8124 30.5943 29.5129 30.4856 30.1706 30.2409C30.8282 29.9961 31.4293 29.6204 31.9374 29.1364C32.4455 28.6524 32.85 28.0702 33.1264 27.4252C33.4028 26.7802 33.5453 26.0858 33.5453 25.3841C33.5453 24.6824 33.4028 23.9879 33.1264 23.3429C32.85 22.6979 32.4455 22.1158 31.9374 21.6318C31.4293 21.1478 30.8282 20.772 30.1706 20.5273C29.5129 20.2825 28.8124 20.1739 28.1115 20.208V20.2324Z" fill="#F14545"/>
                </svg>


