.wide-container
    section.hero-textbook-detailed.color-accent-bg
        .hero-textbook-detailed__background.russian-bg
            picture
                source(srcset="../img/russian-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/kremlin-light.png", alt="background")
        .hero-textbook-detailed__background.mathematics-bg
            picture
                source(srcset="../img/mathematics-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/drawing-light.png", alt="background")
        .hero-textbook-detailed__background.physics-bg
            picture
                source(srcset="../img/physics-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/atom-light.png", alt="background")
        .hero-textbook-detailed__background.biology-bg
            picture
                source(srcset="../img/biology-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/leaf-light.png", alt="background")
        .hero-textbook-detailed__background.literature-bg
            picture
                source(srcset="../img/literature-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/book-light.png", alt="background")
        .hero-textbook-detailed__background.geography-bg
            picture
                source(srcset="../img/geography-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/globe-light.png", alt="background")
        .hero-textbook-detailed__background.informatics-bg
            picture
                source(srcset="../img/informatics-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/code-light.png", alt="background")
        .hero-textbook-detailed__background.english-bg
            picture
                source(srcset="../img/english-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/london-light.png", alt="background")
        .hero-textbook-detailed__background.social-science-bg
            picture
                source(srcset="../img/social-science-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/law-light.png", alt="background")
        .hero-textbook-detailed__background.history-bg
            picture
                source(srcset="../img/history-letter.png", type="image/png", media="(max-width: 1024px)")
                img(src="../img/globe.png", alt="background")
        .hero-textbook-detailed__content
            .hero-textbook-detailed__text-block
                ul.tags.big
                    li.tags__item.tags__item--white Статья
                    li.tags__item.tags__item--blur 7 класс
                    li.tags__item.tags__item--blur Русский язык
                    li.tags__item.tags__item--blur ВУЗы
                .visible-on-tablet
                    span.stats__date 21 марта 2024
                h1.main-title.hero-textbook-detailed__title Что такое наречия?
            aside.stats
                .hidden-on-tablet
                    span.stats__date 21 марта 2024
                .stats__items
                    .stats__items_social
                        .stats__items_item
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                <path d="M9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#0B1F33"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 13.6394 2.42496 14.1915 3.27489 15.2957C4.97196 17.5004 7.81811 20 12 20C16.1819 20 19.028 17.5004 20.7251 15.2957C21.575 14.1915 22 13.6394 22 12C22 10.3606 21.575 9.80853 20.7251 8.70433C19.028 6.49956 16.1819 4 12 4C7.81811 4 4.97196 6.49956 3.27489 8.70433C2.42496 9.80853 2 10.3606 2 12ZM12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z" fill="#0B1F33"/>
                                </g>
                            </svg>
                            | 1337
                        .stats__items_item
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                <path d="M14.2742 20.8539L13.7321 21.7697C12.9585 23.0767 11.0415 23.0767 10.2679 21.7697L9.72579 20.8539C9.50835 20.4865 9.37122 20.2564 9.24985 20.0898C9.13772 19.936 9.07313 19.8857 9.02572 19.8582C8.98078 19.832 8.90399 19.7999 8.70588 19.7779C8.49387 19.7545 8.21575 19.7489 7.77666 19.7413C6.52138 19.7197 5.60454 19.6457 4.79957 19.3123C3.39066 18.7287 2.27128 17.6093 1.68769 16.2004C1.45323 15.6344 1.3495 15.0223 1.29931 14.2868C1.24999 13.564 1.25 12.6693 1.25 11.5281V11.5V10.5V10.4607C1.24999 8.8573 1.24999 7.60031 1.34547 6.59611C1.44279 5.57256 1.64457 4.73445 2.09732 3.99563C2.57144 3.22194 3.22194 2.57144 3.99563 2.09732C4.73445 1.64457 5.57256 1.44279 6.59611 1.34547C7.60031 1.24999 8.8573 1.24999 10.4607 1.25H10.5H13.5H13.5393C15.1427 1.24999 16.3997 1.24999 17.4039 1.34547C18.4274 1.44279 19.2655 1.64457 20.0044 2.09732C20.7781 2.57144 21.4286 3.22194 21.9027 3.99563C22.3554 4.73445 22.5572 5.57256 22.6545 6.59611C22.75 7.60022 22.75 8.85707 22.75 10.4603V10.5V11.5V11.5275C22.75 12.6689 22.75 13.5639 22.7007 14.2868C22.6505 15.0223 22.5468 15.6344 22.3123 16.2004C21.7287 17.6093 20.6093 18.7287 19.2004 19.3123C18.3955 19.6457 17.4786 19.7197 16.2233 19.7413C15.7842 19.7489 15.5061 19.7545 15.2941 19.7779C15.096 19.7999 15.0192 19.832 14.9742 19.8582C14.9268 19.8857 14.8622 19.936 14.7501 20.0898C14.6287 20.2564 14.4916 20.4865 14.2742 20.8539Z" fill="#0B1F33"/>
                                </g>
                            </svg>
                            | 8
                        .stats__items_item
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 4.06032C11.8671 3.92177 11.7202 3.77827 11.5597 3.63448C10.6945 2.8594 9.34498 2 7.6 2C5.70003 2 4.03124 2.64684 2.83468 3.85972C1.63813 5.07261 1 6.76418 1 8.69008C1 10.6327 1.91706 12.6644 3.62898 14.6769C5.34668 16.6962 7.93101 18.7779 11.4473 20.8491C11.789 21.0503 12.211 21.0503 12.5527 20.8491C16.0609 18.7827 18.6466 16.7485 20.3667 14.7508C22.0887 12.7509 23 10.7181 23 8.69008C23 6.76418 22.3619 5.07261 21.1653 3.85972C19.9688 2.64684 18.3 2 16.4 2C14.655 2 13.3055 2.8594 12.4403 3.63448C12.2798 3.77827 12.1329 3.92177 12 4.06032Z" fill="#F14545"/>
                            </svg>
                            | 5
                    .stats__items_wrap
                        .stats__items_item.time
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                <path d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#0B1F33"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7.25C12.4142 7.25 12.75 7.58579 12.75 8V11.6893L15.0303 13.9697C15.3232 14.2626 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2626 15.3232 13.9697 15.0303L11.4697 12.5303C11.329 12.3897 11.25 12.1989 11.25 12V8C11.25 7.58579 11.5858 7.25 12 7.25Z" fill="white"/>
                                </g>
                            </svg>
                            | 3 минуты
                        .stats__items_item
                            a(href="").stats__items_link Некогда читать?
        .hero-textbook-detailed__image
            img(src="../img/books1.png", alt="books")
        .brief-info
            .brief-info__photo
                img(src="../img/women2.png" alt="Преподаватель")
            .brief-info__wrap
                h3.brief-info__name Мария Армянинова
                span.brief-info__text Преподаватель
        

