.wide-container
    section.hero-learning-process.light-blue
        .hero-learning-process__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-learning-process__wrap
            .hero-learning-process__content
                .hero-learning-process__text-block
                    h1.main-title.hero-learning-process__title
                        | Процесс обучения
                        <br>
                        | в Лектариум
                .hero-learning-process__bottom
                    p.hero-learning-process__descriptions С нами Вы пройдете весь цикл от диагностики знаний, до сдачи экзаменов или победы в олимпиаде.
            .hero-learning-process__image
                   img(src="../img/learning-process.png", alt="img")
            