.wide-container
    section.hero-knowledge-diagnostics
        .hero-knowledge-diagnostics__wrapper.light-blue
            .hero-knowledge-diagnostics__background 
                img(src= "../img/hero-articles-bg.png", alt="background")
            .hero-knowledge-diagnostics__wrap
                .hero-knowledge-diagnostics__content
                    .hero-knowledge-diagnostics__text-block
                        .hero-knowledge-diagnostics__mark Диагностическая сессия
                        h1.main-title.hero-knowledge-diagnostics__title Индивидуальный часовой разбор знаний ребенка
                        p.hero-knowledge-diagnostics__descriptions С пошаговым планом улучшения оценок в&nbsp;школе и&nbsp;на&nbsp;экзаменах ОГЭ и&nbsp;ЕГЭ
                    .hero-knowledge-diagnostics__bottom
                        a(href="").hero-knowledge-diagnostics__btn.main-button Забронировать участие
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                .hero-knowledge-diagnostics__image
                    img(src="../img/other7.png", alt="img")
        .main-container
            ul.hero-knowledge-diagnostics__list
                li.hero-knowledge-diagnostics__list_item
                    .hero-knowledge-diagnostics__list_item-icon
                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                            <path d="M27.9711 38.435C31.618 37.704 36.3333 35.0805 36.3333 28.2966C36.3333 22.123 31.8145 18.0121 28.5651 16.1232C27.8441 15.704 27 16.2552 27 17.0892V19.2225C27 20.9046 26.2928 23.9751 24.3275 25.2523C23.3242 25.9043 22.2406 24.9284 22.1187 23.738L22.0185 22.7605C21.9021 21.6242 20.7448 20.9344 19.8366 21.6272C18.205 22.8718 16.5 25.0514 16.5 28.2966C16.5 36.5928 22.6704 38.6669 25.7555 38.6669C25.9349 38.6669 26.1236 38.6616 26.3199 38.6503C24.7965 38.5201 22.3333 37.5748 22.3333 34.5184C22.3333 32.1275 24.0776 30.5101 25.4028 29.7239C25.7592 29.5123 26.1764 29.787 26.1764 30.2014V30.8888C26.1764 31.4148 26.3799 32.2372 26.8642 32.8001C27.4123 33.4371 28.2167 32.7698 28.2816 31.932C28.3021 31.6678 28.5679 31.4993 28.7968 31.6331C29.545 32.0704 30.5 33.0044 30.5 34.5184C30.5 36.9077 29.1828 38.0068 27.9711 38.435Z" fill="#2554E7"/>
                        </svg>
                    span.hero-knowledge-diagnostics__list_item-text Выявлены проблемные точки в выбранных предметах
                li.hero-knowledge-diagnostics__list_item
                    .hero-knowledge-diagnostics__list_item-icon
                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                            <path d="M27.9711 38.435C31.618 37.704 36.3333 35.0805 36.3333 28.2966C36.3333 22.123 31.8145 18.0121 28.5651 16.1232C27.8441 15.704 27 16.2552 27 17.0892V19.2225C27 20.9046 26.2928 23.9751 24.3275 25.2523C23.3242 25.9043 22.2406 24.9284 22.1187 23.738L22.0185 22.7605C21.9021 21.6242 20.7448 20.9344 19.8366 21.6272C18.205 22.8718 16.5 25.0514 16.5 28.2966C16.5 36.5928 22.6704 38.6669 25.7555 38.6669C25.9349 38.6669 26.1236 38.6616 26.3199 38.6503C24.7965 38.5201 22.3333 37.5748 22.3333 34.5184C22.3333 32.1275 24.0776 30.5101 25.4028 29.7239C25.7592 29.5123 26.1764 29.787 26.1764 30.2014V30.8888C26.1764 31.4148 26.3799 32.2372 26.8642 32.8001C27.4123 33.4371 28.2167 32.7698 28.2816 31.932C28.3021 31.6678 28.5679 31.4993 28.7968 31.6331C29.545 32.0704 30.5 33.0044 30.5 34.5184C30.5 36.9077 29.1828 38.0068 27.9711 38.435Z" fill="#2554E7"/>
                        </svg>
                    span.hero-knowledge-diagnostics__list_item-text Структурированы темы для&nbsp;углубленного изучения
                li.hero-knowledge-diagnostics__list_item
                    .hero-knowledge-diagnostics__list_item-icon
                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                            <path d="M27.9711 38.435C31.618 37.704 36.3333 35.0805 36.3333 28.2966C36.3333 22.123 31.8145 18.0121 28.5651 16.1232C27.8441 15.704 27 16.2552 27 17.0892V19.2225C27 20.9046 26.2928 23.9751 24.3275 25.2523C23.3242 25.9043 22.2406 24.9284 22.1187 23.738L22.0185 22.7605C21.9021 21.6242 20.7448 20.9344 19.8366 21.6272C18.205 22.8718 16.5 25.0514 16.5 28.2966C16.5 36.5928 22.6704 38.6669 25.7555 38.6669C25.9349 38.6669 26.1236 38.6616 26.3199 38.6503C24.7965 38.5201 22.3333 37.5748 22.3333 34.5184C22.3333 32.1275 24.0776 30.5101 25.4028 29.7239C25.7592 29.5123 26.1764 29.787 26.1764 30.2014V30.8888C26.1764 31.4148 26.3799 32.2372 26.8642 32.8001C27.4123 33.4371 28.2167 32.7698 28.2816 31.932C28.3021 31.6678 28.5679 31.4993 28.7968 31.6331C29.545 32.0704 30.5 33.0044 30.5 34.5184C30.5 36.9077 29.1828 38.0068 27.9711 38.435Z" fill="#2554E7"/>
                        </svg>
                    span.hero-knowledge-diagnostics__list_item-text Сформирован пошаговый план улучшения оценок
            