.wide-container
    section.hero-mini.light-blue
        .hero-mini__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-mini__wrap.start-position
            .hero-mini__content.text
                .hero-mini__text-block
                    h1.main-title.hero-mini__title
                        | Отзывы об 
                        <br>
                        | онлайн-школе
                        <br>
                        | Лектариум
                .hero-mini__bottom
                    p.hero-mini__descriptions.main-descriptions Нам доверяют ученики, родители и&nbsp;учителя&nbsp;и&nbsp;остаются благодарны!
            .hero-mini__bubbles
                .hero-mini__bubbles_item
                    .hero-mini__bubbles_item-img
                        img(src= "../img/reviews6.png", alt="people")
                    .hero-mini__bubbles_item-wrap
                        span.hero-mini__bubbles_item-title Дмитрий
                        p.hero-mini__bubbles_item-desc Кураторы - ангелы, ниспосланные нам Богами ЕГЭ, не только контролируют успеваемость, но и следят за эмоциональным состояниям учеников
                .hero-mini__bubbles_item
                    .hero-mini__bubbles_item-img
                        img(src= "../img/reviews7.png", alt="people")
                    .hero-mini__bubbles_item-wrap
                        span.hero-mini__bubbles_item-title Настя
                        p.hero-mini__bubbles_item-desc Преподаватели - потрясающие харизматичные дамы, умеющие доступно преподнести материал!
                .hero-mini__bubbles_item
                    .hero-mini__bubbles_item-img
                        img(src= "../img/reviews8.png", alt="people")
                    .hero-mini__bubbles_item-wrap
                        span.hero-mini__bubbles_item-title Ксюша
                        p.hero-mini__bubbles_item-desc Трехуровневые домашки спасение для меня, как для человека, нуждающегося в постоянном повторении 


                
            