.wide-container
    section.hero-vacancy.light-blue
        .hero-vacancy__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-vacancy__wrap
            .hero-vacancy__content
                .hero-vacancy__text-block
                    h1.main-title.hero-vacancy__title
                        | Карьера
                        <br>
                        | в&nbsp;Лектариум
                    p.hero-vacancy__descriptions.main-descriptions Строим лучшую онлайн-школу. Стань частью команды!
                .hero-vacancy__bottom
                    a(href="").hero-vacancy__btn.main-button Смотреть вакансии
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .hero-vacancy__image
                img(src="../img/women.png", alt="img")             
            