.wide-container
    section.hero-knowledge-diagnostics.light-blue
        .hero-knowledge-diagnostics__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-knowledge-diagnostics__wrap
            .hero-knowledge-diagnostics__content
                .hero-knowledge-diagnostics__text-block
                    .hero-knowledge-diagnostics__mark Диагностическая сессия
                    h1.main-title.hero-knowledge-diagnostics__title Индивидуальный часовой разбор знаний ребенка
                    p.hero-knowledge-diagnostics__descriptions С пошаговым планом улучшения оценок в&nbsp;школе и&nbsp;на&nbsp;экзаменах ОГЭ и&nbsp;ЕГЭ
                .hero-knowledge-diagnostics__bottom
                    a(href="").hero-knowledge-diagnostics__btn.main-button Забронировать участие
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .hero-knowledge-diagnostics__image
                   img(src="../img/other7.png", alt="img")
            