.wide-container
    section.hero-mini.light-blue.contacts
        .hero-mini__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-mini__wrap
            .hero-mini__content
                .hero-mini__text-block
                    .hero-mini__logo
                        .hidden-on-tablet
                            img(src="../img/logo-sk.svg", alt="logo") 
                        .visible-on-tablet
                            img(src="../img/logo-skV2-grey.svg", alt="logo") 
                    h1.main-title.hero-mini__title
                        | Контакты
                        <br>
                        | Лектариума
                .hero-mini__bottom
                    a(href="").hero-mini__btn.main-button Связаться с нами
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .hero-mini__image
                   img(src="../img/answers-and-phone.png", alt="img")
            