.main-container
    section.hero-video
        .hero-video__video-block
            .hero-video__video-block_preview.color-accent-bg
                .hero-video__video-block_preview-bg
                    img(src="../img/kremlin-light.png", alt="bg")
                .hero-video__video-block_preview-img
                    img(src="../img/women3.png", alt="People")
                .hero-video__video-block_preview-content
                    .hero-video__video-block_preview-header
                        span.hero-video__video-block_preview-mark Лайфхаки
                        span.hero-video__video-block_preview-time
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 4.25V8L9.875 6.875M14.75 8C14.75 11.728 11.728 14.75 8 14.75C4.27208 14.75 1.25 11.728 1.25 8C1.25 4.27208 4.27208 1.25 8 1.25C11.728 1.25 14.75 4.27208 14.75 8Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            | 0:17:36
                    .hero-video__video-block_preview-footer
                        h2.hero-video__video-block_preview-title Количество бюджетных мест в ВУЗах будет сокращено до 60%
                button.hero-video__video-block_preview-play
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="100" rx="50" fill="white"/>
                        <path d="M44.0859 56.4528V43.5546C44.0859 42.7939 44.9014 42.3118 45.5679 42.6783L57.2936 49.1275C57.9844 49.5074 57.9844 50.5 57.2936 50.8799L45.5679 57.3291C44.9014 57.6956 44.0859 57.2134 44.0859 56.4528Z" fill="#0B1F33"/>
                    </svg>
        .hero-video__time-block
            h3.hero-video__time-block_title Таймкоды
            ul.hero-video__time-block_list
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:00
                    span.hero-video__time-block_list-item-text Приветствие
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку
                li.hero-video__time-block_list-item.active
                    span.hero-video__time-block_list-item-time 0:03:36
                    span.hero-video__time-block_list-item-text Свойства степеней
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:05:42
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:18:09
                    span.hero-video__time-block_list-item-text Свойства перемножения степеней
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:22:45
                    span.hero-video__time-block_list-item-text Что такое ФИПИ и почему именно оттуда берутся задания для ЕГЭ?
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:05:42
                    span.hero-video__time-block_list-item-text Свойства перемножения степеней
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:18:09
                    span.hero-video__time-block_list-item-text Что такое ФИПИ и почему именно оттуда берутся задания для ЕГЭ?
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 
                li.hero-video__time-block_list-item
                    span.hero-video__time-block_list-item-time 0:00:45
                    span.hero-video__time-block_list-item-text Система подготовки на любую оценку 

