.main-container
    section.license
        h2.main-title.license__title
            | Наша школа обладает
            <br>
            | государственной лицензией
        .license__wrap
            .license__content
                .license__text-block
                    h3.license__subtitle Наши образовательные программы соответствуют стандартам школьного и дошкольного образования!
                    p.license__description Вы можете получить 13% налогового вычета и использовать материнский капитал для оплаты некоторых программ обучения
                button.grey-button.license__btn Подробнее
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#2554E7"/>
                        <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .license__image
                img(src="../img/license.png", alt="license")
