.main-container
    article.list-with-check-marks
        ul.list-with-check-marks__list
            li.list-with-check-marks__list_item
                span.list-with-check-marks__list_item-icon
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10.8333L8.15385 17.5L22 2.5" stroke="#2554E7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                span.list-with-check-marks__list_item-title Полная занятость
            li.list-with-check-marks__list_item
                span.list-with-check-marks__list_item-icon
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10.8333L8.15385 17.5L22 2.5" stroke="#2554E7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                span.list-with-check-marks__list_item-title Сменный график
            li.list-with-check-marks__list_item
                span.list-with-check-marks__list_item-icon
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10.8333L8.15385 17.5L22 2.5" stroke="#2554E7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                span.list-with-check-marks__list_item-title Опыт от года до 3 лет
            li.list-with-check-marks__list_item
                span.list-with-check-marks__list_item-icon
                    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10.8333L8.15385 17.5L22 2.5" stroke="#2554E7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                span.list-with-check-marks__list_item-title Набор до 31 августа