section.multi-level-comments
    h2.multi-level-comments__title Комментарии
    ul.multi-level-comments__list
        li.multi-level-comments__list_item
            .multi-level-comments__list_info
                .multi-level-comments__list_wrap
                    .multi-level-comments__list_people
                        span.multi-level-comments__list_name Анна И.
                    span.multi-level-comments__list_grey-text 4 часа назад
                p.multi-level-comments__list_descriptions Как эксперт по онлайн-школам могу заявить - Лектариум лучший вариант для подготовки к экзаменам. Я приобрела курсы по биологии и русскому языку и вот моя реакция: цена за курсы очень приятная, я попала под акцию и до сих пор в шоке от того, как много я получила за относительно небольшую цену
            .multi-level-comments__list_actions
                .multi-level-comments__list_actions-wrap
                    span.multi-level-comments__list_actions-icon
                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 2.38881C9.88794 2.27335 9.76553 2.15377 9.63177 2.03394C8.91078 1.38804 7.78618 0.671875 6.33203 0.671875C4.74872 0.671875 3.35806 1.2109 2.36093 2.22164C1.3638 3.23239 0.832031 4.64202 0.832031 6.24694C0.832031 7.86575 1.59624 9.55891 3.02285 11.236C4.45427 12.9187 6.60787 14.6535 9.53815 16.3794C9.82289 16.5471 10.1745 16.5471 10.4592 16.3794C13.3828 14.6574 15.5375 12.9623 16.9709 11.2975C18.406 9.63099 19.1654 7.93699 19.1654 6.24694C19.1654 4.64202 18.6336 3.23239 17.6365 2.22164C16.6393 1.2109 15.2487 0.671875 13.6654 0.671875C12.2112 0.671875 11.0866 1.38804 10.3656 2.03394C10.2319 2.15377 10.1095 2.27335 9.9987 2.38881Z" fill="#CAD0D6"/>
                        </svg>
                    span.multi-level-comments__list_actions-number 0
                .multi-level-comments__list_actions-wrap
                    span.multi-level-comments__list_actions-icon
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8965 16.3835L10.4447 17.1466C9.80005 18.2358 8.20255 18.2358 7.55789 17.1466L7.10613 16.3835C6.92493 16.0773 6.81065 15.8855 6.70951 15.7467C6.61607 15.6185 6.56224 15.5766 6.52274 15.5537C6.48529 15.5319 6.42129 15.5051 6.2562 15.4868C6.07953 15.4673 5.84776 15.4626 5.48185 15.4563C4.43579 15.4383 3.67175 15.3766 3.00094 15.0988C1.82685 14.6125 0.894036 13.6796 0.407711 12.5055C0.212327 12.0339 0.125886 11.5238 0.0840606 10.9109C0.0429638 10.3086 0.042966 9.56293 0.0429688 8.61195V8.58854V7.75521V7.72247C0.0429634 6.38629 0.0429593 5.3388 0.122527 4.50197C0.203627 3.64901 0.371777 2.95058 0.749069 2.3349C1.14417 1.69016 1.68625 1.14808 2.33099 0.752975C2.94668 0.375684 3.6451 0.207533 4.49806 0.126433C5.3349 0.0468655 6.38238 0.0468696 7.71856 0.046875H7.7513H10.2513H10.284C11.6202 0.0468696 12.6677 0.0468655 13.5046 0.126433C14.3575 0.207533 15.0559 0.375684 15.6716 0.752975C16.3164 1.14808 16.8585 1.69016 17.2536 2.3349C17.6308 2.95058 17.799 3.64901 17.8801 4.50197C17.9596 5.33873 17.9596 6.38611 17.9596 7.72212V7.75521V8.58854V8.61143C17.9596 9.56266 17.9596 10.3084 17.9186 10.9109C17.8767 11.5238 17.7903 12.0339 17.5949 12.5055C17.1086 13.6796 16.1757 14.6125 15.0016 15.0988C14.3309 15.3766 13.5668 15.4383 12.5207 15.4563C12.1548 15.4626 11.9231 15.4673 11.7464 15.4868C11.5813 15.5051 11.5173 15.5319 11.4798 15.5537C11.4403 15.5766 11.3865 15.6185 11.2931 15.7467C11.1919 15.8855 11.0776 16.0773 10.8965 16.3835Z" fill="#CAD0D6"/>
                        </svg>
                    span.multi-level-comments__list_actions-number 1
                button.multi-level-comments__list_actions-btn Ответить
            button.multi-level-comments__list_btn
                | Смотреть ответы
                .multi-level-comments__list_btn-icon
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1L5 5L1 1" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        li.multi-level-comments__list_item
            .multi-level-comments__list_info
                .multi-level-comments__list_wrap
                    .multi-level-comments__list_people
                        span.multi-level-comments__list_name Даниил Н.
                    span.multi-level-comments__list_grey-text 2 дня назад
                p.multi-level-comments__list_descriptions Преподаватели - потрясающие харизматичные дамы, умеющие доступно преподнести материал, неважно насколько глупыми были мои вопросы, я всегда получала понятный ответ)
            .multi-level-comments__list_actions
                .multi-level-comments__list_actions-wrap
                    span.multi-level-comments__list_actions-icon
                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 2.38881C9.88794 2.27335 9.76553 2.15377 9.63177 2.03394C8.91078 1.38804 7.78618 0.671875 6.33203 0.671875C4.74872 0.671875 3.35806 1.2109 2.36093 2.22164C1.3638 3.23239 0.832031 4.64202 0.832031 6.24694C0.832031 7.86575 1.59624 9.55891 3.02285 11.236C4.45427 12.9187 6.60787 14.6535 9.53815 16.3794C9.82289 16.5471 10.1745 16.5471 10.4592 16.3794C13.3828 14.6574 15.5375 12.9623 16.9709 11.2975C18.406 9.63099 19.1654 7.93699 19.1654 6.24694C19.1654 4.64202 18.6336 3.23239 17.6365 2.22164C16.6393 1.2109 15.2487 0.671875 13.6654 0.671875C12.2112 0.671875 11.0866 1.38804 10.3656 2.03394C10.2319 2.15377 10.1095 2.27335 9.9987 2.38881Z" fill="#CAD0D6"/>
                        </svg>
                    span.multi-level-comments__list_actions-number 5
                .multi-level-comments__list_actions-wrap
                    span.multi-level-comments__list_actions-icon
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8965 16.3835L10.4447 17.1466C9.80005 18.2358 8.20255 18.2358 7.55789 17.1466L7.10613 16.3835C6.92493 16.0773 6.81065 15.8855 6.70951 15.7467C6.61607 15.6185 6.56224 15.5766 6.52274 15.5537C6.48529 15.5319 6.42129 15.5051 6.2562 15.4868C6.07953 15.4673 5.84776 15.4626 5.48185 15.4563C4.43579 15.4383 3.67175 15.3766 3.00094 15.0988C1.82685 14.6125 0.894036 13.6796 0.407711 12.5055C0.212327 12.0339 0.125886 11.5238 0.0840606 10.9109C0.0429638 10.3086 0.042966 9.56293 0.0429688 8.61195V8.58854V7.75521V7.72247C0.0429634 6.38629 0.0429593 5.3388 0.122527 4.50197C0.203627 3.64901 0.371777 2.95058 0.749069 2.3349C1.14417 1.69016 1.68625 1.14808 2.33099 0.752975C2.94668 0.375684 3.6451 0.207533 4.49806 0.126433C5.3349 0.0468655 6.38238 0.0468696 7.71856 0.046875H7.7513H10.2513H10.284C11.6202 0.0468696 12.6677 0.0468655 13.5046 0.126433C14.3575 0.207533 15.0559 0.375684 15.6716 0.752975C16.3164 1.14808 16.8585 1.69016 17.2536 2.3349C17.6308 2.95058 17.799 3.64901 17.8801 4.50197C17.9596 5.33873 17.9596 6.38611 17.9596 7.72212V7.75521V8.58854V8.61143C17.9596 9.56266 17.9596 10.3084 17.9186 10.9109C17.8767 11.5238 17.7903 12.0339 17.5949 12.5055C17.1086 13.6796 16.1757 14.6125 15.0016 15.0988C14.3309 15.3766 13.5668 15.4383 12.5207 15.4563C12.1548 15.4626 11.9231 15.4673 11.7464 15.4868C11.5813 15.5051 11.5173 15.5319 11.4798 15.5537C11.4403 15.5766 11.3865 15.6185 11.2931 15.7467C11.1919 15.8855 11.0776 16.0773 10.8965 16.3835Z" fill="#CAD0D6"/>
                        </svg>
                    span.multi-level-comments__list_actions-number 2
                button.multi-level-comments__list_actions-btn Ответить
            button.multi-level-comments__list_btn
                | Скрыть ответы
                .multi-level-comments__list_btn-icon.active
                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1L5 5L1 1" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            ul.multi-level-comments__list.sub-list
                li.multi-level-comments__list_item
                    .multi-level-comments__list_info
                        .multi-level-comments__list_wrap
                            .multi-level-comments__list_people
                                span.multi-level-comments__list_name Евгений К.
                                span.multi-level-comments__list_grey-text Ответ Даниил Н.
                            span.multi-level-comments__list_grey-text 2 дня назад
                        p.multi-level-comments__list_descriptions Кураторы - ангелы, ниспосланные нам Богами ЕГЭ, не только контролируют успеваемость, но и следят за эмоциональным состояниям учеников
                    .multi-level-comments__list_actions
                        .multi-level-comments__list_actions-wrap
                            span.multi-level-comments__list_actions-icon.active
                                <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 2.38881C9.88794 2.27335 9.76553 2.15377 9.63177 2.03394C8.91078 1.38804 7.78618 0.671875 6.33203 0.671875C4.74872 0.671875 3.35806 1.2109 2.36093 2.22164C1.3638 3.23239 0.832031 4.64202 0.832031 6.24694C0.832031 7.86575 1.59624 9.55891 3.02285 11.236C4.45427 12.9187 6.60787 14.6535 9.53815 16.3794C9.82289 16.5471 10.1745 16.5471 10.4592 16.3794C13.3828 14.6574 15.5375 12.9623 16.9709 11.2975C18.406 9.63099 19.1654 7.93699 19.1654 6.24694C19.1654 4.64202 18.6336 3.23239 17.6365 2.22164C16.6393 1.2109 15.2487 0.671875 13.6654 0.671875C12.2112 0.671875 11.0866 1.38804 10.3656 2.03394C10.2319 2.15377 10.1095 2.27335 9.9987 2.38881Z" fill="#CAD0D6"/>
                                </svg>
                            span.multi-level-comments__list_actions-number 1
                        button.multi-level-comments__list_actions-btn Ответить
                li.multi-level-comments__list_item
                    .multi-level-comments__list_info
                        .multi-level-comments__list_wrap
                            .multi-level-comments__list_people
                                span.multi-level-comments__list_name Даниил Н.
                                span.multi-level-comments__list_grey-text Ответ Евгений К.
                            span.multi-level-comments__list_grey-text 2 дня назад
                        p.multi-level-comments__list_descriptions Отдельно отмечу платформу, максимально удобная и комфортная
                    .multi-level-comments__list_actions
                        .multi-level-comments__list_actions-wrap
                            span.multi-level-comments__list_actions-icon.active
                                <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 2.38881C9.88794 2.27335 9.76553 2.15377 9.63177 2.03394C8.91078 1.38804 7.78618 0.671875 6.33203 0.671875C4.74872 0.671875 3.35806 1.2109 2.36093 2.22164C1.3638 3.23239 0.832031 4.64202 0.832031 6.24694C0.832031 7.86575 1.59624 9.55891 3.02285 11.236C4.45427 12.9187 6.60787 14.6535 9.53815 16.3794C9.82289 16.5471 10.1745 16.5471 10.4592 16.3794C13.3828 14.6574 15.5375 12.9623 16.9709 11.2975C18.406 9.63099 19.1654 7.93699 19.1654 6.24694C19.1654 4.64202 18.6336 3.23239 17.6365 2.22164C16.6393 1.2109 15.2487 0.671875 13.6654 0.671875C12.2112 0.671875 11.0866 1.38804 10.3656 2.03394C10.2319 2.15377 10.1095 2.27335 9.9987 2.38881Z" fill="#CAD0D6"/>
                                </svg>
                            span.multi-level-comments__list_actions-number 4
                        button.multi-level-comments__list_actions-btn Ответить
        li.multi-level-comments__list_item
            .multi-level-comments__list_info
                .multi-level-comments__list_wrap
                    .multi-level-comments__list_people
                        span.multi-level-comments__list_name Анастасия Д.
                    span.multi-level-comments__list_grey-text Неделю назад
                p.multi-level-comments__list_descriptions Трехуровневые домашки спасение для меня, как для человека, нуждяющегося в постоянном повторении 
            .multi-level-comments__list_actions
                .multi-level-comments__list_actions-wrap
                    span.multi-level-comments__list_actions-icon
                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.9987 2.38881C9.88794 2.27335 9.76553 2.15377 9.63177 2.03394C8.91078 1.38804 7.78618 0.671875 6.33203 0.671875C4.74872 0.671875 3.35806 1.2109 2.36093 2.22164C1.3638 3.23239 0.832031 4.64202 0.832031 6.24694C0.832031 7.86575 1.59624 9.55891 3.02285 11.236C4.45427 12.9187 6.60787 14.6535 9.53815 16.3794C9.82289 16.5471 10.1745 16.5471 10.4592 16.3794C13.3828 14.6574 15.5375 12.9623 16.9709 11.2975C18.406 9.63099 19.1654 7.93699 19.1654 6.24694C19.1654 4.64202 18.6336 3.23239 17.6365 2.22164C16.6393 1.2109 15.2487 0.671875 13.6654 0.671875C12.2112 0.671875 11.0866 1.38804 10.3656 2.03394C10.2319 2.15377 10.1095 2.27335 9.9987 2.38881Z" fill="#CAD0D6"/>
                        </svg>
                    span.multi-level-comments__list_actions-number 8
                .multi-level-comments__list_actions-wrap
                    span.multi-level-comments__list_actions-icon
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8965 16.3835L10.4447 17.1466C9.80005 18.2358 8.20255 18.2358 7.55789 17.1466L7.10613 16.3835C6.92493 16.0773 6.81065 15.8855 6.70951 15.7467C6.61607 15.6185 6.56224 15.5766 6.52274 15.5537C6.48529 15.5319 6.42129 15.5051 6.2562 15.4868C6.07953 15.4673 5.84776 15.4626 5.48185 15.4563C4.43579 15.4383 3.67175 15.3766 3.00094 15.0988C1.82685 14.6125 0.894036 13.6796 0.407711 12.5055C0.212327 12.0339 0.125886 11.5238 0.0840606 10.9109C0.0429638 10.3086 0.042966 9.56293 0.0429688 8.61195V8.58854V7.75521V7.72247C0.0429634 6.38629 0.0429593 5.3388 0.122527 4.50197C0.203627 3.64901 0.371777 2.95058 0.749069 2.3349C1.14417 1.69016 1.68625 1.14808 2.33099 0.752975C2.94668 0.375684 3.6451 0.207533 4.49806 0.126433C5.3349 0.0468655 6.38238 0.0468696 7.71856 0.046875H7.7513H10.2513H10.284C11.6202 0.0468696 12.6677 0.0468655 13.5046 0.126433C14.3575 0.207533 15.0559 0.375684 15.6716 0.752975C16.3164 1.14808 16.8585 1.69016 17.2536 2.3349C17.6308 2.95058 17.799 3.64901 17.8801 4.50197C17.9596 5.33873 17.9596 6.38611 17.9596 7.72212V7.75521V8.58854V8.61143C17.9596 9.56266 17.9596 10.3084 17.9186 10.9109C17.8767 11.5238 17.7903 12.0339 17.5949 12.5055C17.1086 13.6796 16.1757 14.6125 15.0016 15.0988C14.3309 15.3766 13.5668 15.4383 12.5207 15.4563C12.1548 15.4626 11.9231 15.4673 11.7464 15.4868C11.5813 15.5051 11.5173 15.5319 11.4798 15.5537C11.4403 15.5766 11.3865 15.6185 11.2931 15.7467C11.1919 15.8855 11.0776 16.0773 10.8965 16.3835Z" fill="#CAD0D6"/>
                        </svg>
                    span.multi-level-comments__list_actions-number 0
                button.multi-level-comments__list_actions-btn Ответить