.wide-container
    section.hero-not-found.light-blue
        .hero-not-found__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .hero-not-found__wrap
            .hero-not-found__content
                .hero-not-found__text-block
                    h1.main-title.hero-not-found__title По вашему запросу ничего не найдено
                    p.hero-not-found__descriptions Проверьте правильность написания запроса или попробуйте найти что-нибудь другое.
                .hero-not-found__bottom
                    a(href="").hero-not-found__btn.main-button Перейти в каталог
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .hero-not-found__image
                   img(src="../img/other12.png", alt="img")
            