.main-container
    section.numbered-cards
        h2.main-subtitle
            | К нам попадают только 
            | <br>
            | талантливые преподаватели:
        .numbered-cards__content
            ul.numbered-cards__list
                li.numbered-cards__list_item
                    .numbered-cards__list_item-wrap
                        span.numbered-cards__list_item-number 1
                        div
                            h3.numbered-cards__list_item-title Первичное собеседование с рекрутером
                            p.main-descriptions Оценивается образование, релевантный опыт работы, ценности и устремления
                li.numbered-cards__list_item
                    .numbered-cards__list_item-wrap
                        span.numbered-cards__list_item-number 2
                        div
                            h3.numbered-cards__list_item-title Пробный экзамен на знание предмета
                            p.main-descriptions Преподаватель пишет ЕГЭ или ОГЭ так же, как ученик, оценивают преподаватели  
                li.numbered-cards__list_item
                    .numbered-cards__list_item-wrap
                        span.numbered-cards__list_item-number 3
                        div
                            h3.numbered-cards__list_item-title Собеседование на профпригодность с главным методологом
                            p.main-descriptions Вопросы про структуру урока, взаимодействие с учениками, использование методических материалов.  
                li.numbered-cards__list_item
                    .numbered-cards__list_item-wrap
                        span.numbered-cards__list_item-number 4
                        div
                            h3.numbered-cards__list_item-title Пробный урок с учеником
                            p.main-descriptions Оценивается способность донести материал, интерактивность занятия, оформление презентации, взаимодействие с учениками в ходе занятия  
                    .numbered-cards__list_item-img
                        img(src="../img/video-lesson2.png", alt="videoLesson")
                li.numbered-cards__list_item
                    .numbered-cards__list_item-wrap
                        span.numbered-cards__list_item-number 5
                        div
                            h3.numbered-cards__list_item-title Собеседование с завучем школы
                            p.main-descriptions Оценивается способность донести материал, интерактивность занятия, оформление презентации, взаимодействие с учениками в ходе занятия                         
            .numbered-cards__accent-card
                span.numbered-cards__accent-card_header Последний этап
                .numbered-cards__accent-card_img
                    ul.list-with-choice
                        li.list-with-choice__item.active Мини-урок №1: Теория вероятности...
                        li.list-with-choice__item Мини-урок №2: Формулы составления...
                        li.list-with-choice__item Мини-урок №3: Задачи с функциями...
                        li.list-with-choice__item Мини-урок №4: Определение метода...
                        li.list-with-choice__item.hover Онлайн-вебинар: Степени, конкре...
                        li.list-with-choice__item Домашняя работа к блоку №1
                    img(src="../img/video-lesson.png", alt="videoLesson")
                div
                    h3.numbered-cards__accent-card_title Пробный урок с учеником
                    p.main-descriptions.numbered-cards__accent-card_descriptions Оценивается способность донести материал, интерактивность занятия, оформление презентации, взаимодействие с учениками в ходе занятия
            button.visible-on-tablet.main-button.numbered-cards__btn Показать ещё
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" rx="12" fill="white"/>
                    <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
