.wide-container
    section.offer.bright-blue
        .offer__background
            picture
                source(srcset="../img/main-bg-mobile.png", type="image/png", media="(max-width: 375px)")
                img(src="../img/main-bg.png", alt="background")   
        .offer__content
            .offer__text-block
                .offer__logo
                    img(src="../img/logo-skV2.svg", alt="logo") 
                h1.main-title.offer__title Онлайн-школа для&nbsp;учеников с&nbsp;8&nbsp;по&nbsp;11&nbsp;класс
                p.offer__description Занимайтесь по индивидуальной траектории, составленной исходя из уровня знаний и желаемых результатов
            button.light-button.offer__btn Подобрать занятие
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" rx="12" fill="#2554E7"/>
                    <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        .offer__image
            picture
                source(srcset="../img/offer-mobile.png", type="image/png", media="(max-width: 375px)")
                img(src="../img/offer.png", alt="People")
