.wide-container
    section.order-confirmed.light-blue
        .order-confirmed__background 
            img(src= "../img/hero-articles-bg.png", alt="background")
        .order-confirmed__wrap
            .order-confirmed__content
                .order-confirmed__text-block
                    h1.main-title.order-confirmed__title Ваш заказ успешно оформлен
                    p.order-confirmed__descriptions Наш менеджер свяжется с вами в ближайшее время, чтобы подтвердить заказ
                .order-confirmed__bottom
                    a(href="").order-confirmed__btn.main-button Вернуться на главную
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .order-confirmed__image
                   img(src="../img/other15.png", alt="img")
            