.main-container
    section.parents-and-students-block
        h2.main-subtitle.parents-and-students-block__title Для кого это важно
        .parents-and-students-block__banner
            .parents-and-students-block__background 
                img(src=desktopBgSrc || "../img/bg-letter5.png", alt="background")
            .parents-and-students-block__content
                .parents-and-students-block__text-block
                    h2.main-title.parents-and-students-block__subtitle Тестирование покажет, по&nbsp;каким темам  пробелы в знаниях, на что сделать упор в учёбе и к какому баллу стремиться
                    p.parents-and-students-block__descriptions.main-descriptions Промежуточную оценку знаний важно получить&nbsp;и&nbsp;ребенку, и&nbsp;родителям.
                a(href="").parents-and-students-block__btn.light-button Подробнее
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#2554E7"/>
                        <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .parents-and-students-block__image
                img(src=desktopImageSrc || "../img/people2.png", alt="People")
        .parents-and-students-block__two-block
            .parents-and-students-block__two-block_item
                .parents-and-students-block__two-block_item-wrap
                    .parents-and-students-block__two-block_item-photo
                        img(src=desktopImageSrc || "../img/people6.jpg", alt="People")
                    h3.parents-and-students-block__two-block_item-title Родителю
                ul.parents-and-students-block__two-block_list
                    li.parents-and-students-block__two-block_list-item
                        .parents-and-students-block__two-block_list-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                <path d="M8 12.3333L10.4615 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .parents-and-students-block__two-block_list-text Увидеть эффект от подготовки в школе или у репетитора
                    li.parents-and-students-block__two-block_list-item
                        .parents-and-students-block__two-block_list-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                <path d="M8 12.3333L10.4615 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .parents-and-students-block__two-block_list-text Скорректировать подготовку к экзамену: найти курсы
                    li.parents-and-students-block__two-block_list-item
                        .parents-and-students-block__two-block_list-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                <path d="M8 12.3333L10.4615 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .parents-and-students-block__two-block_list-text Изучить опыт преподавателей, записать ребенка
                    li.parents-and-students-block__two-block_list-item
                        .parents-and-students-block__two-block_list-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                <path d="M8 12.3333L10.4615 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .parents-and-students-block__two-block_list-text Оценить шансы ребенка на поступление в ВУЗ или колледж
            .parents-and-students-block__two-block_item
                .parents-and-students-block__two-block_item-wrap
                    .parents-and-students-block__two-block_item-photo
                        img(src=desktopImageSrc || "../img/people5.jpg", alt="People")
                    h3.parents-and-students-block__two-block_item-title Ученику
                ul.parents-and-students-block__two-block_list
                    li.parents-and-students-block__two-block_list-item
                        .parents-and-students-block__two-block_list-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                <path d="M8 12.3333L10.4615 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .parents-and-students-block__two-block_list-text Объективно оценить свой уровень и увидеть прогресс от занятий
                    li.parents-and-students-block__two-block_list-item
                        .parents-and-students-block__two-block_list-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="#2554E7"/>
                                <path d="M8 12.3333L10.4615 15L16 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .parents-and-students-block__two-block_list-text Понять, какие части предмета надо прокачать, а что уже выучено «на отлично»



