.main-container
    section.pyramid-block
        .pyramid-block__background
            img(src="../img/pyramid.svg", alt="pyramid")
        .pyramid-block__content
            .pyramid-block__wrap
                h2.pyramid-block__title Диагностика знаний нужна, если:
                .pyramid-block__play-block
                    button.pyramid-block__play-block_btn
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="44" height="44" rx="22" fill="#2554E7"/>
                            <path d="M16.0859 28.4509V15.5526C16.0859 14.792 16.9014 14.3098 17.5679 14.6764L29.2936 21.1255C29.9844 21.5055 29.9844 22.498 29.2936 22.878L17.5679 29.3271C16.9014 29.6937 16.0859 29.2115 16.0859 28.4509Z" fill="white"/>
                        </svg>
                    p.pyramid-block__play-block_text Посмотрите, как диагностика поможет Вам улучшить оценки
            ul.pyramid-block__list
                li.pyramid-block__list_item
                    .pyramid-block__list_item-icon
                        <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                            <path d="M38.6654 26.8713V27.9097C38.6654 32.063 37.627 33.0897 33.4854 33.0897H20.512C16.3704 33.0897 15.332 32.0513 15.332 27.9097V20.513C15.332 16.3713 16.3704 15.333 20.512 15.333H22.332" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M27 33.0898V38.6665" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.332 28.167H38.6654" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21.75 38.667H32.25" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M33.8367 23.9314H28.2834C26.6734 23.9314 26.1367 22.8581 26.1367 21.7847V17.6781C26.1367 16.3947 27.1867 15.3447 28.4701 15.3447H33.8367C35.0267 15.3447 35.9834 16.3014 35.9834 17.4914V21.7847C35.9834 22.9747 35.0267 23.9314 33.8367 23.9314Z" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M37.3921 22.2396L35.9805 21.2479V18.0279L37.3921 17.0362C38.0921 16.5579 38.6638 16.8496 38.6638 17.7012V21.5862C38.6638 22.4379 38.0921 22.7296 37.3921 22.2396Z" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.pyramid-block__list_item-text Ребенок готовится к экзаменам самостоятельно, а вы не знаете как проконтролировать этот процесс
                li.pyramid-block__list_item
                    .pyramid-block__list_item-icon
                        <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.332031" width="54" height="54" rx="27" fill="#EDF2FE"/>
                            <path d="M21.3594 34.1757V31.7607" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round"/>
                            <path d="M27.332 34.1747V29.3447" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round"/>
                            <path d="M33.3047 34.1756V26.9189" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round"/>
                            <path d="M33.31 19.8252L32.7733 20.4552C29.7983 23.9319 25.8083 26.3935 21.3633 27.5018" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round"/>
                            <path d="M29.8945 19.8252H33.3129V23.2319" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23.8385 38.6673H30.8385C36.6719 38.6673 39.0052 36.334 39.0052 30.5007V23.5007C39.0052 17.6673 36.6719 15.334 30.8385 15.334H23.8385C18.0052 15.334 15.6719 17.6673 15.6719 23.5007V30.5007C15.6719 36.334 18.0052 38.6673 23.8385 38.6673Z" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.pyramid-block__list_item-text Занимаетесь с репетиторами уже несколько лет и не видите результата
                li.pyramid-block__list_item
                    .pyramid-block__list_item-icon
                        <svg width="55" height="54" viewBox="0 0 55 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.667969" width="54" height="54" rx="27" fill="#EDF2FE"/>
                            <path d="M35.8333 23.5007C35.8333 25.1923 35.3317 26.744 34.4683 28.039C33.2083 29.9057 31.2133 31.224 28.8917 31.5623C28.495 31.6323 28.0867 31.6673 27.6667 31.6673C27.2467 31.6673 26.8383 31.6323 26.4417 31.5623C24.12 31.224 22.125 29.9057 20.865 28.039C20.0017 26.744 19.5 25.1923 19.5 23.5007C19.5 18.9857 23.1517 15.334 27.6667 15.334C32.1817 15.334 35.8333 18.9857 35.8333 23.5007Z" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M38.455 34.5481L36.53 35.0031C36.0983 35.1081 35.76 35.4348 35.6667 35.8665L35.2583 37.5815C35.0367 38.5148 33.8467 38.7948 33.2283 38.0598L27.6633 31.6665L22.0983 38.0715C21.48 38.8065 20.29 38.5265 20.0683 37.5931L19.66 35.8781C19.555 35.4465 19.2167 35.1081 18.7967 35.0148L16.8717 34.5598C15.985 34.3498 15.67 33.2415 16.3117 32.5998L20.8617 28.0498C22.1217 29.9165 24.1167 31.2348 26.4383 31.5731C26.835 31.6431 27.2433 31.6781 27.6633 31.6781C28.0833 31.6781 28.4917 31.6431 28.8883 31.5731C31.21 31.2348 33.205 29.9165 34.465 28.0498L39.015 32.5998C39.6567 33.2298 39.3417 34.3381 38.455 34.5481Z" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M28.3404 19.977L29.0287 21.3536C29.1221 21.5403 29.3671 21.727 29.5887 21.762L30.8371 21.972C31.6304 22.1003 31.8171 22.6837 31.2454 23.2553L30.2771 24.2236C30.1137 24.387 30.0204 24.702 30.0787 24.9353L30.3587 26.137C30.5804 27.082 30.0787 27.4553 29.2387 26.9537L28.0721 26.2653C27.8621 26.137 27.5121 26.137 27.3021 26.2653L26.1354 26.9537C25.2954 27.4437 24.7937 27.082 25.0154 26.137L25.2954 24.9353C25.3421 24.7137 25.2604 24.387 25.097 24.2236L24.1287 23.2553C23.557 22.6837 23.7437 22.112 24.537 21.972L25.7854 21.762C25.9954 21.727 26.2404 21.5403 26.3337 21.3536L27.0221 19.977C27.3604 19.2303 27.9671 19.2303 28.3404 19.977Z" stroke="#2554E7" stroke-width="1.55556" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    p.pyramid-block__list_item-text У ребенка хорошие оценки и вы спокойны за&nbsp;его экзамены