.wide-container
    section.quote
        .quote__background
            img(src="../img/background-quote.png", alt="background")
        .quote__content
            .quote__text-block
                .quote__icon
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3433_8519)">
                        <rect width="64" height="64" rx="16" fill="#0B1F33"/>
                        <path d="M21.0848 29.421C19.7697 29.4255 18.4779 29.7683 17.3336 30.4166C18.9446 26.2468 21.6164 22.57 25.0848 19.7499C25.2832 19.5865 25.4475 19.3856 25.5683 19.1587C25.6891 18.9318 25.764 18.6833 25.7888 18.4274C25.8135 18.1715 25.7877 17.9133 25.7126 17.6674C25.6376 17.4215 25.5148 17.1928 25.3514 16.9944C25.188 16.7959 24.9871 16.6316 24.7602 16.5108C24.5332 16.39 24.2847 16.3151 24.0289 16.2904C23.773 16.2656 23.5147 16.2915 23.2689 16.3665C23.023 16.4416 22.7943 16.5643 22.5959 16.7277C15.4848 22.5055 12.3203 30.5055 12.3203 35.4655C12.3326 37.2193 12.8552 38.9315 13.8244 40.3932C14.7936 41.8549 16.1674 43.0027 17.7781 43.6966C18.8205 44.2016 19.9621 44.4688 21.1203 44.4788C22.1398 44.5284 23.1587 44.3704 24.1153 44.0144C25.0719 43.6584 25.9462 43.1118 26.6853 42.4078C27.4243 41.7038 28.0127 40.857 28.4147 39.9189C28.8168 38.9807 29.024 37.9706 29.024 36.9499C29.024 35.9292 28.8168 34.9192 28.4147 33.981C28.0127 33.0428 27.4243 32.1961 26.6853 31.4921C25.9462 30.7881 25.0719 30.2415 24.1153 29.8855C23.1587 29.5295 22.1398 29.3715 21.1203 29.421H21.0848Z" fill="#FAFCFF"/>
                        <path d="M40.8885 29.424C39.5732 29.4268 38.281 29.7698 37.1374 30.4196C38.7477 26.2541 41.4125 22.5785 44.8707 19.7529C45.0871 19.5969 45.2694 19.3982 45.4062 19.1691C45.543 18.94 45.6315 18.6854 45.6662 18.4208C45.7009 18.1562 45.681 17.8874 45.6079 17.6308C45.5349 17.3742 45.41 17.1352 45.2411 16.9286C45.0722 16.7221 44.8628 16.5523 44.6259 16.4296C44.3889 16.307 44.1293 16.2342 43.8631 16.2157C43.597 16.1971 43.3298 16.2332 43.0781 16.3218C42.8264 16.4104 42.5955 16.5495 42.3996 16.7307C35.2885 22.5084 32.124 30.5084 32.124 35.4684C32.1324 37.2023 32.6398 38.8972 33.5856 40.3505C34.5313 41.8037 35.8754 42.9541 37.4574 43.664C38.5262 44.1838 39.7 44.4514 40.8885 44.4462C41.908 44.4958 42.9269 44.3378 43.8835 43.9818C44.8401 43.6258 45.7144 43.0792 46.4534 42.3752C47.1925 41.6712 47.7809 40.8244 48.1829 39.8863C48.5849 38.9481 48.7922 37.938 48.7922 36.9173C48.7922 35.8966 48.5849 34.8866 48.1829 33.9484C47.7809 33.0102 47.1925 32.1635 46.4534 31.4595C45.7144 30.7555 44.8401 30.2089 43.8835 29.8529C42.9269 29.4969 41.908 29.3389 40.8885 29.3884V29.424Z" fill="#FAFCFF"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3433_8519">
                        <rect width="64" height="64" rx="16" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                div
                    h2.main-title.quote__title Нашей команде уже 5&nbsp;лет. Мы&nbsp;прошли путь с&nbsp;маленькой школы, до резидента Сколково!
                    .quote__description-block
                        p.quote__descriptions.main-descriptions За это период мы научились понятно объяснять любые школьные темы, раскрываем потенциал ребенка и увлекаем учёбой!
                        .quote__description-block_bottom
                            .quote__description-block_wrap
                                span.quote__description-block_author Вероника Сорокина
                                span.quote__description-block_text Завуч образовательного проекта “Лектариум”
                            .quote__description-block_painting   
                                img(src="../img/painting.png", alt="painting")
        .quote__image
            img(src="../img/women1-clean.png", alt="People")
