.wide-container
    section.response
        .response__background 
            img(src="../img/background-teacher-result.png", alt="background")
        .response__image
            img(src="../img/people.png", alt="Teacher")
        .response__content
            .response__text-block
                h2.main-title.response__title
                    | Отправляйте
                    <br>
                    | нам ваше резюме
                p.response__descriptions.main-descriptions Если Вы хотите изменить мир детского образования и&nbsp;получить интересную&nbsp;работу
            .visible-on-mobile
                button.response__btn.main-button Отправить резюме
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="white"/>
                        <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            .hidden-on-mobile
                button.response__btn.main-button Откликнуться
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="white"/>
                        <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        


