.main-container
    section.reviews-list
        ul.tabs.full
            li
                button.tabs__tab Все
            li
                button.tabs__tab.action Ученики
            li
                button.tabs__tab Родители
            li
                button.tabs__tab Учителя
        ul.reviews-list__list
            li.reviews-list__list_item.review
                .review__header
                    .review__image
                        img(src="../img/reviews1.png", alt="People")
                    .review__info
                        .review__wrap
                            span.review__name Вероника
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item ЕГЭ
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Как эксперт по онлайн-школам могу заявить - Лектариум лучший вариант для подготовки к экзаменам. Я приобрела курсы по биологии и русскому языку и вот моя реакция: цена за курсы очень приятная, я попала под акцию и до сих пор в шоке от того, как много я получила за относительно небольшую цену
            li.reviews-list__list_item.review
                .review__header
                    .review__image
                        img(src="../img/reviews5.png", alt="People")
                    .review__info
                        .review__wrap
                            span.review__name Евгений
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Преподаватели - потрясающие харизматичные дамы, умеющие доступно преподнести материал, неважно насколько глупыми были мои вопросы, я всегда получала понятный ответ
                    button.review__btn Читать полностью
            li.reviews-list__list_item.review.video
                .review__video
                    .review__video_img
                        img(src="../img/reviews1.png", alt="People")
                    .review__video_content
                        .review__video_time 0:32
                        .review__video_bottom
                            div
                                .review__video_name Елизавета
                                ul.tags
                                    li.tags__item 100 баллов
                            button.review__video_btn
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="74.0038" height="74.0038" rx="37.0019" fill="white"/>
                                    <path d="M31.0859 43.4489V30.5506C31.0859 29.79 31.9014 29.3079 32.5679 29.6744L44.2936 36.1236C44.9844 36.5035 44.9844 37.4961 44.2936 37.876L32.5679 44.3252C31.9014 44.6917 31.0859 44.2095 31.0859 43.4489Z" fill="#0B1F33"/>
                                </svg>
            li.reviews-list__list_item.review
                .review__header
                    .review__image
                        img(src="../img/reviews2.png", alt="People")
                    .review__info
                        .review__wrap
                            span.review__name Алёна
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Кураторы - ангелы, ниспосланные нам Богами ЕГЭ, не только контролируют успеваемость, но и следят за эмоциональным состояниям учеников
                    button.review__btn Читать полностью
            li.reviews-list__list_item.review.video
                .review__video
                    .review__video_img
                        img(src="../img/reviews9.png", alt="People")
                    .review__video_content
                        .review__video_time 0:32
                        .review__video_bottom
                            div
                                .review__video_name Даниил
                                ul.tags
                                    li.tags__item 100 баллов
                            button.review__video_btn
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="74.0038" height="74.0038" rx="37.0019" fill="white"/>
                                    <path d="M31.0859 43.4489V30.5506C31.0859 29.79 31.9014 29.3079 32.5679 29.6744L44.2936 36.1236C44.9844 36.5035 44.9844 37.4961 44.2936 37.876L32.5679 44.3252C31.9014 44.6917 31.0859 44.2095 31.0859 43.4489Z" fill="#0B1F33"/>
                                </svg>
            li.reviews-list__list_item.review
                .review__header
                    .review__image Н
                    .review__info
                        .review__wrap
                            span.review__name Никита
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Отдельно отмечу платформу, максимально удобная и комфортная
            li.reviews-list__list_item.review.video
                .review__video
                    .review__video_img
                        img(src="../img/reviews1.png", alt="People")
                    .review__video_content
                        .review__video_time 0:32
                        .review__video_bottom
                            div
                                .review__video_name Елизавета
                                ul.tags
                                    li.tags__item 100 баллов
                            button.review__video_btn
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="74.0038" height="74.0038" rx="37.0019" fill="white"/>
                                    <path d="M31.0859 43.4489V30.5506C31.0859 29.79 31.9014 29.3079 32.5679 29.6744L44.2936 36.1236C44.9844 36.5035 44.9844 37.4961 44.2936 37.876L32.5679 44.3252C31.9014 44.6917 31.0859 44.2095 31.0859 43.4489Z" fill="#0B1F33"/>
                                </svg>
            li.reviews-list__list_item.review
                .review__header
                    .review__image
                        img(src="../img/reviews5.png", alt="People")
                    .review__info
                        .review__wrap
                            span.review__name Евгений
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Преподаватели - потрясающие харизматичные дамы, умеющие доступно преподнести материал, неважно насколько глупыми были мои вопросы, я всегда получала понятный ответ
                    button.review__btn Читать полностью
            li.reviews-list__list_item.review
                .review__header
                    .review__image
                        img(src="../img/reviews1.png", alt="People")
                    .review__info
                        .review__wrap
                            span.review__name Вероника
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item ЕГЭ
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Как эксперт по онлайн-школам могу заявить - Лектариум лучший вариант для подготовки к экзаменам. Я приобрела курсы по биологии и русскому языку и вот моя реакция: цена за курсы очень приятная, я попала под акцию и до сих пор в шоке от того, как много я получила за относительно небольшую цену
            li.reviews-list__list_item.review
                .review__header
                    .review__image Н
                    .review__info
                        .review__wrap
                            span.review__name Никита
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Отдельно отмечу платформу, максимально удобная и комфортная
            li.reviews-list__list_item.review
                .review__header
                    .review__image
                        img(src="../img/reviews2.png", alt="People")
                    .review__info
                        .review__wrap
                            span.review__name Алёна
                            a(href="").review__social
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                </svg>
                        ul.tags
                            li.tags__item 98 баллов
                .review__body
                    p.review__descriptions.main-descriptions Кураторы - ангелы, ниспосланные нам Богами ЕГЭ, не только контролируют успеваемость, но и следят за эмоциональным состояниям учеников
                    button.review__btn Читать полностью
            li.reviews-list__list_item.review.video
                .review__video
                    .review__video_img
                        img(src="../img/reviews9.png", alt="People")
                    .review__video_content
                        .review__video_time 0:32
                        .review__video_bottom
                            div
                                .review__video_name Даниил
                                ul.tags
                                    li.tags__item 100 баллов
                            button.review__video_btn
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="74.0038" height="74.0038" rx="37.0019" fill="white"/>
                                    <path d="M31.0859 43.4489V30.5506C31.0859 29.79 31.9014 29.3079 32.5679 29.6744L44.2936 36.1236C44.9844 36.5035 44.9844 37.4961 44.2936 37.876L32.5679 44.3252C31.9014 44.6917 31.0859 44.2095 31.0859 43.4489Z" fill="#0B1F33"/>
                                </svg>
        button.main-button.reviews-list__btn Показать ещё
    .modal-video-overlay
        .modal-video
            button.modal-video__close-btn
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.10938 2.11719L19.8872 19.895" stroke="white" stroke-width="1.77778" stroke-linecap="round"/>
                    <path d="M19.8906 2.11719L2.11285 19.895" stroke="white" stroke-width="1.77778" stroke-linecap="round"/>
                </svg>
            .modal-video__preview.vertical
                img(src="../img/reviews9.png", alt="People")
                button.modal-video__preview_btn
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="100" height="100" rx="50" fill="white"/>
                        <path d="M44.0859 56.4489V43.5506C44.0859 42.79 44.9014 42.3079 45.5679 42.6744L57.2936 49.1236C57.9844 49.5035 57.9844 50.4961 57.2936 50.876L45.5679 57.3252C44.9014 57.6917 44.0859 57.2095 44.0859 56.4489Z" fill="#0B1F33"/>
                    </svg>
    .modal-right-overlay.modal-visible
        .modal-right
            
            .modal-right__content
                .review.full
                    .review__header
                        .review__image
                            img(src="../img/reviews1.png", alt="People")
                        .review__header-wrap
                            .review__info
                                .review__wrap
                                    span.review__name Вероника
                                    a(href="").review__social
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="24" height="24" rx="12" fill="#0077FF" fill-opacity="0.08"/>
                                            <path d="M12.569 16.0171C8.23828 16.0171 5.76717 13.0055 5.66406 7.99219H7.83295C7.90406 11.6722 9.50406 13.2295 10.7716 13.5513V7.99219H12.8161V11.1655C14.0658 11.0286 15.3814 9.5833 15.8241 7.99219H17.8703C17.529 9.9513 16.1032 11.3984 15.0898 11.9922C16.1032 12.474 17.7263 13.7344 18.3432 16.0171H16.0961C15.6125 14.4917 14.4072 13.3095 12.8178 13.1495V16.0171H12.569Z" fill="#0077FF"/>
                                        </svg>
                                ul.tags
                                    li.tags__item ЕГЭ
                                    li.tags__item 98 баллов
                            button.modal-right__close-btn
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="32" height="32" rx="16" fill="#F3F4F5"/>
                                    <g clip-path="url(#clip0_4219_78149)">
                                    <path d="M11 11L21 21" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round"/>
                                    <path d="M21 11L11 21" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_4219_78149">
                                    <rect width="12" height="12" fill="white" transform="translate(10 10)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                    .review__body
                        p.review__descriptions.main-descriptions Как эксперт по онлайн-школам могу заявить - Лектариум лучший вариант для подготовки к экзаменам. Я приобрела курсы по биологии и русскому языку и вот моя реакция: цена за курсы очень приятная, я попала под акцию и до сих пор в шоке от того, как много я получила за относительно небольшую цену           
                        .review__video-preview
                            img(src="../img/people-preview.jpg", alt="People")
                            button.review__video-preview_play
                                <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.351562" y="0.09375" width="54.2975" height="54.2975" rx="27.1488" fill="white"/>
                                    <path d="M24.2812 30.7421V23.7386C24.2812 23.3256 24.724 23.0638 25.0859 23.2629L31.4527 26.7646C31.8277 26.9709 31.8277 27.5098 31.4527 27.7161L25.0859 31.2178C24.724 31.4169 24.2812 31.1551 24.2812 30.7421Z" fill="#0B1F33"/>
                                </svg>
