.sale-banner.main-container
    .sale-banner__container.mathematics
        .sale-banner__background
            img(src="../img/background-sale-banner.png", alt="background")
        .sale-banner__content
            .sale-banner__text-block
                .sale-banner__mark По промокоду «СТАРТ» 
                h2.main-title.sale-banner__title
                    | Или получить скидку
                    <br>
                    span.border-wrap
                        | &nbsp;до&nbsp;35%&nbsp;
                    | на&nbsp;любой курс в&nbsp;школе!
            .sale-banner__actions
                a(href='').light-button.sale-banner__link Посмотреть курсы
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#2554E7"/>
                        <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                a(href='').sale-banner__link-text Условия действия
        .sale-banner__image
            img(src="../img/womens.png", alt="People")