.main-container
    section.scrollspy-list
        h2.main-subtitle.scrollspy-list__title
            | Всего за 59 минут
            <br/>
            | диагностики Вы получите:
        ul.scrollspy-list__list
            li.scrollspy-list__list_item
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 1
                        .scrollspy-list__list_title Знакомимся и определяем&nbsp;точку&nbsp;А
                        .scrollspy-list__list_text Вас ждет встреча с методистом, который задаст несколько вопросов связанных с Вашими целями и задачами
                    button.grey-button.scrollspy-list__list_button Получить план
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other5.png", alt="img-preview")
            li.scrollspy-list__list_item
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 2
                        .scrollspy-list__list_title Проводим короткий тест по теме
                        .scrollspy-list__list_text Методист подготовит короткий тест по базовым темам в выбранном предмете
                    button.grey-button.scrollspy-list__list_button Получить план
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other3.png", alt="img-preview")
            li.scrollspy-list__list_item.accent-card
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 3
                        .scrollspy-list__list_title Подготовим пошаговый план подготовки
                        ul.scrollspy-list__list_sublist
                            li.scrollspy-list__list_sublist-item
                                .scrollspy-list__list_sublist-icon
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect y="0.660156" width="24" height="24" rx="12" fill="white"/>
                                        <path d="M7.99609 12.9935L10.4576 15.6602L15.9961 9.66016" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .scrollspy-list__list_sublist-text Результаты тестирования с правильными и&nbsp;неправильными ответами
                            li.scrollspy-list__list_sublist-item
                                .scrollspy-list__list_sublist-icon
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect y="0.660156" width="24" height="24" rx="12" fill="white"/>
                                        <path d="M7.99609 12.9935L10.4576 15.6602L15.9961 9.66016" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .scrollspy-list__list_sublist-text Список тем для углубленного погружения и&nbsp;расписанием изучения материала
                            li.scrollspy-list__list_sublist-item
                                .scrollspy-list__list_sublist-icon
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect y="0.660156" width="24" height="24" rx="12" fill="white"/>
                                        <path d="M7.99609 12.9935L10.4576 15.6602L15.9961 9.66016" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .scrollspy-list__list_sublist-text Материал для самостоятельной подготовке по&nbsp;каждой теме
                    button.grey-button.scrollspy-list__list_button Получить план
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other6.png", alt="img-preview")

