.main-container
    section.scrollspy-list
        h2.main-subtitle.scrollspy-list__title Как проходит обучение
        ul.scrollspy-list__list
            li.scrollspy-list__list_item
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 1
                        .scrollspy-list__list_title Объясним весь материал в&nbsp;интерактивных лекциях
                        .scrollspy-list__list_text Живые онлайн лекции с&nbsp;теорией и&nbsp;практические семинары онлайн&nbsp;с&nbsp;любого устройства
                    button.grey-button.scrollspy-list__list_button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other0.png", alt="img-preview")
            li.scrollspy-list__list_item
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 2
                        .scrollspy-list__list_title Выдадим полный пакет материалов
                        .scrollspy-list__list_text Предоставляем полный пакет материалов - ничего&nbsp;докупать&nbsp;не&nbsp;нужно:&nbsp;рабочие тетради, конспекты, сборники&nbsp;задач, формул, дат, лексики
                    button.grey-button.scrollspy-list__list_button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other1.png", alt="img-preview")
            li.scrollspy-list__list_item
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 3
                        .scrollspy-list__list_title Прорешаем все темы
                        .scrollspy-list__list_text Домашние задания на платформе после каждого занятия строго&nbsp;формата экзамена. В программу подготовки включен весь&nbsp;необходимый объем практики
                    button.grey-button.scrollspy-list__list_button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other2.png", alt="img-preview")
            li.scrollspy-list__list_item
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 4
                        .scrollspy-list__list_title Будем проводить пробные экзамены каждый месяц
                        .scrollspy-list__list_text Проводятся в режиме, приближенному к&nbsp;настоящим экзаменам.&nbsp;Помогает справляться со стрессом, контролировать&nbsp;время,&nbsp;верно заполнять бланки и&nbsp;контролировать&nbsp;уровень знаний
                    button.grey-button.scrollspy-list__list_button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other3.png", alt="img-preview")
            li.scrollspy-list__list_item.accent-card
                .scrollspy-list__list_content
                    .scrollspy-list__list_wrap
                        .scrollspy-list__list_step Шаг 5
                        .scrollspy-list__list_title Гарантируем результат или&nbsp;вернем&nbsp;деньги!
                        .scrollspy-list__list_text Результат нашего сотрудничества при подготовке к&nbsp;ЕГЭ - поступление на бюджет в&nbsp;один из вузов, согласованный в&nbsp;карте поступления. Результат нашего сотрудничества при подготовке к ОГЭ - "4" и "5" по всем предметам. Наше единственное требование - 90% освоенного объема курса
                    button.grey-button.scrollspy-list__list_button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .scrollspy-list__list_img
                    .scrollspy-list__list_img-header
                        ul.scrollspy-list__list_img-dots
                            li.scrollspy-list__list_img-dots-item.red
                            li.scrollspy-list__list_img-dots-item.yellow
                            li.scrollspy-list__list_img-dots-item.green
                    img(src="../img/other4.png", alt="img-preview")

