.modal-right-overlay
    .modal-right.sign-in.medium
        .modal-right__content
            .modal-right__header
                .modal-right__title.sign-in Вход в личный кабинет
                .modal-right__title.password-recovery Сброс пароля
                .modal-right__title.message Письмо отправлено
                button.modal-right__close-btn
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#F3F4F5"/>
                        <g clip-path="url(#clip0_4219_78149)">
                        <path d="M11 11L21 21" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M21 11L11 21" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_4219_78149">
                        <rect width="12" height="12" fill="white" transform="translate(10 10)"/>
                        </clipPath>
                        </defs>
                    </svg>
            .modal-right__descriptions.password-recovery Введите почту, которая была указана при регистрации. Мы отправим на неё ссылку для сброса пароля.
            .modal-right__descriptions.message Введите почту, которая была указана при регистрации. Мы отправим на неё ссылку для сброса пароля.
            .authorization-form.modal.sign-in
                form.authorization-form__fields
                    input.custom-input.white-input(type="text" id="phone" name="phone" placeholder="Телефон")
                    .password-wrapper
                        input.custom-input.white-input(type="password" id="password" name="password" placeholder="Введите пароль")
                        button.toggle-password
                            span.toggle-password__icon.show
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25ZM9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#9AA3AD"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.002 3.24719C7.48782 3.24719 4.44724 5.95139 2.68252 8.24405L2.65069 8.28539C2.25159 8.80372 1.88401 9.28111 1.63464 9.84559C1.36759 10.4501 1.25195 11.1089 1.25195 11.9972C1.25195 12.8855 1.36759 13.5443 1.63464 14.1488C1.88401 14.7133 2.25159 15.1907 2.6507 15.709L2.68252 15.7503C4.44724 18.043 7.48782 20.7472 12.002 20.7472C16.5161 20.7472 19.5567 18.043 21.3214 15.7503L21.3532 15.709C21.7524 15.1907 22.1199 14.7133 22.3693 14.1488C22.6364 13.5443 22.752 12.8855 22.752 11.9972C22.752 11.1089 22.6364 10.4501 22.3693 9.84559C22.1199 9.2811 21.7524 8.80371 21.3532 8.28537L21.3214 8.24405C19.5567 5.95139 16.5161 3.24719 12.002 3.24719ZM3.87117 9.15899C5.50059 7.04211 8.15231 4.74719 12.002 4.74719C15.8516 4.74719 18.5034 7.04211 20.1328 9.15899C20.5714 9.72878 20.8283 10.0693 20.9972 10.4517C21.1552 10.8092 21.252 11.2461 21.252 11.9972C21.252 12.7483 21.1552 13.1852 20.9972 13.5427C20.8283 13.9251 20.5714 14.2656 20.1328 14.8354C18.5034 16.9523 15.8516 19.2472 12.002 19.2472C8.15231 19.2472 5.50059 16.9523 3.87117 14.8354C3.43259 14.2656 3.17569 13.9251 3.00671 13.5427C2.84879 13.1852 2.75195 12.7483 2.75195 11.9972C2.75195 11.2461 2.84879 10.8092 3.00671 10.4517C3.17569 10.0693 3.43258 9.72878 3.87117 9.15899Z" fill="#9AA3AD"/>
                                    <path d="M19 3L3 19" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                    <path class="line" d="M20 4L4 20" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                            span.toggle-password__icon
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25ZM9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12Z" fill="#9AA3AD"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.002 3.24716C7.48782 3.24716 4.44724 5.95136 2.68252 8.24402L2.65069 8.28536C2.25159 8.80369 1.88401 9.28108 1.63464 9.84556C1.36759 10.4501 1.25195 11.1089 1.25195 11.9972C1.25195 12.8855 1.36759 13.5443 1.63464 14.1488C1.88401 14.7133 2.25159 15.1907 2.6507 15.709L2.68252 15.7503C4.44724 18.043 7.48782 20.7472 12.002 20.7472C16.5161 20.7472 19.5567 18.043 21.3214 15.7503L21.3532 15.709C21.7524 15.1907 22.1199 14.7133 22.3693 14.1488C22.6364 13.5443 22.752 12.8855 22.752 11.9972C22.752 11.1089 22.6364 10.4501 22.3693 9.84556C22.1199 9.28107 21.7524 8.80368 21.3532 8.28534L21.3214 8.24402C19.5567 5.95136 16.5161 3.24716 12.002 3.24716ZM3.87117 9.15896C5.50059 7.04208 8.15231 4.74716 12.002 4.74716C15.8516 4.74716 18.5034 7.04208 20.1328 9.15896C20.5714 9.72875 20.8283 10.0693 20.9972 10.4517C21.1552 10.8092 21.252 11.2461 21.252 11.9972C21.252 12.7483 21.1552 13.1852 20.9972 13.5427C20.8283 13.9251 20.5714 14.2656 20.1328 14.8354C18.5034 16.9523 15.8516 19.2472 12.002 19.2472C8.15231 19.2472 5.50059 16.9523 3.87117 14.8354C3.43259 14.2656 3.17569 13.9251 3.00671 13.5427C2.84879 13.1852 2.75195 12.7483 2.75195 11.9972C2.75195 11.2461 2.84879 10.8092 3.00671 10.4517C3.17569 10.0693 3.43258 9.72875 3.87117 9.15896Z" fill="#9AA3AD"/>
                                </svg>
                    .warning-text Неверный пароль
                    a(href="").authorization-form__link-text Забыли пароль?
                .authorization-form__action
                    .authorization-form__submit-btn.main-button
                        | Войти
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.5" width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8.5L14 12.5L10 16.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .authorization-form__text Нет аккаунта?
                        a(href="").authorization-form__link-text Зарегистрироваться
                .login-through-services
                    .login-through-services__title
                        span Войти с помощью
                    ul.login-through-services__list
                        li.login-through-services__list_item.google
                            a(href="")
                                <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_93_1597)">
                                        <path d="M24.9953 16.5C24.9965 18.3808 24.334 20.2017 23.1244 21.6419C21.9148 23.0821 20.2357 24.0492 18.383 24.3728C16.5302 24.6965 14.6227 24.3559 12.9965 23.411C11.3703 22.4662 10.1296 20.9778 9.4932 19.208L4.92188 22.865C6.3433 25.567 8.62909 27.7149 11.4142 28.9656C14.1994 30.2163 17.3233 30.4977 20.2872 29.765C23.2511 29.0322 25.8839 27.3275 27.7654 24.9231C29.6469 22.5186 30.6685 19.5531 30.6671 16.5" fill="#00AC47"/>
                                        <path d="M24.9938 16.5C24.9928 17.7715 24.6879 19.0244 24.1047 20.1543C23.5214 21.2841 22.6766 22.2583 21.6406 22.9955L26.16 26.611C27.5771 25.3351 28.7105 23.7758 29.4866 22.034C30.2628 20.2922 30.6645 18.4069 30.6657 16.5" fill="#4285F4"/>
                                        <path d="M9.00781 16.5017C9.00979 15.5779 9.17301 14.6614 9.49013 13.7937L4.9188 10.1367C3.87939 12.0973 3.33594 14.2826 3.33594 16.5017C3.33594 18.7208 3.87939 20.9061 4.9188 22.8667L9.49013 19.2097C9.17301 18.3419 9.00979 17.4255 9.00781 16.5017Z" fill="#FFBA00"/>
                                        <path d="M17.0031 8.50782C18.6942 8.50829 20.341 9.04872 21.7035 10.0504L25.8904 6.14265C24.3362 4.8026 22.4994 3.83086 20.5171 3.29993C18.5348 2.769 16.4582 2.69261 14.4423 3.07644C12.4263 3.46027 10.5231 4.29443 8.87459 5.51665C7.2261 6.73887 5.87492 8.3176 4.92188 10.135L9.4932 13.792C10.0507 12.2466 11.0706 10.9103 12.4143 9.96486C13.7579 9.01941 15.3601 8.51068 17.0031 8.50782Z" fill="#EA4435"/>
                                        <path d="M30.6641 15.4688V16.5L28.3438 20.1094H17.5156V14.4375H29.6328C29.9063 14.4375 30.1686 14.5461 30.362 14.7395C30.5554 14.9329 30.6641 15.1952 30.6641 15.4688Z" fill="#4285F4"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_93_1597">
                                        <rect width="33" height="33" fill="white" transform="translate(0.5)"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                        li.login-through-services__list_item.ya
                            a(href="")
                                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.0819 29.7008H20.586V6.872H18.5785C14.9001 6.872 12.9707 8.77133 12.9707 11.5804C12.9707 14.7705 14.311 16.2518 17.0578 18.1512L19.3238 19.7063L12.7844 29.6946H7.92188L13.7881 20.7697C10.4102 18.311 8.51091 15.9076 8.51091 11.8447C8.51091 6.75521 11.9669 3.30078 18.5364 3.30078H25.0759V29.6946L25.0819 29.7008Z" fill="#FC3F1D"/>
                                </svg>
                        li.login-through-services__list_item.vk
                            a(href="")
                                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.7077 25.1177C8.45222 25.1177 3.1731 18.6467 2.95312 7.87891H7.58932C7.74161 15.7822 11.1595 19.1298 13.8667 19.8201V7.87891H18.2323V14.695C20.9057 14.4017 23.7141 11.2956 24.6617 7.87891H29.0273C28.2997 12.0894 25.254 15.1954 23.0882 16.4724C25.254 17.5077 28.7229 20.217 30.0427 25.1177H25.2371C24.205 21.839 21.6333 19.3024 18.2323 18.9573V25.1177H17.7077Z" fill="#0077FF"/>
                                </svg>
            .authorization-form.modal.password-recovery
                form.authorization-form__fields
                    input.custom-input.white-input(type="text" id="email" name="email" placeholder="Электронная почта")
                    .warning-text Введите почту
                .hidden-on-mobile
                    button.authorization-form__submit-btn.main-button
                        | Отправить
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="0.5" width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8.5L14 12.5L10 16.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
            .authorization-form.modal.message
                ul.mailboxes
                    li.mailboxes__item
                        a(href="")
                            span.mailboxes__item_text Перейти в Яндекс Почту
                            .mailboxes__item_icon
                                img(src="../img/ymail.svg", alt="email")
                    li.mailboxes__item
                        a(href="")
                            span.mailboxes__item_text Перейти в Gmail
                            .mailboxes__item_icon
                                img(src="../img/gmail.svg", alt="email")
                    li.mailboxes__item
                        a(href="")
                            span.mailboxes__item_text Перейти в Mail.ru
                            .mailboxes__item_icon
                                img(src="../img/mailru.svg", alt="email")
        .visible-on-mobile.password-recovery.modal-right__actions
            button.authorization-form__submit-btn.main-button
                | Отправить
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="0.5" width="24" height="24" rx="12" fill="white"/>
                    <path d="M10 8.5L14 12.5L10 16.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                      

                
        


                            
                    
                