
block skills-block
    - var defaultSkillBlockTitle = 'В нашей команде приживаются'
    - var skillBlockTitle = typeof(skillBlockTitle) !== 'undefined' ? skillBlockTitle : defaultSkillBlockTitle

section.skills-block
    .main-container
        .skills-block__wrap
            h2.skills-block__title.main-subtitle 
                | !{skillBlockTitle}
        .carousel
            .carousel__viewport
                ol.skills-block__list.carousel__track
                    li.skills-block__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev.skills-block__list_item
                        .skills-block__list_item-content
                            .skills-block__list_item-img
                                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                                    <path d="M27.9711 38.4321C31.618 37.701 36.3333 35.0776 36.3333 28.2936C36.3333 22.1201 31.8145 18.0092 28.5651 16.1202C27.8441 15.7011 27 16.2523 27 17.0863V19.2195C27 20.9017 26.2928 23.9722 24.3275 25.2493C23.3242 25.9014 22.2406 24.9255 22.1187 23.7351L22.0185 22.7576C21.9021 21.6213 20.7448 20.9314 19.8366 21.6243C18.205 22.8689 16.5 25.0484 16.5 28.2936C16.5 36.5899 22.6704 38.664 25.7555 38.664C25.9349 38.664 26.1236 38.6586 26.3199 38.6473C24.7965 38.5171 22.3333 37.5719 22.3333 34.5155C22.3333 32.1246 24.0776 30.5071 25.4028 29.7209C25.7592 29.5094 26.1764 29.784 26.1764 30.1984V30.8858C26.1764 31.4119 26.3799 32.2343 26.8642 32.7972C27.4123 33.4342 28.2167 32.7669 28.2816 31.9291C28.3021 31.6648 28.5679 31.4964 28.7968 31.6302C29.545 32.0674 30.5 33.0015 30.5 34.5155C30.5 36.9048 29.1828 38.0039 27.9711 38.4321Z" fill="#2554E7"/>
                                </svg>
                            .skills-block__list_item-info
                                h3.skills-block__list_item-title Проактивные
                                p.skills-block__list_item-descriptions.main-descriptions Мы используем обстоятельства для роста, а не для оправдания неудач
                    li.skills-block__list_item.carousel__slide.carousel__slide--visible.carousel__slide--active.skills-block__list_item
                        .skills-block__list_item-content
                            .skills-block__list_item-img
                                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                                    <g clip-path="url(#clip0_4562_75304)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.4393 14.5873C29.1764 13.7028 30.6133 14.3075 30.4962 15.4529L29.6731 23.5009H36.3356C37.3247 23.5009 37.8651 24.6545 37.2318 25.4144L25.5652 39.4144C24.8281 40.2989 23.3911 39.6943 23.5083 38.5488L24.3314 30.5009H17.6689C16.6798 30.5009 16.1394 29.3472 16.7726 28.5874L28.4393 14.5873Z" fill="#2554E7"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_4562_75304">
                                    <rect width="28" height="28" fill="white" transform="translate(13 13)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .skills-block__list_item-info
                                h3.skills-block__list_item-title Лидеры
                                p.skills-block__list_item-descriptions.main-descriptions Мы делегируем ответственность,&nbsp;а&nbsp;не&nbsp;задачи
                    li.skills-block__list_item.carousel__slide.carousel__slide--visible.carousel__slide--next.skills-block__list_item
                        .skills-block__list_item-content
                            .skills-block__list_item-img
                                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                                    <g clip-path="url(#clip0_4562_75315)">
                                    <path d="M39.2503 17.5938H32.2503C31.7862 17.5938 31.341 17.7781 31.0128 18.1063C30.6847 18.4345 30.5003 18.8796 30.5003 19.3438C30.5003 19.8079 30.6847 20.253 31.0128 20.5812C31.341 20.9094 31.7862 21.0938 32.2503 21.0938H35.0257L28.7503 27.3691L22.9876 21.6064C22.8251 21.4439 22.6322 21.315 22.4199 21.227C22.2076 21.139 21.9801 21.0938 21.7503 21.0938C21.5205 21.0938 21.2929 21.139 21.0806 21.227C20.8683 21.315 20.6754 21.4439 20.513 21.6064L13.513 28.6064C13.1863 28.9349 13.0033 29.3795 13.0039 29.8427C13.0046 30.306 13.1889 30.7501 13.5164 31.0776C13.844 31.4052 14.2881 31.5895 14.7513 31.5901C15.2145 31.5908 15.6591 31.4077 15.9876 31.0811L21.7503 25.3184L27.513 31.0811C27.6754 31.2436 27.8683 31.3725 28.0806 31.4605C28.2929 31.5485 28.5205 31.5937 28.7503 31.5937C28.9801 31.5937 29.2076 31.5485 29.4199 31.4605C29.6322 31.3725 29.8251 31.2436 29.9876 31.0811L37.5003 23.5684V26.3438C37.5003 26.8079 37.6847 27.253 38.0129 27.5812C38.341 27.9094 38.7862 28.0938 39.2503 28.0938C39.7144 28.0938 40.1595 27.9094 40.4877 27.5812C40.8159 27.253 41.0003 26.8079 41.0003 26.3438V19.3438C41.0004 19.1139 40.9552 18.8863 40.8673 18.6739C40.7794 18.4615 40.6505 18.2686 40.488 18.106C40.3255 17.9435 40.1325 17.8146 39.9201 17.7267C39.7078 17.6388 39.4801 17.5936 39.2503 17.5938Z" fill="#2554E7"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_4562_75315">
                                    <rect width="28" height="28" fill="white" transform="translate(13 13)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .skills-block__list_item-info
                                h3.skills-block__list_item-title Развивающиеся
                                p.skills-block__list_item-descriptions.main-descriptions Всегда меняемся и&nbsp;не&nbsp;стоим&nbsp;на&nbsp;месте
                    li.skills-block__list_item.carousel__slide.skills-block__list_item
                        .skills-block__list_item-content
                            .skills-block__list_item-img
                                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="54" height="54" rx="27" fill="#EDF2FE"/>
                                    <g clip-path="url(#clip0_4562_75322)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M28.7487 16.5C34.2255 16.5 38.6654 20.9398 38.6654 26.4167C38.6654 31.8935 34.2255 36.3333 28.7487 36.3333H28.1654V37.4883C28.1654 38.1391 27.6376 38.6672 26.9859 38.6667C24.1157 38.6639 21.2084 37.7066 19.0029 35.7452C16.776 33.7648 15.3346 30.8207 15.332 27.0101V26.4167C15.332 20.9398 19.7719 16.5 25.2487 16.5H28.7487ZM22.9154 24.6667C21.9489 24.6667 21.1654 25.4502 21.1654 26.4167C21.1654 27.3831 21.9489 28.1667 22.9154 28.1667C23.8819 28.1667 24.6654 27.3831 24.6654 26.4167C24.6654 25.4502 23.8819 24.6667 22.9154 24.6667ZM31.082 24.6667C30.1156 24.6667 29.332 25.4502 29.332 26.4167C29.332 27.3831 30.1156 28.1667 31.082 28.1667C32.0485 28.1667 32.832 27.3831 32.832 26.4167C32.832 25.4502 32.0485 24.6667 31.082 24.6667Z" fill="#2554E7"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_4562_75322">
                                    <rect width="28" height="28" fill="white" transform="translate(13 13)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .skills-block__list_item-info
                                h3.skills-block__list_item-title Коммуникабельные
                                p.skills-block__list_item-descriptions.main-descriptions В основе нашей команды уважение&nbsp;и&nbsp;прозрачность
        .visible-on-large-desktop
            ol.carousel__pagination
                li.carousel__pagination-item
                    button.carousel__pagination-button
                li.carousel__pagination-item
                    button.carousel__pagination-button
                li.carousel__pagination-item
                    button.carousel__pagination-button.carousel__pagination-button--active


