.main-container
    section.slider-block
        h2.main-subtitle
            | Наш подход оценили
            <br>
            | уже более 10 000 учеников
        .slider-block__wrap
            .slider-block__content
                .slider-block__content_preview.violet
                    .slider-block__content_bg
                        img(src="../img/reviews1.png", alt="reviews")
                    .slider-block__content_preview--wrap
                        .slider-block__markers
                                span.slider-block__markers_item-blur 0:32
                        .slider-block__content_actions
                            button.slider-block__content_btn
                                <svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="74.0038" height="74.0038" rx="37.0019" fill="white"/>
                                    <path d="M31.0859 43.4489V30.5506C31.0859 29.79 31.9014 29.3079 32.5679 29.6744L44.2936 36.1236C44.9844 36.5035 44.9844 37.4961 44.2936 37.876L32.5679 44.3252C31.9014 44.6917 31.0859 44.2095 31.0859 43.4489Z" fill="#0B1F33"/>
                                </svg>

                .slider-block__content_info
                    .slider-block__content_wrap
                        div
                            .slider-block__content_header
                                .slider-block__content_header--wrapper
                                    h3.slider-block__content_title Вероника Чижова
                                    ul.slider-block__content_social
                                        li
                                            a(href="#")
                                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="32" height="32" rx="16" fill="#0077FF" fill-opacity="0.08"/>
                                                    <path d="M16.8534 22.0217C10.3574 22.0217 6.65076 17.5044 6.49609 9.98438H9.74943C9.85609 15.5044 12.2561 17.8404 14.1574 18.323V9.98438H17.2241V14.7444C19.0988 14.539 21.0721 12.371 21.7361 9.98438H24.8054C24.2934 12.923 22.1548 15.0937 20.6348 15.9844C22.1548 16.707 24.5894 18.5977 25.5148 22.0217H22.1441C21.4188 19.7337 19.6108 17.9604 17.2268 17.7204V22.0217H16.8534Z" fill="#0077FF"/>
                                                </svg>
                                .slider-block__arrows
                                    button.slider-block__arrows_arrow.left.disabled
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    button.slider-block__arrows_arrow
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                            ul.tags
                                li.tags__item 11 класс
                                li.tags__item Русский язык
                                li.tags__item.tags__item--blue 99 баллов
                        .slider-block__content_descriptions-block
                            p.slider-block__content_descriptions
                                | Мне очень повезло с преподавателем и моим куратором, который готов в любое время помочь. 
                                <br>
                                | После нескольких месяцев я взяла курс по профильной математике и тоже никак не была
                                <br>
                                | разочарована. Я очень рада. что какая-то запись в соц. сети познакомила меня с данной онлайн-школой!
                            .visible-on-mobile
                                button.slider-block__content_show-more Подробнее
                    .slider-block__content_buttons
                        button.main-button.slider-block__content_buttons-btn Посмотреть курсы
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        a(href="#").slider-block__content_buttons-link Смотреть другие отзывы
                    
            ul.slider-block__list
                li.slider-block__list_item.violet.slider-block__list_item--active
                    .slider-block__list_item-bg
                        img(src="../img/reviews1.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Вероника Чижова
                            button.slider-block__list_item-btn 
                                span.hidden-on-mobile
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="54" height="54" rx="27" fill="white"/>
                                        <path d="M21.0859 33.4489V20.5506C21.0859 19.79 21.9014 19.3079 22.5679 19.6744L34.2936 26.1236C34.9844 26.5035 34.9844 27.4961 34.2936 27.876L22.5679 34.3252C21.9014 34.6917 21.0859 34.2095 21.0859 33.4489Z" fill="#0B1F33"/>
                                    </svg>
                                span.visible-on-mobile
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_b_2873_19493)">
                                        <rect width="32" height="32" rx="16" fill="#0B1F33" fill-opacity="0.15"/>
                                        <path d="M12.0586 19.7407V12.2694C12.0586 11.5088 12.8741 11.0266 13.5405 11.3932L20.3326 15.1289C21.0234 15.5088 21.0234 16.5014 20.3326 16.8813L13.5405 20.617C12.8741 20.9835 12.0586 20.5013 12.0586 19.7407Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_b_2873_19493" x="-40.7892" y="-40.7892" width="113.578" height="113.578" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="20.3946"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2873_19493"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2873_19493" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                li.slider-block__list_item.bright-blue
                    .slider-block__list_item-bg
                        img(src="../img/reviews2.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Ангелина Лобанова
                            button.slider-block__list_item-btn 
                                span.hidden-on-mobile
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="54" height="54" rx="27" fill="white"/>
                                        <path d="M21.0859 33.4489V20.5506C21.0859 19.79 21.9014 19.3079 22.5679 19.6744L34.2936 26.1236C34.9844 26.5035 34.9844 27.4961 34.2936 27.876L22.5679 34.3252C21.9014 34.6917 21.0859 34.2095 21.0859 33.4489Z" fill="#0B1F33"/>
                                    </svg>
                                span.visible-on-mobile
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_b_2873_19493)">
                                        <rect width="32" height="32" rx="16" fill="#0B1F33" fill-opacity="0.15"/>
                                        <path d="M12.0586 19.7407V12.2694C12.0586 11.5088 12.8741 11.0266 13.5405 11.3932L20.3326 15.1289C21.0234 15.5088 21.0234 16.5014 20.3326 16.8813L13.5405 20.617C12.8741 20.9835 12.0586 20.5013 12.0586 19.7407Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_b_2873_19493" x="-40.7892" y="-40.7892" width="113.578" height="113.578" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="20.3946"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2873_19493"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2873_19493" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                li.slider-block__list_item.turquoise
                    .slider-block__list_item-bg
                        img(src="../img/reviews3.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Катя Наумова
                            button.slider-block__list_item-btn 
                                span.hidden-on-mobile
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="54" height="54" rx="27" fill="white"/>
                                        <path d="M21.0859 33.4489V20.5506C21.0859 19.79 21.9014 19.3079 22.5679 19.6744L34.2936 26.1236C34.9844 26.5035 34.9844 27.4961 34.2936 27.876L22.5679 34.3252C21.9014 34.6917 21.0859 34.2095 21.0859 33.4489Z" fill="#0B1F33"/>
                                    </svg>
                                span.visible-on-mobile
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_b_2873_19493)">
                                        <rect width="32" height="32" rx="16" fill="#0B1F33" fill-opacity="0.15"/>
                                        <path d="M12.0586 19.7407V12.2694C12.0586 11.5088 12.8741 11.0266 13.5405 11.3932L20.3326 15.1289C21.0234 15.5088 21.0234 16.5014 20.3326 16.8813L13.5405 20.617C12.8741 20.9835 12.0586 20.5013 12.0586 19.7407Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_b_2873_19493" x="-40.7892" y="-40.7892" width="113.578" height="113.578" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="20.3946"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2873_19493"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2873_19493" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                li.slider-block__list_item.red
                    .slider-block__list_item-bg
                        img(src="../img/reviews4.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Лиза Буданова
                            button.slider-block__list_item-btn 
                                span.hidden-on-mobile
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="54" height="54" rx="27" fill="white"/>
                                        <path d="M21.0859 33.4489V20.5506C21.0859 19.79 21.9014 19.3079 22.5679 19.6744L34.2936 26.1236C34.9844 26.5035 34.9844 27.4961 34.2936 27.876L22.5679 34.3252C21.9014 34.6917 21.0859 34.2095 21.0859 33.4489Z" fill="#0B1F33"/>
                                    </svg>
                                span.visible-on-mobile
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_b_2873_19493)">
                                        <rect width="32" height="32" rx="16" fill="#0B1F33" fill-opacity="0.15"/>
                                        <path d="M12.0586 19.7407V12.2694C12.0586 11.5088 12.8741 11.0266 13.5405 11.3932L20.3326 15.1289C21.0234 15.5088 21.0234 16.5014 20.3326 16.8813L13.5405 20.617C12.8741 20.9835 12.0586 20.5013 12.0586 19.7407Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_b_2873_19493" x="-40.7892" y="-40.7892" width="113.578" height="113.578" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="20.3946"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2873_19493"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2873_19493" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
                li.slider-block__list_item.blue
                    .slider-block__list_item-bg
                        img(src="../img/reviews5.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Евгений Караникола
                            button.slider-block__list_item-btn 
                                span.hidden-on-mobile
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="54" height="54" rx="27" fill="white"/>
                                        <path d="M21.0859 33.4489V20.5506C21.0859 19.79 21.9014 19.3079 22.5679 19.6744L34.2936 26.1236C34.9844 26.5035 34.9844 27.4961 34.2936 27.876L22.5679 34.3252C21.9014 34.6917 21.0859 34.2095 21.0859 33.4489Z" fill="#0B1F33"/>
                                    </svg>
                                span.visible-on-mobile
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g filter="url(#filter0_b_2873_19493)">
                                        <rect width="32" height="32" rx="16" fill="#0B1F33" fill-opacity="0.15"/>
                                        <path d="M12.0586 19.7407V12.2694C12.0586 11.5088 12.8741 11.0266 13.5405 11.3932L20.3326 15.1289C21.0234 15.5088 21.0234 16.5014 20.3326 16.8813L13.5405 20.617C12.8741 20.9835 12.0586 20.5013 12.0586 19.7407Z" fill="white"/>
                                        </g>
                                        <defs>
                                        <filter id="filter0_b_2873_19493" x="-40.7892" y="-40.7892" width="113.578" height="113.578" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="20.3946"/>
                                        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2873_19493"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2873_19493" result="shape"/>
                                        </filter>
                                        </defs>
                                    </svg>
