
section.slider-cards
    .main-container
        .slider-cards__wrap
            h2.slider-cards__title.main-subtitle Подготовила 4 курса по русскому языку
            .slider-cards__arrows
                button.slider-cards__arrows_arrow.left
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                button.slider-cards__arrows_arrow
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        ul.slider-cards__list
            li.slider-cards__list_item
                .slider-cards__list_header
                    .slider-cards__list_bg
                        img(src="../img/kremlin.png", alt="background")
                    .slider-cards__list_header-content
                        h3.slider-cards__list_item-title Как подготовиться на проходной балл по русскому языку
                        ul.tags
                            li.tags__item.tags__item--white 11 класс
                            li.tags__item.tags__item--blur Русский язык
                            li.tags__item.tags__item--blur ЕГЭ 2024
                            li.tags__item.tags__item--blur Разбор тем
                .slider-cards__list_body
                    ul.tags-with-icons
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2873_19995)">
                                    <path d="M10 6.66406V9.9974L12.0833 12.0807" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.66406 9.99739C1.66406 6.06902 1.66406 4.10484 2.88445 2.88445C4.10484 1.66406 6.06902 1.66406 9.99739 1.66406C13.9257 1.66406 15.89 1.66406 17.1103 2.88445C18.3307 4.10484 18.3307 6.06902 18.3307 9.99739C18.3307 13.9257 18.3307 15.89 17.1103 17.1103C15.89 18.3307 13.9257 18.3307 9.99739 18.3307C6.06902 18.3307 4.10484 18.3307 2.88445 17.1103C1.66406 15.89 1.66406 13.9257 1.66406 9.99739Z" stroke="#2554E7" stroke-width="1.5"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2873_19995">
                                    <rect width="20" height="20" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                | 2 недели
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.5"/>
                                    <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.5"/>
                                </svg>
                                | От 5 занятий
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 10C17.5 14.1422 14.1422 17.5 10 17.5C5.85787 17.5 2.5 14.1422 2.5 10C2.5 5.85787 5.85787 2.5 10 2.5C14.1422 2.5 17.5 5.85787 17.5 10Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.5039 9.44772C12.7821 9.63314 12.9212 9.72589 12.9697 9.84281C13.012 9.94497 13.012 10.0598 12.9697 10.162C12.9212 10.2789 12.7821 10.3716 12.5039 10.5571L9.37244 12.6447C9.03569 12.8692 8.86735 12.9815 8.72777 12.9731C8.60619 12.9658 8.49377 12.9057 8.42027 12.8086C8.33594 12.6971 8.33594 12.4947 8.33594 12.0901V7.91473C8.33594 7.51008 8.33594 7.30776 8.42027 7.19623C8.49377 7.09907 8.60619 7.03894 8.72777 7.03168C8.86735 7.02335 9.03569 7.13557 9.37244 7.36003L12.5039 9.44772Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | Занятия в записи
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.33594 15.8333V5.16667C3.33594 4.23325 3.33594 3.76653 3.5176 3.41002C3.67738 3.09641 3.93235 2.84144 4.24595 2.68166C4.60247 2.5 5.06919 2.5 6.0026 2.5H14.0026C14.936 2.5 15.4028 2.5 15.7593 2.68166C16.0729 2.84144 16.3279 3.09641 16.4876 3.41002C16.6693 3.76653 16.6693 4.23325 16.6693 5.16667V14.1667H5.0026C4.08213 14.1667 3.33594 14.9128 3.33594 15.8333ZM3.33594 15.8333C3.33594 16.7538 4.08213 17.5 5.0026 17.5H16.6693M7.5026 5.83333H12.5026M7.5026 9.16667H12.5026M15.8359 14.1667V17.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | От 5 домашек
                    .slider-cards__list_bottom
                        .slider-cards__list_bottom-prices
                            .slider-cards__list_bottom-wrap
                                .slider-cards__list_price 0&nbsp;₽
                                .slider-cards__list_price-block
                                    span.blue-text Бесплатно
                        button.main-button-small Записаться
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            li.slider-cards__list_item
                .slider-cards__list_header
                    .slider-cards__list_bg
                        img(src="../img/kremlin.png", alt="background")
                    .slider-cards__list_header-content
                        h3.slider-cards__list_item-title Морфология
                        ul.tags
                            li.tags__item.tags__item--white 11 класс
                            li.tags__item.tags__item--blur Русский язык
                            li.tags__item.tags__item--blur ЕГЭ 2024
                .slider-cards__list_body
                    ul.tags-with-icons
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2873_19995)">
                                    <path d="M10 6.66406V9.9974L12.0833 12.0807" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.66406 9.99739C1.66406 6.06902 1.66406 4.10484 2.88445 2.88445C4.10484 1.66406 6.06902 1.66406 9.99739 1.66406C13.9257 1.66406 15.89 1.66406 17.1103 2.88445C18.3307 4.10484 18.3307 6.06902 18.3307 9.99739C18.3307 13.9257 18.3307 15.89 17.1103 17.1103C15.89 18.3307 13.9257 18.3307 9.99739 18.3307C6.06902 18.3307 4.10484 18.3307 2.88445 17.1103C1.66406 15.89 1.66406 13.9257 1.66406 9.99739Z" stroke="#2554E7" stroke-width="1.5"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2873_19995">
                                    <rect width="20" height="20" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                | 2 недели
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.5"/>
                                    <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.5"/>
                                </svg>
                                | От 5 занятий
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 10C17.5 14.1422 14.1422 17.5 10 17.5C5.85787 17.5 2.5 14.1422 2.5 10C2.5 5.85787 5.85787 2.5 10 2.5C14.1422 2.5 17.5 5.85787 17.5 10Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.5039 9.44772C12.7821 9.63314 12.9212 9.72589 12.9697 9.84281C13.012 9.94497 13.012 10.0598 12.9697 10.162C12.9212 10.2789 12.7821 10.3716 12.5039 10.5571L9.37244 12.6447C9.03569 12.8692 8.86735 12.9815 8.72777 12.9731C8.60619 12.9658 8.49377 12.9057 8.42027 12.8086C8.33594 12.6971 8.33594 12.4947 8.33594 12.0901V7.91473C8.33594 7.51008 8.33594 7.30776 8.42027 7.19623C8.49377 7.09907 8.60619 7.03894 8.72777 7.03168C8.86735 7.02335 9.03569 7.13557 9.37244 7.36003L12.5039 9.44772Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | Занятия в записи
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.33594 15.8333V5.16667C3.33594 4.23325 3.33594 3.76653 3.5176 3.41002C3.67738 3.09641 3.93235 2.84144 4.24595 2.68166C4.60247 2.5 5.06919 2.5 6.0026 2.5H14.0026C14.936 2.5 15.4028 2.5 15.7593 2.68166C16.0729 2.84144 16.3279 3.09641 16.4876 3.41002C16.6693 3.76653 16.6693 4.23325 16.6693 5.16667V14.1667H5.0026C4.08213 14.1667 3.33594 14.9128 3.33594 15.8333ZM3.33594 15.8333C3.33594 16.7538 4.08213 17.5 5.0026 17.5H16.6693M7.5026 5.83333H12.5026M7.5026 9.16667H12.5026M15.8359 14.1667V17.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | От 5 домашек
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.33594 15.8333V5.16667C3.33594 4.23325 3.33594 3.76653 3.5176 3.41002C3.67738 3.09641 3.93235 2.84144 4.24595 2.68166C4.60247 2.5 5.06919 2.5 6.0026 2.5H14.0026C14.936 2.5 15.4028 2.5 15.7593 2.68166C16.0729 2.84144 16.3279 3.09641 16.4876 3.41002C16.6693 3.76653 16.6693 4.23325 16.6693 5.16667V14.1667H5.0026C4.08213 14.1667 3.33594 14.9128 3.33594 15.8333ZM3.33594 15.8333C3.33594 16.7538 4.08213 17.5 5.0026 17.5H16.6693M7.5026 5.83333H12.5026M7.5026 9.16667H12.5026M15.8359 14.1667V17.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | От 5 домашек
                    .slider-cards__list_bottom
                        .slider-cards__list_bottom-prices
                            .slider-cards__list_bottom-wrap
                                .slider-cards__list_price 1&nbsp;990&nbsp;₽
                                .slider-cards__list_price-block
                                    span.blue-text -30% 
                                    | при покупке всех месяцев
                        button.main-button-small Записаться
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            li.slider-cards__list_item
                .slider-cards__list_header
                    .slider-cards__list_bg
                        img(src="../img/kremlin.png", alt="background")
                    .slider-cards__list_header-content
                        h3.slider-cards__list_item-title Экспресс подготовка к экзамену
                        ul.tags
                            li.tags__item.tags__item--white 11 класс
                            li.tags__item.tags__item--blur Русский язык
                            li.tags__item.tags__item--blur ЕГЭ 2024
                .slider-cards__list_body
                    ul.tags-with-icons
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2873_19995)">
                                    <path d="M10 6.66406V9.9974L12.0833 12.0807" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.66406 9.99739C1.66406 6.06902 1.66406 4.10484 2.88445 2.88445C4.10484 1.66406 6.06902 1.66406 9.99739 1.66406C13.9257 1.66406 15.89 1.66406 17.1103 2.88445C18.3307 4.10484 18.3307 6.06902 18.3307 9.99739C18.3307 13.9257 18.3307 15.89 17.1103 17.1103C15.89 18.3307 13.9257 18.3307 9.99739 18.3307C6.06902 18.3307 4.10484 18.3307 2.88445 17.1103C1.66406 15.89 1.66406 13.9257 1.66406 9.99739Z" stroke="#2554E7" stroke-width="1.5"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2873_19995">
                                    <rect width="20" height="20" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                | 2 недели
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.5"/>
                                    <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.5"/>
                                </svg>
                                | От 5 занятий
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 10C17.5 14.1422 14.1422 17.5 10 17.5C5.85787 17.5 2.5 14.1422 2.5 10C2.5 5.85787 5.85787 2.5 10 2.5C14.1422 2.5 17.5 5.85787 17.5 10Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.5039 9.44772C12.7821 9.63314 12.9212 9.72589 12.9697 9.84281C13.012 9.94497 13.012 10.0598 12.9697 10.162C12.9212 10.2789 12.7821 10.3716 12.5039 10.5571L9.37244 12.6447C9.03569 12.8692 8.86735 12.9815 8.72777 12.9731C8.60619 12.9658 8.49377 12.9057 8.42027 12.8086C8.33594 12.6971 8.33594 12.4947 8.33594 12.0901V7.91473C8.33594 7.51008 8.33594 7.30776 8.42027 7.19623C8.49377 7.09907 8.60619 7.03894 8.72777 7.03168C8.86735 7.02335 9.03569 7.13557 9.37244 7.36003L12.5039 9.44772Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | Занятия в записи
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.33594 15.8333V5.16667C3.33594 4.23325 3.33594 3.76653 3.5176 3.41002C3.67738 3.09641 3.93235 2.84144 4.24595 2.68166C4.60247 2.5 5.06919 2.5 6.0026 2.5H14.0026C14.936 2.5 15.4028 2.5 15.7593 2.68166C16.0729 2.84144 16.3279 3.09641 16.4876 3.41002C16.6693 3.76653 16.6693 4.23325 16.6693 5.16667V14.1667H5.0026C4.08213 14.1667 3.33594 14.9128 3.33594 15.8333ZM3.33594 15.8333C3.33594 16.7538 4.08213 17.5 5.0026 17.5H16.6693M7.5026 5.83333H12.5026M7.5026 9.16667H12.5026M15.8359 14.1667V17.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | От 5 домашек
                    .slider-cards__list_bottom
                        .slider-cards__list_bottom-prices
                            .slider-cards__list_bottom-wrap
                                .slider-cards__list_price 
                                    | От 1 
                                    span.blue-text 150 
                                    | ₽/мес
                                .slider-cards__list_crossed-price 1 650 ₽
                            .grey-text Или сразу 20 000 ₽
                        button.main-button-small Записаться
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            li.slider-cards__list_item
                .slider-cards__list_header
                    .slider-cards__list_bg
                        img(src="../img/kremlin.png", alt="background")
                    .slider-cards__list_header-content
                        h3.slider-cards__list_item-title Как подготовиться на проходной балл по русскому языку
                        ul.tags
                            li.tags__item.tags__item--white 11 класс
                            li.tags__item.tags__item--blur Русский язык
                            li.tags__item.tags__item--blur ЕГЭ 2024
                            li.tags__item.tags__item--blur Разбор тем
                .slider-cards__list_body
                    ul.tags-with-icons
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2873_19995)">
                                    <path d="M10 6.66406V9.9974L12.0833 12.0807" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.66406 9.99739C1.66406 6.06902 1.66406 4.10484 2.88445 2.88445C4.10484 1.66406 6.06902 1.66406 9.99739 1.66406C13.9257 1.66406 15.89 1.66406 17.1103 2.88445C18.3307 4.10484 18.3307 6.06902 18.3307 9.99739C18.3307 13.9257 18.3307 15.89 17.1103 17.1103C15.89 18.3307 13.9257 18.3307 9.99739 18.3307C6.06902 18.3307 4.10484 18.3307 2.88445 17.1103C1.66406 15.89 1.66406 13.9257 1.66406 9.99739Z" stroke="#2554E7" stroke-width="1.5"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2873_19995">
                                    <rect width="20" height="20" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                | 2 недели
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.5"/>
                                    <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.5"/>
                                </svg>
                                | От 5 занятий
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 10C17.5 14.1422 14.1422 17.5 10 17.5C5.85787 17.5 2.5 14.1422 2.5 10C2.5 5.85787 5.85787 2.5 10 2.5C14.1422 2.5 17.5 5.85787 17.5 10Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.5039 9.44772C12.7821 9.63314 12.9212 9.72589 12.9697 9.84281C13.012 9.94497 13.012 10.0598 12.9697 10.162C12.9212 10.2789 12.7821 10.3716 12.5039 10.5571L9.37244 12.6447C9.03569 12.8692 8.86735 12.9815 8.72777 12.9731C8.60619 12.9658 8.49377 12.9057 8.42027 12.8086C8.33594 12.6971 8.33594 12.4947 8.33594 12.0901V7.91473C8.33594 7.51008 8.33594 7.30776 8.42027 7.19623C8.49377 7.09907 8.60619 7.03894 8.72777 7.03168C8.86735 7.02335 9.03569 7.13557 9.37244 7.36003L12.5039 9.44772Z" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | Занятия в записи
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.33594 15.8333V5.16667C3.33594 4.23325 3.33594 3.76653 3.5176 3.41002C3.67738 3.09641 3.93235 2.84144 4.24595 2.68166C4.60247 2.5 5.06919 2.5 6.0026 2.5H14.0026C14.936 2.5 15.4028 2.5 15.7593 2.68166C16.0729 2.84144 16.3279 3.09641 16.4876 3.41002C16.6693 3.76653 16.6693 4.23325 16.6693 5.16667V14.1667H5.0026C4.08213 14.1667 3.33594 14.9128 3.33594 15.8333ZM3.33594 15.8333C3.33594 16.7538 4.08213 17.5 5.0026 17.5H16.6693M7.5026 5.83333H12.5026M7.5026 9.16667H12.5026M15.8359 14.1667V17.5" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                | От 5 домашек
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2873_19995)">
                                    <path d="M10 6.66406V9.9974L12.0833 12.0807" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M1.66406 9.99739C1.66406 6.06902 1.66406 4.10484 2.88445 2.88445C4.10484 1.66406 6.06902 1.66406 9.99739 1.66406C13.9257 1.66406 15.89 1.66406 17.1103 2.88445C18.3307 4.10484 18.3307 6.06902 18.3307 9.99739C18.3307 13.9257 18.3307 15.89 17.1103 17.1103C15.89 18.3307 13.9257 18.3307 9.99739 18.3307C6.06902 18.3307 4.10484 18.3307 2.88445 17.1103C1.66406 15.89 1.66406 13.9257 1.66406 9.99739Z" stroke="#2554E7" stroke-width="1.5"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_2873_19995">
                                    <rect width="20" height="20" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                | 2 недели
                            li.tags-with-icons__item 
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.5"/>
                                    <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.5"/>
                                </svg>
                                | От 5 занятий
                    .slider-cards__list_bottom
                        .slider-cards__list_bottom-prices
                            .slider-cards__list_bottom-wrap
                                .slider-cards__list_price 
                                    | От 1 
                                    span.blue-text 150 
                                    | ₽/мес
                                .slider-cards__list_crossed-price 1 650 ₽
                            .grey-text Или сразу 20 000 ₽
                        button.main-button-small Записаться
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>







            


