.wide-container
    section.teacher-info
        .teacher-info__background 
            img(src=desktopBgSrc || "../img/bg-letter2.png", alt="background")
        .teacher-info__social
                h3.teacher-info__social_title Анастасия Иванова
                p.teacher-info__social_text Ведущий менеджер по подбору персонала
                ul.teacher-info__social_list
                    li.teacher-info__social_list-item
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#FF0000" fill-opacity="0.08"/>
                                <g clip-path="url(#clip0_4922_158117)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9884 24.5861V18.9743C21.9806 19.9117 23.5236 20.8173 25.3485 21.7936C23.8433 22.6283 21.9806 23.5649 19.9884 24.5861ZM31.091 16.1833C30.7474 15.7305 30.1617 15.3781 29.5381 15.2614C27.7053 14.9134 16.271 14.9124 14.4392 15.2614C13.9391 15.3551 13.4938 15.5817 13.1113 15.9338C11.4996 17.4297 12.0047 25.4517 12.3931 26.7512C12.5565 27.3136 12.7677 27.7193 13.0337 27.9855C13.3763 28.3376 13.8455 28.58 14.3844 28.6887C15.8935 29.0008 23.668 29.1753 29.5062 28.7355C30.0441 28.6418 30.5202 28.3916 30.8958 28.0246C32.3859 26.5347 32.2843 18.0621 31.091 16.1833Z" fill="#FF0000"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_4922_158117">
                                <rect width="20" height="20" fill="white" transform="translate(12 12)"/>
                                </clipPath>
                                </defs>
                            </svg>
                    li.teacher-info__social_list-item
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#0077FF" fill-opacity="0.08"/>
                                <path d="M22.8495 28.0217C16.3535 28.0217 12.6469 23.5044 12.4922 15.9844H15.7455C15.8522 21.5044 18.2522 23.8404 20.1535 24.323V15.9844H23.2202V20.7444C25.0949 20.539 27.0682 18.371 27.7322 15.9844H30.8015C30.2895 18.923 28.1509 21.0937 26.6309 21.9844C28.1509 22.707 30.5855 24.5977 31.5109 28.0217H28.1402C27.4149 25.7337 25.6069 23.9604 23.2229 23.7204V28.0217H22.8495Z" fill="#0077FF"/>
                            </svg>
                    li.teacher-info__social_list-item
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#397EFF" fill-opacity="0.08"/>
                                <path d="M28.4221 15.0428C28.4221 15.0428 30.041 14.4116 29.9061 15.9446C29.8611 16.5759 29.4564 18.7852 29.1416 21.175L28.0624 28.254C28.0624 28.254 27.9724 29.2911 27.163 29.4714C26.3535 29.6518 25.1394 28.8402 24.9145 28.6598C24.7346 28.5246 21.5419 26.4955 20.4176 25.5036C20.1029 25.233 19.7431 24.6919 20.4626 24.0607L25.1844 19.5518C25.724 19.0107 26.2636 17.7482 24.0151 19.2812L17.7195 23.5647C17.7195 23.5647 17 24.0156 15.651 23.6098L12.728 22.708C12.728 22.708 11.6487 22.0317 13.4925 21.3553C17.9894 19.2361 23.5205 17.0718 28.4221 15.0428Z" fill="#397EFF"/>
                            </svg>
        .teacher-info__content
            .teacher-info__image
                img(src="../img/teacher1.png", alt="Teacher")
            .teacher-info__text-block
                .teacher-info__text-block_icon
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_4922_158131)">
                        <rect width="64" height="64" rx="16" fill="#0B1F33"/>
                        <path d="M21.0848 29.421C19.7697 29.4255 18.4779 29.7683 17.3336 30.4166C18.9446 26.2468 21.6164 22.57 25.0848 19.7499C25.2832 19.5865 25.4475 19.3856 25.5683 19.1587C25.6891 18.9318 25.764 18.6833 25.7888 18.4274C25.8135 18.1715 25.7877 17.9133 25.7126 17.6674C25.6376 17.4215 25.5148 17.1928 25.3514 16.9944C25.188 16.7959 24.9871 16.6316 24.7602 16.5108C24.5332 16.39 24.2847 16.3151 24.0289 16.2904C23.773 16.2656 23.5147 16.2915 23.2689 16.3665C23.023 16.4416 22.7943 16.5643 22.5959 16.7277C15.4848 22.5055 12.3203 30.5055 12.3203 35.4655C12.3326 37.2193 12.8552 38.9315 13.8244 40.3932C14.7936 41.8549 16.1674 43.0027 17.7781 43.6966C18.8205 44.2016 19.9621 44.4688 21.1203 44.4788C22.1398 44.5284 23.1587 44.3704 24.1153 44.0144C25.0719 43.6584 25.9462 43.1118 26.6853 42.4078C27.4243 41.7038 28.0127 40.857 28.4147 39.9189C28.8168 38.9807 29.024 37.9706 29.024 36.9499C29.024 35.9292 28.8168 34.9192 28.4147 33.981C28.0127 33.0428 27.4243 32.1961 26.6853 31.4921C25.9462 30.7881 25.0719 30.2415 24.1153 29.8855C23.1587 29.5295 22.1398 29.3715 21.1203 29.421H21.0848Z" fill="#FAFCFF"/>
                        <path d="M40.8894 29.424C39.5741 29.4268 38.2819 29.7698 37.1383 30.4196C38.7486 26.2541 41.4134 22.5785 44.8717 19.7529C45.0881 19.5969 45.2704 19.3982 45.4072 19.1691C45.544 18.94 45.6324 18.6854 45.6671 18.4208C45.7018 18.1562 45.682 17.8874 45.6089 17.6308C45.5358 17.3742 45.411 17.1352 45.2421 16.9286C45.0732 16.7221 44.8638 16.5523 44.6268 16.4296C44.3898 16.307 44.1303 16.2342 43.8641 16.2157C43.5979 16.1971 43.3308 16.2332 43.0791 16.3218C42.8274 16.4104 42.5965 16.5495 42.4006 16.7307C35.2894 22.5084 32.125 30.5084 32.125 35.4684C32.1334 37.2023 32.6408 38.8972 33.5866 40.3505C34.5323 41.8037 35.8764 42.9541 37.4583 43.664C38.5271 44.1838 39.701 44.4514 40.8894 44.4462C41.9089 44.4958 42.9279 44.3378 43.8845 43.9818C44.841 43.6258 45.7154 43.0792 46.4544 42.3752C47.1935 41.6712 47.7818 40.8244 48.1839 39.8863C48.5859 38.9481 48.7932 37.938 48.7932 36.9173C48.7932 35.8966 48.5859 34.8866 48.1839 33.9484C47.7818 33.0102 47.1935 32.1635 46.4544 31.4595C45.7154 30.7555 44.841 30.2089 43.8845 29.8529C42.9279 29.4969 41.9089 29.3389 40.8894 29.3884V29.424Z" fill="#FAFCFF"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_4922_158131">
                        <rect width="64" height="64" rx="16" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                .teacher-info__text-block_wrap
                    h2.main-title.teacher-info__title На данный момент наш&nbsp;коллектив в&nbsp;поиске Офис-менеджера
                    ul.teacher-info__list
                        li.teacher-info__list_item
                            span.teacher-info__list_item-title Занятость
                            span.teacher-info__list_item-text Полная занятость
                        li.teacher-info__list_item
                            span.teacher-info__list_item-title График
                            span.teacher-info__list_item-text График 5/2
                        li.teacher-info__list_item
                            span.teacher-info__list_item-title Опыт
                            span.teacher-info__list_item-text Без опыта
                        li.teacher-info__list_item
                            span.teacher-info__list_item-title Опыт
                            span.teacher-info__list_item-text Без опыта
                    button.teacher-info__btn.main-button Откликнуться
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="white"/>
                            <path d="M10 8L14 12L10 16" stroke="#2554E7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
        


