.wide-container
    section.teachers-webinar.violet
        .teachers-webinar__background 
            img(src=desktopBgSrc || "../img/code.png", alt="background")
        .teachers-webinar__image
            img(src=desktopImageSrc || "../img/teacher1.png", alt="Teacher")
        .teachers-webinar__card
            span.teachers-webinar__card_header-text Вебинар ведет
            h3.teachers-webinar__card_title Вероника Сорокина
            p.teachers-webinar__card_text Завуч образовательного проекта "Лектариум"
        .teachers-webinar__content
            .teachers-webinar__text-block
                .teachers-webinar__mark Вебинар для родителей
                h2.main-title.teachers-webinar__title Как гарантированно поступить в ВУЗ на бюджет?
                p.teachers-webinar__descriptions На вебинаре объясним, как выбрать профессию и ВУЗ и успешно сдать все экзамены
            button.light-button.teachers-webinar__btn
                | Записаться
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" rx="12" fill="#0B1F33"/>
                    <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>


