
section.articles-columns.main-container.large
    .articles-columns__item.main.small
        include textbook-content
        include leave-a-comment
        include author-block
    .visible-on-desktop.block.main-container.rating-block-wrap
        include rating-block
    .visible-on-desktop
        .textbook-container
            include comments
            include textbook-detailed-articles-slider
    .articles-columns__item.right.textbook-wrap
        .articles-columns__item_sticky
            include info-and-social-block
            .hidden-on-desktop.block
                include comments-block
            .hidden-on-desktop.block
                include rating-block
         

        