
section.articles-columns.main-container
    .articles-columns__item.main
        .hidden-on-desktop.block
            .articles-columns__item_wrap-blocks
                .articles-columns__item_wrap
                        div
                            h2.articles-columns__title Русский язык
                            include textbook-articles
                            .articles-columns__bottom
                                button.articles-columns__btn.main-button Показать еще
                                .pagination
                                    ul.pagination__list
                                        li.pagination__list_item
                                            button(disabled).pagination__list_item--number.active 
                                                span 1
                                        li.pagination__list_item
                                            button.pagination__list_item--number
                                                span 2
                                        li.pagination__list_item
                                            button.pagination__list_item--number
                                                span 3
                                        li.pagination__list_item
                                            button.pagination__list_item--number
                                                span 4
                                        li.pagination__list_item
                                            button.pagination__list_item--number
                                                span 5
                                        li.pagination__list_item
                                            .pagination__list_item-group
                                                button.pagination__list_item
                                                    span 6
                                                button.pagination__list_item--dots ...
                                                button.pagination__list_item
                                                    span 10
                                        li.pagination__list_item.text
                                            button.pagination__list_item
                                                span Следующая страница
                                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.33203 12.3359L6.66536 7.0026L1.33203 1.66927" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
        .articles-columns__item_wrap
            h2.articles-columns__title Математика
            include textbook-articles-v2
            .articles-columns__bottom
                button.articles-columns__btn.main-button Показать еще
                .pagination
                    ul.pagination__list
                        li.pagination__list_item
                            button(disabled).pagination__list_item--number.active 
                                span 1
                        li.pagination__list_item
                            button.pagination__list_item--number
                                span 2
                        li.pagination__list_item
                            button.pagination__list_item--number
                                span 3
                        li.pagination__list_item
                            button.pagination__list_item--number
                                span 4
                        li.pagination__list_item
                            button.pagination__list_item--number
                                span 5
                        li.pagination__list_item
                            .pagination__list_item-group
                                button.pagination__list_item
                                    span 6
                                button.pagination__list_item--dots ...
                                button.pagination__list_item
                                    span 10
                        li.pagination__list_item.text
                            button.pagination__list_item
                                span Следующая страница
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.33203 12.3359L6.66536 7.0026L1.33203 1.66927" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
    .articles-columns__item.right
        .articles-columns__item_sticky
            .visible-on-mobile
                button.button-with-frame.articles-columns__btn-filters
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.15625 12.5859H5.32292" stroke="#0B1F33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.8229 3.42188H13.6562" stroke="#0B1F33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.3203 12.5859H17.8203" stroke="#0B1F33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.65625 3.42188H1.15625" stroke="#0B1F33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.82031 15C6.4396 15 5.32031 13.8807 5.32031 12.5C5.32031 11.1192 6.4396 10 7.82031 10C9.20106 10 10.3203 11.1192 10.3203 12.5C10.3203 13.8807 9.20106 15 7.82031 15Z" stroke="#0B1F33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.1562 5.83594C12.537 5.83594 13.6562 4.71665 13.6562 3.33594C13.6562 1.95523 12.537 0.835938 11.1562 0.835938C9.7755 0.835938 8.65625 1.95523 8.65625 3.33594C8.65625 4.71665 9.7755 5.83594 11.1562 5.83594Z" stroke="#0B1F33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    | Фильтры
            .filters-wrap.column-wrap
                details(open).accordion
                    summary.accordion__summary
                        | Предметы
                        .accordion__summary_icon
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3359 1.33594L7.0026 6.66927L1.66927 1.33594" stroke="#0B1F33" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    ul.filters
                        li.filters__item
                            button.filters__button.active
                                | Русский язык
                                span.filters__button_icon
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="18" height="18" rx="9" fill="#2554E7"/>
                                        <path d="M6 6L12 12M12 6L6 12" stroke="white" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                        li.filters__item
                            button.filters__button Английский язык
                        li.filters__item
                            button.filters__button Обществознание
                        li.filters__item
                            button.filters__button История
                        li.filters__item
                            button.filters__button География
                        li.filters__item
                            button.filters__button.active
                                | Математика
                                span.filters__button_icon
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="18" height="18" rx="9" fill="#2554E7"/>
                                        <path d="M6 6L12 12M12 6L6 12" stroke="white" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                details(open).accordion
                    summary.accordion__summary
                        | Класс
                        .accordion__summary_icon
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3359 1.33594L7.0026 6.66927L1.66927 1.33594" stroke="#0B1F33" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    ul.filters
                        li.filters__item
                            button.filters__button.active
                                | 7 класс
                                span.filters__button_icon
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="18" height="18" rx="9" fill="#2554E7"/>
                                        <path d="M6 6L12 12M12 6L6 12" stroke="white" stroke-width="1.2" stroke-linecap="round"/>
                                    </svg>
                        li.filters__item
                            button.filters__button 8 класс
                        li.filters__item
                            button.filters__button 9 класс
                        li.filters__item
                            button.filters__button 9 класс
                        li.filters__item
                            button.filters__button 10 класс
                        li.filters__item
                            button.filters__button 11 класс
                .filters-actions
                    button.filters-actions__btn
                        | Сбросить фильтры       
                        span.filters-actions__icon
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.5V5.66667M1.5 5.66667H5.66667M1.5 5.66667L4 3.40973C5.32689 2.22213 7.07912 1.5 9 1.5C13.1422 1.5 16.5 4.85787 16.5 9C16.5 13.1422 13.1422 16.5 9 16.5C5.43069 16.5 2.44373 14.0067 1.68585 10.6667" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            .visible-on-desktop.block
                div
                    h2.articles-columns__title Русский язык
                    include textbook-articles
            - var titleSubscription = 'Подпишись на свежие новости от библиотеки знаний'
            - var descriptionsSubscription = 'Полезные инструкции и бесплатные материалы раз в неделю в нашей рассылке!'
            include subscription
        .modal-overlay
            .modal
                button.modal__close-btn
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2873_18660)">
                        <path d="M1 1L11 11" stroke="#9AA3AD" stroke-linecap="round"/>
                        <path d="M11 1L1 11" stroke="#9AA3AD" stroke-linecap="round"/>
                        </g>
                        <defs>
                        <clipPath>
                        <rect width="12" height="12" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                .modal__content
                    h3.modal__title Фильтры
                    .modal__list-wrap
                        details.accordion
                            summary.accordion__summary
                                | Роль
                                .accordion__summary_icon
                                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 1L5 5L1 1" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                            ul.filters
                                li.filters__item
                                    button.filters__button.active
                                        | Любая
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="18" height="18" rx="9" fill="#2554E7"/>
                                            <path d="M6 6L12 12M12 6L6 12" stroke="white" stroke-width="1.2" stroke-linecap="round"/>
                                        </svg>
                                li.filters__item
                                    button.filters__button Преподаватели
                                li.filters__item
                                    button.filters__button Методисты
                        details.accordion
                            summary.accordion__summary
                                | Предмет
                                .accordion__summary_icon
                                    <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 1L5 5L1 1" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                            ul.filters
                                li.filters__item
                                    button.filters__button.active
                                        | Любой
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect width="18" height="18" rx="9" fill="#2554E7"/>
                                            <path d="M6 6L12 12M12 6L6 12" stroke="white" stroke-width="1.2" stroke-linecap="round"/>
                                        </svg>
                                li.filters__item
                                    button.filters__button Физика
                                li.filters__item
                                    button.filters__button Физика
                                li.filters__item
                                    button.filters__button Физика
                                li.filters__item
                                    button.filters__button Физика
                                li.filters__item
                                    button.filters__button Физика
                .modal__bottom
                    button.modal__bottom_btn-reset.button-with-frame Сбросить  
                    button.main-button Применить
            .visible-on-desktop.block
                div
                    h2.articles-columns__title Русский язык
                    include textbook-articles
            include subscription
        