.textbook-content
    blockquote Наречие — неизменяемая часть речи, которая обозначает характеристику действия, предмета или другого признака.
        .teacher
            img(src="../img/teacher1-v3.png", alt="img").russian
            span Вероника Сорокина
    p Наречие не имеет ни рода, ни числа, ни падежей. Оно никогда не меняется, поэтому наш разбор этой&nbsp;части&nbsp;речи не&nbsp;будет таким объемным, как у других. Начнем с групп, на которые можно разделить наречие.
    <br/>
    h3 Почему наречия похожи на картинки в интернете?
    <br/>
    <br/>
    mark
        p Наречия похожи на картинки в интернете. Есть те, что сделаны очень хорошо, где четко видно каждую деталь. Их называют знаменательными. Они обозначают четкие признаки действий, предметов. Например, “безупречно”, “вблизи”.
        <br/>
        p Противоположностью таких наречий являются местоименные. Они совсем размытые, на таких фотках можно с трудом догадаться, что изображено. Можно лишь примерно описать происходящее. Примеры — “там”, “как”, “где”, “откуда”.
    <br/>
    <br/>
    <br/>
    img(src="../img/people4.jpg", alt="img")
    <br/>
    p “Четкие” наречия можно разделить на две группы: определительные и обстоятельственные. Они так называются из-за связи с членами предложения: определениями и обстоятельствами. Давайте рассмотрим их внимательнее.
    <br/>
    <br/>
    <br/>
    h2 Определительные знаменательные наречия
    <br/>
    p Если вы хотели как-нибудь заняться инвестициями, то вы наверняка задавались вопросом: “Как это сделать?”, “Каким образом выводить деньги?”, “Сколько нужно вложить?”
    <br/>
    p Те же вопросы мы можем задать наречиям с определительным значением. Так они называются из-за определений (членов предложения), так как иногда такие наречия могут быть не обстоятельствами в предложениями, а определениями.
    <br/>
    img(src="../img/people4.jpg", alt="img")
    <br/>
    <br/>
    <br/>
    mark
        p Есть наречия, которые обозначают, насколько сильно проявляется действие, меру и степень его проявления. Многие из них собираются прилагательные.
    <br/>
    <br/>
    <br/>
    img(src="../img/people3.jpg", alt="img")
    <br/>
    <br/>
    <br/>
    h3 Чем же отличаются указательные и относительные наречия?
    <br/>
    <br/>
    p Указательные наречия указывают на место, время, способ, причину, но без конкретики. 
    <br/>
    p Относительные наречия — наши спасатели в сложноподчиненных предложениях (о них говорим в этой статье), так как они связывают придаточные и главные, служат союзными словами.
    <br/>
    img(src="../img/people4.jpg", alt="img")
    <br/>