
section.articles-columns.main-container
    .articles-columns__item.main
        include textbook-content
        include leave-a-comment
        include author-block
    .articles-columns__item.right
        .articles-columns__item_sticky
            include info-and-social-block
            include comments-block
            include rating-block
         

        