.main-container
    section.two-cards-block
        h2.main-subtitle.two-cards-block__title Пару слов о&nbsp;моих&nbsp;знаниях
        ul.two-cards-block__list
            li.two-cards-block__list_item
                .two-cards-block__list_item-title
                    | Сдала ЕГЭ по русскому
                    <br>
                    | на&nbsp;98&nbsp;баллов 
                .two-cards-block__list_item-img 
                    img(src="../img/diploma-paper.svg", alt="diploma")
            li.two-cards-block__list_item
                .two-cards-block__list_item-title Высшей школы русского языка и&nbsp;литературы им. Л.Н.&nbsp;Толстого
                .two-cards-block__list_item-img 
                    img(src="../img/graduation-hat.svg", alt="graduation")
