.main-container
    section.two-cards-slider
        h2.main-subtitle.two-cards-slider__title А ещё с нами весело!
        ul.two-cards-slider__list
            li.two-cards-slider__list_item
                .two-cards-slider__list_item-text-block
                    .two-cards-slider__list_item-title Канал «Мемы для своих»
                    .two-cards-slider__list_item-descriptions Наши посты поднимают настроение даже в самый серый день каждому в команде
                .two-cards-slider__list_item-img
                    .two-cards-slider__list_item-bg
                        img(src="../img/background-quote.png", alt="background")
                    ul.two-cards-slider__cards
                        li.two-cards-slider__cards_card
                            .two-cards-slider__cards_card-text Друзья говорили, что у меня заела пластинка, но я не винил их
                            .two-cards-slider__cards_card-wrap
                                .two-cards-slider__cards_card-photo
                                    img(src="../img/teacher1-v2.png", alt="people")
                                .two-cards-slider__cards_card-name Мария Армянинова
                        li.two-cards-slider__cards_card
                            .two-cards-slider__cards_card-text У физрука было четыре сына: первый, второй, первый, второй
                            .two-cards-slider__cards_card-wrap
                                .two-cards-slider__cards_card-photo
                                    img(src="../img/article4-channel.png", alt="people")
                                .two-cards-slider__cards_card-name Вероника Сорокина
                        li.two-cards-slider__cards_card
                            .two-cards-slider__cards_card-text Каждая овца мечтает о&nbsp;своём...&nbsp;Овечном...
                            .two-cards-slider__cards_card-wrap
                                .two-cards-slider__cards_card-photo
                                    img(src="../img/teacher1-v2.png", alt="people")
                                .two-cards-slider__cards_card-name Мария Армянинова
            li.two-cards-slider__list_item
                .two-cards-slider__list_item-text-block
                    .two-cards-slider__list_item-title Корпоративные мероприятия
                    .two-cards-slider__list_item-descriptions Мы часто собираемся вместе на корпоративных мероприятиях и&nbsp;треннингах, чтобы быть на одной волне
                .two-cards-slider__list_item-img
                    .arrows.two-cards-slider__arrows
                        button.arrows__arrow
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 7H1M1 7L7 1M1 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        button.arrows__arrow
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7H13M13 7L7 1M13 7L7 13" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    img(src="../img/people.jpg", alt="people")
