.main-container
    section.two-blocks
        h2.main-subtitle.two-blocks__title
            | Начните с бесплатной
            <br>
            | подготовки!
        ul.two-blocks__list
            li.two-blocks__list_item
                .two-blocks__list_item-wrap
                    div
                        h3.two-blocks__list_item-title Решите свой первый&nbsp;пробник
                        p.two-blocks__list_item-descriptions.main-descriptions Проверьте свои знания! Пройдите бесплатный тест и&nbsp;узнаете свой уровень!
                    a(href="").two-blocks__list_item-btn.grey-button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .two-blocks__list_item-img 
                    img(src="../img/diploma-paper.svg", alt="diploma")
            li.two-blocks__list_item
                .two-blocks__list_item-wrap
                    div
                        h3.two-blocks__list_item-title Пройдите бесплатный&nbsp;курс
                        p.two-blocks__list_item-descriptions.main-descriptions Выберите курс исходя из&nbsp;своих целей и&nbsp;начните готовиться уже сегодня
                    a(href="").two-blocks__list_item-btn.grey-button Подробнее
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="24" rx="12" fill="#2554E7"/>
                            <path d="M10 8L14 12L10 16" stroke="#FAFCFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .two-blocks__list_item-img 
                    img(src="../img/graduation-hat.svg", alt="graduation")
