.main-container
    section.useful-materials
        h2.main-subtitle.useful-materials__title Социальные сети
        ul.useful-materials__list
            li.useful-materials__list_item
                .useful-materials__list_item-wrap
                    .useful-materials__list_item-text-block
                        h3.useful-materials__list_item-title Для учеников
                        p.useful-materials__list_item-descriptions Полезные материалы по математике
                    .useful-materials__list_item-social
                        .custom-select
                            .custom-select__title.active Математика
                                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M16 10L12 14L8 10" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                        ul.useful-materials__social-list
                            li.useful-materials__social-list_item
                                a(href="")
                                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="44" height="44" rx="22" fill="#0077FF" fill-opacity="0.08"/>
                                        <path d="M22.8495 28.0295C16.3535 28.0295 12.6469 23.5122 12.4922 15.9922H15.7455C15.8522 21.5122 18.2522 23.8482 20.1535 24.3309V15.9922H23.2202V20.7522C25.0949 20.5469 27.0682 18.3789 27.7322 15.9922H30.8015C30.2895 18.9309 28.1509 21.1015 26.6309 21.9922C28.1509 22.7149 30.5855 24.6055 31.5109 28.0295H28.1402C27.4149 25.7415 25.6069 23.9682 23.2229 23.7282V28.0295H22.8495Z" fill="#0077FF"/>
                                    </svg>
                            li.useful-materials__social-list_item
                                a(href="")
                                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="44" height="44" rx="22" fill="#FF7700" fill-opacity="0.08"/>
                                        <path d="M25.3934 20.2339C24.9497 20.6826 24.4215 21.0388 23.8392 21.2819C23.2569 21.525 22.6322 21.6502 22.0013 21.6502C21.3703 21.6502 20.7456 21.525 20.1633 21.2819C19.581 21.0388 19.0528 20.6826 18.6092 20.2339C17.9404 19.5587 17.4855 18.7013 17.3014 17.7689C17.1173 16.8366 17.2122 15.8706 17.5742 14.9919C17.9362 14.1132 18.5492 13.3607 19.3366 12.8285C20.124 12.2964 21.0508 12.0082 22.0012 12C22.9533 12.0065 23.8823 12.2941 24.6715 12.8267C25.4608 13.3593 26.0751 14.1131 26.4375 14.9936C26.7998 15.8741 26.894 16.8421 26.7082 17.7759C26.5224 18.7097 26.0649 19.5679 25.3932 20.2427L25.3934 20.2339ZM21.9924 14.6312C21.4138 14.6339 20.8599 14.8657 20.4517 15.2757C20.0436 15.6858 19.8144 16.2409 19.8144 16.8194C19.8144 17.398 20.0436 17.953 20.4517 18.3631C20.8599 18.7732 21.4138 19.0049 21.9924 19.0077C22.571 19.0049 23.1249 18.7732 23.533 18.3631C23.9412 17.953 24.1703 17.398 24.1703 16.8194C24.1703 16.2409 23.9412 15.6858 23.533 15.2757C23.1249 14.8657 22.571 14.6339 21.9924 14.6312ZM27.0402 21.666L28.4453 23.5992C28.5169 23.6977 28.499 23.8319 28.4095 23.9035C27.2457 24.8525 25.8804 25.5229 24.4178 25.8635L27.1297 31.1259C27.1483 31.16 27.1578 31.1984 27.1571 31.2373C27.1564 31.2762 27.1456 31.3142 27.1257 31.3476C27.1058 31.3811 27.0776 31.4087 27.0437 31.4279C27.0099 31.4471 26.9716 31.4571 26.9328 31.457H24.024C23.9345 31.457 23.854 31.4033 23.8182 31.3228L22.0013 26.9821L20.1755 31.3228C20.1581 31.3628 20.1293 31.3968 20.0927 31.4207C20.0561 31.4446 20.0134 31.4572 19.9697 31.457H17.061C16.8909 31.457 16.7925 31.278 16.8641 31.1259L19.5848 25.8635C18.1528 25.5234 16.7745 24.879 15.5931 23.9035C15.5482 23.8681 15.5185 23.8169 15.5102 23.7603C15.5019 23.7037 15.5155 23.646 15.5484 23.5992L16.9625 21.675C16.981 21.6499 17.0043 21.6288 17.0311 21.6129C17.058 21.597 17.0877 21.5867 17.1186 21.5825C17.1495 21.5783 17.1809 21.5804 17.2109 21.5886C17.241 21.5968 17.2691 21.611 17.2936 21.6302C18.5873 22.8 20.2577 23.4669 22.0013 23.5097C23.7465 23.5097 25.3754 22.7758 26.7089 21.6302C26.7984 21.5407 26.9595 21.5586 27.0401 21.666L27.0402 21.666Z" fill="#FF7700"/>
                                    </svg>
                            li.useful-materials__social-list_item
                                a(href="")
                                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="44" height="44" rx="22" fill="#179EDF" fill-opacity="0.08"/>
                                        <path d="M29.7096 13.6467C29.7096 13.6467 31.6523 12.8892 31.4904 14.7288C31.4364 15.4863 30.9508 18.1376 30.573 21.0053L29.2779 29.5001C29.2779 29.5001 29.17 30.7446 28.1987 30.961C27.2273 31.1774 25.7704 30.2035 25.5005 29.9871C25.2847 29.8248 21.4534 27.3899 20.1043 26.1996C19.7265 25.8749 19.2948 25.2256 20.1582 24.4681L25.8243 19.0574C26.4719 18.4081 27.1194 16.8931 24.4213 18.7328L16.8665 23.873C16.8665 23.873 16.0031 24.414 14.3843 23.9271L10.8767 22.8449C10.8767 22.8449 9.58161 22.0333 11.7941 21.2217C17.1903 18.6786 23.8277 16.0815 29.7096 13.6467Z" fill="#179EDF"/>
                                    </svg>
                .useful-materials__list_item-img.light-blue
                    img(src="../img/teenage.png", alt="teenage")
                    .useful-materials__list_item-bg
                        img(src="../img/bg-letter.png", alt="background")
                    
            li.useful-materials__list_item.second
                .useful-materials__list_item-text-block
                    h3.useful-materials__list_item-title Для родителей
                    p.useful-materials__list_item-descriptions Полезные материалы
                .useful-materials__list_item-social
                    ul.useful-materials__social-list
                        li.useful-materials__social-list_item
                            a(href="")
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="22" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M22.8495 28.0295C16.3535 28.0295 12.6469 23.5122 12.4922 15.9922H15.7455C15.8522 21.5122 18.2522 23.8482 20.1535 24.3309V15.9922H23.2202V20.7522C25.0949 20.5469 27.0682 18.3789 27.7322 15.9922H30.8015C30.2895 18.9309 28.1509 21.1015 26.6309 21.9922C28.1509 22.7149 30.5855 24.6055 31.5109 28.0295H28.1402C27.4149 25.7415 25.6069 23.9682 23.2229 23.7282V28.0295H22.8495Z" fill="#0077FF"/>
                                </svg>
                        li.useful-materials__social-list_item
                            a(href="")
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="22" fill="#FF7700" fill-opacity="0.08"/>
                                    <path d="M25.3934 20.2339C24.9497 20.6826 24.4215 21.0388 23.8392 21.2819C23.2569 21.525 22.6322 21.6502 22.0013 21.6502C21.3703 21.6502 20.7456 21.525 20.1633 21.2819C19.581 21.0388 19.0528 20.6826 18.6092 20.2339C17.9404 19.5587 17.4855 18.7013 17.3014 17.7689C17.1173 16.8366 17.2122 15.8706 17.5742 14.9919C17.9362 14.1132 18.5492 13.3607 19.3366 12.8285C20.124 12.2964 21.0508 12.0082 22.0012 12C22.9533 12.0065 23.8823 12.2941 24.6715 12.8267C25.4608 13.3593 26.0751 14.1131 26.4375 14.9936C26.7998 15.8741 26.894 16.8421 26.7082 17.7759C26.5224 18.7097 26.0649 19.5679 25.3932 20.2427L25.3934 20.2339ZM21.9924 14.6312C21.4138 14.6339 20.8599 14.8657 20.4517 15.2757C20.0436 15.6858 19.8144 16.2409 19.8144 16.8194C19.8144 17.398 20.0436 17.953 20.4517 18.3631C20.8599 18.7732 21.4138 19.0049 21.9924 19.0077C22.571 19.0049 23.1249 18.7732 23.533 18.3631C23.9412 17.953 24.1703 17.398 24.1703 16.8194C24.1703 16.2409 23.9412 15.6858 23.533 15.2757C23.1249 14.8657 22.571 14.6339 21.9924 14.6312ZM27.0402 21.666L28.4453 23.5992C28.5169 23.6977 28.499 23.8319 28.4095 23.9035C27.2457 24.8525 25.8804 25.5229 24.4178 25.8635L27.1297 31.1259C27.1483 31.16 27.1578 31.1984 27.1571 31.2373C27.1564 31.2762 27.1456 31.3142 27.1257 31.3476C27.1058 31.3811 27.0776 31.4087 27.0437 31.4279C27.0099 31.4471 26.9716 31.4571 26.9328 31.457H24.024C23.9345 31.457 23.854 31.4033 23.8182 31.3228L22.0013 26.9821L20.1755 31.3228C20.1581 31.3628 20.1293 31.3968 20.0927 31.4207C20.0561 31.4446 20.0134 31.4572 19.9697 31.457H17.061C16.8909 31.457 16.7925 31.278 16.8641 31.1259L19.5848 25.8635C18.1528 25.5234 16.7745 24.879 15.5931 23.9035C15.5482 23.8681 15.5185 23.8169 15.5102 23.7603C15.5019 23.7037 15.5155 23.646 15.5484 23.5992L16.9625 21.675C16.981 21.6499 17.0043 21.6288 17.0311 21.6129C17.058 21.597 17.0877 21.5867 17.1186 21.5825C17.1495 21.5783 17.1809 21.5804 17.2109 21.5886C17.241 21.5968 17.2691 21.611 17.2936 21.6302C18.5873 22.8 20.2577 23.4669 22.0013 23.5097C23.7465 23.5097 25.3754 22.7758 26.7089 21.6302C26.7984 21.5407 26.9595 21.5586 27.0401 21.666L27.0402 21.666Z" fill="#FF7700"/>
                                </svg>
                        li.useful-materials__social-list_item
                            a(href="")
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="22" fill="#179EDF" fill-opacity="0.08"/>
                                    <path d="M29.7096 13.6467C29.7096 13.6467 31.6523 12.8892 31.4904 14.7288C31.4364 15.4863 30.9508 18.1376 30.573 21.0053L29.2779 29.5001C29.2779 29.5001 29.17 30.7446 28.1987 30.961C27.2273 31.1774 25.7704 30.2035 25.5005 29.9871C25.2847 29.8248 21.4534 27.3899 20.1043 26.1996C19.7265 25.8749 19.2948 25.2256 20.1582 24.4681L25.8243 19.0574C26.4719 18.4081 27.1194 16.8931 24.4213 18.7328L16.8665 23.873C16.8665 23.873 16.0031 24.414 14.3843 23.9271L10.8767 22.8449C10.8767 22.8449 9.58161 22.0333 11.7941 21.2217C17.1903 18.6786 23.8277 16.0815 29.7096 13.6467Z" fill="#179EDF"/>
                                </svg>
            li.useful-materials__list_item.second
                .useful-materials__list_item-text-block
                    h3.useful-materials__list_item-title Для учителей
                    p.useful-materials__list_item-descriptions Полезные материалы
                .useful-materials__list_item-social
                    ul.useful-materials__social-list
                        li.useful-materials__social-list_item
                            a(href="")
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="22" fill="#0077FF" fill-opacity="0.08"/>
                                    <path d="M22.8495 28.0295C16.3535 28.0295 12.6469 23.5122 12.4922 15.9922H15.7455C15.8522 21.5122 18.2522 23.8482 20.1535 24.3309V15.9922H23.2202V20.7522C25.0949 20.5469 27.0682 18.3789 27.7322 15.9922H30.8015C30.2895 18.9309 28.1509 21.1015 26.6309 21.9922C28.1509 22.7149 30.5855 24.6055 31.5109 28.0295H28.1402C27.4149 25.7415 25.6069 23.9682 23.2229 23.7282V28.0295H22.8495Z" fill="#0077FF"/>
                                </svg>
                        li.useful-materials__social-list_item
                            a(href="")
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="22" fill="#FF7700" fill-opacity="0.08"/>
                                    <path d="M25.3934 20.2339C24.9497 20.6826 24.4215 21.0388 23.8392 21.2819C23.2569 21.525 22.6322 21.6502 22.0013 21.6502C21.3703 21.6502 20.7456 21.525 20.1633 21.2819C19.581 21.0388 19.0528 20.6826 18.6092 20.2339C17.9404 19.5587 17.4855 18.7013 17.3014 17.7689C17.1173 16.8366 17.2122 15.8706 17.5742 14.9919C17.9362 14.1132 18.5492 13.3607 19.3366 12.8285C20.124 12.2964 21.0508 12.0082 22.0012 12C22.9533 12.0065 23.8823 12.2941 24.6715 12.8267C25.4608 13.3593 26.0751 14.1131 26.4375 14.9936C26.7998 15.8741 26.894 16.8421 26.7082 17.7759C26.5224 18.7097 26.0649 19.5679 25.3932 20.2427L25.3934 20.2339ZM21.9924 14.6312C21.4138 14.6339 20.8599 14.8657 20.4517 15.2757C20.0436 15.6858 19.8144 16.2409 19.8144 16.8194C19.8144 17.398 20.0436 17.953 20.4517 18.3631C20.8599 18.7732 21.4138 19.0049 21.9924 19.0077C22.571 19.0049 23.1249 18.7732 23.533 18.3631C23.9412 17.953 24.1703 17.398 24.1703 16.8194C24.1703 16.2409 23.9412 15.6858 23.533 15.2757C23.1249 14.8657 22.571 14.6339 21.9924 14.6312ZM27.0402 21.666L28.4453 23.5992C28.5169 23.6977 28.499 23.8319 28.4095 23.9035C27.2457 24.8525 25.8804 25.5229 24.4178 25.8635L27.1297 31.1259C27.1483 31.16 27.1578 31.1984 27.1571 31.2373C27.1564 31.2762 27.1456 31.3142 27.1257 31.3476C27.1058 31.3811 27.0776 31.4087 27.0437 31.4279C27.0099 31.4471 26.9716 31.4571 26.9328 31.457H24.024C23.9345 31.457 23.854 31.4033 23.8182 31.3228L22.0013 26.9821L20.1755 31.3228C20.1581 31.3628 20.1293 31.3968 20.0927 31.4207C20.0561 31.4446 20.0134 31.4572 19.9697 31.457H17.061C16.8909 31.457 16.7925 31.278 16.8641 31.1259L19.5848 25.8635C18.1528 25.5234 16.7745 24.879 15.5931 23.9035C15.5482 23.8681 15.5185 23.8169 15.5102 23.7603C15.5019 23.7037 15.5155 23.646 15.5484 23.5992L16.9625 21.675C16.981 21.6499 17.0043 21.6288 17.0311 21.6129C17.058 21.597 17.0877 21.5867 17.1186 21.5825C17.1495 21.5783 17.1809 21.5804 17.2109 21.5886C17.241 21.5968 17.2691 21.611 17.2936 21.6302C18.5873 22.8 20.2577 23.4669 22.0013 23.5097C23.7465 23.5097 25.3754 22.7758 26.7089 21.6302C26.7984 21.5407 26.9595 21.5586 27.0401 21.666L27.0402 21.666Z" fill="#FF7700"/>
                                </svg>
                        li.useful-materials__social-list_item
                            a(href="")
                                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="44" height="44" rx="22" fill="#179EDF" fill-opacity="0.08"/>
                                    <path d="M29.7096 13.6467C29.7096 13.6467 31.6523 12.8892 31.4904 14.7288C31.4364 15.4863 30.9508 18.1376 30.573 21.0053L29.2779 29.5001C29.2779 29.5001 29.17 30.7446 28.1987 30.961C27.2273 31.1774 25.7704 30.2035 25.5005 29.9871C25.2847 29.8248 21.4534 27.3899 20.1043 26.1996C19.7265 25.8749 19.2948 25.2256 20.1582 24.4681L25.8243 19.0574C26.4719 18.4081 27.1194 16.8931 24.4213 18.7328L16.8665 23.873C16.8665 23.873 16.0031 24.414 14.3843 23.9271L10.8767 22.8449C10.8767 22.8449 9.58161 22.0333 11.7941 21.2217C17.1903 18.6786 23.8277 16.0815 29.7096 13.6467Z" fill="#179EDF"/>
                                </svg>