.main-container
    section.video-about-the-company
        h2.main-subtitle.video-about-the-company__title
            | Узнай все о нашей
            <br>
            | компании за 2 минуты
        .video-about-the-company__info
            h3.video-about-the-company__info_title Контакты отдела кадров


