.video-about-the-company__container.main-container
    section.video-about-the-company
        .video-about-the-company__bg
            picture
                source(srcset="../img/people-preview.jpg", type="image/png", media="(max-width: 767px)")
                img(src="../img/people-preview2.jpg", alt="background")
        .video-about-the-company__content
            h2.video-about-the-company__title.main-subtitle
                | Узнай все о нашей
                <br>
                | компании за 2 минуты
            button.video-about-the-company__btn
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="100" height="100" rx="50" fill="white"/>
                    <path d="M44.0859 56.4489V43.5506C44.0859 42.79 44.9014 42.3079 45.5679 42.6744L57.2936 49.1236C57.9844 49.5035 57.9844 50.4961 57.2936 50.876L45.5679 57.3252C44.9014 57.6917 44.0859 57.2095 44.0859 56.4489Z" fill="#0B1F33"/>
                </svg>
            .video-about-the-company__info
                    h3.video-about-the-company__info_title Контакты отдела кадров
                    .video-about-the-company__contact
                        .video-about-the-company__contact-icon
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.0376 1.31617L6.6866 2.4791C7.2723 3.52858 7.0372 4.90532 6.1147 5.8278C6.1147 5.8278 4.99588 6.9468 7.0245 8.9755C9.0525 11.0035 10.1722 9.8853 10.1722 9.8853C11.0947 8.9628 12.4714 8.7277 13.5209 9.3134L14.6838 9.9624C16.2686 10.8468 16.4557 13.0692 15.0628 14.4622C14.2258 15.2992 13.2004 15.9505 12.0669 15.9934C10.1588 16.0658 6.9183 15.5829 3.6677 12.3323C0.417132 9.0817 -0.0657879 5.84122 0.00655207 3.93309C0.0495221 2.7996 0.700802 1.77423 1.53781 0.93723C2.93076 -0.45572 5.15317 -0.26856 6.0376 1.31617Z" fill="#9AA3AD"/>
                            </svg>
                        a(href="tel:74959988896") +7 (495) 998 88-96
                    .video-about-the-company__contact
                        .video-about-the-company__contact-icon
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96802 4.32668e-07H16.032C16.4706 -9.56733e-06 16.8491 -1.96602e-05 17.1624 0.0213503C17.4922 0.0438603 17.8221 0.0933606 18.1481 0.228361C18.8831 0.532841 19.4672 1.11687 19.7716 1.85195C19.9066 2.17788 19.9561 2.50779 19.9787 2.83762C20 3.15088 20 3.52936 20 3.96801V12.032C20 12.4706 20 12.8491 19.9787 13.1624C19.9561 13.4922 19.9066 13.8221 19.7716 14.1481C19.4672 14.8831 18.8831 15.4672 18.1481 15.7716C17.8221 15.9066 17.4922 15.9561 17.1624 15.9787C16.8491 16 16.4706 16 16.032 16H3.96801C3.52936 16 3.15088 16 2.83762 15.9787C2.50779 15.9561 2.17788 15.9066 1.85195 15.7716C1.11687 15.4672 0.53284 14.8831 0.22836 14.1481C0.0933604 13.8221 0.0438603 13.4922 0.0213503 13.1624C-1.96602e-05 12.8491 -9.56733e-06 12.4706 4.32668e-07 12.032V3.96802C-9.56733e-06 3.52937 -1.96602e-05 3.15088 0.0213503 2.83762C0.0438603 2.50779 0.0933604 2.17788 0.22836 1.85195C0.53284 1.11687 1.11687 0.532841 1.85195 0.228361C2.17788 0.0933606 2.50779 0.0438603 2.83762 0.0213503C3.15088 -1.96602e-05 3.52937 -9.56733e-06 3.96802 4.32668e-07ZM2.31745 2.27777C2.68114 1.86214 3.3129 1.82002 3.72854 2.1837L9.3415 7.095C9.7185 7.4249 10.2815 7.4249 10.6585 7.095L16.2715 2.1837C16.6871 1.82002 17.3189 1.86214 17.6825 2.27777C18.0462 2.69341 18.0041 3.32517 17.5885 3.68885L11.9755 8.6002C10.8444 9.5899 9.1556 9.5899 8.0245 8.6002L2.41153 3.68885C1.99589 3.32517 1.95377 2.69341 2.31745 2.27777Z" fill="#9AA3AD"/>
                            </svg>
                        a(href="mailto:info@lectarium.ru") info@lectarium.ru
                    .video-about-the-company__contact-social-block
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#0DCC48" fill-opacity="0.08"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5979 11.0069C19.9901 11.1633 18.7777 11.5103 17.4627 12.1901C15.4553 13.228 13.8343 14.8795 12.8321 16.9082C12.447 17.6876 12.2655 18.1653 12.0643 18.9297C11.8106 19.893 11.7367 20.4787 11.7344 21.5445C11.7333 22.0752 11.7552 22.6511 11.7851 22.8752C12.0121 24.5789 12.5472 26.0472 13.442 27.4218L13.7403 27.88L13.0777 29.8332C12.7133 30.9075 12.4209 31.7922 12.4279 31.7992C12.435 31.8063 13.3465 31.5227 14.4535 31.1691C15.5605 30.8155 16.481 30.5262 16.4991 30.5262C16.5172 30.5262 16.6881 30.6231 16.8788 30.7414C17.0696 30.8599 17.4693 31.0731 17.767 31.2154C20.4592 32.5021 23.5368 32.6122 26.2934 31.5206C29.4168 30.2836 31.8159 27.5777 32.6722 24.3257C32.9345 23.3297 33.001 22.7837 33.001 21.6277C33.001 20.4717 32.9345 19.9257 32.6722 18.9297C31.6676 15.1147 28.6056 12.1492 24.7417 11.2494C24.0925 11.0982 23.417 11.0216 22.5973 11.0063C22.1392 10.9977 21.6895 10.9979 21.5979 11.0069ZM19.0583 15.9411C19.1272 15.9768 19.2239 16.078 19.273 16.166C19.3972 16.3882 20.4095 18.823 20.439 18.9703C20.4767 19.1587 20.2922 19.479 19.8783 19.9437C19.4463 20.4286 19.3535 20.5843 19.392 20.7591C19.4618 21.0764 20.4248 22.3518 21.0181 22.9126C21.9388 23.7829 23.3305 24.6094 23.9506 24.654C24.2694 24.677 24.3857 24.5869 24.8734 23.9386C25.0946 23.6446 25.3306 23.3491 25.3977 23.282C25.5584 23.1216 25.7968 23.0876 26.0642 23.187C26.4072 23.3145 28.5039 24.3341 28.6511 24.445L28.7921 24.5512L28.7688 24.9918C28.7091 26.1229 28.3118 26.7102 27.261 27.2209C26.262 27.7064 25.48 27.6931 23.949 27.1647C21.8951 26.4558 20.8049 25.7786 19.3276 24.2942C18.5884 23.5514 18.0631 22.9234 17.4623 22.0643C16.4722 20.6486 16.0925 19.5554 16.2056 18.4459C16.2962 17.5563 16.6075 16.8996 17.2362 16.2718C17.5403 15.968 17.9383 15.843 18.5373 15.8629C18.7915 15.8714 18.9778 15.8993 19.0583 15.9411Z" fill="#0DCC48"/>
                            </svg>
                        a(href="")
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="44" height="44" rx="22" fill="#0077FF" fill-opacity="0.08"/>
                                <path d="M22.8495 28.0295C16.3535 28.0295 12.6469 23.5122 12.4922 15.9922H15.7455C15.8522 21.5122 18.2522 23.8482 20.1535 24.3309V15.9922H23.2202V20.7522C25.0949 20.5469 27.0682 18.3789 27.7322 15.9922H30.8015C30.2895 18.9309 28.1509 21.1015 26.6309 21.9922C28.1509 22.7149 30.5855 24.6055 31.5109 28.0295H28.1402C27.4149 25.7415 25.6069 23.9682 23.2229 23.7282V28.0295H22.8495Z" fill="#0077FF"/>
                            </svg>
        


