.wide-container
    section.lektarik-block
        .lektarik-block__content
            .lektarik-block__wrap
                h2.lektarik-block__title А так же в нашей команде ещё один игрок!
                button.main-button.hidden-on-mobile Проверить Лектарика
                    +arrowBtnWhiteSVG
            .lektarik-block__img
                img(src="/src/img/others/lektarik.png", alt="lektarik")
            .lektarik-block__img-chat
                picture
                    source(srcset="/src/img/others/lektarik-chat2.png", type="image/png", media="(max-width: 767px)")
                    img(src="/src/img/others/lektarik-chat.png", alt="lektarikChat")
            button.main-button.visible-on-mobile.lektarik-block__btn Проверить Лектарика
                    +arrowBtnWhiteSVG    


