.main-container
    section.slider-block
        h2.main-subtitle
            | Наш подход оценили
            <br>
            | уже более 10 000 учеников
        .slider-block__wrap
            .slider-block__content
                .slider-block__content_preview.violet
                    .slider-block__content_bg
                        img(src="/src/img/people/reviews1.png", alt="reviews")
                    .slider-block__content_preview--wrap
                        .slider-block__markers
                                span.slider-block__markers_item-blur 0:32
                        .slider-block__content_actions
                            button.slider-block__content_btn
                                +playWhiteSVG('74', '74')

                .slider-block__content_info
                    .slider-block__content_wrap
                        div
                            .slider-block__content_header
                                .slider-block__content_header--wrapper
                                    h3.slider-block__content_title Вероника Чижова
                                    ul.slider-block__content_social
                                        li
                                            a(href="#")
                                                +vkSVG
                                .slider-block__arrows
                                    button.slider-block__arrows_arrow.left.disabled
                                        +arrowSliderSVG
                                    button.slider-block__arrows_arrow
                                        +arrowSliderSVG
                            ul.tags
                                li.tags__item 11 класс
                                li.tags__item Русский язык
                                li.tags__item.tags__item--blue 99 баллов
                        .slider-block__content_descriptions-block
                            p.slider-block__content_descriptions
                                | Мне очень повезло с преподавателем и моим куратором, который готов в любое время помочь. 
                                <br>
                                | После нескольких месяцев я взяла курс по профильной математике и тоже никак не была
                                <br>
                                | разочарована. Я очень рада. что какая-то запись в соц. сети познакомила меня с данной онлайн-школой!
                            .visible-on-mobile
                                button.slider-block__content_show-more Подробнее
                    .slider-block__content_buttons
                        button.main-button.slider-block__content_buttons-btn Посмотреть курсы
                            +arrowBtnWhiteSVG
                        a(href="#").slider-block__content_buttons-link Смотреть другие отзывы
                    
            ul.slider-block__list
                li.slider-block__list_item.violet.slider-block__list_item--active
                    .slider-block__list_item-bg
                        img(src="/src/img/people/reviews1.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Вероника Чижова
                            button.slider-block__list_item-btn 
                                .hidden-on-mobile
                                    +playWhiteSVG('54', '54')
                                .visible-on-mobile
                                    +playBlurSVG
                li.slider-block__list_item.bright-blue
                    .slider-block__list_item-bg
                        img(src="/src/img/people/reviews2.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Ангелина Лобанова
                            button.slider-block__list_item-btn 
                                .hidden-on-mobile
                                    +playWhiteSVG('54', '54')
                                .visible-on-mobile
                                    +playBlurSVG
                li.slider-block__list_item.turquoise
                    .slider-block__list_item-bg
                        img(src="/src/img/people/reviews3.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Катя Наумова
                            button.slider-block__list_item-btn 
                                .hidden-on-mobile
                                    +playWhiteSVG('54', '54')
                                .visible-on-mobile
                                    +playBlurSVG
                li.slider-block__list_item.red
                    .slider-block__list_item-bg
                        img(src="/src/img/people/reviews4.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Лиза Буданова
                            button.slider-block__list_item-btn 
                                .hidden-on-mobile
                                    +playWhiteSVG('54', '54')
                                .visible-on-mobile
                                    +playBlurSVG
                li.slider-block__list_item.blue
                    .slider-block__list_item-bg
                        img(src="/src/img/people/reviews5.png", alt="reviews")
                    .slider-block__list_item--wrap
                        .slider-block__markers
                            span.slider-block__markers_item-blur ЕГЭ
                            span.slider-block__markers_item 89 баллов
                        .slider-block__list_item-bottom
                            .slider-block__list_item-title Евгений Караникола
                            button.slider-block__list_item-btn 
                                .hidden-on-mobile
                                    +playWhiteSVG('54', '54')
                                .visible-on-mobile
                                    +playBlurSVG
