extends ../layout/layout

block title
    title Карьера в Лектариум

block content
    include ../widgets/hero-career
    include ../widgets/vacancies-block
    include ../widgets/video-about-the-company
    include ../widgets/four-cards-block
    include ../widgets/banner-career
    include ../widgets/two-cards-slider
    
    