extends ../layout/layout

block title
    title Страница статьи

block content
    include ../widgets/hero-article-detailed
    include ../widgets/article-detailed-content
    include ../widgets/textbook-detailed-columns
    include ../widgets/teachers-webinar
    include ../widgets/subscription-block
