extends ../layout/layout

block title
    title Страница учебника

block content
    //- include ../widgets/hero-textbook-detailed
    //- include ../widgets/textbook-columns
    //- include ../widgets/teachers-webinar
    //- include ../widgets/subscription-block
