extends ../layout/layout

block title
    title Страница учебника

block content
    include ../widgets/hero-textbook-detailed
    include ../widgets/textbook-detailed-content
    //- include ../widgets/textbook-detailed-columns
    //- include ../widgets/teachers-webinar
    //- include ../widgets/subscription-block
