extends ../layout/layout

block title
    title Страница препода

block content
    include ../widgets/hero-teacher
    include ../widgets/two-cards-block
    include ../widgets/slider-cards
    include ../widgets/slider-reviews
    include ../widgets/teachers-result
    include ../widgets/social
    include ../widgets/form
