extends ../layout/layout

block title
    title Диагностика знаний

block content
    include ../widgets/hero-knowledge-diagnostics
    include ../widgets/pyramid-block
    include ../widgets/warning-cards
    include ../widgets/parsing-block
    include ../widgets/diagnostic-block
    - var reviewTitleDesktop = 'Что говорят наши ученики'
    include ../widgets/review-block
    include ../widgets/scrollspy-list-knowledge-diagnostics
    include ../widgets/parents-and-students-block
    include ../widgets/economy-block
