extends ../layout/layout

block title
    title Диагностика знаний

block content
    include ../widgets/hero-knowledge-diagnostics
    - var reviewTitleDesktop = 'Что говорят наши ученики'
    include ../widgets/review-block
    include ../widgets/scrollspy-list-knowledge-diagnostics
