extends ../layout/layout

block title
    title Канал Лектариум

block content
    include ../widgets/hero-channel-articles
    include ../widgets/articles-channel-columns
    include ../widgets/teachers-webinar
    include ../widgets/subscription-block

