extends ../layout/layout

block title
    title Онлайн-школа для учеников с 8 по 11 класс

block content
    include ../widgets/slider-reviews
    - var titleDesktop = 'Мы технологичная школа!'
    - var titleMobile = "Мы технологичная школа!"
    - var descriptions = "В нашей школе у тебя будет персональный виртуальный помощник — Лектарик!"
    include ../widgets/lektarik-block
    include ../widgets/our-team
    include ../widgets/form
