extends ../layout/layout

block title
    title Онлайн-школа для учеников с 8 по 11 класс

block content
    include ../widgets/offer
    include ../widgets/slider-classes
    include ../widgets/cards-and-banner
    include ../widgets/slider-reviews
    - var lektarikTitleDesktop = 'Мы технологичная школа!'
    - var lektarikTitleMobile = "Мы технологичная школа!"
    - var lektarikDescriptions = "В нашей школе у тебя будет персональный виртуальный помощник — Лектарик!"
    include ../widgets/lektarik-block
    include ../widgets/accordion-block
    include ../widgets/cards-with-price
    include ../widgets/quote
    include ../widgets/our-team
    include ../widgets/form
