extends ../layout/layout

block title
    title Наша команда

block content
    include ../widgets/hero
    include ../widgets/our-team
    include ../widgets/numbered-cards
    include ../widgets/lektarik-block
    include ../widgets/slider-reviews
    include ../widgets/form
