extends ../layout/layout

block title
    title Учебник

block content
    include ../widgets/hero-textbook
    include ../widgets/textbook-columns
    include ../widgets/teachers-webinar
    include ../widgets/subscription-block
