extends ../layout/layout

block title
    title Вакансия

block content
    include ../widgets/hero-vacancy
    include ../widgets/list-with-check-marks
    include ../widgets/responsibilities
    include ../widgets/teacher-info
    - var skillBlockTitle = 'Мы очень ценим'
    include ../widgets/skills-block
    include ../widgets/response
    
    