extends ../layout/layout

block title
    title Видео

block content
    include ../widgets/hero-video
    include ../widgets/free-consultation
    include ../widgets/video-content
    include ../widgets/textbook-detailed-columns
    include ../widgets/teachers-webinar
    include ../widgets/subscription-block
