.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__summary {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    letter-spacing: -0.02em;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.01em;
    }

    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: "";
    }

    ::after {
      content: "";
    }

    &_icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }

  &[open] {
    .accordion__summary {
      margin: 0 0 17px;

      @media (max-width: $tablet-width) {
        margin: 0 0 13px;
      }

      ::after {
        content: "";
      }
    }

    .accordion__summary_icon {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
