.arrows {
  display: flex;
  align-items: center;
  gap: 10px;

  &.blue-arrows {
    .arrows__arrow {
      background-color: $light-blue-color;

      svg path {
        stroke: $bright-blue-color;
      }
    }
  }

  &.grey-arrows {
    .arrows__arrow {
      background-color: #f7f8f9;

      &.disabled {
        svg path {
          stroke: #9aa3ad;
        }
      }
    }
  }

  &__arrow {
    width: 64px;
    height: 64px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $white-color;
  }
}
