.article {
  height: 100%;
  display: grid;
  grid-template-rows: 240px auto;

  @media (max-width: $mobile-width) {
    grid-template-rows: 214px auto;
  }

  &.article-hidden-on-tablet {
    display: grid;
    @media (max-width: $desktop-width) {
      display: none;
    }
  }

  &.article-visible-on-tablet {
    display: none;
    @media (max-width: $desktop-width) {
      display: grid;
    }
  }

  &.flat {
    grid-template-rows: auto;

    .article__header {
      box-shadow: none;
      border-radius: 20px;
      height: 260px;
    }

    .article__body {
      background-color: #ffffff;
      border-radius: 0px;
      box-shadow: none;
      top: auto;
      height: 100%;
      gap: 18px;
      padding: 18px 12px;
    }
  }

  &__date {
    font-size: 15px;
    line-height: 20px;
    color: $bright-grey-color;
    margin: 0 0 8px;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width) {
      font-size: 13px;
      line-height: 17px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    font-weight: 500;
    width: 100%;
    max-width: 438px;

    @media (max-width: $mobile-width) {
      font-size: 22px;
      line-height: 25px;
      letter-spacing: -0.01em;
    }
  }

  &__header {
    box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
    border-radius: 24px 24px 0 0;
    position: relative;
    overflow: hidden;
    height: 260px;

    @media (max-width: $mobile-width) {
      border-radius: 20px 20px 0 0;
    }

    &_tag {
      padding: 9px 10px 8px;
      border-radius: 6px;
      font-size: 15px;
      line-height: 19px;
      background-color: $white-color;

      @media (max-width: $mobile-width) {
        font-size: 13px;
        line-height: 17px;
      }
    }

    &_time {
      display: flex;
      align-items: center;
      padding: 7px 13px;
      border-radius: 6px;
      font-size: 15px;
      line-height: 19px;
      background-color: #0b1f332b;
      color: $white-color;
      gap: 6px;

      @media (max-width: $mobile-width) {
        font-size: 13px;
        line-height: 17px;
      }
    }

    &_content {
      position: absolute;
      z-index: 1;
      top: 0;
      padding: 24px 24px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;

      @media (max-width: $mobile-width) {
        padding: 16px;
        border-radius: 20px;
      }
    }

    &_bg {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: flex-end;
      position: absolute;
      justify-content: flex-end;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &_accent-bg {
      display: none;
      width: 100%;
      height: 100%;
      align-items: flex-end;
      position: absolute;
      justify-content: flex-end;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    &_img {
      display: flex;
      justify-content: center;

      img {
        object-fit: contain;
        position: absolute;
        height: 100%;
      }
    }
  }

  &__play {
    position: absolute;
    background-color: $white-color;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    bottom: 64px;
    right: 24px;
    width: 54px;
    height: 54px;
    cursor: pointer;

    @media (max-width: $mobile-width) {
      right: 16px;
      bottom: 80px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    background-color: $white-color;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.05);
    top: -20px;
    height: calc(100% + 18px);
    gap: 28px;

    @media (max-width: $mobile-width) {
      height: calc(100% + 20px);
      gap: 0;
    }
  }

  &__stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &_social {
      display: flex;
      gap: 24px;
      align-items: center;

      @media (max-width: $mobile-width) {
        gap: 19px;
      }
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 8px;

      @media (max-width: $mobile-width) {
        font-size: 15px;
      }
    }
  }

  &__image {
    position: relative;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    flex-shrink: 0;

    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
      }
    }

    &-img {
      height: 100%;
      position: relative;
      bottom: 0;
      width: 244px;
      height: 168px;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
      }

      @media (max-width: $mobile-width) {
        right: -18px;
        top: -3px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
