.authorization-form {
  padding: 44px;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  gap: 28px;
  background-color: $white-color;
  position: relative;
  z-index: 100;
  width: 550px;

  @media (max-width: $mobile-width) {
    background-color: transparent;
    border-radius: 0px;
    padding: 24px 16px;
    width: 100%;
    gap: 24px;

    .login-through-services {
      margin: 20px 0 0;
    }
  }

  &.modal {
    padding: 0;
    width: 100%;
    margin: 28px 0 0;
    height: 100%;

    @media (max-width: $mobile-width) {
      margin: 24px 0 0;
    }

    .login-through-services {
      height: 100%;
      justify-content: flex-end;
      margin: 16px 0 0;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    font-weight: 500;

    @media (max-width: $mobile-width) {
      font-size: 22px;
      line-height: 25px;
      letter-spacing: -0.01em;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: $mobile-width) {
      gap: 10px;
    }

    &_wrap {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;

      @media (max-width: $mobile-width) {
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  &__action {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    &.fixed {
      padding: 24px 0;
      background-color: $white-color;

      @media (max-width: $mobile-width) {
        padding: 12px 0 0;
      }
    }

    @media (max-width: $mobile-width) {
      gap: 10px;
    }
  }

  &__submit-btn {
    &.main-button {
      font-size: 18px;
      line-height: 22px;
      min-height: 73px;
      width: 100%;

      @media (max-width: $mobile-width) {
        min-height: 56px;
        font-size: 16px;
        line-height: 20px;
        gap: 10px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: $mobile-width) {
      font-size: 15px;
      gap: 7px;
    }
  }

  &__link {
    color: $bright-blue-color;
    text-decoration: none;
    border-bottom: 1px solid $bright-blue-color;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: $mobile-width) {
      font-size: 15px;
      border: none;
    }
  }

  &__link-text {
    color: $bright-blue-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: $mobile-width) {
      font-size: 15px;
    }
  }

  &__complete-list {
    display: none;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 4px 0;

    &.visible {
      display: grid;
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 6px;

      @media (max-width: $mobile-width) {
        gap: 4px;
      }

      &.active {
        .authorization-form__complete-list_text {
          color: $dark-blue-color;
        }

        .authorization-form__complete-list_icon {
          svg path {
            stroke: $bright-blue-color;
          }
        }
      }
    }

    &_icon {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_text {
      color: #9aa3ad;
      font-size: 15px;
      line-height: 20px;

      @media (max-width: $mobile-width) {
        font-size: 13px;
        line-height: 17px;
      }
    }
  }

  &.sign-in,
  &.password-recovery,
  &.message,
  &.order,
  &.banks {
    display: none;
  }
}
