.chat-bubbles {
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 0 0 0 20px;

  @media (max-width: $mobile-width) {
    padding: 0 0 0 12px;
  }

  &__item {
    position: relative;
    padding: 24px;
    background-color: $white-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $dark-blue-color;
    border-radius: 6px 16px 16px 16px;

    @media (max-width: $mobile-width) {
      border-radius: 6px 10px 10px 10px;
      font-size: 16px;
      line-height: 20px;
      padding: 18px;
      margin-right: 38px;
    }

    &.special {
      border-radius: 0px 16px 16px 16px;
      font-size: 32px;
      line-height: 38px;
      margin-right: 33px;

      @media (max-width: $mobile-width) {
        border-radius: 0px 10px 10px 10px;
        font-size: 20px;
        line-height: 24px;
        margin-right: 12px;
      }
    }

    &.special::before {
      content: "";
      position: absolute;
      top: 0px;
      left: -12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 20px 20px 0px;
      border-radius: 10px 0px 0px 60px;
      border-color: transparent $white-color transparent transparent;

      @media (max-width: $mobile-width) {
        border-width: 0px 12px 12px 0px;
      }
    }

    &.second {
      margin-right: 15px;
      border-radius: 16px;

      @media (max-width: $mobile-width) {
        margin-right: 30px;
        border-radius: 10px;
      }
    }
  }
}
