.filters {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid $light-grey-color;
    border-radius: 8px;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;

    &.active {
      border: 1px solid $bright-blue-color;
      color: $bright-blue-color;
    }
  }
}
