.login-through-services {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  width: 100%;

  @media (max-width: $mobile-width) {
    gap: 18px;
  }

  &__title {
    position: relative;
    color: #9aa3ad;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    span {
      background-color: $white-color;
      z-index: 2;
      position: relative;
      padding: 0 24px;

      @media (max-width: $mobile-width) {
        background-color: $white-color;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 50%;
      height: 1px;
      background-color: #e7e9eb;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__list {
    display: grid;
    width: 100%;
    gap: 12px;

    @media (max-width: $mobile-width) {
      gap: 8px;
    }

    &_item {
      padding: 9px 12px;
      min-height: 57px;
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.25s;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: $mobile-width) {
        min-height: 48px;
        padding: 4px;

        a {
          width: 24px;
          height: 24px;
        }
      }

      &.google {
        background-color: #f7f8f9;
        grid-column: span 2;
        grid-row: span 1;

        &:hover {
          background-color: #0077ff14;
        }
      }

      &.ya {
        background-color: #fc3f1d14;

        &:hover {
          background-color: #fc3f1d;

          svg path {
            fill: $white-color;
          }
        }
      }

      &.vk {
        background-color: #0077ff14;

        &:hover {
          background-color: #0077ff;

          svg path {
            fill: $white-color;
          }
        }
      }
    }
  }
}
