.main-accordion {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 31px;
    gap: 36px;
    font-weight: 500;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 19.7px;
      gap: 15px;
      align-items: flex-start;
    }
  }

  &__title-icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }

  &__summary {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding: 36px;
    list-style: none;

    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: "";
    }

    @media (max-width: $tablet-width) {
      padding: 16px;
      gap: 32px;
    }
  }

  &__icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }

    @media (max-width: $mobile-width) {
      svg {
        width: 10px;
      }
    }
  }

  &[open] {
    .main-accordion__icon {
      svg {
        transform: rotate(180deg);
      }
    }

    @media (max-width: $mobile-width) {
      .main-accordion__title {
        align-items: center;
      }
    }
  }
}
