.prices {
  display: flex;
  align-items: center;
  gap: 12px;

  .accent {
    color: $bright-blue-color;
  }

  &__price {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.02em;
    display: flex;
    align-items: flex-start;
    gap: 7px;

    @media (max-width: $mobile-width) {
      font-size: 22px;
      line-height: 25px;
      letter-spacing: -0.01em;
    }

    .discount {
      text-decoration: line-through;
      color: #9aa3ad;
      font-size: 16px;
      line-height: 19px;
      margin: 0 0 0 4px;

      @media (max-width: $mobile-width) {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.01em;
      }
    }
  }

  &__price-wrap {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgba(243, 244, 245, 1);
    padding: 8px;
    border-radius: 8px;
    width: fit-content;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
