.tags {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $dark-blue-color;
    padding: 7px 11px 5px;
    background-color: $white-color;
    border-radius: 5px;
    border: 1px solid $light-grey-color;

    &--gray {
      background-color: $grey-color;
      color: $dark-blue-color;
      border: 1px solid transparent;
    }

    &--blue {
      background-color: $bright-blue-color;
      color: $white-color;
      border: 1px solid transparent;
    }

    &--white {
      background-color: $white-color;
      color: $dark-blue-color;
      border: 1px solid transparent;
    }

    &--blur {
      background-color: rgba(21, 20, 20, 0.1);
      backdrop-filter: blur(44px);
      color: $white-color;
      border: 1px solid transparent;
    }

    @media (max-width: $mobile-width) {
      font-size: 13px;
      line-height: 17px;
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow: auto;
  width: calc(100% + 32px);
  margin: 0 -16px;
  padding: 0 16px;

  @media (max-width: $tablet-width) {
    gap: 8px;
  }

  &.full {
    li,
    .tabs__tab {
      width: 100%;
    }
  }

  &__tab {
    font-size: 18px;
    line-height: 22px;
    min-height: 62px;
    padding: 0 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-grey-color;
    border-radius: 10px;
    background-color: $white-color;
    cursor: pointer;
    width: max-content;
    color: $dark-blue-color;

    @media (max-width: $tablet-width) {
      min-height: 50px;
      font-size: 16px;
      line-height: 20px;
      padding: 0 20px;
    }

    &.action {
      border: 1px solid $bright-blue-color;
      color: $bright-blue-color;
    }
  }
}
