.tags-with-icons {
  display: flex;
  align-items: center;
  gap: 16px 28px;
  flex-wrap: wrap;

  &.scroll {
    @media (max-width: $mobile-width) {
      width: 100%;
      overflow: auto;
      flex-wrap: nowrap;
      width: calc(100% + 44px);
      margin: 0 -24px;
      padding: 0 24px;
    }
  }

  @media (max-width: $mobile-width) {
    gap: 12px;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $dark-blue-color;
    gap: 10px;
    min-width: fit-content;

    @media (max-width: $mobile-width) {
      gap: 6px;
      font-size: 15px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
