.toolbar {
  width: 100%;
  align-items: center;
  position: sticky;
  bottom: 44px;
  margin: 0 auto;
  display: none;
  z-index: 100;
  max-width: 1250px;
  padding: 0 16px;

  &.visible {
    display: flex;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 12px 24px;
    border-radius: 24px;
    background-color: $white-color;
    box-shadow: 0 4px 10px 0 rgba(37, 84, 231, 0.05), 0 0 76px 0 rgba(220, 231, 255, 0.16);
  }
}
