@media screen and (min-height: 734px) {
  .popup.popup-month {
    align-items: flex-end;
  }
}

@media screen and (max-width: 1739px) {
  .cart {
    .container {
      .cart-content {
        .cart-products {
          .product-card {
            .card-remove {
              left: -40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1710px) {
  .cart .container .cart-content .cart-products {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1639px) {
  .cart {
    .container {
      .cart-content {
        .cart-products {
          .product-card-content {
            .product-card-info {
              width: auto;
              margin-right: 10px;

              .product-card-description {
                .product-card-text {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1539px) {
  .cart {
    .container {
      .cart-content {
        .cart-order {
          .cart-products {
            .product-card-content {
              .product-card-info {
                .product-card-description {
                  .product-card-tabs {
                    flex-wrap: wrap;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1503px) {
  .cart {
    .container {
      .cart-content {
        flex-direction: column;

        .cart-order {
          .cart-products {
            margin-right: 0;
            margin-left: 46px;

            .product-card {
              .card-remove {
                left: -56px;
              }
            }

            .product-card-content {
              max-width: none;
              width: auto;

              .product-card-info {
                .product-card-description {
                  .product-card-tabs {
                  }
                }
              }
            }
          }
        }

        .cart-payment {
          width: 100%;

          .cart-payment-info {
            .cart-payment-info-item {
              .cart-payment-info-name {
                width: auto;

                &.first {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1183px) {
  .cart {
    .container {
      .cart-content {
        justify-content: center;

        .cart-products {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          .product-card-content {
            margin-bottom: 0;

            .product-card-info {
            }
          }
        }
      }

      .cart-extra {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cart-extra-title {
          text-align: center;
        }

        .cart-extra-cards {
          grid-template: repeat(3, 1fr) / repeat(2, 370px);
        }
      }
    }
  }
}

@media screen and (max-width: 1060px) {
  .cart {
    .container {
      .cart-content {
        flex-direction: column;
        align-items: center;

        .cart-products {
          .product-card-content {
            flex-direction: column;

            .product-card-info {
              max-width: 562px;
              margin-right: 0;
              margin-bottom: 20px;

              .product-card-description {
                margin-bottom: 0;

                .product-card-text {
                  margin-bottom: 18px;
                }
              }
            }

            .product-card-rates {
              .product-card-rate {
                height: auto;

                .product-card-rate-info {
                  .product-card-rate-info-items {
                    margin-bottom: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 799px) {
  .cart {
    padding-top: 28px;
    padding-bottom: 70px;

    .container {
      overflow-x: hidden;

      .main-title {
        font-size: 40px;
        margin-bottom: 24px;
      }

      .cart-content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;

        .cart-products {
          margin-right: 0;
          flex-direction: column;

          .product-card-small {
            margin-bottom: auto;
          }
        }

        .add-product-card {
          display: none;
        }

        .cart-payment-title {
          font-weight: 500;
          display: block;
          text-align: center;
          margin-top: 70px;
        }

        .cart-payment {
          margin-top: 24px;

          .cart-payment-info {
            margin-bottom: 16px;

            .cart-payment-info-item {
              padding-bottom: 16px;
              margin-bottom: 16px;

              .cart-payment-info-name {
                font-size: 16px;
              }

              .cart-payment-price {
                .cart-payment-price-value {
                  font-size: 16px;
                  line-height: 125%;
                  text-align: right;
                }
              }

              &.total-price {
                .cart-payment-info-name {
                  font-size: 20px;
                }

                .cart-payment-price {
                  .cart-payment-price-value {
                    font-size: 20px;
                  }
                }
              }
            }
          }

          .cart-payment-checkbox {
            margin-bottom: 16px;
            .pretty.p-switch.p-fill input:checked ~ .state label:after {
              left: 1.6em;
            }

            label {
              font-size: 15px;
            }

            .pretty.p-switch {
              label {
                display: inline-block;
                height: 34px;
              }
            }
          }
        }
      }

      .cart-extra {
        .cart-extra-track {
          width: 100%;
          position: relative;
          overflow: auto;
        }

        .cart-extra-title {
          font-size: 32px;
          line-height: 112%;
        }

        .cart-extra-cards {
          display: flex;
          position: relative;
          left: 0;
        }

        .scrollbar {
          display: block;
          width: 100%;
          height: 2px;
          background-color: $light-grey-color;
          border-radius: 40px;
          margin-top: 24px;

          .scrollbar-item {
            border-radius: 10px;
            width: 114px;
            height: 2px;
            background: $dark-blue-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 727px) {
  body {
    position: relative;
  }

  .popup {
    padding-top: 84px;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background: rgba(11, 31, 51, 0.35);
    z-index: 10;

    &.show {
      display: flex;
    }

    &.popup-month {
      .popup-content {
        .popup-title {
          width: 230px;
        }
      }
    }

    .popup-content {
      position: fixed;
      border-radius: 25px 25px 0 0;
      width: 375px;
      background: #fff;
      padding-top: 24px;
      box-sizing: border-box;

      .popup-close {
        position: absolute;
        top: 16px;
        right: 16px;
      }

      .popup-title {
        font-family: "TT Firs Neue", sans-serif;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: -0.01em;
        color: $dark-blue-color;
        margin-bottom: 20px;
        margin-left: 16px;
      }

      .popup-items {
        padding-left: 16px;
        padding-right: 16px;

        .popup-item {
          margin-bottom: 36px;

          .popup-item-head {
            margin-bottom: 24px;

            .popup-item-head-title {
              display: flex;
              align-items: center;
              margin-bottom: 16px;

              .popup-item-head-name {
                margin-left: 18px;
                font-family: "TT Firs Neue", sans-serif;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: -0.02em;
                color: $dark-blue-color;
                line-height: 117%;
                margin-bottom: 4px;
              }
            }

            .popup-item-head-text {
              @include common-text;
              font-size: 15px;
              line-height: 133%;
              color: $pale-blue-color;
              margin-bottom: 20px;
              letter-spacing: 0;
            }

            .popup-item-head-price {
              display: flex;
              align-items: center;
              justify-content: space-between;

              div {
                font-family: "TT Firs Neue", sans-serif;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: -0.02em;
                color: $dark-blue-color;
                margin-left: 2px;
              }

              .button {
                padding: 14px 20px;
                width: 139px;
                height: 48px;
                background: $bright-blue-color;

                span {
                  @include common-text;
                  font-size: 16px;
                  letter-spacing: -0.01em;
                  color: #fff;
                  margin-right: 10px;
                }

                &.active {
                  background: #f3f4f5;

                  span {
                    color: $dark-blue-color;
                  }
                }
              }
            }
          }

          .popup-item-info-add {
            border-radius: 10px;
            padding: 12px 18px;
            background: #f3f4f5;
            @include common-text;
            font-size: 15px;
            color: $dark-blue-color;
            margin-bottom: 6px;
          }

          .popup-item-info-items {
            width: 100%;
            border-radius: 10px;
            padding: 16px;
            background: #f7f8f9;
            box-sizing: border-box;

            .popup-item-info-item {
              margin-bottom: 8px;
              display: flex;
              align-items: center;

              svg {
                margin: 1px 8px 2px 0;
              }

              span {
                @include common-text;
                font-size: 15px;
                color: $dark-blue-color;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .product-card-rate {
          border: 1px solid $light-grey-color;
          border-radius: 18px;
          padding: 24px;

          .product-card-rate-info {
            margin-bottom: 20px;

            .product-card-rate-info-head {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin-bottom: 16px;

              .product-card-rate-info-term {
                font-family: "TT Firs Neue", sans-serif;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: -0.01em;
                color: $dark-blue-color;
                min-width: 126px;
              }

              .product-card-rate-info-text {
                @include common-text;
                font-size: 13px;
                line-height: 131%;
                text-align: right;
                color: $pale-blue-color;
              }
            }

            .product-card-rate-info-items {
              .product-card-rate-info-item {
                display: flex;
                align-items: center;

                span {
                  margin-left: 10px;
                  @include common-text;
                  font-size: 15px;
                  color: $dark-blue-color;
                }

                &.count {
                  margin-bottom: 12px;
                }
              }
            }
          }

          .product-card-button {
            .button {
              width: 100%;
              border-radius: 10px;
              padding: 15px;
              box-sizing: border-box;
              font-family: "TT Firs Neue", sans-serif;
              font-weight: 500;
              letter-spacing: -0.01em;
              font-size: 16px;
            }
          }

          &.rate-gray {
            margin-bottom: 15px;

            .button {
              color: $dark-blue-color;
              background: #f3f4f5;
            }
          }

          &.rate-blue {
            border: 1px solid $bright-blue-color;
            background: #fafcff;
            margin-bottom: 24px;

            .product-card-rate-info {
              .product-card-rate-info-term {
                color: $bright-blue-color;
              }
            }

            .product-card-button {
              .button {
                font-family: "TT Firs Neue", sans-serif;
                font-weight: 500;
                letter-spacing: -0.01em;
                font-size: 16px;
                width: 100%;
                height: 50px;
                padding: 15px 18px;
                box-sizing: border-box;

                .discount {
                  margin-left: 12px;
                  border-radius: 5px;
                  padding: 6px;
                  width: 51px;
                  height: 27px;
                  box-sizing: border-box;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #fff;
                  font-family: "TT Firs Neue", sans-serif;
                  font-weight: 500;
                  font-size: 15px;
                  color: $bright-blue-color;
                }
              }
            }
          }
        }
      }

      .popup-action {
        border-radius: 25px 25px 0 0;
        padding: 12px 16px;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0 4px 16px 0 rgba(37, 84, 231, 0.1), 0 0 76px 0 rgba(220, 231, 255, 0.16);
        background: #fff;

        button {
          padding: 15px 18px;
          font-family: "TT Firs Neue", sans-serif;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: -0.01em;
          color: #fff;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .cart {
    .container {
      .main-title {
        margin-left: auto;
        width: 370px;
        margin-right: auto;
      }

      .cart-content {
        .cart-order {
          .cart-products {
            margin-left: 0;

            .product-pay-button {
              display: block;
              border-radius: 20px 20px 0 0;
              padding: 12px 16px;
              width: 375px;
              height: 74px;
              box-sizing: border-box;
              box-shadow: 0 4px 16px 0 rgba(37, 84, 231, 0.1), 0 0 76px 0 rgba(220, 231, 255, 0.16);
              background: #fff;

              button {
                width: 100%;
                height: 50px;
                padding: 15px 18px;
                font-family: "TT Firs Neue", sans-serif;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.01em;
                color: #fff;
                text-align: center;
                box-sizing: border-box;
              }
            }

            .product-card {
              .card-remove {
                display: none;
              }
            }

            .product-card-content {
              width: 370px;
              position: relative;
              border-radius: 20px;
              padding: 201px 0 0;

              .product-card-image {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 20px;
                width: 100%;
                height: 241px;
                background-position: center;
                box-shadow: 0 0 53px 0 rgba(220, 231, 255, 0.16);

                .product-card-small-image-remove {
                  position: absolute;
                  top: 16px;
                  right: 16px;
                  border-radius: 50%;
                  width: 24px;
                  height: 24px;
                  background-color: #fff;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                .product-card-small-image-tab {
                  position: absolute;
                  top: 16px;
                  left: 16px;
                  border-radius: 8px;
                  padding: 8px 12px;
                  backdrop-filter: blur(44px);
                  background: rgba(11, 31, 51, 0.15);
                  @include common-text;
                  font-size: 13px;
                  color: #fff;
                  z-index: 5;
                }

                .product-card-small-image-photo {
                  position: absolute;
                  width: 100%;
                  height: 241px;
                  background-position-x: calc(50% - 30px);
                  background-position-y: calc(50% + 7px);
                }
              }

              .product-card-info {
                border-radius: 20px;
                padding: 28px;
                width: 100%;
                height: auto;
                box-sizing: border-box;
                box-shadow: 0 4px 10px 0 rgba(74, 58, 255, 0.05), 0 0 76px 0 rgba(220, 231, 255, 0.16);
                background: #fff;
                z-index: 3;
                position: relative;
                margin-bottom: 0;

                .product-card-description {
                  .product-card-title {
                    font-size: 22px;
                    letter-spacing: -0.02em;
                    margin-bottom: 8px;

                    &.desk {
                      display: none;
                    }

                    &.mobile {
                      display: block;
                      width: 240px;
                    }
                  }

                  .product-card-text {
                    margin-bottom: 0;
                  }

                  .product-card-tabs {
                    margin-bottom: 18px;

                    .product-card-tab {
                      border-radius: 8px;
                      @include common-text;
                      font-size: 13px;

                      &.tap-active {
                        color: $dark-blue-color;
                        background: #f3f4f5;
                        border: 1px solid #f3f4f5;
                      }

                      &:last-child {
                        display: none;
                      }
                    }
                  }

                  .product-card-text {
                    font-size: 15px;
                    line-height: 133%;
                    display: flex;
                    flex-direction: column;

                    span {
                      &.hidden {
                        display: none;
                      }

                      &.showed {
                        display: flex;
                        flex-direction: column;

                        span {
                          color: $bright-blue-color;
                        }
                      }
                    }
                  }
                }

                .product-card-teacher {
                  .product-card-teacher-image {
                    display: none;
                  }

                  .product-card-teacher-info {
                    width: 100%;

                    .product-card-teacher-info-name {
                      display: none;
                    }

                    .product-card-teacher-info-rate {
                      margin-top: 18px;
                      display: grid;
                      grid-template: repeat(2, auto) / repeat (2, 1fr);
                      justify-content: space-between;

                      span {
                        margin-right: 0;
                        font-size: 15px;
                        margin-bottom: 4px;

                        &.first {
                          grid-area: 1 / 1 / 2 / 2;
                          line-height: 114%;
                        }

                        &.second {
                          display: none;
                        }

                        &.mobile {
                          display: block;
                          grid-area: 2 / 1 / 3 / 2;
                          font-weight: 500;
                          font-size: 18px;
                          line-height: 122%;
                          color: $dark-blue-color;
                          margin-left: 0;
                          margin-top: 1px;
                        }
                      }

                      a.change {
                        grid-area: 2 / 2 / 3 / 3;
                        font-size: 15px;
                      }
                    }
                  }
                }
              }

              .product-card-rates {
                display: none;
              }
            }
          }
        }

        .cart-payment-title {
          align-self: flex-start;
        }

        .cart-payment {
          padding: 24px;
          border-radius: 20px;

          .cart-payment-info {
            .cart-payment-info-item {
              .cart-payment-info-name {
              }
            }
          }

          .cart-payment-checkbox {
            .pretty.p-switch {
              min-width: 54px;
            }
          }

          .cart-payment-actions {
            .button {
              &.button-with-icon {
                span {
                  &.link {
                    display: block;
                  }

                  &.pay {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      .cart-extra {
        .cart-extra-title {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .cart {
    .container {
      .cart-content {
        .cart-order {
          .cart-products {
            .product-card-small {
              width: 343px;

              .product-card-small-image {
                width: 343px;

                .product-card-small-image-photo {
                  width: 343px;
                }
              }

              .product-card-small-info {
                width: 343px;
              }
            }
          }
        }

        .cart-payment {
          width: 343px;

          .cart-payment-info {
            .cart-payment-info-item {
              .cart-payment-info-name {
                width: 177px;

                &.first {
                  width: 177px;
                }

                &.second {
                  .mobile {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .cart-extra {
        .cart-extra-title {
          text-align: left;
        }

        .cart-extra-cards {
          .cart-extra-card {
            grid-template-rows: 220px 1fr;

            .cart-extra-card-image {
              width: 329px;

              .cart-extra-card-image-tab {
                font-size: 13px;
              }

              .cart-extra-card-image-photo {
                width: 100%;
                height: 230px;
                background-size: cover;
              }
            }

            .cart-extra-card-info {
              width: 100%;
              padding: 24px;
              height: auto;

              .cart-extra-card-description {
                .cart-extra-card-title {
                  font-size: 22px;
                  letter-spacing: -0.01em;
                }

                .cart-extra-card-tabs {
                  .cart-extra-card-tab {
                    font-size: 13px;
                  }
                }

                .cart-extra-card-items {
                  .cart-extra-card-item {
                    svg {
                      width: 18px;
                      height: 18px;
                    }

                    span {
                      font-size: 13px;
                    }
                  }
                }
              }

              .cart-extra-card-price {
                span {
                  font-size: 18px;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .popup .popup-content {
    width: auto;
  }
}

@media screen and (max-width: 401px) {
  .cart {
    .container {
      .main-title {
        width: 343px;
      }

      .cart-content {
        .cart-order {
          .cart-products {
            align-items: center;

            .product-card-content {
              width: 343px;

              .product-card-info {
                .product-card-description {
                  .product-card-title {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .popup .popup-content {
    width: 320px;
  }

  .cart {
    .container {
      .main-title {
        width: 300px;
      }

      .cart-content {
        .cart-order {
          .cart-products {
            .product-card-content {
              width: 300px;
            }

            .product-pay-button {
              width: 100%;
            }
          }
        }

        .cart-payment {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 329px) {
  .cart .container .cart-content .cart-payment .cart-payment-info .cart-payment-info-item.total-price .cart-payment-price .cart-payment-price-value {
    font-size: 18px;
  }

  .cart .container .cart-content .cart-payment .cart-payment-checkbox label {
    margin-right: 10px;
  }
}
