.our-team {
  margin: 120px 0;

  &__title {
    margin: 0 0 32px;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 64px;
  }
}
