section.cart
    .container
        .cart-extra
            h2.cart-extra-title Как ещё добиться ваших результатов
            .cart-extra-track
                .cart-extra-cards
                    .cart-extra-card
                        .cart-extra-card-image.chemistry
                            .cart-extra-card-image-tab Мария Армянинова
                            .cart-extra-card-image-img
                                img(src="../img/teacher1.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/chemical-chain.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.russian
                            .cart-extra-card-image-tab Ксения Орлова
                            .cart-extra-card-image-img
                                img(src="../img/teacher4.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/atom.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.mathematics
                            .cart-extra-card-image-tab Андрей Парфенов
                            .cart-extra-card-image-img
                                img(src="../img/teacher2.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/drawing.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.russian
                            .cart-extra-card-image-tab Ксения Орлова
                            .cart-extra-card-image-img
                                img(src="../img/teacher4.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/atom.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.mathematics
                            .cart-extra-card-image-tab Андрей Парфенов
                            .cart-extra-card-image-img
                                img(src="../img/teacher2.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/drawing.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.chemistry
                            .cart-extra-card-image-tab Мария Армянинова
                            .cart-extra-card-image-img
                                img(src="../img/teacher1.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/chemical-chain.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                             

                 

        



          

                

