section.cart
    .container
        .main-title Корзина
        .cart-content
            .cart-order
                .cart-products
                    .product-card
                        button.product-card-close
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_5281_36365)">
                                <path d="M0.997559 1L10.9976 11" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M10.9995 1L0.999513 11" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_5281_36365">
                                <rect width="12" height="12" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        .product-card-content
                            .product-card-info
                                .product-card-description
                                    div
                                        .product-card-title.desk Экспресс-подготовка
                                        .product-card-title.mobile Экспресс-подготовка к экзамену
                                        .product-card-tabs
                                            .product-card-tab.tap-active 11 класс
                                            .product-card-tab Русский язык
                                            .product-card-tab Подготовка к ЕГЭ
                                        .product-card-text
                                            span.desktop
                                                | Летний подготовительный курс для тех, кто стремится начать подготовку ранее: освоим основные темы предмета с самого начала
                                            span.showed.mobile 
                                                | Эффективный курс повторения материала: быстро обновим и система...
                                                span Подробнее
                                    ul.tags-with-icons.scroll
                                        li.tags-with-icons__item 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.66667"/>
                                                <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.66667"/>
                                            </svg>
                                            | 8 занятий
                                        li.tags-with-icons__item 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5 7.4974H17.5M5.83333 12.4974H7.5M5.16667 15.8307H14.8333C15.7667 15.8307 16.2335 15.8307 16.59 15.6491C16.9036 15.4893 17.1586 15.2343 17.3183 14.9207C17.5 14.5642 17.5 14.0975 17.5 13.1641V6.83073C17.5 5.89731 17.5 5.4306 17.3183 5.07408C17.1586 4.76047 16.9036 4.5055 16.59 4.34572C16.2335 4.16406 15.7667 4.16406 14.8333 4.16406H5.16667C4.23325 4.16406 3.76653 4.16406 3.41002 4.34572C3.09641 4.5055 2.84144 4.76047 2.68166 5.07408C2.5 5.4306 2.5 5.8973 2.5 6.83073V13.1641C2.5 14.0975 2.5 14.5642 2.68166 14.9207C2.84144 15.2343 3.09641 15.4893 3.41002 15.6491C3.76653 15.8307 4.23324 15.8307 5.16667 15.8307Z" stroke="#2554E7" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            | 373 ₽ за занятие
                            .product-card-info
                                .product-card-teacher-block
                                    span.product-card-teacher-block__photo.russian
                                        img(src="../img/teacher1.png" alt="teacher1")
                                    .product-card-teacher-block__wrap
                                        span.product-card-teacher-block__name Мария Армянинова
                                        span.product-card-teacher-block__text Преподаватель
                                ul.product-card-list
                                    li.product-card-list__item
                                        .product-card-list__wrap
                                            span.product-card-list__subtitle Тариф
                                            span.product-card-list__title Базовый
                                        button.product-card-list__button Изменить
                                        button.product-card-list__button-icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.57338 2.72171L10.1912 2.10379C11.215 1.07999 12.875 1.07999 13.8988 2.10379C14.9226 3.12759 14.9226 4.78751 13.8988 5.81131L13.2808 6.42923M9.57338 2.72171C9.57338 2.72171 9.65058 4.03479 10.8092 5.19339C11.9678 6.35199 13.2808 6.42923 13.2808 6.42923M9.57338 2.72171L3.89253 8.40254C3.50775 8.78734 3.31537 8.97967 3.14991 9.19181C2.95473 9.44207 2.78741 9.71281 2.65087 9.99927C2.53513 10.2421 2.4491 10.5003 2.27702 11.0165L1.54785 13.204M13.2808 6.42923L7.60005 12.1101C7.21525 12.4948 7.02291 12.6872 6.81078 12.8527C6.56053 13.0479 6.28977 13.2152 6.0033 13.3517C5.76045 13.4675 5.50233 13.5535 4.9861 13.7255L2.79859 14.4547M1.54785 13.204L1.36961 13.7387C1.28493 13.9927 1.35105 14.2728 1.5404 14.4622C1.72975 14.6515 2.00983 14.7177 2.26387 14.633L2.79859 14.4547M1.54785 13.204L2.79859 14.4547" stroke="#CAD0D6" stroke-width="1.5"/>
                                            </svg>
                                    li.product-card-list__item
                                        .product-card-list__wrap
                                            span.product-card-list__subtitle Предметы
                                            span.product-card-list__title 12 предметов
                                        button.product-card-list__button Изменить
                                        button.product-card-list__button-icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.57338 2.72171L10.1912 2.10379C11.215 1.07999 12.875 1.07999 13.8988 2.10379C14.9226 3.12759 14.9226 4.78751 13.8988 5.81131L13.2808 6.42923M9.57338 2.72171C9.57338 2.72171 9.65058 4.03479 10.8092 5.19339C11.9678 6.35199 13.2808 6.42923 13.2808 6.42923M9.57338 2.72171L3.89253 8.40254C3.50775 8.78734 3.31537 8.97967 3.14991 9.19181C2.95473 9.44207 2.78741 9.71281 2.65087 9.99927C2.53513 10.2421 2.4491 10.5003 2.27702 11.0165L1.54785 13.204M13.2808 6.42923L7.60005 12.1101C7.21525 12.4948 7.02291 12.6872 6.81078 12.8527C6.56053 13.0479 6.28977 13.2152 6.0033 13.3517C5.76045 13.4675 5.50233 13.5535 4.9861 13.7255L2.79859 14.4547M1.54785 13.204L1.36961 13.7387C1.28493 13.9927 1.35105 14.2728 1.5404 14.4622C1.72975 14.6515 2.00983 14.7177 2.26387 14.633L2.79859 14.4547M1.54785 13.204L2.79859 14.4547" stroke="#CAD0D6" stroke-width="1.5"/>
                                            </svg>
                                    li.product-card-list__item
                                        .product-card-list__wrap
                                            span.product-card-list__subtitle Время
                                            span.product-card-list__title 24 месяца
                                        button.product-card-list__button Изменить
                                        button.product-card-list__button-icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.57338 2.72171L10.1912 2.10379C11.215 1.07999 12.875 1.07999 13.8988 2.10379C14.9226 3.12759 14.9226 4.78751 13.8988 5.81131L13.2808 6.42923M9.57338 2.72171C9.57338 2.72171 9.65058 4.03479 10.8092 5.19339C11.9678 6.35199 13.2808 6.42923 13.2808 6.42923M9.57338 2.72171L3.89253 8.40254C3.50775 8.78734 3.31537 8.97967 3.14991 9.19181C2.95473 9.44207 2.78741 9.71281 2.65087 9.99927C2.53513 10.2421 2.4491 10.5003 2.27702 11.0165L1.54785 13.204M13.2808 6.42923L7.60005 12.1101C7.21525 12.4948 7.02291 12.6872 6.81078 12.8527C6.56053 13.0479 6.28977 13.2152 6.0033 13.3517C5.76045 13.4675 5.50233 13.5535 4.9861 13.7255L2.79859 14.4547M1.54785 13.204L1.36961 13.7387C1.28493 13.9927 1.35105 14.2728 1.5404 14.4622C1.72975 14.6515 2.00983 14.7177 2.26387 14.633L2.79859 14.4547M1.54785 13.204L2.79859 14.4547" stroke="#CAD0D6" stroke-width="1.5"/>
                                            </svg>
                                .product-card-price
                                    .product-card-price__wrap
                                        .product-card-price__main-price 5 525 ₽/мес
                                        .product-card-price__discount -30%
                                    .product-card-price__grey-text Итого: 49 725 ₽ за 12 месяцев
                    .product-card
                        button.product-card-close
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_5281_36365)">
                                <path d="M0.997559 1L10.9976 11" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round"/>
                                <path d="M10.9995 1L0.999513 11" stroke="#9AA3AD" stroke-width="1.5" stroke-linecap="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_5281_36365">
                                <rect width="12" height="12" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                        .product-card-content
                            .product-card-info
                                .product-card-description
                                    div
                                        .product-card-title.desk Курс подготовки к ЕГЭ с нуля по&nbsp;профильной математике
                                        .product-card-title.mobile Экспресс-подготовка к экзамену
                                        .product-card-tabs
                                            .product-card-tab.tap-active 11 класс
                                            .product-card-tab Русский язык
                                            .product-card-tab Подготовка к ЕГЭ
                                        .product-card-text
                                            span.desktop
                                                | Летний подготовительный курс для тех, кто стремится начать подготовку ранее: освоим основные темы предмета с самого начала
                                            span.showed.mobile 
                                                | Эффективный курс повторения материала: быстро обновим и система...
                                                span Подробнее
                                    ul.tags-with-icons.scroll
                                        li.tags-with-icons__item 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.66406 9.58594C1.66406 6.84637 1.66406 5.47659 2.4207 4.55463C2.55921 4.38585 2.71397 4.23109 2.88275 4.09257C3.80471 3.33594 5.1745 3.33594 7.91406 3.33594C10.6536 3.33594 12.0234 3.33594 12.9454 4.09257C13.1141 4.23109 13.2689 4.38585 13.4074 4.55463C14.1641 5.47659 14.1641 6.84637 14.1641 9.58594V10.4193C14.1641 13.1589 14.1641 14.5286 13.4074 15.4506C13.2689 15.6194 13.1141 15.7741 12.9454 15.9126C12.0234 16.6693 10.6536 16.6693 7.91406 16.6693C5.1745 16.6693 3.80471 16.6693 2.88275 15.9126C2.71397 15.7741 2.55921 15.6194 2.4207 15.4506C1.66406 14.5286 1.66406 13.1589 1.66406 10.4193V9.58594Z" stroke="#2554E7" stroke-width="1.66667"/>
                                                <path d="M14.1641 7.91617L14.7127 7.64186C16.3342 6.83107 17.1451 6.42568 17.7379 6.79207C18.3307 7.15846 18.3307 8.06495 18.3307 9.87793V10.1211C18.3307 11.9341 18.3307 12.8405 17.7379 13.2069C17.1451 13.5733 16.3342 13.1679 14.7127 12.3572L14.1641 12.0828V7.91617Z" stroke="#2554E7" stroke-width="1.66667"/>
                                            </svg>
                                            | 8 занятий
                                        li.tags-with-icons__item 
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.5 7.4974H17.5M5.83333 12.4974H7.5M5.16667 15.8307H14.8333C15.7667 15.8307 16.2335 15.8307 16.59 15.6491C16.9036 15.4893 17.1586 15.2343 17.3183 14.9207C17.5 14.5642 17.5 14.0975 17.5 13.1641V6.83073C17.5 5.89731 17.5 5.4306 17.3183 5.07408C17.1586 4.76047 16.9036 4.5055 16.59 4.34572C16.2335 4.16406 15.7667 4.16406 14.8333 4.16406H5.16667C4.23325 4.16406 3.76653 4.16406 3.41002 4.34572C3.09641 4.5055 2.84144 4.76047 2.68166 5.07408C2.5 5.4306 2.5 5.8973 2.5 6.83073V13.1641C2.5 14.0975 2.5 14.5642 2.68166 14.9207C2.84144 15.2343 3.09641 15.4893 3.41002 15.6491C3.76653 15.8307 4.23324 15.8307 5.16667 15.8307Z" stroke="#2554E7" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            | 373 ₽ за занятие
                            .product-card-info
                                .product-card-teacher-block
                                    span.product-card-teacher-block__photo.russian
                                        img(src="../img/teacher1.png" alt="teacher1")
                                    .product-card-teacher-block__wrap
                                        span.product-card-teacher-block__name Мария Армянинова
                                        span.product-card-teacher-block__text Преподаватель
                                ul.product-card-list
                                    li.product-card-list__item
                                        .product-card-list__wrap
                                            span.product-card-list__subtitle Тариф
                                            span.product-card-list__title Базовый
                                        button.product-card-list__button Изменить
                                        button.product-card-list__button-icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.57338 2.72171L10.1912 2.10379C11.215 1.07999 12.875 1.07999 13.8988 2.10379C14.9226 3.12759 14.9226 4.78751 13.8988 5.81131L13.2808 6.42923M9.57338 2.72171C9.57338 2.72171 9.65058 4.03479 10.8092 5.19339C11.9678 6.35199 13.2808 6.42923 13.2808 6.42923M9.57338 2.72171L3.89253 8.40254C3.50775 8.78734 3.31537 8.97967 3.14991 9.19181C2.95473 9.44207 2.78741 9.71281 2.65087 9.99927C2.53513 10.2421 2.4491 10.5003 2.27702 11.0165L1.54785 13.204M13.2808 6.42923L7.60005 12.1101C7.21525 12.4948 7.02291 12.6872 6.81078 12.8527C6.56053 13.0479 6.28977 13.2152 6.0033 13.3517C5.76045 13.4675 5.50233 13.5535 4.9861 13.7255L2.79859 14.4547M1.54785 13.204L1.36961 13.7387C1.28493 13.9927 1.35105 14.2728 1.5404 14.4622C1.72975 14.6515 2.00983 14.7177 2.26387 14.633L2.79859 14.4547M1.54785 13.204L2.79859 14.4547" stroke="#CAD0D6" stroke-width="1.5"/>
                                            </svg>
                                    li.product-card-list__item
                                        .product-card-list__wrap
                                            span.product-card-list__subtitle Время
                                            span.product-card-list__title 24 месяца
                                        button.product-card-list__button Изменить
                                        button.product-card-list__button-icon
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.57338 2.72171L10.1912 2.10379C11.215 1.07999 12.875 1.07999 13.8988 2.10379C14.9226 3.12759 14.9226 4.78751 13.8988 5.81131L13.2808 6.42923M9.57338 2.72171C9.57338 2.72171 9.65058 4.03479 10.8092 5.19339C11.9678 6.35199 13.2808 6.42923 13.2808 6.42923M9.57338 2.72171L3.89253 8.40254C3.50775 8.78734 3.31537 8.97967 3.14991 9.19181C2.95473 9.44207 2.78741 9.71281 2.65087 9.99927C2.53513 10.2421 2.4491 10.5003 2.27702 11.0165L1.54785 13.204M13.2808 6.42923L7.60005 12.1101C7.21525 12.4948 7.02291 12.6872 6.81078 12.8527C6.56053 13.0479 6.28977 13.2152 6.0033 13.3517C5.76045 13.4675 5.50233 13.5535 4.9861 13.7255L2.79859 14.4547M1.54785 13.204L1.36961 13.7387C1.28493 13.9927 1.35105 14.2728 1.5404 14.4622C1.72975 14.6515 2.00983 14.7177 2.26387 14.633L2.79859 14.4547M1.54785 13.204L2.79859 14.4547" stroke="#CAD0D6" stroke-width="1.5"/>
                                            </svg>
                                .product-card-price
                                    .product-card-price__wrap
                                        .product-card-price__main-price 5 525 ₽/мес
                                        .product-card-price__discount -30%
                                    .product-card-price__grey-text Итого: 49 725 ₽ за 12 месяцев
                    .product-card-add-button
                        a.light-button(href="#")
                            span Перейти в каталог
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2" y="2" width="20" height="20" rx="10" fill="#2554E7"/>
                                <path d="M8 12H16M12 8V16" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        
            .cart-payment-wrapper           
                .cart-payment-title Подробности заказа

                .cart-payment
                    .cart-payment-info
                        .cart-payment-info-item
                            .cart-payment-info-name.first
                                | Экспресс-подготовка к экзамену
                            .cart-payment-price
                                .cart-payment-price-value 2 990 ₽
                                .cart-payment-price-term 1 месяц
                        .cart-payment-info-item
                            .cart-payment-info-name.second
                                | Готовимся
                                br.mobile
                                |  с полного нуля
                            .cart-payment-price
                                .cart-payment-price-value 15 300 ₽
                                .cart-payment-price-term 6 месяцев
                        .cart-payment-info-item.discount
                            .cart-payment-info-name Сумма скидки
                            .cart-payment-price
                                .cart-payment-price-value -3 440 ₽
                        .cart-payment-info-item.total-price
                            .cart-payment-info-name Итого
                            .cart-payment-price
                                .cart-payment-price-value 18 290 ₽
                    .cart-payment-checkbox
                        label Оплатить в рассрочку
                        .pretty.p-switch.p-fill
                            input#another(type="checkbox")
                            .state.p-primary
                                label
                    .cart-payment-checkbox
                        label Оплачивает другой человек
                        .pretty.p-switch.p-fill
                            input#another(type="checkbox")
                            .state.p-primary
                                label
                    .cart-payment-actions
                        button.button.button-with-icon.button-blue
                            span.pay Перейти к оплате
                            span.link Скопировать ссылку
                            svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                rect(width="24", height="24", rx="12", fill="white")
                                path(d="M10 8L14 12L10 16", stroke="#2554E7", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                        button.button.button-transparent У меня есть промокод
        .cart-extra
            h2.cart-extra-title Как ещё добиться ваших результатов
            .cart-extra-track
                .cart-extra-cards
                    .cart-extra-card
                        .cart-extra-card-image.chemistry
                            .cart-extra-card-image-tab Мария Армянинова
                            .cart-extra-card-image-img
                                img(src="../img/teacher1.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/chemical-chain.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.russian
                            .cart-extra-card-image-tab Ксения Орлова
                            .cart-extra-card-image-img
                                img(src="../img/teacher4.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/atom.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.mathematics
                            .cart-extra-card-image-tab Андрей Парфенов
                            .cart-extra-card-image-img
                                img(src="../img/teacher2.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/drawing.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.russian
                            .cart-extra-card-image-tab Ксения Орлова
                            .cart-extra-card-image-img
                                img(src="../img/teacher4.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/atom.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.mathematics
                            .cart-extra-card-image-tab Андрей Парфенов
                            .cart-extra-card-image-img
                                img(src="../img/teacher2.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/drawing.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                    .cart-extra-card
                        .cart-extra-card-image.chemistry
                            .cart-extra-card-image-tab Мария Армянинова
                            .cart-extra-card-image-img
                                img(src="../img/teacher1.png" alt="Преподаватель")
                                .cart-extra-card-image-bg
                                    img(src="../img/chemical-chain.png" alt="Background")
                        .cart-extra-card-info
                            .cart-extra-card-description
                                .cart-extra-card-title Лето с пользой
                                .cart-extra-card-tabs
                                    .cart-extra-card-tab 11 класс
                                    .cart-extra-card-tab.tab-white Русский язык
                                .cart-extra-card-items
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.5835C1.66797 6.84393 1.66797 5.47415 2.4246 4.55219C2.56312 4.3834 2.71788 4.22865 2.88666 4.09013C3.80862 3.3335 5.1784 3.3335 7.91797 3.3335C10.6576 3.3335 12.0273 3.3335 12.9493 4.09013C13.1181 4.22865 13.2728 4.3834 13.4113 4.55219C14.168 5.47415 14.168 6.84393 14.168 9.5835V10.4168C14.168 13.1564 14.168 14.5262 13.4113 15.4482C13.2728 15.6169 13.1181 15.7717 12.9493 15.9102C12.0273 16.6668 10.6576 16.6668 7.91797 16.6668C5.1784 16.6668 3.80862 16.6668 2.88666 15.9102C2.71788 15.7717 2.56312 15.6169 2.4246 15.4482C1.66797 14.5262 1.66797 13.1564 1.66797 10.4168V9.5835Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(d="M14.168 7.91666L14.7166 7.64234C16.3381 6.83156 17.149 6.42617 17.7418 6.79256C18.3346 7.15895 18.3346 8.06543 18.3346 9.87842V10.1216C18.3346 11.9346 18.3346 12.841 17.7418 13.2074C17.149 13.5738 16.3381 13.1684 14.7166 12.3577L14.168 12.0833V7.91666Z" stroke="#2554E7" stroke-width="1.66667")
                                        span ЕГЭ
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.66797 9.99992C1.66797 6.85722 1.66797 5.28588 2.64428 4.30956C3.62059 3.33325 5.19193 3.33325 8.33463 3.33325H11.668C14.8106 3.33325 16.382 3.33325 17.3583 4.30956C18.3346 5.28588 18.3346 6.85722 18.3346 9.99992V11.6666C18.3346 14.8093 18.3346 16.3807 17.3583 17.3569C16.382 18.3333 14.8106 18.3333 11.668 18.3333H8.33463C5.19193 18.3333 3.62059 18.3333 2.64428 17.3569C1.66797 16.3807 1.66797 14.8093 1.66797 11.6666V9.99992Z" stroke="#2554E7" stroke-width="1.66667")
                                            path(opacity="0.5" d="M5.83203 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M14.168 3.33325V2.08325" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(opacity="0.5" d="M2.08203 7.5H17.9154" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round")
                                            path(d="M14.9987 14.1666C14.9987 14.6268 14.6256 14.9999 14.1654 14.9999C13.7051 14.9999 13.332 14.6268 13.332 14.1666C13.332 13.7063 13.7051 13.3333 14.1654 13.3333C14.6256 13.3333 14.9987 13.7063 14.9987 14.1666Z" fill="#2554E7")
                                            path(d="M14.9987 10.8333C14.9987 11.2936 14.6256 11.6667 14.1654 11.6667C13.7051 11.6667 13.332 11.2936 13.332 10.8333C13.332 10.3731 13.7051 10 14.1654 10C14.6256 10 14.9987 10.3731 14.9987 10.8333Z" fill="#2554E7")
                                            path(d="M10.8346 14.1666C10.8346 14.6268 10.4616 14.9999 10.0013 14.9999C9.54105 14.9999 9.16797 14.6268 9.16797 14.1666C9.16797 13.7063 9.54105 13.3333 10.0013 13.3333C10.4616 13.3333 10.8346 13.7063 10.8346 14.1666Z" fill="#2554E7")
                                            path(d="M10.8346 10.8333C10.8346 11.2936 10.4616 11.6667 10.0013 11.6667C9.54105 11.6667 9.16797 11.2936 9.16797 10.8333C9.16797 10.3731 9.54105 10 10.0013 10C10.4616 10 10.8346 10.3731 10.8346 10.8333Z" fill="#2554E7")
                                            path(d="M6.66667 14.1666C6.66667 14.6269 6.29357 15 5.83333 15C5.3731 15 5 14.6269 5 14.1666C5 13.7064 5.3731 13.3333 5.83333 13.3333C6.29357 13.3333 6.66667 13.7064 6.66667 14.1666Z" fill="#2554E7")
                                            path(d="M6.66667 10.8333C6.66667 11.2936 6.29357 11.6667 5.83333 11.6667C5.3731 11.6667 5 11.2936 5 10.8333C5 10.3731 5.3731 10 5.83333 10C6.29357 10 6.66667 10.3731 6.66667 10.8333Z" fill="#2554E7")
                                        span 8 занятий
                                    .cart-extra-card-item
                                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            g(clip-path="url(#clip0_500_13578)")
                                                path(d="M10 6.66675V10.0001L12.0833 12.0834" stroke="#2554E7" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M1.66797 10.0001C1.66797 6.07171 1.66797 4.10752 2.88836 2.88714C4.10874 1.66675 6.07293 1.66675 10.0013 1.66675C13.9296 1.66675 15.8939 1.66675 17.1142 2.88714C18.3346 4.10752 18.3346 6.07171 18.3346 10.0001C18.3346 13.9284 18.3346 15.8927 17.1142 17.113C15.8939 18.3334 13.9296 18.3334 10.0013 18.3334C6.07293 18.3334 4.10874 18.3334 2.88836 17.113C1.66797 15.8927 1.66797 13.9284 1.66797 10.0001Z" stroke="#2554E7" stroke-width="1.66667")
                                            defs
                                                clipPath(id="clip0_500_13578")
                                                    rect(width="20" height="20" fill="white")
                                        span 1 месяц
                            .cart-extra-card-price
                                span 2 590 ₽/мес
                                button.button.button-with-icon
                                    svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        rect(x="2.5" y="1.99622" width="20" height="20" rx="10" fill="#2554E7")
                                        path(d="M8.5 11.9962H16.5M12.5 7.99622V15.9962" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round")
                                    span Выбрать
                             
    .visible-on-mobile
        .sticky-bar.visible
            .sticky-bar__content
                button.sticky-bar__btn.main-button-small.cart-bar-button Перейти к оплате
                 

        



          

                

