footer.footer
    .container
        .footer-top
            .footer-info
                .footer-logo
                    img(src="../img/logoV2.svg", alt="Logo")
                nav.footer-menu
                    ul
                        li
                            a(href="#") О школе
                        li
                            a(href="#") Преподаватели
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Правовая информация
                        li
                            a(href="#") Сведения об образовательной организации
                        li
                            a(href="#") Контакты
                .footer-contacts
                    a.footer-contacts-item(href="#")
                        | 
                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.81663 8.40303C1.81663 8.40303 10.9766 4.50607 14.1534 3.13386C15.3713 2.58502 19.5012 0.828581 19.5012 0.828581C19.5012 0.828581 21.4073 0.0602059 21.2484 1.92634C21.1955 2.69479 20.7719 5.38422 20.3483 8.29326C19.7129 12.4098 19.0246 16.9105 19.0246 16.9105C19.0246 16.9105 18.9187 18.173 18.0186 18.3925C17.1185 18.6121 15.6359 17.6241 15.3713 17.4045C15.1594 17.2399 11.4002 14.7699 10.0235 13.5624C9.65287 13.2331 9.22931 12.5745 10.0764 11.8061C11.9826 9.99477 14.2593 7.74442 15.6359 6.31736C16.2713 5.65868 16.9067 4.12185 14.2593 5.98798C10.5001 8.67748 6.79372 11.2023 6.79372 11.2023C6.79372 11.2023 5.94653 11.7511 4.35812 11.2571C2.76963 10.7632 0.916461 10.1045 0.916461 10.1045C0.916461 10.1045 -0.35421 9.28125 1.81663 8.40303Z" fill="white"/>
                        </svg>
                    a.footer-contacts-item(href="#")
                        | 
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.594 0.506875C8.98617 0.663347 7.77377 1.0103 6.45881 1.69012C4.45137 2.728 2.83039 4.37954 1.82815 6.40819C1.4431 7.18759 1.26163 7.66532 1.06039 8.42968C0.80667 9.39304 0.7328 9.97872 0.73051 11.0445C0.729386 11.5752 0.751289 12.1511 0.781145 12.3752C1.00817 14.0789 1.54325 15.5472 2.43814 16.9218L2.73641 17.38L2.07383 19.3332C1.70939 20.4075 1.41699 21.2922 1.42403 21.2992C1.43111 21.3063 2.34258 21.0227 3.44954 20.6691C4.55655 20.3155 5.47706 20.0262 5.49517 20.0262C5.51328 20.0262 5.68418 20.1231 5.87493 20.2414C6.06568 20.3599 6.46535 20.5731 6.76308 20.7154C9.45529 22.0021 12.5329 22.1122 15.2895 21.0206C18.4129 19.7836 20.812 17.0777 21.6683 13.8257C21.9306 12.8297 21.9971 12.2837 21.9971 11.1277C21.9971 9.97173 21.9306 9.42573 21.6683 8.42968C20.6637 4.61469 17.6017 1.64925 13.7378 0.749421C13.0886 0.59823 12.4131 0.521637 11.5934 0.506293C11.1353 0.497686 10.6856 0.497935 10.594 0.506875ZM8.05439 5.44108C8.12334 5.4768 8.21995 5.57805 8.26913 5.66604C8.39326 5.88825 9.40558 8.32298 9.43506 8.47026C9.47278 8.65867 9.28827 8.97897 8.87437 9.44369C8.44243 9.92857 8.34962 10.0843 8.38805 10.2591C8.45788 10.5764 9.4209 11.8518 10.0142 12.4126C10.9349 13.2829 12.3266 14.1094 12.9467 14.154C13.2655 14.177 13.3818 14.0869 13.8695 13.4386C14.0907 13.1446 14.3267 12.8491 14.3938 12.782C14.5545 12.6216 14.7929 12.5876 15.0603 12.687C15.4032 12.8145 17.5 13.8341 17.6472 13.945L17.7882 14.0512L17.7649 14.4918C17.7052 15.6229 17.3079 16.2102 16.2571 16.7209C15.258 17.2064 14.4761 17.1931 12.9451 16.6647C10.8912 15.9558 9.80095 15.2786 8.32368 13.7942C7.58448 13.0514 7.05918 12.4234 6.45835 11.5643C5.46831 10.1486 5.08863 9.0554 5.20165 7.94588C5.29226 7.05628 5.60356 6.39958 6.23229 5.77178C6.53643 5.46802 6.93443 5.34299 7.53342 5.36295C7.78756 5.37139 7.97385 5.39933 8.05439 5.44108Z" fill="white"/>
                        </svg>
            .footer-navigation
                .footer-navigation-contact
                    .footer-navigation-name Телефон
                    .footer-navigation-contact-link
                        a(href="tel:74993253723") +7 499 325 37-23
                .footer-navigation-contact
                    .footer-navigation-name Email
                    .footer-navigation-contact-link
                        a(href="mailto:info@lectarium.ru") info@lectarium.ru
                .footer-navigation-subject.studies.visible-list
                    .footer-navigation-name Предметы
                        .footer-navigation-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66699 9.33325L12.0003 14.6666L17.3337 9.33325" stroke="white" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                    .footer-navigation-subject-items
                        ul
                            li
                                a(href="#") Русский язык
                            li
                                a(href="#") Профильная математика
                            li
                                a(href="#") Базовая математика
                            li
                                a(href="#") Английский язык
                            li
                                a(href="#") Обществознание
                            li
                                a(href="#") История
                            li
                                a(href="#") Биология
                            li
                                a(href="#") Химия
                .footer-navigation-subject.courses
                    .footer-navigation-name Курсы и обучение
                        .footer-navigation-icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66699 9.33325L12.0003 14.6666L17.3337 9.33325" stroke="white" stroke-width="2" stroke-linecap="round"/>
                            </svg>
                    .footer-navigation-subject-items
                        ul.mobile-visible
                            li
                                a(href="#") Личный кабинет
                            li
                                a(href="#") Курсы
                            li
                                a(href="#") Диагностика знаний
                            li
                                a(href="#") Полезные материалы
                .footer-navigation-subject-extra
                    .footer-navigation-subject-extra-select
                        .footer-navigation-name Социальные сети
                            span ·
                        .footer-navigation-subject-items
                            .custom-select.second
                                .custom-select__title Русский язык
                                    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L5 5L9 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                    </svg>
                                    .custom-select__menu-wrap
                                        ul.custom-select__menu
                                            li.custom-select__menu_item(data-value="4") Русский язык
                                            li.custom-select__menu_item(data-value="5") Базовая математика
                                            li.custom-select__menu_item(data-value="1") Профильная математика
                                            li.custom-select__menu_item(data-value="2") Биология
                                            li.custom-select__menu_item(data-value="3") Химия
                                            li.custom-select__menu_item(data-value="6") Обществознание
                                            li.custom-select__menu_item(data-value="7") Русский язык
                                            li.custom-select__menu_item(data-value="8") st язык
                                            li.custom-select__menu_item(data-value="9") Русский язык
                    .footer-navigation-subject-extra-items
                        a.footer-navigation-subject-extra-item.footer-contacts-item(href="#")
                            | 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.8534 18.0217C6.35743 18.0217 2.65076 13.5044 2.49609 5.98438H5.74943C5.85609 11.5044 8.25609 13.8404 10.1574 14.323V5.98438H13.2241V10.7444C15.0988 10.539 17.0721 8.37104 17.7361 5.98438H20.8054C20.2934 8.92304 18.1548 11.0937 16.6348 11.9844C18.1548 12.707 20.5894 14.5977 21.5148 18.0217H18.1441C17.4188 15.7337 15.6108 13.9604 13.2268 13.7204V18.0217H12.8534Z" fill="white"/>
                            </svg>
                        a.footer-navigation-subject-extra-item.footer-contacts-item(href="#")
                            | 
                            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.04689 9.3817V4.22799C9.96794 5.0889 11.4558 5.92055 13.2155 6.81718C11.7641 7.58375 9.96794 8.44386 8.04689 9.3817ZM18.7529 1.66481C18.4216 1.24901 17.8568 0.925349 17.2555 0.818194C15.4881 0.498557 4.4622 0.497647 2.69579 0.818194C2.2136 0.904282 1.78424 1.11237 1.41539 1.43567C-0.138742 2.80946 0.34825 10.1766 0.722856 11.37C0.880382 11.8865 1.08402 12.2591 1.34048 12.5036C1.67091 12.8269 2.12331 13.0495 2.64295 13.1493C4.09815 13.436 11.5951 13.5963 17.2247 13.1924C17.7434 13.1063 18.2025 12.8765 18.5647 12.5395C20.0016 11.1712 19.9036 3.39029 18.7529 1.66481Z" fill="white"/>
                            </svg>
                        a.footer-navigation-subject-extra-item.footer-contacts-item(href="#")
                            | 
                            <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.81663 8.40303C1.81663 8.40303 10.9766 4.50607 14.1534 3.13386C15.3713 2.58502 19.5012 0.828581 19.5012 0.828581C19.5012 0.828581 21.4073 0.0602059 21.2484 1.92634C21.1955 2.69479 20.7719 5.38422 20.3483 8.29326C19.7129 12.4098 19.0246 16.9105 19.0246 16.9105C19.0246 16.9105 18.9187 18.173 18.0186 18.3925C17.1185 18.6121 15.6359 17.6241 15.3713 17.4045C15.1594 17.2399 11.4002 14.7699 10.0235 13.5624C9.65287 13.2331 9.22931 12.5745 10.0764 11.8061C11.9826 9.99477 14.2593 7.74442 15.6359 6.31736C16.2713 5.65868 16.9067 4.12185 14.2593 5.98798C10.5001 8.67748 6.79372 11.2023 6.79372 11.2023C6.79372 11.2023 5.94653 11.7511 4.35812 11.2571C2.76963 10.7632 0.916461 10.1045 0.916461 10.1045C0.916461 10.1045 -0.35421 9.28125 1.81663 8.40303Z" fill="white"/>
                            </svg>
        .footer-bottom
            .footer-bottom-content
                .footer-copyright Лектариум © 2018-#{new Date().getFullYear()}
                .footer-links
                    a.footer-link(href="#") Карта сайта
                    a.footer-link(href="#") Лицензия образовательной организации
                .footer__wrap
                    .footer-sk-logo
                        img(src="../img/logo-sk.svg", alt="Logo-Sk")
