
header.header
    .wide-container
        a.header__logo(href='')
            img(src="../img/logo.svg", alt="Logo")
        .header__left
            .header__wrap
                .header__menu
                        button.header__btn.main-button
                            .header__btn_icon
                                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.99994 15.9969C3.99994 16.3482 3.99994 16.5239 4.01561 16.6766C4.14569 17.9444 5.06254 18.9916 6.302 19.2881C6.45128 19.3238 6.62544 19.347 6.97362 19.3934L13.5655 20.2724C15.4419 20.5225 16.3802 20.6476 17.1083 20.3581C17.7477 20.1039 18.2802 19.6377 18.6167 19.0376C18.9999 18.354 18.9999 17.4075 18.9999 15.5145V6.47939C18.9999 4.58635 18.9999 3.63982 18.6167 2.9563C18.2802 2.35618 17.7477 1.88995 17.1083 1.63575C16.3802 1.34621 15.4419 1.4713 13.5655 1.72149L6.97362 2.60042C6.6254 2.64685 6.45129 2.67006 6.302 2.70577C5.06254 3.00227 4.14569 4.04948 4.01561 5.31725C3.99994 5.46995 3.99994 5.64561 3.99994 5.99691M9.99994 6.99691L13.9999 10.9969M13.9999 10.9969L9.99994 14.9969M13.9999 10.9969H0.999939" stroke="#0B1F33" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            .header__btn_icon-mobile
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="5" height="5" rx="1" fill="#2554E7"/>
                                    <rect y="9" width="5" height="5" rx="1" fill="#2554E7"/>
                                    <rect x="9" width="5" height="5" rx="1" fill="#2554E7"/>
                                    <rect x="9" y="9" width="5" height="5" rx="1" fill="#2554E7"/>
                                </svg>
                            span Кнопка
                        button.light-blue-button.header__eye-btn
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3432 15 9 13.6569 9 12C9 10.3431 10.3432 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="#2554E7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.9993 5C7.52159 5 3.73131 7.94288 2.45703 12C3.73129 16.0571 7.52159 19 11.9993 19C16.4769 19 20.2672 16.0571 21.5415 12C20.2672 7.94291 16.4769 5 11.9993 5Z" stroke="#2554E7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .header__search
                            .header__search_input-wrap
                                button.header__search_input-btn.light-blue-button
                                    span Медиа
                                    .header__search_input-btn-icon
                                        <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.99609 0.507812L3.99609 3.50781L0.996094 0.507812" stroke="#2554E7" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                input.header__search_input(type="text", placeholder="Что хотите найти?")
                            button.header__search_btn
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6725 14.6412L19 19M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="#0B1F33" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
        .header__right
            .header__contacts
                a.header__contacts_phone(href="tel: +74993253723") +7 499 325 37-23  
                .header__contacts_items
                    a.header__contacts_items-item(href="#")
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="44" height="44" rx="22" fill="#13BF3B" fill-opacity="0.08"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.594 11.0069C19.9862 11.1633 18.7738 11.5103 17.4588 12.1901C15.4514 13.228 13.8304 14.8795 12.8282 16.9082C12.4431 17.6876 12.2616 18.1653 12.0604 18.9297C11.8067 19.893 11.7328 20.4787 11.7305 21.5445C11.7294 22.0752 11.7513 22.6511 11.7811 22.8752C12.0082 24.5789 12.5432 26.0472 13.4381 27.4218L13.7364 27.88L13.0738 29.8332C12.7094 30.9075 12.417 31.7922 12.424 31.7992C12.4311 31.8063 13.3426 31.5227 14.4495 31.1691C15.5566 30.8155 16.4771 30.5262 16.4952 30.5262C16.5133 30.5262 16.6842 30.6231 16.8749 30.7414C17.0657 30.8599 17.4653 31.0731 17.7631 31.2154C20.4553 32.5021 23.5329 32.6122 26.2895 31.5206C29.4129 30.2836 31.812 27.5777 32.6683 24.3257C32.9306 23.3297 32.9971 22.7837 32.9971 21.6277C32.9971 20.4717 32.9306 19.9257 32.6683 18.9297C31.6637 15.1147 28.6017 12.1492 24.7378 11.2494C24.0886 11.0982 23.4131 11.0216 22.5934 11.0063C22.1353 10.9977 21.6856 10.9979 21.594 11.0069ZM19.0544 15.9411C19.1233 15.9768 19.2199 16.078 19.2691 16.166C19.3933 16.3882 20.4056 18.823 20.4351 18.9703C20.4728 19.1587 20.2883 19.479 19.8744 19.9437C19.4424 20.4286 19.3496 20.5843 19.3881 20.7591C19.4579 21.0764 20.4209 22.3518 21.0142 22.9126C21.9349 23.7829 23.3266 24.6094 23.9467 24.654C24.2655 24.677 24.3818 24.5869 24.8695 23.9386C25.0907 23.6446 25.3267 23.3491 25.3938 23.282C25.5545 23.1216 25.7929 23.0876 26.0603 23.187C26.4032 23.3145 28.5 24.3341 28.6472 24.445L28.7882 24.5512L28.7649 24.9918C28.7052 26.1229 28.3079 26.7102 27.2571 27.2209C26.258 27.7064 25.4761 27.6931 23.9451 27.1647C21.8912 26.4558 20.801 25.7786 19.3237 24.2942C18.5845 23.5514 18.0592 22.9234 17.4584 22.0643C16.4683 20.6486 16.0886 19.5554 16.2016 18.4459C16.2923 17.5563 16.6036 16.8996 17.2323 16.2718C17.5364 15.968 17.9344 15.843 18.5334 15.8629C18.7876 15.8714 18.9739 15.8993 19.0544 15.9411Z" fill="#13BF3B"/>
                        </svg>
                    a.header__contacts_items-item(href="#")
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="44" height="44" rx="22" fill="#397EFF" fill-opacity="0.08"/>
                            <path d="M11.8182 21.403C11.8182 21.403 20.9782 17.5061 24.155 16.1339C25.3728 15.585 29.5027 13.8286 29.5027 13.8286C29.5027 13.8286 31.4089 13.0602 31.25 14.9263C31.197 15.6948 30.7735 18.3842 30.3499 21.2933C29.7145 25.4098 29.0262 29.9105 29.0262 29.9105C29.0262 29.9105 28.9203 31.173 28.0202 31.3925C27.1201 31.6121 25.6375 30.6241 25.3728 30.4045C25.161 30.2399 21.4017 27.7699 20.0251 26.5624C19.6544 26.2331 19.2309 25.5745 20.078 24.8061C21.9841 22.9948 24.2609 20.7444 25.6375 19.3174C26.2729 18.6587 26.9082 17.1218 24.2609 18.988C20.5016 21.6775 16.7953 24.2023 16.7953 24.2023C16.7953 24.2023 15.9481 24.7511 14.3597 24.2571C12.7712 23.7632 10.918 23.1045 10.918 23.1045C10.918 23.1045 9.64735 22.2812 11.8182 21.403Z" fill="#397EFF"/>
                        </svg>
            .header__actions
                .header__actions_authorization.visible
                    a.header__actions_authorization-cart(href="")
                            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M2.98299 3.05129C2.45906 2.87663 1.89274 3.15979 1.71809 3.68374C1.54345 4.20769 1.82661 4.77401 2.35054 4.94865L2.70375 5.06639C3.60563 5.36701 4.2019 5.56737 4.64117 5.77171C5.05712 5.96521 5.23695 6.12094 5.35218 6.28081C5.46741 6.44067 5.55828 6.66053 5.6103 7.11633C5.66526 7.59766 5.66677 8.22669 5.66677 9.17735V12.7398C5.66674 14.5633 5.66673 16.033 5.82214 17.1889C5.98349 18.389 6.32869 19.3996 7.13123 20.2021C7.93379 21.0048 8.94429 21.35 10.1444 21.5113C11.3004 21.6666 12.7701 21.6666 14.5936 21.6666H25.3334C25.8857 21.6666 26.3334 21.2189 26.3334 20.6666C26.3334 20.1144 25.8857 19.6666 25.3334 19.6666H14.6668C12.7529 19.6666 11.4181 19.6645 10.4109 19.529C9.43257 19.3976 8.91447 19.1569 8.54545 18.788C8.41653 18.659 8.30327 18.5118 8.20487 18.3333H21.4114C22.0092 18.3333 22.535 18.3333 22.9716 18.2862C23.4441 18.2352 23.902 18.1218 24.3328 17.8378C24.7636 17.5537 25.0481 17.1776 25.2812 16.7633C25.4964 16.3806 25.7036 15.8973 25.939 15.3478L26.5614 13.8954C27.0741 12.6995 27.5029 11.6989 27.7176 10.8851C27.9416 10.0361 27.9998 9.1497 27.4716 8.34849C26.9433 7.54729 26.1056 7.25171 25.2369 7.12313C24.4044 6.99987 23.3157 6.99991 22.0145 6.99997H7.60912C7.60545 6.96265 7.60156 6.92581 7.59739 6.88946C7.5236 6.24303 7.3628 5.64989 6.97466 5.11138C6.58653 4.57289 6.07468 4.23277 5.48477 3.95833C4.92978 3.70015 4.22402 3.46493 3.38885 3.18657L2.98299 3.05129ZM7.66677 8.99997C7.66678 9.04029 7.66678 9.08091 7.66677 9.12182V12.6666C7.66677 14.2293 7.66819 15.4058 7.74241 16.3333H21.3625C22.0237 16.3333 22.4405 16.332 22.7569 16.2978C23.0492 16.2662 23.1616 16.2144 23.2318 16.1681C23.302 16.1218 23.3938 16.0389 23.5381 15.7828C23.6941 15.5053 23.8596 15.1228 24.12 14.515L24.6914 13.1817C25.2441 11.8921 25.6114 11.0284 25.7837 10.375C25.9513 9.73999 25.8664 9.54729 25.8018 9.44947C25.7374 9.35166 25.5937 9.19773 24.9441 9.10157C24.2756 9.00259 23.337 8.99997 21.934 8.99997H7.66677Z" fill="#0B1F33")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M7.00049 26C7.00049 27.6568 8.34363 29 10.0005 29C11.6573 29 13.0005 27.6568 13.0005 26C13.0005 24.3431 11.6573 23 10.0005 23C8.34363 23 7.00049 24.3431 7.00049 26ZM10.0005 27C9.44821 27 9.00049 26.5523 9.00049 26C9.00049 25.4477 9.44821 25 10.0005 25C10.5528 25 11.0005 25.4477 11.0005 26C11.0005 26.5523 10.5528 27 10.0005 27Z" fill="#0B1F33")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M22.0005 29.0001C20.3437 29.0001 19.0005 27.6569 19.0005 26.0001C19.0005 24.3432 20.3437 23.0001 22.0005 23.0001C23.6573 23.0001 25.0005 24.3432 25.0005 26.0001C25.0005 27.6569 23.6573 29.0001 22.0005 29.0001ZM21.0005 26.0001C21.0005 26.5524 21.4482 27.0001 22.0005 27.0001C22.5528 27.0001 23.0005 26.5524 23.0005 26.0001C23.0005 25.4479 22.5528 25.0001 22.0005 25.0001C21.4482 25.0001 21.0005 25.4479 21.0005 26.0001Z" fill="#0B1F33")
                            span 3
                    .header__actions_authorization-user
                        .header__actions_authorization-user-avatar-blue-border
                            .header__actions_authorization-user-avatar(style="background-image: url('../img/header-user.png')")
                        .header__actions_authorization-user-arrow
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 1L5 5L1 1" stroke="#0B1F33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                .header__actions_buttons
                    button.header__actions_buttons-btn.transparent-button
                        .header__btn_icon
                            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.99994 15.9969C3.99994 16.3482 3.99994 16.5239 4.01561 16.6766C4.14569 17.9444 5.06254 18.9916 6.302 19.2881C6.45128 19.3238 6.62544 19.347 6.97362 19.3934L13.5655 20.2724C15.4419 20.5225 16.3802 20.6476 17.1083 20.3581C17.7477 20.1039 18.2802 19.6377 18.6167 19.0376C18.9999 18.354 18.9999 17.4075 18.9999 15.5145V6.47939C18.9999 4.58635 18.9999 3.63982 18.6167 2.9563C18.2802 2.35618 17.7477 1.88995 17.1083 1.63575C16.3802 1.34621 15.4419 1.4713 13.5655 1.72149L6.97362 2.60042C6.6254 2.64685 6.45129 2.67006 6.302 2.70577C5.06254 3.00227 4.14569 4.04948 4.01561 5.31725C3.99994 5.46995 3.99994 5.64561 3.99994 5.99691M9.99994 6.99691L13.9999 10.9969M13.9999 10.9969L9.99994 14.9969M13.9999 10.9969H0.999939" stroke="#0B1F33" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        span Кнопка
                    button.header__actions_buttons-btn.dark-button Кнопка




