doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
        link(rel="stylesheet", href="../css/app.css")
    body(class="russian-page-pale")
        include ../mixins/icons.pug
        include header.pug
        block content
        include footer.pug

