doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
        link(rel="stylesheet", href="../css/app.css")
    body
        include ../mixins/icons.pug
        include headerV2.pug
        block content
        include footer.pug

