doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Лектариум
        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
        link(rel="stylesheet", href="../css/app.css")
    body
        include ../mixins/icons.pug
        include header.pug
        block content
        include footer.pug

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
    //- script.
    //-   $(document).ready(function() {
    //-       $('.ui.dropdown').dropdown();
    //-   });