nav.menu
    nav.menu__nav
        ul.menu__list
            li.menu__list_item.fill
                a(href="") Личный кабинет
            li.menu__list_item.fill
                a(href="") Курсы
            li.menu__list_item.active
                a(href="") Проверка знаний
            li.menu__list_item
                a(href="") Полезные материалы
            li.menu__list_item
                a(href="") О школе
            li.menu__list_item
                a(href="") Контакты
        .menu__wrapper
            ul.menu__content.visible
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M18.2437 16.305C18.0937 16.29 17.9137 16.29 17.7487 16.305C14.1787 16.185 11.3438 13.26 11.3438 9.66C11.3438 5.985 14.3137 3 18.0037 3C21.6787 3 24.6637 5.985 24.6637 9.66C24.6487 13.26 21.8137 16.185 18.2437 16.305Z" fill="#2554E7"/>
                                <path d="M10.7381 21.84C7.10813 24.27 7.10813 28.23 10.7381 30.645C14.8631 33.405 21.6281 33.405 25.7531 30.645C29.3831 28.215 29.3831 24.255 25.7531 21.84C21.6431 19.095 14.8781 19.095 10.7381 21.84Z" fill="#2554E7"/>
                            </svg>
                        span.menu__content_item-title Для кого
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Весь список курсов
                        li.menu__sublist_item
                            a(href="") Для 7 класса
                        li.menu__sublist_item
                            a(href="") Для 8 класса
                        li.menu__sublist_item
                            a(href="") Для 9 класса
                        li.menu__sublist_item
                            a(href="") Для 10 класса
                        li.menu__sublist_item
                            a(href="") Для 11 класса
                        li.menu__sublist_item
                            a(href="") Для олимпиады
                        li.menu__sublist_item
                            a(href="") Для поступления
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33 25.1101V7.00504C33 5.20504 31.53 3.87004 29.745 4.02004H29.655C26.505 4.29004 21.72 5.89504 19.05 7.57504L18.795 7.74004C18.36 8.01004 17.64 8.01004 17.205 7.74004L16.83 7.51504C14.16 5.85004 9.39 4.26004 6.24 4.00504C4.455 3.85504 3 5.20504 3 6.99004V25.1101C3 26.5501 4.17 27.9001 5.61 28.08L6.045 28.1401C9.3 28.5751 14.325 30.225 17.205 31.8L17.265 31.83C17.67 32.055 18.315 32.055 18.705 31.83C21.585 30.2401 26.625 28.5751 29.895 28.1401L30.39 28.08C31.83 27.9001 33 26.5501 33 25.1101Z" fill="#2554E7" stroke="#2554E7" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 8.23535V30.7353" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.625 12.7354H8.25" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.75 17.2354H8.25" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        span.menu__content_item-title Предмет
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Математика
                        li.menu__sublist_item
                            a(href="") Русский язык
                        li.menu__sublist_item
                            a(href="") Литература
                        li.menu__sublist_item
                            a(href="") Английский язык
                        li.menu__sublist_item
                            a(href="") Обществознание
                        li.menu__sublist_item
                            a(href="") Информатика
                        li.menu__sublist_item
                            a(href="") История
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0762 3.79493L6.04625 9.68993C3.15125 11.5799 3.15125 15.8099 6.04625 17.6999L15.0762 23.5949C16.6962 24.6599 19.3662 24.6599 20.9862 23.5949L29.9712 17.6999C32.8512 15.8099 32.8512 11.5949 29.9712 9.70493L20.9862 3.80993C19.3662 2.72993 16.6962 2.72993 15.0762 3.79493Z" fill="#2554E7" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <g opacity="0.4">
                                    <path d="M8.44469 19.6201L8.42969 26.6551C8.42969 28.5601 9.89969 30.6001 11.6997 31.2001L16.4846 32.7901C17.3096 33.0601 18.6746 33.0601 19.5146 32.7901L24.2996 31.2001C26.0996 30.6001 27.5696 28.5601 27.5696 26.6551V19.6951" fill="#2554E7"/>
                                    <path d="M8.44469 19.6201L8.42969 26.6551C8.42969 28.5601 9.89969 30.6001 11.6997 31.2001L16.4846 32.7901C17.3096 33.0601 18.6746 33.0601 19.5146 32.7901L24.2996 31.2001C26.0996 30.6001 27.5696 28.5601 27.5696 26.6551V19.6951" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <path opacity="0.4" d="M32.1016 22.5V13.5" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        span.menu__content_item-title Формат занятий
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Бесплатные
                        li.menu__sublist_item
                            a(href="") Разбор отдельных тем
                        li.menu__sublist_item
                            a(href="") Разбор теоретических блоков
                        li.menu__sublist_item
                            a(href="") Подготовка к ЕГЭ
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 33H22.5C30 33 33 30 33 22.5V13.5C33 6 30 3 22.5 3H13.5C6 3 3 6 3 13.5V22.5C3 30 6 33 13.5 33Z" fill="#2554E7" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M13.6484 18.0002V15.7802C13.6484 12.9152 15.6734 11.7602 18.1484 13.1852L20.0684 14.2952L21.9884 15.4052C24.4634 16.8302 24.4634 19.1702 21.9884 20.5952L20.0684 21.7052L18.1484 22.8152C15.6734 24.2402 13.6484 23.0702 13.6484 20.2202V18.0002Z" stroke="white" stroke-width="2.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        span.menu__content_item-title Занятия
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Пробные уроки
                        li.menu__sublist_item
                            a(href="") Бесплатный мини-курс
                        li.menu__sublist_item
                            a(href="") Марафоны
            ul.menu__content
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0762 3.79493L6.04625 9.68993C3.15125 11.5799 3.15125 15.8099 6.04625 17.6999L15.0762 23.5949C16.6962 24.6599 19.3662 24.6599 20.9862 23.5949L29.9712 17.6999C32.8512 15.8099 32.8512 11.5949 29.9712 9.70493L20.9862 3.80993C19.3662 2.72993 16.6962 2.72993 15.0762 3.79493Z" fill="#2554E7" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <g opacity="0.4">
                                    <path d="M8.44469 19.6201L8.42969 26.6551C8.42969 28.5601 9.89969 30.6001 11.6997 31.2001L16.4846 32.7901C17.3096 33.0601 18.6746 33.0601 19.5146 32.7901L24.2996 31.2001C26.0996 30.6001 27.5696 28.5601 27.5696 26.6551V19.6951" fill="#2554E7"/>
                                    <path d="M8.44469 19.6201L8.42969 26.6551C8.42969 28.5601 9.89969 30.6001 11.6997 31.2001L16.4846 32.7901C17.3096 33.0601 18.6746 33.0601 19.5146 32.7901L24.2996 31.2001C26.0996 30.6001 27.5696 28.5601 27.5696 26.6551V19.6951" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <path opacity="0.4" d="M32.1016 22.5V13.5" stroke="#2554E7" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        span.menu__content_item-title Вид проверки
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Диагностика знаний
                        li.menu__sublist_item
                            a(href="") Пробные экзамены
                        li.menu__sublist_item
                            a(href="") Пробные экзамены
                        li.menu__sublist_item
                            a(href="") Узнай кто-ты
                        li.menu__sublist_item
                            a(href="") Собрать свой тест
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M18.2437 16.305C18.0937 16.29 17.9137 16.29 17.7487 16.305C14.1787 16.185 11.3438 13.26 11.3438 9.66C11.3438 5.985 14.3137 3 18.0037 3C21.6787 3 24.6637 5.985 24.6637 9.66C24.6487 13.26 21.8137 16.185 18.2437 16.305Z" fill="#2554E7"/>
                                <path d="M10.7381 21.84C7.10813 24.27 7.10813 28.23 10.7381 30.645C14.8631 33.405 21.6281 33.405 25.7531 30.645C29.3831 28.215 29.3831 24.255 25.7531 21.84C21.6431 19.095 14.8781 19.095 10.7381 21.84Z" fill="#2554E7"/>
                            </svg>
                        span.menu__content_item-title Для кого
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Для 7 класса
                        li.menu__sublist_item
                            a(href="") Для 8 класса
                        li.menu__sublist_item
                            a(href="") Для 9 класса
                        li.menu__sublist_item
                            a(href="") Для 10 класса
                        li.menu__sublist_item
                            a(href="") Для 11 класса
                        li.menu__sublist_item
                            a(href="") Для поступления
                li.menu__content_item
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33 25.1101V7.00504C33 5.20504 31.53 3.87004 29.745 4.02004H29.655C26.505 4.29004 21.72 5.89504 19.05 7.57504L18.795 7.74004C18.36 8.01004 17.64 8.01004 17.205 7.74004L16.83 7.51504C14.16 5.85004 9.39 4.26004 6.24 4.00504C4.455 3.85504 3 5.20504 3 6.99004V25.1101C3 26.5501 4.17 27.9001 5.61 28.08L6.045 28.1401C9.3 28.5751 14.325 30.225 17.205 31.8L17.265 31.83C17.67 32.055 18.315 32.055 18.705 31.83C21.585 30.2401 26.625 28.5751 29.895 28.1401L30.39 28.08C31.83 27.9001 33 26.5501 33 25.1101Z" fill="#2554E7" stroke="#2554E7" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 8.23535V30.7353" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.625 12.7354H8.25" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.75 17.2354H8.25" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        span.menu__content_item-title Предмет
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Математика
                        li.menu__sublist_item
                            a(href="") Русский язык
                        li.menu__sublist_item
                            a(href="") Литература
                        li.menu__sublist_item
                            a(href="") Английский язык
                        li.menu__sublist_item
                            a(href="") Обществознание
                        li.menu__sublist_item
                            a(href="") Информатика
                        li.menu__sublist_item
                            a(href="") История
            ul.menu__slider
                div
                    .menu__content_item-wrap
                        span.menu__content_item-icon
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.4" d="M18.2437 16.305C18.0937 16.29 17.9137 16.29 17.7487 16.305C14.1787 16.185 11.3438 13.26 11.3438 9.66C11.3438 5.985 14.3137 3 18.0037 3C21.6787 3 24.6637 5.985 24.6637 9.66C24.6487 13.26 21.8137 16.185 18.2437 16.305Z" fill="#2554E7"/>
                                <path d="M10.7381 21.84C7.10813 24.27 7.10813 28.23 10.7381 30.645C14.8631 33.405 21.6281 33.405 25.7531 30.645C29.3831 28.215 29.3831 24.255 25.7531 21.84C21.6431 19.095 14.8781 19.095 10.7381 21.84Z" fill="#2554E7"/>
                            </svg>
                        span.menu__content_item-title Для кого
                    ul.menu__sublist
                        li.menu__sublist_item
                            a(href="") Для родителей
                        li.menu__sublist_item
                            a(href="") Для учеников
                        li.menu__sublist_item
                            a(href="") Для учителей
                div
                    .slider-menu-cards__slider-wrap
                        .slider-menu-cards__arrows.visible
                            button.slider-menu-cards__arrows_arrow.left.carousel__prev.disabled
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        .carousel
                            .carousel__viewport
                                ol.slider-menu-cards__list.carousel__track
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture1.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Библиотека знаний
                                                .slider-menu-cards__list_item-text Здесь можно найти ответ на любой вопрос по 10 предметам! Рабочие тетради, конспекты, шпаргалки, чек-листы! Ты получишь все!
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture2.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Бесплатные вебинары
                                                .slider-menu-cards__list_item-text Можно учиться бесплатно и пройти всю учебную программу с нами
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture3.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Готовые ДЗ
                                                .slider-menu-cards__list_item-text Мы собрали все ДЗ с ответами здесь, чтобы не пришлось долго искать:)
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                            .visible-on-large-tablet
                                ol.carousel__pagination
                                    li.carousel__pagination-item
                                        button.carousel__pagination-button
                                    li.carousel__pagination-item
                                        button.carousel__pagination-button
                                    li.carousel__pagination-item
                                        button.carousel__pagination-button.carousel__pagination-button--active
                        button.slider-menu-cards__arrows_arrow.carousel__next
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            ul.menu__slider.fill
                div
                    .slider-menu-cards__slider-wrap
                        .slider-menu-cards__arrows.visible
                            button.slider-menu-cards__arrows_arrow.left.carousel__prev.disabled
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        .carousel
                            .carousel__viewport
                                ol.slider-menu-cards__list.carousel__track
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture4.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Процесс обучения
                                                .slider-menu-cards__list_item-text Как можно учиться на нашей платформе самостоятельно или в мини-группе с нашими преподавателями, кураторами
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture5.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Наша команда
                                                .slider-menu-cards__list_item-text Здесь Вы можете узнать все о наших преподавателях, кураторах, координаторах и всех сотрудниках компании
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture6.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Отзывы о нас
                                                .slider-menu-cards__list_item-text Можно учиться бесплатно и пройти всю учебную программу с нами
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                                    li.slider-menu-cards__list_item.carousel__slide.carousel__slide--visible.carousel__slide--prev
                                        .slider-menu-cards__list_item-img
                                            img(src="../img/menu-picture7.svg", alt="img-preview")
                                        .slider-menu-cards__list_item-wrap
                                            div
                                                .slider-menu-cards__list_item-title Наши вакансии
                                                .slider-menu-cards__list_item-text Мы постоянно расширяемся и хотим собрать в свою команду лучших из лучших!
                                            button.grey-button.slider-menu-cards__list_item-button Подробнее
                            .visible-on-large-tablet
                                ol.carousel__pagination
                                    li.carousel__pagination-item
                                        button.carousel__pagination-button
                                    li.carousel__pagination-item
                                        button.carousel__pagination-button
                                    li.carousel__pagination-item
                                        button.carousel__pagination-button.carousel__pagination-button--active
                        button.slider-menu-cards__arrows_arrow.carousel__next
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9H17M17 9L9 1M17 9L9 17" stroke="#2554E7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>         