.search
    ul.search__filters
        li.search__filters_item
            button Экспресс-подготовка
        li.search__filters_item
            button Лето с пользой
    ul.search__list
        li.search__list_item
            .search__list_item-bg.russian
                img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                .search__list_item-image
                    img(src="../img/teacher1.png", alt="background")
            .search__list_item-wrap
                h3.search__list_item-title Как подготовиться на проходной бал по русскому языку
                span.search__list_item-grey-text 11 класс
                .search__list_item-mark 2 590 ₽/мес
                button.search__list_item-btn.main-button Выбрать
        li.search__list_item
            .search__list_item-bg.russian
                img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                .search__list_item-image
                    img(src="../img/teacher1.png", alt="background")
            .search__list_item-wrap
                h3.search__list_item-title Летняя подготовка к ОГЭ, пошаговый план на 3 месяца
                span.search__list_item-grey-text 9 класс
                .search__list_item-mark 1 540 ₽/мес
                button.search__list_item-btn.main-button Выбрать
        li.search__list_item
            .search__list_item-bg.russian
                img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                .search__list_item-image
                    img(src="../img/teacher1.png", alt="background")
            .search__list_item-wrap
                h3.search__list_item-title Как подготовиться на проходной бал по русскому языку
                span.search__list_item-grey-text 11 класс
                .search__list_item-mark 2 590 ₽/мес
                button.search__list_item-btn.main-button Выбрать
            