.search
    .search__wrap
        ul.search__filters
            li.search__filters_item
                button Экспресс-подготовка
            li.search__filters_item
                button Лето с пользой
        ul.search__list
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Как подготовиться на проходной бал по русскому языку
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 2 590 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Летняя подготовка к ОГЭ, пошаговый план на 3 месяца
                        span.search__list_item-grey-text 9 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            li.search__list_item.russian
                .search__list_item-bg
                    img.search__list_item-bg-img(src="../img/kremlin.png", alt="background")
                    .search__list_item-image
                        img(src="../img/teacher1.png", alt="background")
                .search__list_item-wrap
                    div
                        h3.search__list_item-title Морфология
                        span.search__list_item-grey-text 11 класс
                        .search__list_item-mark 1 540 ₽/мес
                    button.search__list_item-btn.main-button
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="16" height="16" rx="8" fill="white"/>
                            <path d="M4 8H12M8 4V12" stroke="#2554E7" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        | Выбрать
            