@charset "UTF-8";
@font-face {
  src: url("../fonts/TTFirsNeue-Medium.ttf"), url("../fonts/TTFirsNeue-Medium.woff2");
  font-family: "TT Firs Neue";
  font-weight: 500;
}
@font-face {
  src: url("../fonts/TTFirsNeue-Regular.ttf"), url("../fonts/TTFirsNeue-Regular.woff2");
  font-family: "TT Firs Neue";
  font-weight: 400;
}
/*MEDIA*/
/*MEDIA*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  background: #fafcff;
  color: #0b1f33;
}

.container {
  margin: 0 auto;
  max-width: 1652px;
  padding: 0 16px;
}

.wide-container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 32px;
}

.main-title {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 88px;
  line-height: 92px;
  color: #0b1f33;
  font-weight: 500;
  letter-spacing: -4px;
}

.main-subtitle {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 64px;
  line-height: 70px;
  color: #0b1f33;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 0 0 64px;
}

.main-descriptions {
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  font-size: 18px;
  line-height: 22px;
  color: #0b1f33;
}

.button {
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.button.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button.button-blue {
  background: #2554e7;
  color: #fff;
}
.button.button-transparent {
  background-color: transparent;
  border: 1px solid #e7e9eb;
  color: #0b1f33;
}
.button.button-play {
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button, .dark-button {
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 68px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 0 30px;
  border: none;
  background-color: #2554e7;
  color: #fff;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
}

.dark-button {
  background-color: #0b1f33;
}

.custom-checkbox-wrap {
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  font-size: 16px;
  line-height: 125%;
  color: #0b1f33;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили для чекбокса, находящегося в состоянии checked */
}
.custom-checkbox-wrap .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox-wrap .custom-checkbox + label {
  display: flex;
  align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.custom-checkbox-wrap .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 5px;
  border: 1px solid #e7e9eb;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
}
.custom-checkbox-wrap .custom-checkbox:checked + label::before {
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 9L8 12L13 7" stroke="%230B1F33" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.custom-checkbox-wrap .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #6d7985;
}
.custom-checkbox-wrap .custom-checkbox:not(:disabled):active + label::before {
  background-color: #6d7985;
  border-color: #6d7985;
}
.custom-checkbox-wrap .custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(37, 84, 231, 0.25);
}
.custom-checkbox-wrap .custom-checkbox:focus:not(:checked) + label::before {
  border-color: #6d7985;
}
.custom-checkbox-wrap .custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

/*MEDIA*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fafcff;
}
.header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 32px;
  box-sizing: border-box;
}
.header .container .header-logo {
  margin-right: 32px;
}
.header .container .header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .container .header-items .header-left {
  display: flex;
  align-items: center;
}
.header .container .header-items .header-left .header-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .container .header-items .header-left .header-menu .button {
  background-color: #edf2fe;
}
.header .container .header-items .header-left .header-menu .button.button-menu {
  width: 130px;
  height: 60px;
  padding: 16px 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header .container .header-items .header-left .header-menu .button.button-menu span {
  margin-left: 16px;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  font-size: 16px;
  color: #2554e7;
}
.header .container .header-items .header-left .header-menu .button.button-eye {
  width: 60px;
  height: 60px;
  padding: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .header-items .header-left .header-menu .header-search {
  position: relative;
}
.header .container .header-items .header-left .header-menu .header-search input {
  border: 1px solid #e7e9eb;
  border-radius: 10px;
  padding: 16px 58px 16px 22px;
  width: 375px;
  height: 60px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  color: #6d737a;
  font-family: "TT Firs Neue", sans-serif;
}
.header .container .header-items .header-left .header-menu .header-search input::-moz-placeholder {
  font-size: 16px;
  color: #9aa3ad;
}
.header .container .header-items .header-left .header-menu .header-search input::placeholder {
  font-size: 16px;
  color: #9aa3ad;
}
.header .container .header-items .header-left .header-menu .header-search label {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 22px;
  top: 20px;
  z-index: 2;
}
.header .container .header-items .header-right {
  display: flex;
  align-items: center;
}
.header .container .header-items .header-right .header-contacts {
  display: flex;
  align-items: center;
  margin-right: 44px;
}
.header .container .header-items .header-right .header-contacts .header-contacts-phone {
  margin-right: 20px;
}
.header .container .header-items .header-right .header-contacts .header-contacts-phone a {
  font-size: 18px;
  color: #0b1f33;
  text-decoration: none;
}
.header .container .header-items .header-right .header-contacts .header-contacts-items {
  display: flex;
  align-items: center;
}
.header .container .header-items .header-right .header-contacts .header-contacts-items a {
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  width: 44px;
  height: 44px;
  background: rgba(57, 126, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.header .container .header-items .header-right .header-contacts .header-contacts-items a:first-child {
  margin-right: 6px;
  background: rgba(19, 191, 59, 0.08);
}
.header .container .header-items .header-right .header-actions {
  display: flex;
  align-items: center;
}
.header .container .header-items .header-right .header-actions .header-actions-cart {
  position: relative;
  margin-right: 24px;
  margin-top: 5px;
}
.header .container .header-items .header-right .header-actions .header-actions-cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  background: #2554e7;
  box-sizing: border-box;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 13px;
  color: #fff;
  top: -5px;
  right: -5px;
}
.header .container .header-items .header-right .header-actions .header-actions-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .container .header-items .header-right .header-actions .header-actions-user .header-actions-user-avatar-blue-border {
  width: 44px;
  height: 44px;
  border: 1px solid #2554e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
.header .container .header-items .header-right .header-actions .header-actions-user .header-actions-user-avatar-blue-border .header-actions-user-avatar {
  border-radius: 50%;
  border: 2px solid #f8fafe;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: auto 46px;
  background-position: center;
}
.header .container .header-items .header-right .header-actions .header-actions-user .header-actions-user-arrow {
  width: 24px;
  height: 24px;
}

.footer {
  border-radius: 40px 40px 0 0;
  padding: 100px 0;
  background: #0b1f33;
}
.footer .container {
  max-width: 1620px;
}
.footer .container .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1524px;
}
.footer .container .footer-top .footer-contacts-item {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.05);
}
.footer .container .footer-top .footer-info {
  width: 380px;
}
.footer .container .footer-top .footer-info .footer-logo {
  margin-bottom: 81px;
}
.footer .container .footer-top .footer-info .footer-menu {
  margin-bottom: 32px;
}
.footer .container .footer-top .footer-info .footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .container .footer-top .footer-info .footer-menu ul li {
  margin-bottom: 12px;
}
.footer .container .footer-top .footer-info .footer-menu ul li:last-child {
  margin-bottom: 0;
}
.footer .container .footer-top .footer-info .footer-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #6d7985;
}
.footer .container .footer-top .footer-info .footer-contacts {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .container .footer-top .footer-info .footer-contacts .footer-contacts-item {
  width: 48px;
  height: 48px;
}
.footer .container .footer-top .footer-navigation {
  width: 728px;
  display: grid;
  grid-template-columns: repeat(2, 324px);
  grid-template-rows: auto auto 76px;
  grid-column-gap: 80px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-name {
  font-size: 16px;
  color: #6d7985;
  margin-bottom: 12px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-name span {
  opacity: 0.4;
}
.footer .container .footer-top .footer-navigation .footer-navigation-contact {
  margin-bottom: 64px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-contact:first-child {
  grid-area: 1/1/2/2;
}
.footer .container .footer-top .footer-navigation .footer-navigation-contact:nth-child(2) {
  grid-area: 1/2/2/3;
}
.footer .container .footer-top .footer-navigation .footer-navigation-contact .footer-navigation-contact-link {
  width: 324px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-contact .footer-navigation-contact-link a {
  text-decoration: none;
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  font-size: 40px;
  color: #fff;
}
.footer .container .footer-top .footer-navigation .footer-navigation-contact .footer-navigation-contact-link.phone a {
  margin-top: 2px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject svg {
  display: none;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject.studies {
  grid-area: 2/1/4/2;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject.courses {
  grid-area: 2/2/3/3;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject .footer-navigation-subject-items ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject .footer-navigation-subject-items ul li {
  margin-bottom: 12px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject .footer-navigation-subject-items ul li:last-child {
  margin-bottom: 0;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject .footer-navigation-subject-items ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject-extra {
  grid-area: 3/2/4/3;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject-extra .footer-navigation-subject-extra-select {
  display: flex;
  margin-bottom: 12px;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject-extra .footer-navigation-subject-extra-select .footer-navigation-name {
  margin-bottom: 0;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject-extra .footer-navigation-subject-extra-select .footer-navigation-subject-items {
  display: flex;
  align-items: center;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject-extra .footer-navigation-subject-extra-select .footer-navigation-subject-items span {
  font-size: 16px;
  margin-right: 4px;
  margin-left: 4px;
  color: #fff;
}
.footer .container .footer-top .footer-navigation .footer-navigation-subject-extra .footer-navigation-subject-extra-items {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .container .footer-bottom {
  margin-top: 64px;
  border-top: 1px solid #314157;
  padding-top: 44px;
}
.footer .container .footer-bottom .footer-bottom-content {
  display: flex;
}
.footer .container .footer-bottom .footer-bottom-content .footer-copyright {
  margin-right: 612px;
  font-size: 16px;
  color: #fff;
}
.footer .container .footer-bottom .footer-bottom-content .footer-links {
  width: 260px;
  margin-right: 144px;
  display: flex;
  flex-direction: column;
}
.footer .container .footer-bottom .footer-bottom-content .footer-links .footer-link {
  font-size: 16px;
  line-height: 125%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #6d7985;
}
.footer .container .footer-bottom .footer-bottom-content .footer-links .footer-link:first-child {
  margin-bottom: 12px;
}

.hero {
  display: flex;
  background-color: #EDF2FE;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  min-height: 780px;
  align-items: flex-end;
  justify-content: space-between;
}
.hero__content {
  width: 100%;
  height: 100%;
  max-width: 482px;
  padding: 64px 0 74px 64px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 780px;
  gap: 40px;
}
.hero__text-block {
  display: flex;
  flex-direction: column;
}
.hero__title {
  margin: 0 0 44px;
}
.hero__description {
  font-size: 20px;
  line-height: 24px;
  color: #0b1f33;
}
.hero__image {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  z-index: 1;
}
.hero__image img {
  display: block;
  width: 100%;
  max-height: 780px;
}
.hero__background {
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: absolute;
  justify-content: flex-end;
}
.hero__background img {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  height: auto;
  max-height: 780px;
  display: flex;
}
.hero__description-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #0b1f33;
  font-size: 20px;
  line-height: 24px;
  color: #0b1f33;
}
.hero__description-block_wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero__description-block_author {
  font-weight: 500;
}
.hero__description-block_text {
  font-weight: 400;
  opacity: 0.6;
}
@media (max-width: 1830px) {
  .hero {
    min-height: 580px;
  }
  .hero__content {
    min-height: 492px;
    padding: 44px 0 54px 44px;
  }
  .hero__title {
    font-size: 66px;
    line-height: 72px;
    margin: 0 0 24px;
  }
  .hero__image img {
    max-height: 580px;
  }
  .hero__background img {
    max-height: 620px;
  }
}
@media (max-width: 1560px) {
  .hero {
    min-height: 375px;
  }
  .hero__content {
    min-height: 240px;
    padding: 24px 0 34px 24px;
    max-width: 380px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }
  .hero__description-block {
    font-size: 16px;
    line-height: 20px;
  }
  .hero__image img {
    max-height: 380px;
  }
  .hero__background img {
    max-height: 410px;
  }
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px;
  }
  .hero__content {
    min-height: auto;
    max-width: 100%;
    padding: 24px 16px;
    gap: 32px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 16px;
  }
  .hero__description-block {
    font-size: 16px;
    line-height: 20px;
    gap: 16px;
  }
  .hero__image {
    justify-content: center;
    width: 100%;
  }
  .hero__image img {
    max-height: 380px;
  }
  .hero__background {
    height: 100%;
    justify-content: center;
  }
  .hero__background img {
    max-height: 530px;
  }
}
@media (max-width: 375px) {
  .hero__background img {
    height: 530px;
    max-height: none;
  }
  .hero__image {
    height: 100%;
    justify-content: flex-end;
  }
  .hero__image img {
    max-height: 100%;
  }
}

.numbered-cards {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}
@media (max-width: 1024px) {
  .numbered-cards {
    margin: 60px 0;
  }
}
.numbered-cards__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 390px;
  gap: 20px;
}
@media (max-width: 1224px) {
  .numbered-cards__content {
    grid-template-columns: 1fr;
  }
}
.numbered-cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .numbered-cards__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.numbered-cards__list_item {
  display: grid;
  padding: 36px;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  justify-content: space-between;
}
.numbered-cards__list_item:nth-child(4) {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.numbered-cards__list_item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1024px) {
  .numbered-cards__list_item-wrap {
    gap: 24px;
  }
}
.numbered-cards__list_item-img {
  position: relative;
  width: 100%;
}
.numbered-cards__list_item-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.numbered-cards__list_item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  color: #2554e7;
  background-color: #EDF2FE;
}
.numbered-cards__list_item-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 16px;
}
.numbered-cards__list_item-descriptions {
  color: #6d7985;
}
@media (max-width: 1024px) {
  .numbered-cards__list_item {
    padding: 24px;
    border-radius: 20px;
  }
  .numbered-cards__list_item:nth-child(n) {
    grid-template-columns: 1fr;
    grid-column: span 3;
    gap: 24px;
  }
}
.numbered-cards__accent-card {
  display: flex;
  flex-direction: column;
  background-color: #2554e7;
  border-radius: 24px;
  background: rgb(37, 84, 231);
  padding: 36px;
  justify-content: space-between;
  gap: 34px;
}
@media (max-width: 1024px) {
  .numbered-cards__accent-card {
    gap: 24px;
    padding: 24px;
    border-radius: 20px;
  }
}
.numbered-cards__accent-card_header {
  padding: 16px 21px;
  border-radius: 40px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.15);
}
.numbered-cards__accent-card_img {
  position: relative;
  width: 100%;
}
.numbered-cards__accent-card_img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .numbered-cards__accent-card_img {
    order: 1;
  }
}
.numbered-cards__accent-card_title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 16px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .numbered-cards__accent-card_title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 12px;
  }
}
.numbered-cards__accent-card_descriptions {
  color: #ffffff;
  opacity: 0.7;
}
.numbered-cards__btn {
  width: 100%;
}
.numbered-cards__btn svg {
  transform: rotate(90deg);
}

.lektarik-block {
  display: flex;
  background-color: #EDF2FE;
  border-radius: 40px;
  position: relative;
  margin: 120px 0;
  min-height: 608px;
}
@media (max-width: 1560px) {
  .lektarik-block {
    min-height: 510px;
  }
}
@media (max-width: 1024px) {
  .lektarik-block {
    margin: 60px 0;
  }
}
.lektarik-block__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 0 64px 64px;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1830px) {
  .lektarik-block__wrap {
    padding: 44px 0 44px 44px;
  }
}
@media (max-width: 1024px) {
  .lektarik-block__wrap {
    padding: 24px 0 24px 24px;
  }
}
@media (max-width: 767px) {
  .lektarik-block__wrap {
    padding: 0;
  }
}
.lektarik-block__title {
  font-family: "TT Firs Neue", sans-serif;
  font-size: 64px;
  line-height: 70px;
  color: #0b1f33;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 0 0 64px;
}
@media (max-width: 1830px) {
  .lektarik-block__title {
    font-size: 44px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .lektarik-block__title {
    letter-spacing: -1px;
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 36px;
  }
}
.lektarik-block__content {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .lektarik-block__content {
    flex-direction: column;
    padding: 24px 16px 0;
    gap: 0;
  }
}
.lektarik-block__img {
  display: flex;
  align-items: flex-end;
  position: relative;
  max-width: 544px;
}
.lektarik-block__img img {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  height: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .lektarik-block__img {
    order: 1;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
  }
}
.lektarik-block__img-chat {
  position: relative;
  width: 100%;
  padding: 64px 60px 64px 0;
  max-width: 509px;
  display: flex;
}
.lektarik-block__img-chat img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1830px) {
  .lektarik-block__img-chat {
    padding: 44px 40px 44px 0;
  }
}
@media (max-width: 1024px) {
  .lektarik-block__img-chat {
    padding: 24px 20px 24px 0;
  }
}
@media (max-width: 767px) {
  .lektarik-block__img-chat {
    padding: 0;
    margin: 0 0 24px;
    max-width: 100%;
  }
}
.lektarik-block__btn {
  width: 100%;
  order: 1;
  margin: 0 0 24px;
}

.slider-block {
  display: flex;
  flex-direction: column;
  margin: 120px 0;
}
@media (max-width: 1024px) {
  .slider-block {
    margin: 60px 0;
  }
}
.slider-block__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.slider-block__title {
  margin: 0 0 32px;
}
.slider-block__actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 0 64px;
}
.slider-block .violet {
  background-color: #a069fa;
}
.slider-block .bright-blue {
  background-color: #2554e7;
}
.slider-block .turquoise {
  background-color: #00c19f;
}
.slider-block .red {
  background-color: #f14545;
}
.slider-block .blue {
  background-color: #00ade3;
}
.slider-block__arrows {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1560px) {
  .slider-block__arrows {
    display: none;
  }
}
.slider-block__arrows_arrow {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.slider-block__arrows_arrow.left {
  transform: rotate(180deg);
}
.slider-block__arrows_arrow.disabled path {
  stroke: #9aa3ad;
}
.slider-block__markers {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.slider-block__markers_item-blur {
  color: #ffffff;
  padding: 7px 11px;
  -webkit-backdrop-filter: blur(44px);
          backdrop-filter: blur(44px);
  background: rgba(11, 31, 51, 0.15);
  border-radius: 5px;
}
.slider-block__markers_item {
  background-color: #ffffff;
  color: #0b1f33;
  padding: 7px 11px;
  border-radius: 5px;
}
.slider-block__content {
  display: grid;
  grid-template-columns: 527px 2fr;
  gap: 20px;
}
@media (max-width: 1560px) {
  .slider-block__content {
    grid-template-columns: 1fr;
  }
}
.slider-block__content_preview {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}
.slider-block__content_preview--wrap {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider-block__content_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.slider-block__content_btn {
  position: relative;
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
}
.slider-block__content_img {
  width: 100%;
  bottom: 0;
  display: flex;
  position: absolute;
}
.slider-block__content_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-block__content_bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider-block__content_bg img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-block__content_info {
  padding: 44px;
  background-color: #ffffff;
  border-radius: 44px;
  box-shadow: 0px 4px 10px 0px rgba(37, 84, 231, 0.0509803922);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  min-height: 430px;
}
.slider-block__content_header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 12px;
  width: 100%;
  justify-content: space-between;
}
.slider-block__content_header--wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
.slider-block__content_social {
  display: flex;
  align-items: center;
  gap: 6px;
}
.slider-block__content_title {
  font-size: 28px;
  line-height: 32px;
  color: #0b1f33;
  font-weight: 500;
}
.slider-block__content_descriptions {
  color: #6d7985;
  font-size: 18px;
  line-height: 22px;
}
.slider-block__content_list {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
}
.slider-block__content_list-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.slider-block__content_list-item--title {
  font-size: 24px;
  line-height: 28px;
  color: #0b1f33;
  font-weight: 500;
}
.slider-block__content_list-item--text {
  font-size: 18px;
  line-height: 22px;
  color: #6d7985;
}
.slider-block__content_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.slider-block__content_buttons-link {
  text-decoration: none;
  color: #6d7985;
  font-size: 18px;
  line-height: 22px;
}
.slider-block__content_wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.slider-block__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 20px;
}
@media (max-width: 1830px) {
  .slider-block__list {
    padding: 6px;
    overflow-x: auto;
  }
  .slider-block__list::-webkit-scrollbar {
    width: 2px;
  }
  .slider-block__list::-webkit-scrollbar-track {
    background: #e7e9eb;
    width: 2px;
  }
  .slider-block__list::-webkit-scrollbar-thumb {
    background: #0b1f33;
    border-radius: 10px;
    width: 2px;
  }
}
.slider-block__list_item {
  height: 258px;
  width: 308px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.slider-block__list_item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 118px;
  background: linear-gradient(180deg, rgba(11, 31, 51, 0) 0%, rgba(10, 29, 48, 0) 0.01%, rgba(11, 31, 51, 0.5) 100%);
  z-index: 1;
}
.slider-block__list_item--wrap {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  z-index: 1;
}
.slider-block__list_item--active {
  outline: 1px solid #2554e7;
  outline-offset: 5px;
}
.slider-block__list_item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slider-block__list_item-bg img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-block__list_item-img {
  width: 289px;
  height: 100%;
  position: absolute;
  right: -73px;
  top: 9px;
}
.slider-block__list_item-img img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-block__list_item-bottom {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
}
.slider-block__list_item-title {
  color: #ffffff;
  font-size: 28px;
  line-height: 32px;
}
.slider-block__list_item-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.tabs__tab {
  font-size: 18px;
  line-height: 22px;
  min-height: 62px;
  padding: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e9eb;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.tabs__tab.action {
  border: 1px solid #2554e7;
  color: #2554e7;
}

.tags {
  display: flex;
  align-items: center;
  gap: 6px;
}
.tags__item {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #0b1f33;
  padding: 7px 11px 5px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e7e9eb;
}
.tags__item--gray {
  background-color: #e7e9eb;
  color: #0b1f33;
  border: 1px solid transparent;
}
.tags__item--blue {
  background-color: #2554e7;
  color: #ffffff;
  border: 1px solid transparent;
}

@media screen and (max-width: 1639px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1393px) {
  .header .container .header-right .header-contacts .header-contacts-phone {
    display: none;
  }
  .footer .container .footer-bottom .footer-bottom-content .footer-copyright {
    margin-right: 320px;
  }
}
@media screen and (max-width: 1219px) {
  .header .container {
    justify-content: space-between;
  }
  .header .container .header-logo {
    margin-right: 0;
  }
  .header .container .header-items {
    justify-content: normal;
    width: auto;
  }
  .header .container .header-items .header-left {
    order: 2;
  }
  .header .container .header-items .header-left .header-menu .button.button-eye {
    display: none;
  }
  .header .container .header-items .header-left .header-menu .header-search {
    display: none;
  }
  .header .container .header-items .header-right {
    order: 1;
  }
  .header .container .header-items .header-right .header-contacts {
    display: none;
  }
  .header .container .header-items .header-right .header-actions .header-actions-user {
    display: none;
  }
  .header .container .header-items .header-right .header-actions .header-actions-cart {
    margin-top: 8px;
  }
}
@media screen and (max-width: 1119px) {
  .footer .container .footer-top {
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .footer .container .footer-top .footer-navigation {
    grid-template-columns: 343px;
    grid-template-rows: repeat(5, auto);
    width: auto;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-name {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-contact {
    margin-bottom: 16px;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-contact:first-child {
    grid-area: 3/1/4/2;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-contact:nth-child(2) {
    grid-area: 4/1/5/2;
    margin-bottom: 0;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-contact .footer-navigation-contact-link a {
    font-size: 32px;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #314157;
    margin-bottom: 20px;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject.studies {
    padding-top: 20px;
    border-top: 1px solid #314157;
    grid-area: 1/1/2/2;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject.studies .footer-navigation-name {
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 0;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject.courses {
    grid-area: 2/1/3/2;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject.courses .footer-navigation-name {
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 0;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject .footer-navigation-subject-items {
    display: none;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject svg {
    display: block;
  }
  .footer .container .footer-top .footer-navigation .footer-navigation-subject-extra {
    margin-top: 32px;
    grid-area: 5/1/6/2;
  }
}
@media screen and (max-width: 1080px) {
  .footer .container .footer-bottom .footer-bottom-content {
    justify-content: space-between;
  }
  .footer .container .footer-bottom .footer-bottom-content .footer-copyright {
    margin-right: 0;
  }
  .footer .container .footer-bottom .footer-bottom-content .footer-links {
    margin-right: 0;
  }
}
@media screen and (max-width: 799px) {
  .header {
    padding: 16px 0;
  }
  .header .container {
    padding: 0 16px;
  }
  .footer {
    padding-top: 44px;
    padding-bottom: 44px;
    overflow-x: hidden;
  }
  .footer .container .footer-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .container .footer-top .footer-info {
    margin-bottom: 32px;
  }
  .footer .container .footer-top .footer-info .footer-logo {
    margin-bottom: 32px;
  }
  .footer .container .footer-top .footer-info .footer-menu {
    margin-bottom: 20px;
  }
  .footer .container .footer-top .footer-info .footer-menu ul li {
    margin-bottom: 8px;
  }
  .footer .container .footer-top .footer-info .footer-menu ul li a {
    font-size: 15px;
  }
  .footer .container .footer-top .footer-navigation {
    grid-template-columns: 379px;
  }
  .footer .container .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    padding-top: 24px;
  }
  .footer .container .footer-bottom .footer-bottom-content {
    flex-direction: column;
  }
  .footer .container .footer-bottom .footer-bottom-content .footer-copyright {
    margin-bottom: 20px;
  }
  .footer .container .footer-bottom .footer-bottom-content .footer-links {
    width: 332px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 689px) {
  .header .container .header-logo {
    width: 158px;
  }
  .header .container .header-logo img {
    width: 100%;
  }
}
@media screen and (max-width: 485px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 479px) {
  .header .container .header-items .header-left .header-menu .button.button-menu {
    width: 52px;
    height: 52px;
    padding: 0;
  }
  .header .container .header-items .header-left .header-menu .button.button-menu span {
    display: none;
  }
  .footer .container .footer-top {
    width: auto;
  }
  .footer .container .footer-top .footer-info {
    width: auto;
  }
  .footer .container .footer-top .footer-navigation {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 425px) {
  .footer .container .footer-top .footer-info .footer-menu {
    width: 236px;
  }
  .footer .container .footer-top .footer-navigation {
    width: 100%;
  }
  .footer .container .footer-top {
    align-items: flex-start;
  }
  .footer .container .footer-bottom {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 374px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .container .footer-top {
    width: auto;
  }
  .footer .container .footer-top .footer-info {
    width: auto;
  }
  .footer .container .footer-top .footer-navigation {
    grid-template-columns: 300px;
  }
  .footer .container .footer-bottom {
    width: 300px;
  }
  .footer .container .footer-bottom .footer-bottom-content {
    width: 100%;
  }
  .footer .container .footer-bottom .footer-bottom-content .footer-links {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .wide-container {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .main-subtitle {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 24px;
  }
  .main-descriptions {
    font-size: 15px;
    line-height: 20px;
  }
}
.visible-on-small-mobile {
  display: none;
}
@media (max-width: 375px) {
  .visible-on-small-mobile {
    display: flex;
  }
}

.visible-on-mobile {
  display: none;
}
@media (max-width: 767px) {
  .visible-on-mobile {
    display: flex;
  }
}

.visible-on-tablet {
  display: none;
}
@media (max-width: 1024px) {
  .visible-on-tablet {
    display: flex;
  }
}

.visible-on-large-tablet {
  display: none;
}
@media (max-width: 1224px) {
  .visible-on-large-tablet {
    display: flex;
  }
}

.visible-on-desktop {
  display: none;
}
@media (max-width: 1560px) {
  .visible-on-desktop {
    display: flex;
  }
}

.visible-on-large-desktop {
  display: none;
}
@media (max-width: 1830px) {
  .visible-on-large-desktop {
    display: flex;
  }
}

.hidden-on-small-mobile {
  display: flex;
}
@media (max-width: 375px) {
  .hidden-on-small-mobile {
    display: none;
  }
}

.hidden-on-mobile {
  display: flex;
}
@media (max-width: 767px) {
  .hidden-on-mobile {
    display: none;
  }
}

.hidden-on-tablet {
  display: flex;
}
@media (max-width: 1024px) {
  .hidden-on-tablet {
    display: none;
  }
}

.hidden-on-large-tablet {
  display: flex;
}
@media (max-width: 1224px) {
  .hidden-on-large-tablet {
    display: none;
  }
}

.hidden-on-desktop {
  display: flex;
}
@media (max-width: 1560px) {
  .hidden-on-desktop {
    display: none;
  }
}

.hidden-on-large-desktop {
  display: flex;
}
@media (max-width: 1830px) {
  .hidden-on-large-desktop {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */